.thumb_item .thumb{background-image: url(../images/metadata/viewthumbs.gif);}
.literator_path{
	margin-top:-3px;
	margin-left:8px;
	background:transparent;
}
.literator_path a:link, .literator_path a:visited{
	text-decoration:none;
	color:black;
}
.literator_path a:hover, .literator_path a:active{
	text-decoration:underline;
	color:red;
}
#list-order-box{
	margin-top:3px;
	margin-right:15px;
}
.metaview_delete{background-position: 0px -784px;}
.metaview_new{background-position: 0px -528px;}
.metaview_edit{background-position: 0px -736px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .metaview_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .metaview_new{background-position: 0 -1504px;}
.toolbar_item_disabled .metaview_edit{background-position: 0 -1712px;}