/*编辑器样式*/
.XEditor{
	height:274px;
	width:498px;
}
.XEditor textarea{
	display:none;
}
.XEditor iframe{
	height:274px;
	width:498px;
	border:0px;
}
.XDisabledEditor{
	height:203px;
}
.XDisabledEditor .editor-frame{
	border:1px solid #ABC0DB;
	height:200px;
}
