@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; background:#CCCCCC; font-family:"宋体"; font-size:14px; color:#333;  }
table{ width:100%; border-collapse:collapse; font-size:14px;}
table td{ padding:0;}
ul,ul li{list-style-type:none; padding:0; margin:0;}
.sb{ font-weight:bold;}
.line4{ font-size:0px; line-height:0px;height:4px; background:#84C6F2; clear:both;}
.b{ font-weight:bold;}
.line3{font-size:0px; line-height:0px;height:3px;clear:both;}
.line1{font-size:0px; line-height:0px;height:1px;clear:both;}
.line10{ font-size:0px; line-height:0px;height:10px; clear:both;}

.ui-layout-north{height:49px; background:url(../images_new/banner_sjjh.png) repeat-x top left;}
.header{ height:49px; background:url(../images_new/logo1.png) no-repeat 20px 50%;}
.header .l_logo {}
.header .r_cont {float: right; width: 200px; height: 49px; line-height: 49px; margin-right: 10px;}
.header .r_cont ul .quit{width: 30px; float: right; text-align: left; background: url(../images_new/quit.png) left 50% no-repeat; cursor: pointer;}
.header .r_cont ul .reg{width: 30px; float: right; text-align: left; background: url(../images_new/reg.png) left 50% no-repeat; cursor: pointer;}
.header .r_cont ul .update_pwd{width: 30px; float: right; text-align: left; background: url(../images_new/update_pwd.png) 15% 45% no-repeat; cursor: pointer;}
.login_user {margin-left: 20px; height: 26px; font-size: 10pt; line-height: 26px; color: white; text-align:left;background: url(../images_new/login_user.png) left 50% no-repeat;}
.login_date {margin-left: 13px; height: 26px; font-size: 9pt; line-height: 26px; color: white; text-align:left;background: url(../images_new/login_date.png) left 50% no-repeat;}

.nav{ width:100%; height:65px; overflow:hidden;}
.nav .line{ width:2px; height:65px; background: url(../images_new/nav_line.png) center bottom no-repeat; display: none;}
.nav ul{line-height:34px; color:#EEFEDE; font-size:14px;  font-weight:normal; font-family:"Microsoft YaHei","SimHei","SimSun";}
.nav ul li{ width:74px; text-align:center;float:left; }
.nav ul li div{width:100%; height: 40px; padding-top: 30px;}
.nav .on{ background:url(../images_new/nav_on.png) no-repeat; width:74px; height:65px;}
.nav .tc{float:right; width:auto; padding-left:30px; padding-right:3px; background:url(../images_new/tc.jpg) no-repeat 0 2px;}
.nav .yc{float:right; width:auto; padding-right:10px;}
.nav .db{float:right; width:auto; padding-left:40px; padding-right:10px;padding-top:2px; background:url(../images_new/dbsy.jpg) no-repeat 0 4px;}
.nav .db span{color:#ffffff;}

#db_count{
	font-size: 12px;
	font-weight: normal;
	margin-left:-12px;
}