#divBox{
	background: aliceblue;
	padding:1px;
	height:280px;
}
#divTitle{
	width: 100%;
	height:10%;
	background: #ffffff;
	padding:5px;
	margin-top: 10px;
	text-align: left;
}
#divReportsList{
	text-align: left;
	height: 150px;
	font-size: 12px;
	padding: 5px;
	overflow-x: visible;
	overflow-y: auto;
}
/*
body{
	background: whitesmoke;
}
li{
	list-style-type: circle;
	margin-left:-15px;
	line-height:150%
	margin-bottom: 10px;
}
*/
.reports_title{
	white-space:normal;
	font-family:Arial;
	font-weight:bold;
	font-size:14px; 
	padding-bottom: 5px;
	border-bottom: 1px dashed silver
	width: 100%;
	text-align: center;
}
.outerTitle{
	font-size: 16px;
	font-weight: bold;
	color: #010101;
}
.innerTitle, .innerTitle_withTip{
	/*width: 380px;*/
	width:100%;
	font-size: 12px;
	font-weight: normal;
	color: navy;
	float: none;
}
.innerTitle_withTip{
	width: 360px;
}
.tip{
	width: 100%;
	text-align: right;
	float: none;
	padding-right:20px;
}
.sep{
	height: 5px;
	width: 100%;
}
.commentbox{
	background-color: #ececec;
	width: 370px;
	padding: 10px;
	font-size: 12px;
	border: 0;
	overflow-x: hidden;
	overflow-y: visible;
	margin-top: -5px;
}

.commentHeader{
	width: 370px;
	overflow: hidden;
	background: url(img/arrow.gif) 20px 0 no-repeat; /*20px 0 equals horizontal and vertical
	position of arrow. Adjust as desired (ie: 20px -5px).*/
	background-position-x: 90%;
	padding-left: 5px;
	padding-top: 1px;
	font-size: 90%;
	color: #4A4A4A;
	margin-top: 15px;
}
.imgLogo{
}

.options{
	height: 30px;
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
}

.option_edit{
	background: url(img/edit.png);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: pointer;
	width: 16px;
	margin-left: 2px;
}