<?xml version="1.0" encoding="GB2312"?>
<plugin name="WCM内容组件" version="1.0" id="wcm.content.chnldoc">
	<!--Config For ObjectLCMonitor BEGIN-->
	<!--
		Listener默认为监控对象的新增、修改 、删除前
		EventType:
		1：新增
		2：修改后
		3：删除前
		4、删除后
		5、修改前
		多个以逗号隔开
	-->
	<extension 
		element-class="com.trs.infra.persistent.listener.MonitorHostConfig" 
		id="components.wcm.content.ObjectLCMonitor">
		
		<!--监听chnlDoc移动到草稿箱或者还原，处理flowdoc相关数据-->
		<monitor-host name="栏目文档" 
			class-name="com.trs.components.wcm.content.persistent.ChnlDoc">
			<listener bean-id="DocumentLCListenerAfterModify" event-type="2"/>
		</monitor-host>
		
		
	</extension>
	<!--Config For System Collocation BEGIN-->

</plugin>