<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0">
	<!-- Cached-Object Config For ICachePOMgr BEGIN -->
	<extension element-class="com.trs.infra.persistent.cache.CachedObjectConfig" id="CachedObjs">
		<cached-object Name="状态" 
			ClassName="com.trs.components.wcm.resource.Status"/>
		<cached-object Name="来源" 
			ClassName="com.trs.components.wcm.resource.Source"/>
		<cached-object Name="安全级别" 
			ClassName="com.trs.components.wcm.resource.Security"/>
	</extension>
	<!-- Cached-Object Config For ICachePOMgr END -->
</plugin>