.hidden{display:none!important;}
.ui-selectInvert {}
.ui-closeDialog .ui-dialog {cursor: pointer}
.ui-deleteSingle {}
.ui-deleteMultiple {}
.ui-updateSingle {}
.ui-updateMultiple {}
.ui-setMultiple {}
.ui-uploadPanel {}
.ui-setName {
}
.ui-keyword {
}
.ui-queryString {
}
.ui-queryString-search {
}
.ui-pagePanel {
}
.ui-setName {
}
.ui-show-hide {
}
.ui_readonly {
}
.ui_add_readonly {
}
.ui_edit_readonly {
}
.ui-pagePost {
}
.ui-removeSelectedOptions {
}
.ui-convertMultipleSelect {
}
.ui-convertTextById {
}
.ui-fillSelect {
}
.ui-btn-sendCode {}
.ui-listXuhao {
    display: inline-block;
    width: 50px
}

.placeholder-color {
    color: #999;
}

._list_no_records {
    line-height:30px;
    color:#999
}
._list_no_records .glyphicon-info-sign{font-size:14px;float:left;margin-right:5px;line-height:30px;}

.ui-passwordEye{display:inline-block}
.ui-password-eye-icon{display: inline-block;font-size:11px;cursor: pointer;color: #999;margin-left:-30px}

.upload-attachments-list{clear:both;text-align:left;overflow:hidden;}
.upload-attachments-list dd{float:left;width:80px;height:80px;margin-right:10px;margin-bottom:10px;position:relative;border:1px solid #cccccc}
.upload-attachments-list dd img{max-width:100%;max-height:100%;filter:alpha(Opacity=100);opacity:1}
.upload-attachments-list dd:hover img{filter:alpha(Opacity=60);opacity: 0.6}
.upload-attachments-list dd .lb-control-box{position:absolute;display:block;text-align:right;cursor:pointer;top:auto;left:0px;bottom:0px;height:20px;width:100%;padding-right:5px;color: #efefef;background-color: rgba(0, 0, 0, 0.4);}
.upload-attachments-list dd .lb-control-box .btn-control{font-size:14px;line-height:20px;color:#efefef;vertical-align:baseline;}

.upload-images-list dd .lb-control-direction{float:left;padding:0px 5px;display:none}
.upload-images-list dd .lb-control-direction i{font-size:20px;color:#fff;}
.upload-attachments-list dd .lb-control-box:hover .lb-control-direction{display:block}

/*.upload-attachments-list dd:hover .lb-delete-box{display:block}*/
.upload-attachments-list .btn-upload {
    text-align: center;
} 
.upload-attachments-list .btn-upload i{font-size:20px;line-height:80px;color:#cccccc}
.upload-attachments-list .btn-upload:hover i{font-size:30px;color:#999}

.upload-attachments-file-list {border:1px solid #cccccc;border-radius:2px}
.upload-attachments-file-list dd{float:none;width:auto;height:auto;padding:0px 10px;line-height:30px;margin-right:0px;margin-bottom:0px;border-width:0px}
.upload-attachments-file-list dd .lb-control-box{position:static;display:inline;margin-left:5px;font-size:12px;cursor:pointer;background-color:inherit}
.upload-attachments-file-list dd .lb-control-box .btn-control{color:#999999}

.upload-attachments-file-list dd.btn-upload{display:block;height:auto;width:auto;text-align:left;line-height:30px;border-width:0px;} 
.upload-attachments-file-list .btn-upload i{font-size:16px;line-height:30px;width:30px;text-align:center;color:#999999;}
.upload-attachments-file-list dd:hover {background-color:#efefef}
.upload-attachments-file-list dd:hover .lb-delete-box{color:#333}
.upload-attachments-file-list .btn-upload:hover i {font-size:18px;line-height:30px;color:#666666}














.submit-footerbar{position:fixed;z-index:1000;left:0px;bottom:0px;background-color:#F8F8F8;border-top:1px solid #eeeeee;width:100%;padding:10px 0px 6px 0px}
.submit-footerbar .control-label{position:static!important;width:15px;}
.submit-footerbar .controls{display:inline-block;}
.submit-footerbar .btn{padding:4px 20px;margin-left:5px;border-radius:2px;line-height:1.4;font-size:14px}