.wcm_display_none{
	display:none;
}
/*document的各种操作对应的图标*/
.chnldoc_edit{
	background-image:url(../images/icon/Update.png);
}
.chnldoc_preview{
	background-image:url(../images/icon/Preview.png);
}
.chnldoc_basicpublish{
	background-image:url(../images/icon/PublishComplete.gif);
}
.chnldoc_copy{
	background-image:url(../images/icon/Copy.png);
}
.chnldoc_move{
	background-image:url(../images/icon/Move.png);
}
.chnldoc_quote{
	background-image:url(../images/icon/Quote.png);
}
.chnldoc_recycle,.chnldoc_trash{
	background-image:url(../images/icon/Recycle.gif);
}
.chnldoc_delete{
	background-image:url(../images/icon/Delete.png);
}
.chnldoc_changeStatus{
	background-image:url(../images/icon/ChangeStatus.png);
}
.chnldoc_setRight{
	background-image:url(../images/icon/Accessories.png);
}
.chnldoc_detailpublish{
	background-image:url(../images/icon/PublishDetail.gif);
}
.chnldoc_backup{
	background-image:url(../images/icon/SaveVersion.png);
}
.chnldoc_backupmgr{
	background-image:url(../images/icon/ManageVersion.png);
}
.chnldoc_export{
	background-image:url(../images/icon/Export.png);
}
.chnldoc_exportall{
	background-image:url(../images/icon/export_all.gif);
}
.chnldoc_new{
	background-image:url(../images/icon/New.png);
}
.chnldoc_add{
	background-image:url(../images/icon/New.png);
}
.chnldoc_quicknew{
	background-image:url(../images/icon/CreateArticle.png);
}
.chnldoc_importoffice{
	background-image:url(../images/icon/CreateArticle.png);
}
.chnldoc_import{
	background-image:url(../images/icon/Import.png);
}
.chnldoc_increasingpublish,.chnldoc_increasepublish{
	background-image:url(../images/icon/PublishIncrease.gif);
}
.chnldoc_solopublish,.chnldoc_homepublish{
	background-image:url(../images/icon/PublishIndex.gif);
}
.chnldoc_fullypublish,.chnldoc_completepublish{
	background-image:url(../images/icon/PublishComplete.gif);
}
.chnldoc_refreshpublish,.chnldoc_updatepublish{
	background-image:url(../images/icon/PublishRefresh.gif);
}
.chnldoc_recallpublish,.chnldoc_chnldoc_cancelpublish{
	background-image:url(../images/icon/CancelPublish.gif);
}
.chnldoc_channel_synch, .channelMaster_synch, .website_synchtemplate{
	background-image:url(../images/icon/SysTem2Chnl.gif);
}
.chnldoc_likecopy{
	background-image:url(../images/icon/SimCreate.gif);
}
.chnldoc_docPositionSet{
	background-image:url(../images/icon/docPositionSet.gif);
}
