html, body {
	height: 100%;
	overflow-y: none;
}
body {
	padding: 0;
	margin: 0;
}
#Container{
    width:100%;
    padding: 0;
    background-color:#EBF4F7;
    height:95px;
    margin:0 auto;
}

#Header{
	padding-left:5px;
    height:45px;
    text-align:left;
    line-height:45px;
    vertical-align:middle;
   /*background:#093; */
}
#Content{
    height:100%;
    /*濮濄倕顦电�鐟邦啇閸ｃ劏顔曠純顔荤啊妤傛ê瀹抽敍灞肩閼割兛绗夊楦款唴鐎电懓顔愰崳銊啎缂冾噣鐝惔锔肩礉娑擄拷鍩囨担璺ㄦ暏overflow:auto;鐏炵偞锟界拋鍓х枂鐎圭懓娅掗弽瑙勫祦閸愬懎顔愰懛顏堬拷鎼存棃鐝惔锔肩礉婵″倹鐏夋稉宥嗗瘹鐎规岸鐝惔锔藉灗娑撳秷顔曠純顔垮殰闁倸绨叉妯哄閿涘苯顔愰崳銊ョ殺姒涙顓绘稉锟芥稉顏勭摟缁楋箓鐝惔锔肩礉鐎圭懓娅掓稉瀣煙閻ㄥ嫬绔风仦锟藉帗缁辩媴绱檉ooter閿涘顔曠純鐢縜rgin-top:鐏炵偞锟界亸鍡樻￥閺侊拷/
    /*margin-top:20px;濮濄倕顦电拋鑼缎抦argin閻ㄥ嫮鏁ゅ▔鏇礉鐠佸墽鐤哻ontent娑撳簼绗傞棃顣巈ader閸忓啰绀屾稊瀣？閻ㄥ嫯绐涚粋锟�    background:#0FF;selType*/
}
.btu{
	height:22px;
}
.bt{
	height:25px;
	width:50px;
	background-color: #41A6E0;
	color: white;
}

.btu_select{
	height:30px;
}



#y {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
#x {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
