.XChannelTree .channelTree-select{
	width:16px;
	height:20px;
	cursor:pointer;
	background:url(tree_logo.gif) center center no-repeat;
}
.XDisabledCls .channelTree-select{
	filter:gray;
	cursor:default;
}
