ul{
	padding:0;
	margin:0;
}
ul li{
	list-style:none;
	line-height:23px;
}
.content .data{
	text-align:center;
	overflow:hidden;
	padding:30px;
}
.container .content .data .flash-chart{
	width:75%;
	border:none;
	height:100%;
}
/*
*  flash出滚动条div样式
*/
.container .content .data .flash-container{
	overflow-y:hide;
	overflow-x:auto;
	width:100%;
	height:100%;
}
.container .content .data .data-select-td{
	width:250%;
	border:none;
	vertical-align:top;
}
.container .content .data .data-select-td .data-info-div{
	width:100px;
	cursor:normal;
	border:2px solid #cacaca;
	padding:10px 30px;
	background:#f3f3f3;
}
.container .content .data .data-select-td .data-info-div div{
	text-align:left;
}
.container .content .data .data-select-td .data-type{
	text-align:left;
}
.container .content .data .data-select-td li input{
	vertical-align:middle;
}
.container .content .data .data-select-td li label{
	vertical-align:middle;
}
.container .content .data .data-select-td .data-desc{
	line-height:25px;
}