.XRelatedDoc .relateddoc-select{
	height:16px;
	cursor:pointer;
	background:url(relation.gif) 0 center no-repeat;
	padding-left:20px;
	display:inline-block;
	vertical-align:middle;
}
.XRelatedDoc .relateddoc-box{
	margin-top:10px;
}
.XRelatedDoc .relateddoc-add{
	height:16px;
	cursor:pointer;
	background:url(add.gif) 0 center no-repeat;
	padding-left:20px;
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}
.XRelatedDoc .removeRelationDoc{
	width:20px;
	height:20px;
	cursor:pointer;
	display:inline-block;
	border:1px solid #eeeeee;
	background:url(delete.gif) 0 center no-repeat;
	vertical-align:middle;
}
.XRelatedDoc A{
	padding-left:5px;
}
.XDisabledCls .relateddoc-select{
	filter:gray;
	cursor:default;
}
.XDisabledCls .relateddoc-add{
	filter:gray;
	cursor:default;
}
.XRelatedDoc .relateddoc-item{
	line-height:20px;
}
.ext-gecko .XRelatedDoc .relateddoc-item{
	margin-left:15px;
	padding-left:0px;
}