.XRadio{
	border:1px solid #eeeeee;
	display:inline-block;
}
.ext-ie6 .XRadio{
	overflow:hidden;
}
.XRadio .radio-item{
	display:inline;
	margin-right:5px;
}
.XRadio .calcelselect a{
	color:#1c94c4;
	font-size:14px;
	padding-left:5px;
}
.XRadio .calcelselect a:link{
	text-decoration:none;
}
.XRadio .calcelselect a:hover{
	text-decoration:underline;
}
.XRadio .default_option{
	border:1px solid #eeeeee;
}
.XRadio .active_option{
	border:1px solid #1c94c4;
}