/*覆盖easyui中的样式*/

body{
  background-color: #f7fefd;
}

.l-btn{
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.panel-header, .panel-body{
	border-color: #bec2c5;
}

.datagrid-row-alt{
	background-color: #f5f5f5;
}

.datagrid-row-over{
	background-color: #e0eaf3;
}

.panel-body{
	background-color: #fbfbfb;
}

.datagrid-header table tr{
	height: 34px;
}

.datagrid-body table tr {
	height: 40px;
}

.datagrid-td-rownumber {
	background: transparent;
}

.datagrid-header {
	background: url(cover_image/grid_header.png) repeat top left;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td{
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #d6d9db;
}

.datagrid-header .datagrid-cell span{
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #666666;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
	font-family: "宋体";
	color: #333333;
}

.panel-header{
	height: 20px;
	background: url(cover_image/grid_title.png) repeat top left;
}

.datagrid .panel-title{
	background: transparent;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #444444;
	font-weight: normal;	
}
