.ext-ie6 .object_preview,.ext-ie6 .objectcannot_preview{padding:0;float:left;overflow:hidden}
.object_preview{background:url(../images/icon/icons2.gif) no-repeat center -640px;height:16px;display:block;}
.objectcannot_preview{background:url(../images/icon/icons2.gif) no-repeat center -528px;height:16px;display:block;}
td.doctitle{text-align:left;font-size:14px;padding:4px 0px 4px 2px;line-height:21px;}
.grid_body a:link,.grid_body a:visited{color: #000000;text-decoration: none;}
.grid_body a:hover{color: blue;text-decoration:underline;}

#pageoper_3 .doctitle .wcm_attr_value{width:158px;font-size:14px;height:20px;padding:1px;border:0;line-height:20px;color:#09549F;font-weight: bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .doctitle .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
#pageoper_3 .doctitle .wcm_attr_value input{height:18px;font-size:14px;line-height:18px;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
/*HTML*/

.grid_row_curr{background:#d5e6fe;}
.ext-ie6 .doctype_20{padding:0;float:left;overflow:hidden;}
.doctype_20{height:16px;display:block;background:url(../images/icon/icons2.gif) 0 center no-repeat;}
.doctype_20{background-position:4px -144px;}
.view_mode_normal{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode1.gif) no-repeat center center;cursor: pointer;}
.view_mode_recursive{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode2.gif) no-repeat center center;cursor: pointer;}

.trsserver_config{background-position: 0 -400px;}
.trsserver_pick{background-position: 0 -816px;}
.action_refresh{background-position: 0px -304px;}
.toolbar_item_disabled .trsserver_pick{background-position: 0 -1792px}
