.message {
	font-family: "宋体", "Arial", "Courier New";
	font-size: 12px;
	float:left;
	height:18px;
	line-height:18px;
}
.input_file{
	float:left;
	width:220px;
	height:20px;
	border:1px solid black;
}
.input_text{
	float:left;
	width:180px;
	height:20px;
	border:1px solid black;
}
.input_button{
	float:left;
	width:60px;
	height:20px;
	border:1px solid black;
}
.ui_editpanel_text_blank{
	border:0;
}
.ui_editpanel_text_hover{
	border:1px solid gray;
}
.simple_editpanel{
	margin:1px 1px 0;
	width:98%;height:23px;line-height:23px;font-size:14px;
	overflow:hidden;
	text-overflow:clip;
}
.relations_grid{
	font-size:12px;
	background:#646464;
}
.grid_head{
	height:25px;
	background:#d3e6fa;
	color:#133151;
}
.grid_row{
	height:25px;background:#FFFFFF;
}
.tbody_dragging{
	background-color:#FFFFDD;
}
.tbody_drag_icon{
	width:20px;
	height:20px;
	background:url(../images/document_addedit/icon/Accessories.png) no-repeat center center;
}
.row_delete{
	background:url(../images/icon/Delete_2.gif) no-repeat center center;
	cursor:pointer;
}
.row_preview{
	background:url(../images/icon/Preview.png) no-repeat center center;
	cursor:pointer;
}
.row_up{
	background:url(../images/icon/SortUp.gif) no-repeat center center;	
}
.row_down{
	background:url(../images/icon/SortDown.gif) no-repeat center center;	
}
.row_order{width:35px;margin:0px 2px;border:0px;border-bottom:1px dotted silver;}
.grid_function{cursor:pointer;width:16px;height:16px;}
.doctitle{overflow:hidden;width:100%;height:100%;line-height:25px;padding-left:2px}