.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_save{
	background:url(../images/icon/Save.png) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.advance_search{
	width:40px;
	cursor:pointer;
	background:url(../images/metadata/advance_search.png) right 7px no-repeat;
}
.metaviewdata_delete{background-position: 0px -784px;}
.metaviewdata_new{background-position: 0px -528px;}
.metaviewdata_preview{background-position: 0px -449px;}
.metaviewdata_publish{background-position: 0px -400px;}
.metaviewdata_copy{background-position: 0px -864px;}
.metaviewdata_quote{background-position: 0px -816px;}
.metaviewdata_move{background-position: 0px -560px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .metaviewdata_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .metaviewdata_new{background-position: 0 -1506px;}
.toolbar_item_disabled .metaviewdata_preview{background-position: 0 -1425px;}
.toolbar_item_disabled .metaviewdata_publish{background-position: 0 -1376px;}
.toolbar_item_disabled .metaviewdata_copy{background-position: 0 -1840px;}
.toolbar_item_disabled .metaviewdata_quote{background-position: 0 -1792px;}
.toolbar_item_disabled .metaviewdata_move{background-position: 0 -1537px;}
.querybox, .querybox .qbr, .querybox .qbc{background:#FFF;}
/*strict*/
.ext-strict .layout_center_innercontainer{top:32px;bottom:0px;}
/*ie6*/
.ext-ie6 .layout_innercontainer{padding-top:32px;padding-bottom:0}
/*all*/
.layout_north{height:32px;}
#south_tabs{height:0;overflow:hidden;display:none}
.querybox{float:right;}
.grid_table td{
	text-align:center !important;
}