#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid red;}
.object_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_delete{
	background-image: url(../images/icon/NotDelete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/NotUpdate.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.mode_class{
	float:right;
	width:23px;
	height:100%;
	background:url(../images/icon/collect.gif) no-repeat center center;
	float:right;
	cursor:pointer;
}
.wcm_attr_value{
	width : 50px;
}
.calendarShow{
	width:28px;
	line-height:18px;
	display:inline;
	height:20px;
}

.ext-gecko .calendarShow{
	width:30px;
}
.ext-safari .calendarShow{
	width:30px;
}
.ext-safari .calImg{
	margin-left:-5px;
}
.ext-ie8 .calImg{
	margin-left:-7px;
}
.timerange{
	padding-left:4px;
}
.querycondition{
	color:#09549F;
	margin-left:20px;
	width:100px;
}