/*移除下面这块，仅供参考*/
.object_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.mode_class{
	width:23px;
	height:29px;
	background:url(../images/icon/distribute.gif) no-repeat center center;
	cursor:pointer;
}
.wcm_attr_value{
	width:50px;
}
.channelsyncol_delete{background-position: 0px -784px;}
.channelsyncol_new{background-position: 0px -528px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .channelsyncol_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .channelsyncol_new{background-position: 0 -1504px;}