<?xml version="1.0" encoding="GB2312"?>
<plugin name="WCM内容组件" version="1.0" id="wcm.content.domain">
	<beans>
		<bean id="ChnlDocLCListenerForRecordNotEntity" 
			class="com.trs.components.wcm.content.domain.ChnlDocLCListenerForRecordNotEntity" 
			singleton="true"/>
		<bean id="ChannelLCListenerForWebSiteLastModifyTime" 
			class="com.trs.components.wcm.content.domain.ChannelLCListenerForWebSiteLastModifyTime" 
			singleton="true"/>
	</beans>
</plugin>