.timeComponent label{
	FONT-FAMILY: webdings;
	HEIGHT: 10px;
	width:15px;
	overflow:hiden;
	font-size:5pt;
	margin:0;
	padding:0;
	BACKGROUND-COLOR: #C8D6FB;
	border-style:outset;
	border-width:1;
	border-left-width:0;
	cursor:hand;
}
.timeComponent TD.Condition{
    font-size: 12px;
    cursor:default;
    border:1px;
}
.timeComponent Input.ComboBox{
	height:20px;
    font-size: 12px;
	border: 1px solid #7F9DB9;
	cursor:default;
	border-right-width: 0;
	width:20px;
}