/*01 首先消除默认的边框边距和字体大小*/
*{margin: 0px; padding: 0px; }

/*02 设置html、body的大小*/
html, body {width:100%; height:100%; overflow: hidden;font-size: 12px;}

.alterResourceStrInfo {width: 100%; margin: 10px 0px; }

.alterResourceStrInfo .top{height: 46px; text-align: center;}
.alterResourceStrInfo .top b {line-height: 40px; color: #503C00; font-size: 20px; font-weight:bold;}
.alterResourceStrInfo .top hr {display:block;vertical-align:middle;margin:0px 10px; color: #B0B0B0; }

.alterResourceStrInfo .content {width: 100%; }


.alterResourceStrInfo .content .alterInfo {margin:5px 15px; line-height:30px; color: #030303; zoom:1;}
.alterResourceStrInfo .content .alterInfo li {list-style: none;padding-bottom: 15px;}
.alterResourceStrInfo .content .alterInfo .info {width: 35%; float: left; text-align: right;}
.alterResourceStrInfo .content .alterInfo .infoType {width: 65%; float: right;}
.alterResourceStrInfo .content .alterInfo li select {width: 154px;}
.alterResourceStrInfo .content .alterInfo li .classic {background: url("../images/classic.gif") no-repeat center center; width: 16px; height: 24px; border: 0px; line-height: 24px;cursor: pointer;}
