.container .header{height:80px;}
.container .header .desc{height: 40px; line-height:40px; padding:0; padding-left: 20px;  color: #155C00; font-size: 25px; font-weight:bold;}
.jquery-strict .content{top:99px;}
.container .footer{position:absolute;bottom:0px;text-align:center;width:100%;}
.container .footer button{margin:0 5px;outline:0;background: url(../images/btn.gif) no-repeat;padding-bottom:6px; width: 84px; height: 35px; border: 0px;}