/*01 首先消除默认的边框边距和字体大小*/
*{margin: 0px; padding: 0px; }

/*02 设置html、body的大小*/
html, body {width:100%; height:100%; overflow: hidden;font-size: 12px;}

.classicOfResourceStr {width: 100%; margin: 10px 0px; }

.classicOfResourceStr .content {width: 100%; height: 295px;}

.classicOfResourceStr .classicTree {width: 40%;float: left; height: 295px;overflow:auto; border: #DDDDDD solid 1px;}
.classicOfResourceStr .classicDesc {width: 56%; float: right; margin: 0 5px;}

.classicOfResourceStr .classicDesc .description {font-size: 14px; color: #563400; font-weight: bold; }

.classicOfResourceStr .classicDesc .keybordDesc {padding-bottom: 35px; }

.classicOfResourceStr .classicDesc .keybordDesc ul {padding-top: 10px; padding-left: 25px;}

.classicOfResourceStr .classicDesc .keybordDesc ul li {list-style: none; font-size: 13px; color: #494949; padding-top: 10px; }

.classicOfResourceStr .classicDesc .keybordDesc ul li span{color: #3E7D37; font-weight: bold; }