/*01 首先消除默认的边框边距和字体大小*/
*{margin: 0px; padding: 0px; }

/*02 设置html、body的大小*/
html, body {width:100%; height:100%; overflow: hidden;font-size: 12px;}

.row {margin:10px 15px 10px 30px; line-height:24px; color: #4E4E4D;}
.row .file {margin-left: 20px; margin-top: 10px;}
.row .file .filetext {width: 400px; height: 25px; }

.row .statement {color: #B20000; }
.row .info {color: #1D8500; }

.row span {padding-right: 10px; }
.row label {margin:0px 10px 0px 5px;}
.repeat-wrap input, .repeat-wrap label{vertical-align:middle;}
