
a{text-decoration: none !important;}
/*¿ØÖÆ²Ëµ¥¼ýÍ·*/
.nav-header.collapsed>span.glyphicon-chevron-toggle:before {
	content: "\e114";
}

.nav-header>span.glyphicon-chevron-toggle:before {
	content: "\e113";
}

.menus{
   padding: 12px 0;
}

.secondmenu a {
	font-size: 12px;
	color: #4A515B;
}



.nav-header{display: block;}

.leftWrap{background: #000;min-width: 104px;}
.leftWrap a{color: #fff}
.leftWrap a span{padding-right: 8px;}







.red {
	color: red
}

.green {
	color: green
}

.onedit {
	display: inline-block;
	padding: 0 6px;
	margin: 0 4px;
}

.nonselects {
	opacity: 0.3;
	FILTER: alpha(opacity = 30);
	-moz-opacity: 0.3;
}
.notAllowed{
  cursor: not-allowed;
}

.title {
	padding-top: 50px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #755454;
}

.dp{display: block;}