.table {
    color: black;
    font: 14px "Microsoft YaHei", helvetica,arial,verdana,sans-serif;
    word-wrap: break-word;
    width: 100%;
}
a{
color:#367696;
text-decoration:none;
font-size:14px;
font: 14px "Microsoft YaHei", helvetica,arial,verdana,sans-serif;
word-wrap: break-word;
}
a:hover{
text-decoration:unerline;
color: #ffa800;
font: 14px "Microsoft YaHei", helvetica,arial,verdana,sans-serif;
word-wrap: break-word;
}
th:hover{
background-color: #D6E9F0;
}
th:link{
background-color: #ffffff;
}
th:active{
background-color: #D6E9F0;
}
th:visited{
background-color: #D6E9F0;
}
/* a:link锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟接碉拷锟斤拷式锟斤拷 
a:visited锟斤拷锟斤拷锟斤拷锟窖凤拷锟绞癸拷锟斤拷锟接碉拷锟斤拷式锟斤拷 
a:hover锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟绞憋拷锟斤拷锟绞斤拷锟�
a:active锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟绞憋拷锟斤拷锟绞斤拷锟�*/

.title{
	
	border:1px solid #EDF5FD;
	height:auto;
	background: #49beef none repeat scroll 0 0;
    color: #fff;
    font-family: Microsoft YaHei;
    font-size: 18px;
	padding: 6% 25% 4%; /* 上下、 左、右 */
}
.ndtitle{
	margin:-3px;
	border:1px solid #AFB0B1;
	width:103%;
}
.divboder{
	border:1px solid #ddeaf0;
	border-right: 0px solid #AFB0B1;
	padding-top:0px;
	background-color: #dbeff7;
/* 	 border-style: none; */
	/* margin:13%;
	margin-top:10%; */
	/* margin-left:12px; */
}
#div1{
		/* background-color:white; */
	
}
.alignleft {
display: inline;
float: left;
} 
