html {
    margin: 0px;
    border: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    margin: 0px;
    border: 0;
    padding: 0px;
    height: 100%;
}

.logo {
    /*background-image: url(../../page/image/logoBm.jpg);*/
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
.menu {
    height: 30px;
    width: auto;
    top: -1px;
    position: relative;
    line-height: 30px;
    background-color: #255B80;
    background: url('../../static/images/system/home/B-204.png');	
	background-attachment: fixed;
}

.menuul {
    margin: 0;
    padding: 0;
}

.menuul li {
    display: block;
    list-style: none;
    float: left;
}

.menuul li a {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    border-right: 1px solid white;
    /*border-left: 1px solid white;*/
    width: 120px;
    text-decoration: none;
}

.treeT {
    background-color: #829ECB;
    background: url('../../static/images/system/home/B-201.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
    /*border-right: 7px solid #C1C1C1;*/
    border-right: 7px solid #EDEDEF;
}

.cont {
    float: right;
    overflow: hidden;
    /*top: 158px;*/
    left: 207px;
    right: 0px;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 0;
    position: absolute;
}

.bottomDiv {
    bottom: 0px;;
    position: absolute;
    height: 2px;
    background-color: #EFEFEF;
}

.treeT ul li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid white;
}



.treeT ul li a {
    padding: 0px 0px 0px 50px;
    display: block;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    font-family: "微软雅黑", "黑体";
    text-decoration: none;
}

.treeT ul li a:hover {
    /*color: white;*/
    background-color: #13469C;
    background: url('../../static/images/system/home/B-203.png');
	background-attachment: fixed;
}

.treeT ul li a:active {
}

#contload {
    frameborder: 0px;
    scrolling: no;
    margin:  0 auto;
    overflow: hidden;
    width:100%;
    height: 99%;
}
.threeTree{
}
.childIcon{
    top: 2px;
    height: 14px;
    width: 14px;
    position: relative;
}
ul{list-style:none}
/*url(../../static/images/system/index/B-03.png)*/
.navs {background:#f5fbfe;width: 100%;height:100%;padding: 40px 28px 25px 0; } /*font-family: "Microsoft yahei", Arial, Helvetica, sans-serif;*/
ul.navs {padding: 0; margin: 0; font-size: 1em; line-height: 0.5em; list-style: none;} 
ul.navs li {background:#f5fbfe;} 
ul.navs li a {line-height: 10px; font-size: 14px; padding: 10px 5px;padding-left:20px; color: #666666; display: block; text-decoration: none; font-weight: bolder;}
ul.navs li a:hover {background-color:#ffffff;color:#1c97ca;}
ul.navs li a:visited {background-color:#ffffff;color:#1c97ca;}
ul.navs li a:active {background-color:#ffffff;color:#1c97ca;}
ul.navs ul { margin: 0; padding: 0;display: none;} 
ul.navs ul li { margin: 0; padding: 0; clear: both;} 
ul.navs ul li a { padding-left: 40px; font-size: 13px; font-weight: bold;}
ul.navs ul li a:hover {background-color:#ffffff; color:#1c97ca;}
ul.navs ul li a:visited  {background-color:#ffffff; color:#1c97ca;}
ul.navs ul li a:active {background-color:#ffffff; color:#1c97ca;}
ul.navs ul ul li a { padding-left: 60px;font-size: 10px; font-weight: lighter;} /*color:silver;*/
ul.navs ul ul li a:hover { background-color:#ffffff; color:#1c97ca;}
ul.navs ul ul li a:visited { background-color:#ffffff; color:#1c97ca;}
ul.navs ul ul li a:active { background-color:#ffffff; color:#1c97ca;}
ul.navs span{float:right;}
ul.navs li a{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;	
}
ul.navs ul li a{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;	
}
ul.navs ul ul li a{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;	
}