body {
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	FONT-SIZE: 13px;
	color:#333333;
}
/*ge gfc add @ 2006-07-04*/
.dashTableBlue, .dashTableGreen{
	padding: 1px;
	color:		InfoText;
	font:		Status-Bar;
}
.dashTableBlue{
	border:1px solid #C6E3FF;
	background-color:#C6E3FF;
}
.dashTableGreen{
	border:1px solid #99CC99;
	background-color:#99CC99;
}
.dashTable, .dashTableGreen A:link{
	text-decoration:underline;
}
.dashTable, .dashTableGreen A:visited{
	text-decoration:underline;
}
.dashItemBlue, .dashItemWhite, .dashItemGreen{
	font-weight:normal;
	font-size:14px;
	padding:4px;
	font-family:
}
.dashItemBlue{
	background-color:#EFF7FF;
}
.dashItemGreen{
	background-color:#EFF7EF;
}
.dashItemWhite{
	background-color:#FEFEFE;
}
.dashTitleBlue, .dashTitleGreen{
	font-weight:bold;
	font-size:14px;
	padding:4px;
}
.dashTitleBlue{
	background-color:#C6E3FF;
}
.dashTitleGreen{
	background-color:#99CC99;
}
.dashFooter{
	background-color:#FFFFFF;
	text-align:right;
	width:100%；
	font-size:12px;
	padding:4px;
}
.dashIndex{
	font-family:Courier New;
	font-weight:bold;
}
.dashAppedix{
	font-family:Courier New;
	color:gray;
	font-size:11px;
	width:100%;
	text-align:right
}
.statTitle{
	color:navy;
	font-size:13px;
	text-align:left
}
.statItem{
	color:#FF5500;
	font-size:12px;
	font-weight:bold;
	font-family: Courier New;
	text-align:left;
}