<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="components.common.publish.event">
	
	<!--Config For Server BEGIN-->
	<extension element-class="com.trs.infra.ServerConfig" id="Server">
		<server bean-id="IPublishEventServer" name="发布事件服务器" />
	</extension>
	<!--Config For Server END-->
	
</plugin>