body{
	width : 100%;
	height : 100%;
	OVERFLOW: hidden;
	margin : 0;
	padding : 0;
}
.logo{
	width : 445px;
	height : 40px;
	background: url('images/login/toplogo.png') 0 0 no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="images/login/toplogo.png");
	background:none;
}
.logoEn{
	line-height:38px;
	float:right;
	margin-right:20px;
	font-size:18px;
	color:#ffffff;
}
.logoEn a:link { color: #ffffff}
.logoEn a:visited { color: #ffffff}
.logoEn a:hover { color: #ff0000}
.logoEn a:active { text-decoration:none;}
.help_bg{
	background: url('images/login/logo.png') 0 0 no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="images/login/logo.png");
	background:none;
	
}
.copyright{
	position:relative;
	text-align:center;
	top:-1px;
	width : 445px;
	height : 42px;
	background: url('images/login/footer.png') 0 0 no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/login/footer.png");
	background:none;
}
.submitBtn{
	width:51px;
	height:22px;
	border:0px;
	color:#fff;
	background:url('images/login/login.png') 0 0 no-repeat;
}
.resetBtn{
	margin-left:15px;
	width:51px;
	height:22px;
	border:0px;
	text-align: center;
	background:url('images/login/reset.png') 0 0 no-repeat;
}
.communicate{
	position:absolute;
	right:60px;
	bottom:40px;
	width:293px;
	height:110px;
	z-index : 102;
	font-size:12px;
}
.communicate span{
	line-height:16px;
}
.input12 {
	font-family: "宋体", Arial;
	height:20px;
	color: #333333;
	text-decoration: none;
	border: 1px solid #a3a3a3;
}
.container{
	position:absolute;
	width:445px;
	left: 30%;
	top: 26%;
}
#login, #resetBtn{
	cursor:pointer;
}
#enLabel{
	position:relative;
	top:19px;
}
.grandparent{
	position:relative;
	top:-1px;
	width:445px;
	height:210px;
	background:url('images/login/bg.png') repeat-y !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/login/bg.png");
	background:none;
}
.hasVerifyCode  .grandparent{
	height:159px;
}
.hasVerifyCode  .parent{
	height:101px;
}
.hasVerifyCode .input_bg{
	background: url('images/login/inputbg_verifycode.gif') 0 0 no-repeat;
}
.hasVerifyCode .help_bg{
	background: url('images/login/help_verifycode.gif') 0 0 no-repeat;
}
.hasVerifyCode .copyright{
	width : 439px;
	height : 50px;
	background: url('images/login/copyright_verifycode.gif') 0 0 no-repeat;
}
.hasVerifyCode .loginbtn{
	height:43px;
}

.enableAutologin  .grandparent{
	height:122px;
}
.enableAutologin  .parent{
	height:101px;
}
.enableAutologin .input_bg{
	background: url('images/login/inputbg_autologin.gif') 0 0 no-repeat;
}
.enableAutologin .help_bg{
	background: url('images/login/help_verifycode.gif') 0 0 no-repeat;
}
.enableAutologin .copyright{
	width : 439px;
	height : 50px;
	z-index : 100;
	background: url('images/login/copyright_verifycode.gif') 0 0 no-repeat;
}
.enableAutologin .loginbtn{
	height:43px;
}
.link{
	font-size:12px;
	color:#0169b8
}
.link a:link { text-decoration: none;color: #0169b8}
.link a:visited { text-decoration: none;color: #0169b8}
.link a:hover { text-decoration:none;color: #d68300}
.link a:active { text-decoration:none;}