.XCheckbox{
	display:inline-block;
	border:1px solid #eeeeee;
}
.ext-ie6 .XCheckbox{
	display:inline;
	overflow:hidden;
}
.XCheckbox .checkbox-item{
	display:inline;
	margin-right:5px;
}
.XCheckbox .selectall{
	color:#1c94c4;
}