.thumb_item .thumb{background-image: url(../images/metadata/tablethumbs.gif);}
.literator_path{
	margin-top:-3px;
	margin-left:8px;
	background:transparent;
}
.literator_path a:link, .literator_path a:visited{
	text-decoration:none;
	color:black;
}
.literator_path a:hover, .literator_path a:active{
	text-decoration:underline;
	color:red;
}
#list-order-box{
	margin-top:6px;
	margin-right:10px;
}