/*
	Notice that IE has a display problem if the help link is on
	the last line of a container with no padding. If this is the
	case increase the padding bottom to at least 1px
*/
.cb-container{
	position:	absolute;
	padding: 1px;
	/*border:		1px Solid WindowFrame;*/
	/*background-color:	#F7F7F7;*/
	color:		InfoText;
	font:		Status-Bar;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color=#777777, direction=135, strength=5);
	border:1px	solid #07478a; 
	background: #ffffff;
	cursor:move;
}
.cb-shadow{
	background:	#cccccc;
	-moz-opacity:0.8; 
	filter:alpha(opacity=80)

}
.cb-mask{
	background:	#fff;
	-moz-opacity:0.6; 
	filter:alpha(opacity=60)
}
.cb-container a,
.cb-container a:hover {
	color:		blue !important;
	background:	none;
}

.cb-closer{
	cursor:pointer;
	padding:1px;
	height:16;
	vertical-align:middle;
}
.cb-header{
	font-size:13px;
	font-family:arials;
	background-image:url(/wcm/WCMV6/images/document-list/button-bg.png);
	padding:1px;
	color:#FFFFFF; 
	text-align:left;
}
.cb-title{
	color: #010101
}

.left_buttom{
	position: relative;
}

.right_bottom{
	position: absolute;
}
.right_center .bottom{
}
.justifiedit .bottom{
	height:15px;
}

body.dialog{
	background-color: transparent;
}


.dialog td{
	font-size:12px;
}

/*for cb*/

