 /*button*/
.wcm-btn{display:inline-block;height:21px;*display:inline;}
.wcm-btn-left, .wcm-btn-right, .wcm-btn-center {display:inline-block;*display:inline;}
.wcm-btn-left{padding-left:8px;background:url(button_left.gif) left top no-repeat;margin:0 5px;*margin:10px 5px;}
.wcm-btn-right{height:100%;padding-right:8px;background:url(button_right.gif) right top no-repeat;}
.wcm-btn-center{zoom:1;height:100%;padding-left:9px;padding-right:9px;background:url(button_center.gif) left top repeat-x;}
.wcm-btn a{display:inline-block;*display:inline;cursor:default;font-size:12px;line-height:21px;min-width:40px;white-space:nowrap;text-decoration:none;}
.wcm-btn a{*width:45px;}
.wcm-btn a:link, .wcm-btn a:visited{color:white;}
