body{
		font-size:12px;
		margin:0px;
		padding:0px;
	}
	table{
		margin:0px;
		margin-right:3px;
		padding:0px;
	}
.propname{
	width:80px;
	display:inline-block;
}
.row_div{
	width:100%;
	height:30px;
	padding-left:10px;
}
.seled_prop{
	width:100%;
	height:120px;
}
.ext-gecko .seled_prop{
	height:110px;
}
.sel_out{
	width:100%;
	height:100%;
	border:1px solid #608c8c;
}
.ext-gecko .sel_out{
	height:440px;
}
.toBeSel{
	width:100%;
	height:100%;
}
.ext-gecko .toBeSel{
	height:440px;
}
.sep{
	height:15px;
}
fieldset{
	margin-left:5px;
}
.ViewCommand{
	height:33%;
	margin-left:5px;
}
