td.title{ font-size:9pt; color: #ffffff; background-color: #59ACFF; TEXT-DECORATION: none}
.fontpicpage{
	color:#2D5C8B; 
	text-decoration:none;
	font-size: 12px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
 }
A.pn:link{
	color:#2D5C8B; 
	text-decoration:none;
	font-size: 12px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
 }
A.pn:visited { 
	color:#2D5C8B; 
	text-decoration:none;
	font-size: 12px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
 }
A.pn:hover{ 
	color:#2D5C8B; 
	text-decoration:underline;
	font-size: 12px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
 }
