.thumb_item .thumb{background-image: url(../images/website/website.gif);}
.thumb_item .opers{position:absolute;right:3px;bottom:2px;display:none;}
.thumb_item .opers span{float:left;}
.thumb_item_hover .opers{display:block;}
.thumb_item .preview{width:16px;height:16px;background:url(../images/website/preview.png) center center no-repeat;}
.thumb_item .edit{width:16px;height:16px;background:url(../images/website/edit.png) center center no-repeat;}
.thumb_item .increasepublish{width:16px;height:16px;background:url(../images/website/publish.png) center center no-repeat;}
.trash_box{border:1px solid white;position:absolute;width:83px;height:83px;bottom:10px;right:20px;background:url(../images/include/del_0.gif) center center no-repeat;}
.trash_box_hover{border:1px solid #B4B4B4;}

.literator_path{
	margin-top:-3px;
	margin-left:8px;
	background:transparent;
}
.literator_path a:link, .literator_path a:visited{
	text-decoration:none;
	color:black;
}
.literator_path a:hover, .literator_path a:active{
	text-decoration:underline;
	color:red;
}
#list-order-box{
	margin-top:6px;
	margin-right:10px;
}
.dragging .thumb{padding:0px; border:3px solid green;}
.dragging .attrs{background:buttonface; color:black;}
.trashbox_dragging_on{border:1px solid #B4B4B4;}
.thumbDragContainer{
	width:100px; 
	height:35px;
	background-color:lightblue;
	padding:1px;
	-moz-opacity:0.7; 
	filter:alpha(opacity=70); 
}
.thumbDrag{
	background-color:whitesmoke;
	height:33px;
	width:98px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.thumbDragImg{
	height:35px;
}
.ext-ie6 .thumb_grid{padding-bottom:30px!important;}
.ext-strict .thumb_grid_data{bottom:30px;}
