body{
	background: Transparent;
}
A:link{
	text-decoration: none;
}
A:hover{
	text-decoration: none;
	color: red;
}
.length_limit{
	width:200px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.check_content{
	font-size: 12px;
	color: #010101;
	padding-left: 10px;
	font-family: Courier New;
}
.check_title{
	font-size: 14px;
	color: #010101;
	font-weight: bold;
}
.check_tip{
	color: navy;
	font-weight: bold;
}
.template_select{
	display:inline-block;
	zoom:1;
	width:16px;
	height:16px;
	background:url(../images/icon/TempSelect.gif) center center no-repeat;
}
.ext-gecko2 .template_select{
	display:-moz-inline-box;
	position:relative;
	top:-10px;
}
input{
	/*height:20px;*/
}
.controlWidth{
	width:200px;
}
.block_box{
	margin-top:10px;
	margin-left: 4px;
}
.header_row_left{
	width: 260px;
	height: 18px;
	padding-left:3px;
	background: url(../images/include/title-left.png) no-repeat left center;
}
.header_row_right{
	height: 18px;
	padding-right:3px;
	background: url(../images/include/title-right.png) no-repeat right center;
}
.header_row_center{
	height: 18px;
	background: url(../images/include/title-center.png) repeat center center;
}
.header_row_text{
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	margin-left: 10px;
}
.body_box{
	color: #000000;
	border:1px solid #999999;
	margin-top: 1px;
}
.leftTip{
	/*float:left;*/
	width:120px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
}
.leftTipspi{
	width:130px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
	vertical-align:top;
}
.ext-gecko .leftTip{
	display:-moz-inline-stack;
}
.leftTipmin{
	width:80px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
}
.leftTipmid{
	width:130px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
}
.row{
	clear:both;
	padding-top:0px;
	padding-bottom:5px;
}
.kuang_as {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 18px;
	border: 1px solid #999999;
}
.spAttrClue, .spAttrShort, .spAttrLongClue{
	width:70px; 
	height:22px; 
	line-height:22px; 
	margin-right:5px; 
	padding-left:10px; 
	white-space:nowrap;
	text-align: right;
}
.spAttrItem, .spAttrSpcItem{
	line-height:22px; 
	padding-top:0px;
}
.spAttrSpcItem{
	vertical-align:top;
}
.spAttrLongClue{
	width:120px; 
}
.spAttrShort{
	width: 30px;
}
.spAttrPadding{
	width:20px;
}
select{
	width: 120px;
}
.time{
	width:30px;
}
.leftTipStatus{
	width:200px;
	height:21px;
	line-height:21px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
}
#dataPathValidDesc{
	margin-left:125px;
	word-wrap:break-word;
	word-break:break-all;
	word-wrap:normal;
}
#rootDomainValidDesc{
	margin-left:125px;
	word-wrap:break-word;
	word-break:break-all;
	word-wrap:normal;
}
