.res-1024x768 .content{
	padding-left:10px;
	padding-right:10px;
}
.thumb{
	width:450px;
	margin-left:20px;
	background:none;
}
.res-1024x768 .thumb{
	width:365px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	margin-right:15px;
}
.ext-gecko .thumb{
	width:350px;
}
.ext-ie8 .thumb{
	width:350px;
}
.res-1024x768 .toolbar{
	margin-left:10px;
}
.res-1024x768 .thumb .cmds{
	width:250px;
}
.ext-gecko .thumb .cmds{
	width:240px;
}
.ext-ie8 .thumb .cmds{
	width:240px;
}
.thumb .cmds{
	width:270px;
}
.pic{
	float:left;
	height:100px!important;
	width:100px!important;
	background:none!important;
}
.info{
	float:left;
	padding-left:5px;
}
.info div{
	padding-top:10px;
}
img{
	CURSOR: pointer;
	height:100px;
	width:100px;
}
.s-menu{
	width:100px!important;
	border:1px solid #2D76E5;
	padding:2px;
}
.s-menu .item{
	padding-left:4px;
}
.s-menu .selectedItem{
	background-color:#5CA9EF;
	background:url(../images/zt_cz_bj.gif) left center repeat-x;
	border:0px;
	color:white;
	padding:2px;
	padding-left:4px;
}

.s-menu .item .icon{
	height:20px;
	line-height:20px;
}
.s-menu .item .desc{
	height:20px;
	line-height:20px;
}
.s-menu .disableCls{
	color:gray;
}

.res-1024x768 .thumb_active {
	padding:4px 3px;
}
.nameclass{
	font-weight:bold;
}
