html,body{
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
html{
	background-color: #ffffff;
	font:normal normal normal 14px/20px "宋体",Arial;
	color:#000000;
	scrollbar-face-color:#f6f6f6;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#cccccc;
	scrollbar-3dlight-color:#cccccc;
	scrollbar-arrow-color:#330000;
	scrollbar-track-color:#f6f6f6;
	scrollbar-darkshadow-color:#ffffff;
}
a{
	font:normal normal normal 12px/18px "宋体",Arial;
}
a:link,a:visited,a:active{
	color: #228fb7;
	text-decoration: none;
}
a:hover{
	color: #ff8010;
	text-decoration: underline;
}
input{
	vertical-align:middle;
	width:200px;
	height:18px;
	border:1px solid #b4b4b4;
}
td{
	padding:3px 0px;
	vertical-align:top;
	height:24px;
}
.info_content{
	margin:0px;
	width:100%;
	border:1px solid #acddfd;
}
.title_td{
	width:90px;
	text-align:center;
	padding-top:5px;
}
.sc {
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.sc1 {
	font-family: "宋体";
	font-size: 12px;
	color: #0063B8;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.msg{
	height:20px;
}
.info_content input{
	width:200px;
}