.numred {
	font-family: "宋体";
	font-size: 12px;
	color: #F13300;
	line-height: 18px;
	font-weight: bold;
}
.num:link {
	font-family: "宋体";
	font-size: 12px;
	color: #0063B8;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.num:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #0063B8;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.num:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF8010;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.num:active {
	font-family: "宋体";
	font-size: 12px;
	color: #FF8010;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}
.num1:link {
	font-family: "宋体";
	font-size: 12px;
	color: #0063B8;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.num1:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #0063B8;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.num1:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF8010;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.num1:active {
	font-family: "宋体";
	font-size: 12px;
	color: #FF8010;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.disabled {
	font-family: "宋体";
	font-size: 12px;
	color: #ddd;
	text-decoration: none;
	line-height: 18px;
	font-weight: normal;
}