html, body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	overflow:hidden;
}
body{
	margin:0px;
	font-family: "瀹浣", Arial;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	height:100%;
	scrollbar-face-color: #f6f6f6; 
	scrollbar-highlight-color: #ffffff; 
	scrollbar-shadow-color: #cccccc; 
	scrollbar-3dlight-color: #cccccc; 
	scrollbar-arrow-color: #330000; 
	scrollbar-track-color: #f6f6f6; 
	scrollbar-darkshadow-color: #ffffff;
}
.lm14:link {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.lm14:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.lm14:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #FF8010;
	text-decoration: underline;
	line-height: 18px;
	font-weight: bold;
}
.lm14:active {
	font-family: "宋体";
	font-size: 14px;
	color: #FF8010;
	text-decoration: underline;
	line-height: 18px;
	font-weight: bold;
}
.zanwu{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.lm {
	font-family: "宋体";
	font-size: 14px;
	color: #F16000;
	line-height: 18px;
	font-weight: bold;
	text-decoration: underline;
}
.rightbg{
	background:url(./images/lbg.gif) top;
	height:100%;
}
.dvbottom{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:2px;
	background: transparent url(./images/bottombj.gif) center bottom repeat-x;
}
.ext-strict .dvbottom{
	height:5px;
}
.style_mgr_head{
	padding-right:1px;
	background:url(./images/top_head.jpg) no-repeat left;
	font-size:14px;
	font-weight:bolder;
	color:#ffffff;
	padding-left:40px;
	height:28px;
	cursor:hand;
}
.TreeView_customize a{
	margin:0px;
	padding:0px
	overflow:hidden;
	height:17px;
	text-overflow:ellipsis; 
	white-space:nowrap;
	font-size:13px;
	color:#333333;
	text-decoration:none;
}
.TreeView_customize a:hover{
	text-decoration:underline;
	color:#FF8010;
}
.img_margin_right{
	margin-right:5px;
}
.div_padding_left{
	padding-left:15px;
}
.TreeView_customize a.a_selected{
	font-family: "宋体";
	color: #F16000;
	text-decoration: underline;
	font-weight:bold;
}