body,ul,li,table,td,th,form,fieldset,img,select,input{margin:0;padding:0;}
body,table{
	background:#ffffff;
	font:normal normal normal 12px/150% "宋体";
	scrollbar-face-color: #f6f6f6; 
	scrollbar-highlight-color: #ffffff; 
	scrollbar-shadow-color: #cccccc; 
	scrollbar-3dlight-color: #cccccc; 
	scrollbar-arrow-color: #330000; 
	scrollbar-track-color: #f6f6f6; 
	scrollbar-darkshadow-color: #ffffff;
}
input,select{vertical-align:middle;width:120px;}
iframe{vertical-align:middle;}
ul,ol{list-style:none;}
ul,li{clear:both;}
.style_set_container{
	width:850px;
}
.head{
	height:60px;
	margin:0 0 2px;
}
.head,.example,.design{
	background:#F6F6F6;
	padding:10px 9px 0 11px;
}
.body{
	height:310px;
}
.head div{
	float:left;
	padding:0 30px 0 0;
}
.example{
	float:left;
	width:396px;
	height:100%;
}
.example_img,.example_img img{
	width:100%;;
}
.example_title{
	font-weight:bold;
}
.design{
	float:right;
	width:410px;
	height:100%;
}
.design_container{
	width:410px;
}
.switch_btn_box{
	width:100%;
	height:25px;
	background:#F6F6F6;
}
.switch_btn_box td{height:25px;}
.btn{
	width:60px;
	text-align:center;
	font-weight:bold;
	border:1px solid #B4B4B4;
	border-bottom:none;
}
.switch_btn_box td a,.switch_btn_box td a:link,.switch_btn_box td a:visited,.switch_btn_box td a:active{color:#000;text-decoration:none;}
.switch_btn_box td a:hover{color:#FF8010;text-decoration:underline;}
.btn_unclick{
	background:url(./images/btn_unclick.gif) left top repeat-x;
	border-bottom:1px solid #B4B4B4;
}
.btn_clicked{
	background:#fff;
}
.base_set_box,.advanced_set_box{
	clear:both;
	border:1px solid #B4B4B4;
	border-top:none;
	background:#fff;
	height:260px;
	padding:10px 0px 10px 10px;
	overflow:auto;
	position:relative;
}
.box_hide{
	display:none;
}
.base_set_box input{width:115px;}
.base_set_box select{width:120px;}
.advanced_set_box input{width:70px;}
.advanced_set_box select{width:75px;}
.advanced_set_box .input_checkbox{
	width:20px;
}
.a_style_title{
	width:102px;
	float:left;
}
.blank_fixed{
	border-bottom:1px solid #B4B4B4;
}
/*边框样式选择器*/
.border_style_opt_blur{
	height:20px;
	padding:1px 1px 1px 1px;
	top : 0px;
}
.ext-ie6 .border_style_opt_blur{
	position:absolute;
}
.ext-strict .border_style_opt_blur{
	display:inline-block;
	width:116px;
	position:static;
	top:auto;
}
.border_style_opt_focus{
	border:1px dotted grey;
	height:20px;
}
.border_style_opt{
	width:100%;
	vertical-align:middle;
	line-height:1px;
	float:left;
	padding:7px 0 0;
}
/*可输入下拉列表框*/
.inputSelect_input{
	font-size:10pt;
	height:17px;
	width:115px!important;
}
.inputSelect_span{
	position:absolute;
	width:19px;
	height:19px;
	margin-top:4px;
	margin-left:-22px;
	text-align:left;
	overflow:hidden;
	padding:0px;
}
.inputSelect_select{
	position:absolute;
	clip:rect(2px 127px 18px 1px);
	margin-left:-99px;
	margin-top:0px;
	width:118px;
	height:21px;
	font-family: "宋体";
	font-weight: normal;
	font-size:14px;
	height:21px;
	color: #333333;
}
.radio{
	width:20px !important;
}
.fieldset_box{margin:10px 0 0;width:370px;}
.fieldset_box_head{background: url(./images/filedset_head_r.gif) no-repeat 100% -30px;}
.fieldset_box_head_left{background:url(./images/filedset_head_l.gif) no-repeat 0 -30px;background-color:#ffffff;width:60px;text-align:center;padding-left:6px;}
.fieldset_box_body{border-left:1px solid #d0d1d5;border-right:1px solid #d0d1d5;padding:5px 10px;}
.fieldset_box_bottom{background:url(./images/filedset_bottom_l.gif) no-repeat 0 0;height:4px;font-size:0px;line-height:4px;}
.fieldset_box_bottom_left{background:url(./images/filedset_bottom_r.gif) no-repeat 100% 0;height:4px;font-size:0px;line-height:4px;}
.fieldset_box_content{width:100%;}
.set_title{text-align:right;width:120px;position:relative;height:30px;}
.set_value{padding-left:10px;position:relative;height:30px;}
.btn_left{margin-left:5px;float:left;background:url(./images/huianl.gif) left center no-repeat;padding-left:5px;height:21px;cursor:pointer;width:50px;}
.btn_right{background:url(./images/huianr.gif) right center no-repeat;padding-right:5px;height:21px;float:left;}
.btn_center{background:url(./images/huianc.gif) center center repeat-x;height:21px;text-align:center;}
.btn_center{font-family: "宋体";font-size: 12px;color: #333333;font-weight: normal;line-height: 21px;}
.btn_center a{color: #333333;text-decoration:none;line-height: 21px;}
.btn_center a:hover{color: #0063B8;text-decoration: none;}
.inputselectsp{
	position:absolute;
	display:inline-block;
	height:18px;
	top:0px;
}
.ext-ie6 .border_style_select{
	position:absolute;
}
.ext-strict .border_style_select{
	position:absolute;
}
.ext-strict .inputselectsp{
	position:relative;
	height:10px;
	top:auto;
}
.css_name input{
	border:1px solid #b4b4b4;	
}
.css_id input{
	border:1px solid #b4b4b4;	
}
.resumethumb{
	padding-left:3px;
}
.inputtext{
	border:1px solid #b4b4b4;	
}
.ext-strict .inputSelect_span{
	margin-top:0px;
	margin-left:-21px;
}
.ext-ie6 .inputSelect_span{
	margin-top:5px;
}
.fileuploadiframe{
	height:30px;
	width:180px;
	float:left;
}
.ext-gecko .fileuploadiframe{
	width:190px;
}
 