html{
	margin:0px;
	padding:0px;
	height:100%;
}
body{
	margin:0px;
	font-family: "宋体", Arial;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	height:100%;
	overflow:hidden;
	scrollbar-face-color: #f6f6f6; 
	scrollbar-highlight-color: #ffffff; 
	scrollbar-shadow-color: #cccccc; 
	scrollbar-3dlight-color: #cccccc; 
	scrollbar-arrow-color: #330000; 
	scrollbar-track-color: #f6f6f6; 
	scrollbar-darkshadow-color: #ffffff;
}
.lm14:link {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.lm14:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}
.lm14:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #FF8010;
	text-decoration: underline;
	line-height: 18px;
	font-weight: bold;
}
.lm14:active {
	font-family: "宋体";
	font-size: 14px;
	color: #FF8010;
	text-decoration: underline;
	line-height: 18px;
	font-weight: bold;
}
.lmactive{
	color: #FF8010!important;
}
.lm {
	font-family: "宋体";
	font-size: 14px;
	color: #05539f;
	line-height: 20px;
	font-weight: bold;
	text-decoration: underline;
	padding-left:10px;
	padding-top:10px;
}
.imgtd{
	padding-left:10px;
}
.rightbg{
	background:url(./images/lbg.gif) top;
}
.dvbottom{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:2px;
	background: transparent url(./images/bottombj.gif) center bottom repeat-x;
}
.ext-strict .dvbottom{
	height:5px;
}
 
.style_mgr_head{
	background:url(./images/top_head.gif) no-repeat left;
	font-size:14px;
	font-weight:bolder;
	color:#05539f;
	height:39px;
	line-height:39px;
	padding-left:50px;
	cursor:hand;
}
.biaoqian{
	padding-top:5px;
}
.biaoqiancon{
	padding-left:10px;
}