html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.rstyle_box{
	padding:10px;
	height:300px;
	overflow:auto;
}
.thumb{
	float:left;
	cursor:default;
	padding:6px 12px;
	margin-right:30px;
	margin-bottom:20px;
	border:1px solid #E0E0E0;
	font-size:12px;
	background:url(../images/list/thumb-bg.gif) top center repeat-x;
}
.thumb .desc{
	width:80px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:black;
	font-weight:bold;
	text-align:center;
}
.thumb .pic{
	width:100px;
	height:100px;
	background: url(../images/zt_wt.gif) center center no-repeat;
}
.thumb img{
	width:100px;
	height:100px;
}
.selectAllBox{
	height:30px;
	line-height:30px;
	background:#E4F4FE;
	padding-left:10px;
}