#bodyContainer{width:192px;height:100%;overflow:auto;}
.ext-ie8 #bodyContainer{position:absolute;overflow:hidden;}
/*strict*/
.ext-strict .layout_center_container{top:21px;height:auto;bottom:0;}
/*ie6*/
.ext-ie6 .layout_container{padding-top:21px;height:100%;}
/*ie7*/
.ext-ie7 .nav_tree{position:absolute;top:0;bottom:0;}
/*all*/
.layout_north{height:22px;}
.nav_options{position:absolute;left:0px;top:0px;width:100%;height:21px;background:url(../../images/nav_tree/nav_tree.png) left -111px no-repeat;overflow:hidden;}
.TreeView{
	width:100%;
	height:100%;
	overflow:auto!important;
	border:1px solid #686868;
	border-top:0;
	background:#FFFFFF;
}
.ext-ie7 .TreeView{position:absolute;top:0;bottom:0;left:0;right:0;width:auto;}

.TreeView ul{padding:0 0 0 15px;}

.TreeView div.classinfoRoot{
	background:transparent url(../../images/nav_tree/bg.png) 1px -757px no-repeat;
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.classinfoRootOpened{
	background:transparent url(../../images/nav_tree/bg.png) 1px -728px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.classInfoFolder{
	background:transparent url(../../images/nav_tree/bg.png) 9px -481px no-repeat;	
	text-indent:32px;
}
.TreeView div.classInfoFolderOpened{
	background:transparent url(../../images/nav_tree/bg.png) 9px -457px no-repeat;	
	text-indent:32px;
}
.TreeView div.classInfoPage{
	background:transparent url(../../images/nav_tree/bg.png) 9px -338px no-repeat;	
	text-indent:32px;
}
