/* 命令按钮开始 */
.okBtn, .cancelBtn{
	display:inline-block;
	font-size:12px;
	width:70px;
	height:18px;
	padding-top:4px;
	text-align:right;
	padding-right:12px;   
	border:1px solid #ECE9D8;
	cursor:default;
}
.okBtn{
	background:url('../images/individuation/ok.png') no-repeat 12px center #ECE9D8;  
}
.cancelBtn{
	background:url('../images/individuation/cancel.png') no-repeat 12px center #ECE9D8;  
}
.btnHover{
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	cursor:default;
}
.btnDown{
	border-top:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid white;
	border-bottom:1px solid white;
	cursor:default;
}
/* 命令按钮结束 */


/* 导航树部分START */
#leftNavTree{
	width:150px;
	height:100%;
	background-color:#fff;
	border:1px inset gray;
	overflow:auto;
}
#leftNavTree div{ 
	line-height:16px;
	height:16px;
	padding:0px 4px 0px 20px;
	white-space:nowrap;
	overflow:visible;
	overflow-y:hidden;
}
#leftNavTree ul{ 
	margin-left:16px;
}
.treeNodeOpen{
	margin-left:1px;
	background:url('../images/individuation/open.bmp') 0px center no-repeat; 
}
.treeNodeClose{
	background:url('../images/individuation/close.bmp') 0px center no-repeat; 
}
.treeNodePage{
	background:url('../images/individuation/page.bmp') 0px center no-repeat; 
}
.treeNodeActive{
	background-color:highlight;
	color:white;
}
/* 导航树部分END */


/* 操作面板部分START */
#operatorTypeContainer  div{
	height:20px;
	padding:4px;
	cursor:pointer;
}

.ext-gecko #operatorTypeContainer  div, .ext-chrome #operatorTypeContainer  div, .ext-safari #operatorTypeContainer  div{
	height:auto;
	padding:4px;
	cursor:pointer;
}

.ext-gecko #operatorTypeContainer, .ext-chrome #operatorTypeContainer, .ext-safari #operatorTypeContainer{
	height:345px !important;
}

.ext-gecko #operatorContainer, .ext-chrome #operatorContainer, .ext-safari #operatorContainer{
	height:345px !important;
}

#operatorTypeContainer .separator{
	border-top:1px solid gray;
	height:0px!important;
	height:1px;
	overflow:hidden;
	padding:0px!important;
}

.wcm_operator{        
	height:20px;
	padding:4px 4px 4px 30px;
	background-repeat:no-repeat;
	background-position:6px center;
	cursor:pointer;
}
/* 操作面板部分END */



/* 自定义站点START */
.customSiteRow{
	padding-left:5px;
}
.customSiteRow div{
	margin-left:0px;
	padding-left:1px;
	display:inline;
}
/* 自定义站点END */


/* 自定义栏目START */
.customChannelRow{
	padding-left:5px;
}
.customChannelRow div{
	margin-left:0px;
	padding-left:1px;
	display:inline;
}


.OperTypeSeparator{
	height:1px;
	border:1px solid gray;
	overflow:hidden;
}
/* 自定义栏目END */


/* 登陆Tab Start */
.backgroundImgRow{
	padding-left:23px;
	padding-top:2px;
	padding-bottom:2px;
	height:18px;
	background-repeat:no-repeat;
	background-position:4px center;
	background-image:url('../images/individuation/jpg.bmp');
}
.backgroundImgRow_gif{
	background-image:url('../images/individuation/gif.bmp');
}
.backgroundImgRow_bmp{
	background-image:url('../images/individuation/bmp.bmp');
}
.backgroundImgRow_jpg{
	background-image:url('../images/individuation/jpg.bmp');
}
/* 登陆Tab End*/


.footerRow{
	margin:0 4px 3px 4px;
	padding:1px;
}
.documentEditRow{
	margin-bottom:3px;
}