.XRelatedDoc .relateddoc-select{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(relation.gif) center center no-repeat;
}
.XDisabledCls .relateddoc-select{
	filter:gray;
	cursor:default;
}
.XRelatedDoc .relateddoc-item{
	line-height:20px;
}
.ext-gecko .XRelatedDoc .relateddoc-item{
	margin-left:15px;
	padding-left:0px;
}