.fl {
	float: left;
}

.pos {
	float: left;
	position: relative;
}


.clear{clear:both;}

#example2 {
	margin: 0
}

.wrapModule{
	min-height: 466px;
	
}

.nonAllow{
    cursor: not-allowed;
    opacity: 0.65;
	filter:alpha(opacity=65); 
}


.red{
	color:red ;
}

.table>thead>tr>th{
	border-bottom-color:#1E89E1;
}

