/*手机*/



@media screen and (max-width:1360px){ {
	/* 标题栏 */
	.wraper {
		max-width: 640px;
		min-width: 340px;
		overflow-x: scroll;
	}
	.table tbody tr td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	
	#feedback {
		max-width: 640px;
	}
}


@media screen and (max-width:1200px){
  .topLink{
		margin-left: 0;
		float:left;
	}
	
	.topdiv h2{float:left;font-size: 18px}
}