body{
	padding:0;
	margin:0;
}
.ext-strict .container{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:1px solid #868789;
	overflow:auto;
}

.ext-ie6 .container{
	position:relative;
	width:100%;
	height:100%;
	padding:0px;
	overflow:auto;
	border:1px solid #868789;
}
.container table{
	border-collapse:collapse;
	width:100%;
	height:100%;
}
.container table td{
	border:8px solid white;
	vertical-align:top;
}
.flash_chart{
	text-align:center;
	vertical-align:middle;
	height:100%;
}

.head-l{
	padding-left:4px;
	font-size:14px;
	overflow:hidden;
	height:31px;
	line-height:31px;
	font-weight:bold;
	background:url("images/table-border/head-l.gif") no-repeat;
}
.head-l .r{
	padding-right:4px;
	height:100%;
	background:url("images/table-border/head-r.gif") no-repeat right top;
}
.head-l .c{
	overflow:hidden;
	height:100%;
	background:url("images/table-border/head-c.gif") repeat-x;
	padding:0 10px;
}
.head-l .c .detail{
	float:right;
	display:none;
}

.head-title{
	height:30px;
	line-height:30px;
	border:1px solid #d1d1d1;
	border-bottom:none;
	overflow:hidden;
	background:#f8f8d8;
	text-align:center;
}
.head-title a{
	font-family:微软雅黑;
	color:#333333;
	text-decoration: none;
	font-size:18px;
}

.body-l{
	border:1px solid #d1d1d1;
	border-top:none;
	background:#f8f8d8;
}
.body-l .r{
	padding-right:4px;
	height:100%;
}
.body-l .c{
	height:100%;
	padding:5px;
}
.foot-l{
	padding-left:4px;
	display:none;
	background:#f8f8d8;
}
.foot-l .r{
	padding-right:4px;
	height:100%;
}
.foot-l .c{
	height:100%;
}
.title{
	color:#1e1583;
}
