.jazz-form-text-label{
	line-height:30px;
	height:30px;
	padding:0px;
	
}
.jazz-field-comp-label{
	width:120px;
	height:30px;
	margin:0px;
	background-color:#DCEEEF;
	border-right:1px solid #908686;
}


.jazz-field-comp{
	margin:0px 0px 0px;
	padding:0px;
	height:30px;	
}

.jazz-table-innerborder{
	margin:0px;
}

tr{
	height:30px;
}

td div{
	height:30px;
}
.jazz-table-innerborder{
	border:1px solid #908686;
	background-color:white;
}

body{
	 overflow:visible;
}
.jazz-formpanel-content{
	padding:0px;
}