#divPontoon{
	background:gray; 
	padding:1px;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color=#777777, direction=135, strength=5);
}
#divHeader{
	background: aliceblue; 
	padding:3px;
	padding-left:5px;
	border-bottom:1px solid lightgrey; 
	height:16px;
	font-size:11px;
	cursor: move;
}
#divHeaderTitle{
	float:left; 
	text-align:left;
	cursor: move;
}
#divHeaderCloser{
	float: right; 
	text-align: center; 
	cursor: pointer;
	font-family: DotumChe;
	font-weight: bold;
}
#divContent{
	background: #ffffff;
	overflow:hidden;
}