.menuBar{position:absolute;margin:0px;padding:0px;font-size:12px;cursor:default;z-index:2;}
.menuBar:focus{-moz-outline-style: none;}
.menuBar .wcm_display_none{display:none;}
.menuBar .menu{float:left;}
.menuBar .menuDesc{padding:5px 8px;color:#ffffff;}
.menuBar .menuContent{position:absolute;border:1px solid #AFAFAF;overflow:visible;background-color:#f1f7fc;}
.menuBar .item{float:none;position:relative;background-color:#EAEAEA;}
.menuBar .item .menuDesc{line-height:20px;height:20px;white-space:nowrap;background-color:#ffffff;padding:0px 15px;min-width:120px;width:auto;color:#0169b8}
.ext-ie6 .menuBar .item .menuDesc{overflow:visible;width:auto;}
.menuBar .item .menuContent{position:absolute;top:-1px;left:100%;padding:0px;margin:0;border-color:#AFAFAF;border-style:solid;border-width:1px 1px 1px 1px;background-color:#f1f7fc;}
.menuBar .hasChild{background:url("arrow.gif") no-repeat center right #EAEAEA;}
.menuBar .noChild{overflow:hidden!important;visibility:hidden!important;width:0px!important;}
.menuBar .moreItem{background:url("more.png") no-repeat center center #EAEAEA;width:100%;height:12px;overflow:hidden;}
.menuBar .checkItem{background:url("check.gif") no-repeat 3px center #EAEAEA;}
.menuBar .radioItem li{list-style-type:disc;}
.ext-ie6 .menuBar .radioItem li{margin-left:-15px;}
.menuBar .separate{height:1px;overflow:hidden;background-color:#cccccc;}
.ext-strict .menuBar .separate{width:auto;margin-right:2px;}
.ext-ie6 .menuBar .separate{width:100%;margin-right:2px;}
.menuBar .item_over{background-color:#f1f7fc!important;color:#0169b8;}
.menuBar .item_out{background-color:transparent;color:#ffffff;}
.menuBar .item .item_out{background-color:#ffffff;color:#0169b8;}
.menuBar .disabled{color:inactiveborder !important;}
.menuBar .hotKey{text-decoration:underline;}