.fxheader {
	background-image: url(../../../page/image/logoBm.jpg);
	margin: 0;
	padding: 0;
	height: 100%; width : 100%;
	padding: 0;
	border: 0;
	width: 100%;
}

.fxlogo {
	border: 0; margin : 0;
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0;
}

img {
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0px;
	border-collapse: collapse;
}

html {
	height: 100%;
	width: 100%;
}

.fxdivContent {
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

body {
	height: 100%;
	width: 100%;
}