.groupSet_option{
	margin-bottom:10px;
	padding-left:10px;
}
.groupSet_inputSpan{
	width:17px;
	height:17px;
	float:left;
}
.groupSet_groupName{
	float:left;
	width:90px;
	word-break:break-all;
}
.account_to_group{
	text-decoration:none;
	cursor:pointer;
}
.account_to_group_list{
	padding-top:10px;
	position:absolute;
	top:20px;
	left:-10px;
	background:#fff;
	width:138px;
	max-height:180px;
	overflow-y:auto;
	border:1px solid #BCBCBC;
	display:none;
	z-index:888;
}