/*绑定账号的CSS样式*/
#counts div img{
	cursor:hand;
}
.bindTitleFont{
	float:left;font-size:20px;
}
.bindFont{
	color:#FF0E00;
	padding-top:10px;
	padding-bottom:25px;
	line-height:30px;
}
.bindContainer{
	font-size:14px;
	padding-left:41px;
}
.paddingTop35Px{
	padding-top:35px;
}