// 修改账号的
.porsonlOperate{
	float:right;
	width:248;
	height:64px;
	color:#959595;
}
.bodyColor{
	margin:0px;
	padding:0px;
	min-height:550px;
	background:#fff;
	color:#606060;
}
.createGroupPicture{
	float:right;
	cursor:hand;
	margin-right:20px;
}
.personalCount{
	width:750px;
	height:62px;
	padding:15px 0px;
	margin:0 auto;
}
.expressOperate{
	color:#606060;
	width:682px;
	height:64px;
	float:right;
	font-size:14px;
	padding:0px;
	margin:0 auto;
}
.height31Px{
	height:31px;
}
.express{
	height:31px;
	padding-top:5px;
}
.margin20Px{
	margin-top:20px;
}
.changeInfoFont{
	float:left;
	font-size:20px;
	color:#0D4B9B;
}
.returnListFontContainer{
	float:right;
	cursor:hand;
	margin-right:20px;
}
.margin_bottom_5Px{
	margin-bottom:-5px;
}
.returnListFont{
	font-size:12px;
	color:#0D4B9B;
}
.padding_left_0Px{
	padding-left:0px;	
}
.fansInfo{
	float:left;
	width:448px;
}
.color_num{
	color:#0078b6;
}
.colorLine{
	color:#000;
}
.textareaExpress{
	width:664px;
	height:141px;
	overflow:hidden;
	resize:none;
}
.alarmText{
	float:right;
	font-size:12px;
}
.margin_top13Px{
	margin-top:13px;
}