.p_doc_title_li{
	font-family:${p_w_list_li_font_family};
	font-size:${p_w_list_li_font_size};
	line-height:${p_w_list_li_line_height};
	padding-left:${p_w_list_li_padding_left};
	background:url(${p_w_list_li_background}) left center no-repeat;
}
.p_doc_title a:link{
	text-decoration:${p_w_list_li_a_text_decoration};
	color:${p_w_list_li_a_color};
}
.p_doc_title a:active{
	text-decoration:${p_w_list_li_a_text_decoration};
	color:${p_w_list_li_a_color};
}
.p_doc_title a:visited{
	text-decoration:${p_w_list_li_a_visited_text_decoration};
	color:${p_w_list_li_a_visited_color};
}
.p_doc_title a:hover{
	text-decoration:${p_w_list_li_a_hover_text_decoration};
	color:${p_w_list_li_a_hover_color};
}
.datetime{
	font-size:${datetime_font_size};
	font-family:${datetime_font_family};
	color:${datetime_color};
	margin-left:5px;
}
