.p_w_head,.p_w_title,.p_w_more{
	display:none;
}
.p_w_body{
	border-style:${p_w_body_border_style};
	border-width:${p_w_body_border_width};
	border-color:${p_w_body_border_color};
	background-color:${p_w_body_background_color};
}
.p_w_content_box{
	padding:${p_w_content_padding};
	background-color:${p_w_content_background_color};
}
.p_w_foot_bg{
	display:none;
}
.p_w_content{
	background:url(${p_w_content_background}) ${p_w_content_background_repeat} ${p_w_content_background_pos_x} ${p_w_content_background_pos_y} ;
}