.p_w_head{
	height:${p_w_head_height};
	background:url(${p_w_head_background}) repeat-x 0 0;
}
.p_w_title{
	font-size:${p_w_head_font_size};
	font-weight:${p_w_title_font_weight};
	padding-top:${p_w_title_padding_top};
	padding-bottom:${p_w_title_padding_bottom};
	padding-left:${p_w_title_padding_left};
	color:${p_w_title_color};
	display:${p_w_title_display};
}
.p_w_title a{color:${p_w_title_a_color};}
.p_w_title a:visited{
	text-decoration:${p_w_title_a_text_decoration};
	color:${p_w_title_a_color};
}
.p_w_title a:link{
	text-decoration:${p_w_title_a_text_decoration};
	color:${p_w_title_a_color};
}
.p_w_title a:active{
	text-decoration:${p_w_title_a_text_decoration};
	color:${p_w_title_a_color};
}
.p_w_title a:hover{
	text-decoration:${p_w_title_a_hover_text_decoration};
	color:${p_w_title_a_hover_color};
}
.p_w_more{
	width:${p_w_more_width};
	font-size:${p_w_more_font_size};
	font-weight:${p_w_more_font_weight};
	padding-top:${p_w_more_padding_top};
	padding-right:${p_w_more_padding_right};
	background:url(${p_w_more_background}) right top no-repeat;
}
.p_w_more a{display:${p_w_more_a_display};}
.p_w_more a:link{
	text-decoration:${p_w_more_a_text_decoration};
	color:${p_w_more_a_color};
}
.p_w_more a:visited{
	text-decoration:${p_w_more_a_text_decoration};
	color:${p_w_more_a_color};
}
.p_w_foot_bg{
	display:none;
}
.p_w_more a:active{
	text-decoration:${p_w_more_a_text_decoration};
	color:${p_w_more_a_color};
}
.p_w_more a:hover{
	text-decoration:${p_w_more_a_hover_text_decoration};
	color:${p_w_more_a_hover_color};
}
.p_w_body{
	border-style:${p_w_body_border_style};
	border-width:${p_w_body_border_width};
	border-color:${p_w_body_border_color};
	background-color:${p_w_body_background_color};
}
.p_w_content_box{
	background-color:${p_w_content_background_color};
}
.p_w_content{
	padding:${p_w_content_padding};
	background:url(${p_w_content_background}) ${p_w_content_background_repeat} ${p_w_content_background_pos_x} ${p_w_content_background_pos_y};
}