<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 
	例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.ye.dao.StockMailDao">


	<select id="selectSenderMail" resultType="StockMail">
		select mailAddress from
		stock_mail
	</select>

	<select id="getMailAdressAllowByStockRate" resultType="StockMail">
		select
		mailAddress,stockRateTimes from stock_mail where stockRateTimes !=0
	</select>

	<select id="getMailAdressNotAllowByStockRate" resultType="StockMail">
		select
		mailAddress,stockRateTimes from stock_mail where stockRateTimes = 0
	</select>

	<select id="getMailAdressAllowBySMSStockRate" resultType="StockMail">
		select
		mailAddress,smsRateTimes from stock_mail where smsStockRateTimes
		!=0
	</select>
	<select id="getMailAdressNotAllowBySMSStockRate" resultType="StockMail">
		select
		mailAddress,smsRateTimes from stock_mail where smsStockRateTimes
		!=0
	</select>

	<update id="diableEmailByStockRate" parameterType="StockMail">
		update
		stock_mail
		set
		stockRateTimes =
		#{stockRateTimes} where
		mailAddress =
		#{mailAddress}
	</update>


	<update id="diableBySMSStockRate" parameterType="StockMail">
		update
		stock_mail
		set
		smsStockRateTimes =
		#{smsStockRateTimes} where
		mailAddress
		= #{mailAddress}

	</update>


	<update id="enableEmailByStockRate" parameterType="StockMail">
		update
		stock_mail
		set
		stockRateTimes =
		#{stockRateTimes} where
		mailAddress =
		#{mailAddress}
	</update>


	<update id="enableBySMSStockRate" parameterType="StockMail">
		update
		stock_mail
		set
		smsStockRateTimes =
		#{smsStockRateTimes} where
		mailAddress
		= #{mailAddress}

	</update>



	<update id="updateMailAddress" parameterType="StockMail">
		update stock_mail
		set
		mailAddress =
		#{mailAddress} where mailAddress = #{mailAddress}
	</update>



	<update id="isPermitted" parameterType="StockMail">
		update stock_mail set
		ispermitted =
		#{ispermitted} where mailAddress = #{mailAddress}
	</update>

	<insert id="save" parameterType="StockMail">
		INSERT INTO stock_mail
		(mailId,mailAddress,mailName) VALUES (#{mailId},
		#{mailAddress},#{mailName})
	</insert>



</mapper>