.XOtherField .selectOtherTable{
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(selectFields.gif) center bottom no-repeat;
}
.ext-ie6 .XOtherField .selectOtherTable{
	display:inline;
}
.XDisabledCls .selectOtherTable{
	filter:gray;
	cursor:default;
}
