@charset "utf-8";

/*头部开始*/
.hb {
	background: #2c3e50;
	height: 75px;
	line-height: 75px;
}

.header div.pull-left {
	font-size: 14px;
	font-weight: bold;
	line-height: 70px;
	color: #ffffff;
}

.header .nav-ul {
	margin: 0;
	float: right;
}

.header .nav-ul li {
	float: left;
	color: #fff;
	width: 120px;
	text-align: center;
}

.header .nav-ul li.active {
	color: #E87E04;
}
/*头部结束*/

/*关于我*/
.aboutMe .mod1{
	display: table;
	margin: 2px auto;
	margin-top: 105px;
}

.section h2{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #2c3e50;
    padding: 150px 0 0;
    letter-spacing: 2px;

 }
.section hr{
    height: 4px;
    width: 0px;
    text-align: center;
    position: relative;
    background: #E87E04;
    margin: 0 auto  80px;
    border: 0;
    transition: all 0.5s 0.2s;
}
.section.active hr{
    width: 70px;
}