<?xml version="1.0" encoding="GB2312"?>
<plugin name="WCM文库组件" version="1.0" id="wcm.content.swf">
	<beans>
		
		<!-- WCMOBJ Life Cycle Listeners BEGIN -->
		<bean id="DocumentListenerForFileToSWF" 
			class="com.trs.components.wcm.content.swf.DocumentListenerForFileToSWF" 
			singleton="true"/>
		
	</beans>
</plugin>