table{
	font-size: 12px;
}
body{
	margin-top: 0;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
 
.grid_head_column{
	background: #F4FCFF;
	cursor: default;
	border-top: 1px solid silver;
}
.grid_row{
	cursor: default;
}
current_list_node_{
	background-image:url(../images/workflow/green.gif)
}
.gunter_node_common{
	border: 1px solid gray;
	margin-left: -1px;
	background: whitesmoke;
	color: gray;
	height: 10px;
	margin-top: 5px;
	white-space:nowrap;
	width: 20px;
	padding: 2px;
	text-align: center;
	margin-bottom:-7px;
}
.gunter_sep_header{
	width: 11px; 
	height: 100%;
	background-image: url(../images/workflow/icon_arrow_header.gif);
	background-position: left center; 
	background-repeat: no-repeat; 	
}
.gunter_node_title{
	font-size: 12px; 
	text-align: center;
	line-height: 20px;
	height: 20px;		
}
.dv_item{
	width: 100%;
}
.dv_item_sep{
	border-top: 1px dashed silver;
	width: 100%;
	height: 3px;
}
.help-tooltip {
	width:	180px;
	padding: 5px;
}
.icon_flag_18, .icon_flag_7{
	background-repeat:no-repeat;
	background-position:0 0;
	width: 18px;
	height:20px;
	padding-left:20px;
}
.icon_flag_18{
	background-image: url(../images/workflow/falg_ended_normal.gif);
}
.icon_flag_7{
	background-image: url(../images/workflow/falg_ended_forced.gif);
}
.flow_start{
	padding-left:25px;height:20px;padding-top:2px;background:url(../images/workflow/option_start.gif) no-repeat 0 0;font-size:12px;color:#c65603!important;
}
.flow_cease{
	padding-left:25px;height:20px;padding-top:2px;background:url(../images/workflow/option_cease.gif) no-repeat 0 0;font-size:12px;color:#c65603!important;
}
.flow_reflow{
	padding-left:25px;height:20px;padding-top:2px;background:url(../images/workflow/option_reflow.gif) no-repeat 0 0;font-size:12px;color:#c65603!important;
}
.docnomal{
	padding-right:360px;float:right;
}
.docphoto{
	font-size:15px!important;
}
/*for en*/
.docnomal{
	padding-right:400px;
}