/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/
td.doctitle{text-align:left;font-size:14px;padding:4px 0px 4px 2px;line-height:21px;white-space:normal!important;}
.func_post{
	background: url(../images/workflow/option_process.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.func_show{
	background: url(../images/workflow/option_show.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.func_reasign_1{
	background: url(../images/workflow/option_arrange.gif);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: pointer;
}
.func_reasign_0{
	background: url(../images/workflow/option_arrange_un.gif);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: default;
}
.func_cease_0{
	background: url(../images/workflow/option_cease.gif);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: pointer;
}
.func_cease_1{
	background: url(../images/workflow/option_reflow.gif);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: pointer;
}

.accepted_0{
	font-weight: bold;
}
.icon_accepted_0{
	background-image:url(../images/workflow/option_sign.gif);
	background-repeat:no-repeat;
	background-position:center center;
	width: 18px;
	line-height: 18px;
}
A.doc_title_:link, A.doc_title_:hover, A.doc_title_:visited{
	cursor: default;
	text-decoration: none;
	color: #010101;
}
.datetime{
	font-family: georgia;
}
.help-tooltip {
	position:	absolute;
	width:		420px;
	border:		1px Solid WindowFrame;
	background:	aliceblue;
	color:		InfoText;
	font:		StatusBar;
	font:		Status-Bar;
	padding:	5px;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3);
	z-index:	10000;
}
.help-tooltip a,
.help-tooltip a:hover {
	color:		blue !important;
	background:	none;
}
.dv_detail{
	margin-top: 5px;
	padding: 3px;
	font-size: 14px;
	line-height: 50px;
	width: 100%;
	overflow:auto;
}
.dv_item{
	width: 100%;
}
.dv_item_sep{
	border-top: 1px dashed silver;
	width: 100%;
	height: 3px;
}
.sp_title{
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	white-space: nowrap;
}
.sp_detail{
	margin-top: 5px;
	padding: 3px;
	font-size: 14px;
	line-height: 18px;
}
.icon_flag_2, .icon_flag_7, .icon_flag_8{
	background-repeat:no-repeat;
	background-position:center center;
	width: 18px;
	line-height: 18px;
}
.icon_flag_2{
	background-image: url(../images/workflow/ball_4.gif);
}
.icon_flag_7{
	background-image: url(../images/workflow/ball_7.gif);
}
.icon_flag_8{
	background-image: url(../images/workflow/ball_6.gif);
}
.rowtd{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	PADDING-LEFT: 10px;
	TEXT-ALIGN: left;
	word-wrap : normal !important;
}
.flowcontent_attr_value{
	float:left;
	top:1px;
	height:18px;
	line-height:18px;
	padding:1px;
	width:150px;
	text-decoration: none;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.title_unreaded{
	font-weight: bold !important;
}
.title_normal{
	font-weight: normal;
}

.flowdoc_sign{background-position: -0px -160px;}
.toolbar_item_disabled .flowdoc_sign{background-position: 0 -1136px;}

.flowdoc_refuse{background-position: -0px -32px;}
.toolbar_item_disabled .flowdoc_refuse{background-position: 0 -1008px;}

.flowdoc_rework{background-position: -0px -256px;}
.toolbar_item_disabled .flowdoc_rework{background-position: 0 -1232px;}

.flowdoc_show{background-position: -0px -176px;}
.toolbar_item_disabled .flowdoc_show{background-position: 0 -1152px;}

.flowdoc_delete{background-position: -0px -784px;}
.toolbar_item_disabled .flowdoc_delete{background-position: 0 -1760px;}

.flowdoc_edit{background-position:  0 -736px;}
.toolbar_item_disabled .flowdoc_edit{background-position:0 -1712px;}

.flowdoc_detailpublish{background-position: -0px -432px;}
.toolbar_item_disabled .flowdoc_detailpublish{background-position: 0 -1408px;}

.action_refresh{background-position: -0px -304px;}