/*中文*/
/*strict*/
.ext-strict .layout_center{left:0;right:0px;}
.ext-strict .layout_center_innercontainer{top:29px;bottom:0;}
/*ie6*/
.ext-ie6 .layout_center_container{padding-left:0;padding-right:2px;}
.ext-ie6 .layout_innercontainer{padding-top:29px;padding-bottom:0;}
/*all*/
.layout_east{display:none;}
#south_tabs{display:none;}
.pageinfo{background:transparent;}

