#body{
	margin: 0px;
	color: #000;
	font: Verdana, Arial;
	font-size: 14px;
}

.highlight{
	font-size: 18;
	text-align : center;
}

.title{
    font-size: 24px;
    padding: 3px 5px 1px;
    background-color: #DCDCDC;
}

.title1_api{
    font-size: 18px;
	padding: 1px 5px 1px;
    background-color:#E9D2FF;
}

.title2_api{
    font-size: 14px;
	padding: 3px 5px 1px;
    background-color:#E3E3E3;
}

#table{

}

#td{
	font-size: 12;
	text-align:center;
}
.table1		{border-style:Solid; border-width:1px; border-color:#000099;}

.trbg0	{
	background-color: #ffffff;
	color:#000000;
	font-size: 12px;
}

.trbg1 {
	background-color: #E6EFFB;
	color:#000000;
	font-size: 12px;
}

.trbg2 {
	background-color: orange;
}

.trbg3 {
	background-color: pink;
	color:#000000;
	font-size: 12px;
    align:center;
}
.button {
	font-size: 12px;
	color: #000000;
	border: 1px ridge #666666;
}

.STYLE1 {color: blue}
