.colorpicker{position:absolute;width:150px;padding:2px;overflow:hidden;border:1px solid black;background:#FFF;cursor:pointer;}
.ForceBaseFont{width:144px;}
.colorheader{padding:1px 0;}
.colorheader1{padding:0;background-color:#CCCCFF;border:1px solid #99CCFF;}
.ColorBoxBorder{width:16px;height:16px;padding:1px;}
.ColorBoxBorder1{width:15px;height:15px;padding:0;background-color:#CCCCFF;border:1px solid #99CCFF;}
.ColorBox{margin:2px;border:1px solid gray;width:10px;height:10px;}