.wcm-cbd{position:absolute;left:0px;right:0px;z-index:999999;background-color:#F1F1F1;}
.wcm-cbd *{margin:0px;padding:0px;}

 /*header layout*/

.wcm-cbd .header{background:url(cb.gif) left -68px no-repeat;cursor:move;padding-left:7px;}
/* .ext-ie .header {margin-right:-2px;} */
.wcm-cbd .header .r{background:url(cb.gif) right -33px no-repeat;padding-right:7px;}
.wcm-cbd .header .c{height:33px;background:url(cb.gif) center -102px repeat-x;overflow:hidden;}
.wcm-cbd .header .spt{display:none;}
.wcm-cbd .header .title{float:left;width:80%;padding-left:5px;line-height:33px;font-size:12px;font-weight:bold;white-space:nowrap;overflow:hidden;color:white;}
.wcm-cbd .header .tools{float:right;height:100%;}
.wcm-cbd .header .close{float:right;width:26px;height:100%;cursor:default;}
.wcm-cbd .header .close:link, .header .close:visited{background:url(cb.gif) left -1px no-repeat;}
 
/*footer layout*/

.wcm-cbd .footer{display:none;}

/*body content*/
.wcm-cbd .body {border:1px solid #8D8D8D;}

.wcm-cbd .body .cb-table {height:100%;table-layout:fixed;font-size:12px;width:100%;}

.wcm-cbd .body iframe{background:white;border-bottom:1px solid #8D8D8D;}

/*button*/

.cbd-btn-left{padding-left:8px;background:url(d1.gif) left -234px no-repeat;}
.cbd-btn{zoom:1;height:100%;padding-left:5px;padding-right:5px;background:url(d1.gif) left -256px repeat-x;border:0px;}

.wcm-btn{display:inline-block;*display:inline;height:31px;margin:2px 5px;}

.wcm-btn-left{height:21px;}/*这个样式只为了修正模板页面的弹出框*/

.cbd-btn{text-align:center;width:70px;height:27px;line-height:24px;cursor:pointer;}
.wcm-panel-shield{position:absolute;left:0px;top:0px;width:100%;height:100%;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);background-color:#FFFFFF;}
.cbd-btn b{font-weight:normal;}

.cbd-btn,.cbd-btn-right,.cbd-btn-left {display:inline-block;*display:inline;height:21px;color:white;line-height:21px;}
.cbd-btn-right{padding-right:8px;background:url(d1.gif) right -212px no-repeat;}
