@charset "UTF-8";

.header {
	background-repeat: repeat-x;
	height: 15.4rem;
	background: url(../../statics/images/2013-1.jpg);
}

.topdiv #flash {
	height: 15.4rem;
	margin: 0 auto;
	width: 100.3rem;
}

a {
	text-decoration: none;
	color: #666;
	cursor: pointer;
}


.form-group .control-label {
	font-weight: normal;
}

/* .form-group .form-control {
	height: 28px;
	line-height: 28px;
} */

.form-group .changeCodeTips {
	color: blue;
}




#tips {
	padding: 0 6.4rem;
}

#tagsSwitch {
	margin-top:2rem;
	display: none;
	padding-bottom: 1.2rem;
}

#tagsSwitch h2 {
	font-family: "微软雅黑";
	font-size: x-large;
	text-align: center;
}

#tagsSwitch .titleLine {
	height: 1px;
	background: #9A9A9A;
	width: 98%;
	margin: 0 auto;
	margin-top: -13px;
}

#tagsSwitch .tab-content h2 {
	font-size: medium;
	text-align: left;
}

#tagsSwitch .queryExport {
	padding:0.4rem;
	margin-top: -2rem !important;
}

#infos{
	/* margin-top: 20px;
	text-align: center; */
	/* padding: 0 15rem; */
	padding-bottom: 0.2rem;
}


#tagsSwitch #tagDispayEnt li a {
	font-family: "微软雅黑"
}

td {
	height: 3rem;
	line-height: 3rem;
	text-align: right;
	border: 0.1rem solid #E5EBEE;
}

.tableInfosList {
	position:relative;
}

#tagsSwitch .wrap  .title {
	background: #f8f9ff;
	font-family: "微软雅黑";
}

#tagsSwitch .wrap  .titleDesc {
	background: #fff;
	text-align: left;
	padding-left: 0.2rem;
	font-family: "微软雅黑";
}

.show {
	display: block;
}

.control-label {
	font-size: 1.2rem !important;
}

.listItems {
	margin-top: 0.4rem
}

.listItems .keyWordsDesc {
	color: red;
	font-size: 1.4rem;
	padding: 0 0.4rem;
}

.footer {
	width: 100%;
	height: 5rem;
	background: url(../../statics/images/2013-2.jpg);
	color: #fff;
	line-height: 2.4rem;
	overflow: hidden;
	margin-top: 0px;
	text-align: center;
	color: #fff;
}

.center {
	width: 70rem;
	margin-left: auto;
	margin-right: auto;
}

.fl {
	float: left;
}

.copyright a {
	color: #fff;
	margin: 0 5px;
}

.fr {
	float: right;
}

.pdl {
	padding-left: 2.2rem;
}

.copyright p {
	width: 70rem;
	margin: auto;
	text-align: center;
	height: 2.5rem;
	font-size: 1.2rem;
	line-height: 2.5rem;
	color: #ffffff;
}

/*提示框*/
.showValidateResult {
	position: absolute;
	top: 0.7rem;
	right: 2.4rem;
}

.hideTips {
	display: none;
}

.red {
	color: red;
}

.green {
	color: green;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 0.1rem;
	color: #fff;
}

.centerDesc{width: 15rem;text-align: center;}

#panel-3 table  td{text-align: center;background: #fff;width:20rem;}
#panel-4 table  td{text-align: center;background: #fff;width: 20rem}
#panel-9 table  td{text-align: left;background: #fff;}

#panel-5 table  td{background: #fff;}
.alingLeft{text-align: left !important;}
.alingCenter{text-align: center !important;background-color: #F8F9FF !important;}
.yiChangTitle{background: #B0C4DE !important;}