/*特大字体样式*/
.TextBigTitle
{
    font-family:宋体;
	font-size:26px;
	font-weight:bold;
	color: #000000;
}

/*特大字体样式*/
.TextBigTitleNoColor
{
    font-family:宋体;
	font-size:26px;
	font-weight:bold;
}

/*大字体样式*/
.TextTitle
{
    font-family:宋体;
	font-size:15px;
	color: #000000;
}

/*大字体样式*/
.TextTitleNoColor
{
    font-family:宋体;
	font-size:15px;
}

/*正文白色字体*/
.TextContentByWhite
{
    font-family:宋体;
	font-size:12px;
	color: #FFFFFF;
}

/*正文黑色字体*/
.TextContentByBlack
{
    font-family:宋体;
	font-size:12px;
	color: #000000;
}

a:link {
	text-decoration: none;
	color: #0009c1;
	font-family:宋体;
}
a:visited {
	text-decoration: none;
	color: #0009c1;
	font-family:宋体;
}
a:hover {
	text-decoration: none;
	color: #0009c1;
	font-family:宋体;
}
a:active {
	text-decoration: none;
	color: #0009c1;
	font-family:宋体;
	TEXT-DECORATION: underline;
}

.AWhite:A:link {
	text-decoration: none;
	color: #ffffff;
	font-family:宋体;
}
.AWhite:A:visited {
	text-decoration: none;
	color: #ffffff;
	font-family:宋体;
}
.AWhite:A:hover {
	text-decoration: none;
	color: #ffffff;
	font-family:宋体;
}
.AWhite:A:active {
	text-decoration: none;
	color: #ffffff;
	font-family:宋体;
	TEXT-DECORATION: underline;
}

.ABlack:A:link {
	text-decoration: none;
	color: #000000;
	font-family:宋体;
}
.ABlack:A:visited {
	text-decoration: none;
	color: #000000;
	font-family:宋体;
}
.ABlack:A:hover {
	text-decoration: none;
	color: #000000;
	font-family:宋体;
}
.ABlack:A:active {
	text-decoration: none;
	color: #000000;
	font-family:宋体;
	TEXT-DECORATION: underline;
}

.ARed:A:link {
	text-decoration: none;
	color: red;
	font-family:宋体;
}
.ARed:A:visited {
	text-decoration: none;
	color: red;
	font-family:宋体;
}
.ARed:A:hover {
	text-decoration: none;
	color: red;
	font-family:宋体;
}
.ARed:A:active {
	text-decoration: none;
	color: red;
	font-family:宋体;
	TEXT-DECORATION: underline;
}


/*正文黑色字体*/
TD
{
    font-family:宋体;
	font-size:12px;
}

BODY
{
    font-family:宋体;
    font-size:12px;
    color:#000000;
    margin-top:0;
}

form{
	margin-top:0;
}

/*正文黑色字体*/
.TextContentByRed
{
    font-family:宋体;
	font-size:12px;
	color: RED;
}

/* 按钮样式*/
.FormButton
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 60px;
	text-align: center;
}

/* 按钮样式*/
.FormOpenButton
{
	background: url(open.gif) fixed repeat-x center center;
	border-right: #006699 0px solid;
	border-bottom: #006699 0px solid;
	border-top: #006699 0px solid;
	border-left: #006699 0px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 20px;
	text-align: center;
}

/* 按钮样式*/
.FormClanderButton
{
	background: url(clander.gif) fixed repeat-x center center;
	border-right: #006699 0px solid;
	border-bottom: #006699 0px solid;
	border-top: #006699 0px solid;
	border-left: #006699 0px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 20px;
	text-align: center;
}

/* 中大按钮样式*/
.FormButton90
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 90px;
	text-align: center;
}

/* 大按钮样式*/
.FormButton120
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 120px;
	text-align: center;
}

/* 超大按钮样式*/
.FormButton150
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	width: 150px;
	text-align: center;
}

table
{
	border-collapse:collapse;
}

/*table 样式*/
.TableStyle
{
	background-position: left top;
	border-style:solid;
	background-repeat:no-repeat;
	background-attachment:fixed;
	cursor: hand;
	color: black;
	border: #0D88B7 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-family: "宋体";
	font-size: 9pt;
	height: 23px;
	text-align: center;
}


/*table 样式*/
.TableFormStyle
{
	background-position: left top;
	border-style:solid;
	background-repeat:no-repeat;
	background-attachment:fixed;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-family: "宋体";
	font-size: 9pt;
	height: 23px;
	text-align: center;
	border: #888FBD 1px solid;
	table-layout:auto; 
	border-collapse:collapse;
	background-color:#F1F5FF;
}
table table.TableFormStyle th,td
{
	border-color:#888FBD;
}


/*列表头信息*/
.Headrow {
	font-family: 宋体;
	font-size: 12px;
	color: #ffffff;
	height:22px;
	background-color: #6699FF;
}

.Titlerow {
	font-family: 宋体;
	font-size: 12px;
	color: #ffffff;
	height:22px;
	background-color: #CCCCCC;
	text-align:center;
}

/*奇行*/
.DataRow1
{
    font-family:宋体;
	font-size:9pt;
	background-color: #E5F1FF;
	line-height:22px;
}

/*偶行*/
.DataRow2
{
    font-family:宋体;
	font-size:9pt;
	background-color: #F9F9F9;
	line-height:22px;
}


.FormInput
{
	width:152px;
}

.FormSelect
{
	width:152px;
}

.FormSelectbgq
{
	width:60px;
}

.FormRadio
{
}

.FormCheckbox
{

}

.redborder
{
  background-color: red;
  
}
.leftnav {
	background-image: url(../images/leftnavright.gif);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-left: 8px;
}

th
{
	text-align:center;
	background-color:#DFDFDF;
	cursor:hand;
}

.menu
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	text-align: center;
}

#entBaseInfoDiv
{
	margin-left:2.5%;
	margin-bottom:5px;
	width:97%;
	height:30;
	border:1pt solid #0099FF;
	line-height:30px;
}

#entBaseInfoDiv .entNameDiv
{
	width:20%;float:left;
}

#entBaseInfoDiv .entNameContentDiv
{
	width:30%;float:left;
}

#entBaseInfoDiv .entRegNoDiv
{
	width:20%;float:left;
}

#entBaseInfoDiv .entRegNoContentDiv
{
	float:left;
}