body
{
	background-color: #ffffff;
	padding: 5px;
	margin: 0;
	scrollbar-face-color : #EDEDED;
	scrollbar-darkshadow-color : #EDEDED;
}

a[href]
{
	color: #0000FF !important;	/* For Firefox... mark as important, otherwise it becomes black */
}

.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}
.fck_comment{
	border:1px dotted gray;
	padding:2px 4px;
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
.fck_comment p{
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
.fck_comment td{
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
*{
	margin:0px;
	padding:0px;
}
body{
	text-align:center;
	font-size:12px;
	background-color:#E6EDF9;
	width:980px;
	text-align:center;
	background-color:white;	
}
body{
	padding:4px 30px;
	font-size:16px;
	line-height:170%;	
	text-align:left;		
}
P{
	font-size:16px;	
	/*margin:auto;*/
}
Table{
	font-size:16px;		
}
P,Table ,TD,SPAN{
	TEXT-DECORATION: none;
	word-break:break-all !important;
	word-wrap:break-word !important;
}
BODY {font-family:ו;font-size:12.00pt;line-height:150%;margin-top:5.25pt;}
P{font-family:ו;font-size:12.00pt;line-height:180%;margin-top:5.25pt;margin: 0px 0;}