
body,td{font:normal 10px Verdana;color:#333333}
input,textarea,select,td{font:normal 12px Verdana;color:#333333;}
table{margin:0px;padding:0px;}
td{padding-top:1px;padding-left:2px;padding-right:2px;padding-bottom:2px;}
input{height:20;}
form{display:inline;}
a:link{text-decoration:none;color:#000000;}
a:visited{text-decoration:none;color:#000000;}
a:hover{text-decoration:underline;color:blue;}

.td_color{border:1px solid #84C1FF;}
.td_color tr{background-color:expression(this.rowIndex%2!=1?'#efefef':'#ffffff');}
.td_title{text-align:left;background-color:#84C1FF;color:#ffffff;font-weight:bolder;line-height:14px;font-size:12px;cursor:hand }
.td_field td{background-color:#ACD6FF;text-align:center;}
.td_form{background-color:#efefde;text-align:center;}
.td_input{background-color:#efefde;text-align:center;}
.td_minput{background-color:#efefde;text-align:center;}

/*下面是text域的设置*/
.td_input input 
{
    bgcolor: #ffffff;
    border:1px solid #84C1FF;
    background-repeat: repeat-x;
    background-position: top;
    line-height:20px;
    height:19px;
}

.td_minput input 
{
    bgcolor: #ffffff;
    border:1px solid #84C1FF;
    background-repeat: repeat-x;
    background-position: top;
}

/*下面是提交按钮的设置*/
.td_form input 
{
    color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #2f475f;
    border-right: 1px solid #2f475f;
    background-color: #6371B5;
    background-repeat: repeat-x;
    background-position: top;
    padding: 0em 0.2em 0em 0.2em;
    line-height:18px;
    height:21px;
}


.mselect {
	scrollbar-face-color : #88BBFF;
	scrollbar-highlight-color : #99CCFF;
	scrollbar-3dlight-color : #4477ff;
	scrollbar-darkshadow-color : #4477ff;
	scrollbar-track-color : #B0E0E6;
	scrollbar-arrow-color : #0000FF;
	scrollbar-shadow-color : #88BBFF;
}


