*{
	margin:0px;
	padding:0px;
}
.container{
	overflow:auto;
	padding:80px 0px 0px 250px;
	font-size:14px;
}
.header{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:80px;
	background:url("../images/metadata/logo_top.gif") -30px center no-repeat;
}
.logo_search{
	float:left;
	width:208px;
	height:100%;
	background:url("../images/metadata/logo_search.gif") left center no-repeat;
}
.leftNavTree{
	position:absolute;
	top:80px;
	left:0px;
	width:250px;
	display:inline;
	padding:20px 0px 0px 15px;
}
.TreeView{
	width:100%;
	padding-left:20px;
	overflow:auto;
	background: #F5FAFE;
	border-left:1px solid #9EB0D4;
	border-top:2px solid #9EB0D4;
}
.TreeView *{
	font-size:14px;
}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#F5FAFE; border-left:1px solid #08c; border-right:1px solid #9EB0D4;}
.xb1 {margin:0 5px; background:#9EB0D4;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.TreeView div.RootOpened{
	background:transparent url(../images/metadata/tree/folder_open.gif) 1px 2px no-repeat;
	text-indent:5px;
	line-height:26px; 
	border-right:1px solid #9EB0D4;
}
.TreeView div.Root{
	background:transparent url(../images/metadata/tree/folder.gif) 1px 2px no-repeat;
	text-indent:5px;
	line-height:26px; 
	border-right:1px solid #9EB0D4;
}
.TreeView div.FolderOpened{
	background:transparent url(../images/metadata/tree/folder_open.gif) 1px 2px no-repeat;
	text-indent:5px;
	line-height:26px; 
	border-right:1px solid #9EB0D4;
}
.TreeView div.Folder{
	background:transparent url(../images/metadata/tree/folder.gif) 1px 2px no-repeat;
	text-indent:5px;
	line-height:26px; 
	border-right:1px solid #9EB0D4;
}
.TreeView div.Page{
	background:transparent url(../images/metadata/tree/li.gif) 1px center no-repeat;
	text-indent:5px;
	line-height:26px; 
	border-right:1px solid #9EB0D4;
}
.TreeView div a{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.TreeView A.Selected:link,
.TreeView A.Selected:visited,
.TreeView A.Selected:hover,
.TreeView A.Selected:active{
	color:red;
	text-decoration:none;
	cursor:default;
	padding:0 2px;
	background:transparent;
}
.TreeView div.ActiveItem{
	background-color:white;
	border:1px solid #9EB0D4;
	border-right:0px;
}
.mainContent{
	background:white;
	padding:20px 0px 0px 15px;
}
.mainContent .info0{
	height:20px;
	padding-bottom:5px;
	border-bottom:1px solid green;
	margin-bottom:10px;
}
.mainContent .info0 span{
	color:#3333CC;
	margin-right:20px;
	cursor:pointer;
}
.viewItem{
	margin:5px 2px;
}
.item{
	margin:0px 5px 20px 5px;
	padding-top:5px;
	border-top:1px dashed gray;
	font-size:14px;
	width:100%;
}
.itemIndex{
	width:50px;
	height:100%;
	float:left;
}
.itemContent{
}
.itemContent .info1{
	float:right;
	padding-right:10px;
	font-size:12px;
	color:#808080;
}
.itemContent .info1 span{
	margin-right:15px;
}
.itemContent .info2{
	margin-top:5px;
	margin-left:50px;
	font-size:12px; 
	color:green; 
}
.itemContent .info2 span{
	margin:5px;
}
.itemContent .info3{
	margin-top:5px;
	margin-left:50px;
	font-size:12px; 
	color:#3169B5;
}
.itemContent .info3 span{
	margin:5px;
	cursor:pointer;
}
.itemContent .itemTitle{
	width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.item a:link, .item a:visited{
	color:#3333CC;
	text-decoration:underline;
}
.item a:hover, .item a:active{
	color:red;
	text-decoration:underline;
}

.documentMore{
	text-align:right;
	cursor:pointer;
	margin-right:10px;
	color:#002BAE;
	display:inline;
	float:right;
}

.no_object_found{
	color:gray;
	font-style:italic;
	font-size:14px;
	margin:10px 0px 20px 30px;
}

.list_navigator{
	height:29px;
	background:#ffffff;
	float:right;
	font-size:10.5pt;
	padding:2px;
}
.nav_page_detail{
	float:left;
	padding-top:4px;
}
.nav_pagenum,.nav_recordnum,.nav_currpage,.nav_pagesize{
	color:red;
	font-size:11pt;
	margin:0 4px;
	font-weight:bold;
}
.nav_page{
	color:blue;
	cursor:pointer;
	font-size:12pt;
	margin:0 4px;
}
.nav_morepage{
	cursor:normal;
	font-size:12pt;
}
.nav_currpage{
	color:red;
	cursor:normal;
	font-size:16pt;
	font-weight:bold;
}
.nav_go{
	float:left;
}
.nav_go input{
	border:0;
	width:20px;
	border-bottom:1px solid black;
	text-align:right;
}
.nav_go_btn, 
.nav_go_first, .nav_go_pre, .nav_go_next, .nav_go_last,
.nav_go_first_disabled, .nav_go_pre_disabled, .nav_go_next_disabled, .nav_go_last_disabled{
	overflow:hidden;
	height:16px;
	width:16px;
	margin:0 2px;
	background-image:url(../images/icon/FirstPage.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.nav_specpage_go{
	float:left;
}
.nav_go_first{
	background-image:url(../images/icon/FirstPage.gif);
}
.nav_go_first_disabled{
	background-image:url(../images/icon/FirstPageDis.gif);
} 
.nav_go_pre_disabled{
	background-image:url(../images/icon/PrePageDis.gif);
}
.nav_go_next_disabled{
	background-image:url(../images/icon/NextPageDis.gif);
} 
.nav_go_last_disabled{
	background-image:url(../images/icon/LastPageDis.gif);
} 
.nav_go_pre{
	background-image:url(../images/icon/PrePage.gif);
}
.nav_go_next{
	background-image:url(../images/icon/NextPage.gif);
}
.nav_go_last{
	background-image:url(../images/icon/LastPage.gif);
}