<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>yyjc</display-name>
  <filter>
    <display-name>SsoAgentFilter</display-name>
    <filter-name>SsoAgentFilter</filter-name>
    <filter-class>com.gwssi.ssoagent.webFilter.SsoAgentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SsoAgentFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoAgentFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoAgentFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>page/home/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <filter>
    <filter-name>optimusFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>uncheckUrlTail</param-name>
      <param-value>js, css, jpg, json, pdf, bmp, gif, png</param-value>
    </init-param>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/page/admin/login.html</param-value>
    </init-param>
    <init-param>
      <param-name>noRightPage</param-name>
      <param-value>/page/admin/noRight.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>optimusFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>WSSpringServlet</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSSpringServlet</servlet-name>
    <url-pattern>/services/ad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>funcUrlFilter</filter-name>
    <filter-class>com.gwssi.optimus.core.web.filter.optimusAuthFilter</filter-class>
    <init-param>
      <param-name>noSessionUrl</param-name>
      <param-value>/page/admin/noSessionRight.html</param-value>
    </init-param>
    <init-param>
      <param-name>noRightPage</param-name>
      <param-value>/page/home/permission.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>logindo</param-name>
      <param-value>/admin/login.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>funcUrlFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>funcUrlFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/page/admin/login.html</location>
  </error-page>
</web-app>