.content{
	top:0px;
	bottom:0px;
	background:white;
	font-size:12px;
	border:
}
body{
	padding:0;
	margin:0;
	font-size:12px;
	background:#f5f6f5;
	height:100%;
	width:100%;
}
.container{
	position:absolute;
	height:100%;
	width:100%;
}
.search_bar{
	background:white;
}
.content{
	position:absolute;
	height:auto;
	overflow:auto;
	padding-bottom:20px;
	top:0px;
	left:0px;
	right:0px;
	bottom:25px;
	border:1px solid #868789;
	background:white;
}
.ext-ie6{
	overflow:hidden;
}
.ext-ie6 .content{
	position:relative;
	height:100%;
	padding:0;
}
.ext-strict{
	overflow:hidden;
}
.ext-ie6 .container{
	overflow:hidden;
	position:absolute;
	height:100%;
	top:0px;
}
.thumb_item{
	width:72px;
	margin:20px;
	overflow:hidden;
	float:left;
}
.thumb{
	height:72px;
	margin:auto auto 4px;
	padding:2px;
	position:relative;
	border:1px solid lightgrey;
}
.attrs{
	cursor:default;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.selected{
	background:#316AC5;
	color:white;
}