.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.objectcannot_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.no_right{
	filter:gray;
}
.ext-ie6 .object_edit, .ext-ie6 .object_delete{
	width:16px;
	height:16px;
	padding:0px;
}
