.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
	cursor:not-allowed;
}
.objectcannot_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
	cursor:not-allowed;
}
.ext-ie6 .object_edit, .ext-ie6 .object_delete{
	width:16px;
	height:16px;
	padding:0px;
}
.advance_search{
	width:40px;
	cursor:pointer;
	background:url(../images/metadata/advance_search.png) right 5px no-repeat;
}
.appendix_type{
	width:20px;
	height:16px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px center;
}
.ext-strict .appendix_type{
	padding:9px 10px;
}
a.appendix_type:hover,a.appendix_type:active{
	text-decoration:none;
}
.bigText{
	color:gray;
}
.reldoc{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

a.titleField:link, a.titleField:visited{
	color:blue;
	text-decoration:none;
}
a.titleField:hover, a.titleField:active{
	color:blue;
	text-decoration:underline;
}
.normalFieldHeader{
	width:120px !important;
}
.titleFieldHeader{
	width:260px !important;
}
.ext-strict .grid_table{
	width:100%;
}

.record_modal_1{
}
.record_modal_2{
	background:url(../images/document/shortcutdoc2.gif) 2px center no-repeat;
	padding-left:18px;
}
.record_modal_3{
	background:url(../images/document/shortcutdoc3.gif) 2px center no-repeat;
	padding-left:18px;
}
.ext-strict .querybox{
	width:280px !important;
}
.ext-ie6 .querybox{
	width:300px !important;
}
.title{
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}