/*在此处添加一些自定义样式*/
/*
TODO...
*/
/*input[type=text]{height:14px;width:180px;!improtent}*/
#Title{width:480px;}
textarea{width:480px;!improtent}
.XEditor{margin-left:auto;margin-right:auto;text-align:center;width:100%;height:550px;}