#bodyContainer{width:192px;height:100%;overflow:auto;}
.ext-ie8 #bodyContainer{position:absolute;overflow:hidden;}
/*strict*/
.ext-strict .layout_center_container{top:21px;height:auto;bottom:0;}
.ext-strict .nav_tree{position:relative;}
/*ie6*/
.ext-ie6 .layout_container{padding-top:21px;height:100%;}
/*ie7*/
.ext-ie7 .nav_tree{position:absolute;left:0px;top:0;right:0px;bottom:0;}
/*all*/
.layout_north{height:22px;}
.nav_options{position:absolute;left:0px;top:0px;width:100%;height:21px;background:url(../images/nav_tree/nav_tree.png) left -111px no-repeat;overflow:hidden;}

.nav_tree{
	height:100%;
	overflow:auto!important;
	border:1px solid #8D8D8D;
	border-top:0;
	background:#FFFFFF;
}

/*adv_search*/
.input_button{border:1px solid gray;cursor:pointer;}
.search_fromhere{background:url(../images/icon/SitesChannels.gif) no-repeat;cursor: pointer;width:16px;height:18px;overflow:hidden;}
#txtDocSource{float:left;width:85px;height:16px;border:1px solid gray;bottom:0;}
.ext-strict #txtDocSource{width:80px;}
.select_docsource{background:url(../images/icon/Selector.png) no-repeat;cursor: pointer;width:14px;height:18px;overflow:hidden;float:left;bottom:0;}
#txtDocKeywords{float:left;height:16px;border:1px solid gray;}
.search_row{line-height:22px;}
.input_text{border:1px solid gray;}
.row_tip, .row_tip_unfoldable{cursor:pointer;padding: 2px;padding-left: 5px;background: aliceblue;width: 100%;font-family: Courier New;font-weight: bold;font-size: 12px;border-top: solid 1px #efefef;border-bottom: solid 1px #efefef;}
.row_tip_unfoldable{cursor:auto;}
.row_value{padding: 2px;padding-left: 5px;}
.divAdvancedItem{float:left;display:inline;width:100%;padding-top:2px;}
.sp_row_tip{float:left;margin-left:5px;}
.doc_status{float:left;}
.inp_cal{width:120px;}
.calendarShow{width:28px;height:20px;line-height:18px;display:inline;}
.ext-ie .keyword{width:90px;height:20px;margin-left:3px;}
.ext-gecko .keyword{width:90px;height:16px;}
.spColumn{ width: 70px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.timerange{ width:30px;display:block; float:left;}