*{
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	background:#f8f8d8;
}
.data table{
	font-size:14px;
	border:none;
	width:100%;
	border-collapse:collapse;
}
.table-title{
	background-color:#ced7e0;
	border-color:white;
}
.data table td{
	height:24px;
	color:#413c3a;
	border-bottom:1px dashed gray;
	overflow:hidden;
}
.data table th{
	height:23px;
	color:#033494;
	background-color:#ced7e0;
	border:1px solid white;
}
.data table .even{
	background-color:#f3efd4;
}
.data table .td a:hover{
	color:#9b0006;
}
.data table .td a:visited{
	color:#9b0006;
}
.data table .count{
	font-size:12px;
	color:#cc3300;
}
.data table .username{
	font-size:12px;
}
.data table .doctitle{
	padding-left:5px;
}
.data table .doctitle a{
	color:#222222;
	text-decoration: none;
}
.data table .doctitle a:hover{
	color:#660099;
	text-decoration: underline;
}
.data table .doctitle a:visited{
	color:#660099;
}
.data table .num_list{
	width:30px;
}
.data table .doctitle a{
	width:150px;
	display:block;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
