@charset "utf-8";
/* download by http://www.codefans.net */

body{
	color:#666; 
	font-size:12px;
	background-color:RGB(13,13,13);
    width:  150px;
    height: 80px;
}


#wrapper{
	position:absolute;
	top: 0px;
	left:-3px;
	width: 110px;
	height: 32px;
}

#front{
	position:absolute;
	top: 0px;
	left: 0px;
	height: 48px;
	width: 112px;
}

#upperHalf, #upperHalfBack{
	vertical-align:bottom;
}

#lowerHalf, #lowerHalfBack{
	vertical-align:top;
}

#upperHalf img{
	position:relative;
	height:12px;
	vertical-align:bottom;
	visibility:visible;
}

#lowerHalf img{
	position:relative;
	height:12px;
	vertical-align:top;
	visibility:visible;
}

	
#lowerHalfBack img{
	position:relative;
	vertical-align:top;
	height:12px;
}

#upperHalfBack img{
	position:relative;
	vertical-align:bottom;
	height:12px
}

#h3Up,#h3Down,#h3UpBack,#h3DownBack,
#h2Up,#h2Down,#h2UpBack,#h2DownBack,
#h1Up,#h1Down,#h1UpBack,#h1DownBack,
#h0Up,#h0Down,#h0UpBack,#h0DownBack{
	width:12px;
}
	


	
