@charset "utf-8";
/* download by http://www.codefans.net */

body{
	color:#666; 
	font-size:12px;
	background-color:RGB(13,13,13);
    width:  300px;
    height: 80px;
}


#wrapper{
	position:absolute;
	top: 0px;
	left:-3px;
	width: 250px;
	height: 35px;
}

#front{
	position:absolute;
	top: 0px;
	left: 0px;
	height: 48px;
	width: 247px;
}

#upperHalf, #upperHalfBack{
	vertical-align:bottom;
}

#lowerHalf, #lowerHalfBack{
	vertical-align:top;
}

#upperHalf img{
	position:relative;
	height:18px;
	vertical-align:bottom;
	visibility:visible;
}

#lowerHalf img{
	position:relative;
	height:18px;
	vertical-align:top;
	visibility:visible;
}

	
#lowerHalfBack img{
	position:relative;
	vertical-align:top;
	height:18px;
}

#upperHalfBack img{
	position:relative;
	vertical-align:bottom;
	height:18px
}


#h8Up,#h8Down,#h8UpBack,#h8DownBack,
#h7Up,#h7Down,#h7UpBack,#h7DownBack,
#h6Up,#h6Down,#h6UpBack,#h6DownBack,
#h5Up,#h5Down,#h5UpBack,#h5DownBack,
#h4Up,#h4Down,#h4UpBack,#h4DownBack,
#h3Up,#h3Down,#h3UpBack,#h3DownBack,
#h2Up,#h2Down,#h2UpBack,#h2DownBack,
#h1Up,#h1Down,#h1UpBack,#h1DownBack,
#h0Up,#h0Down,#h0UpBack,#h0DownBack{
	width:18px;
}
	


	
