.sp_datatime{
	font-family: Georgia;
}
#msg_logo{
	cursor: pointer;
}
#items_counter{
	font-family: arial; 
	margin-top: 3px; 
	margin-bottom: 3px; 
	font-size: 12px;
}
#items_nav{
	font-family: webdings;
	font-size:15px; 
	text-align: center; 
	padding-right:0px
}
#msg_header{
	margin-bottom:3px; 
	font-size:12px; 
	padding:2px; 
	font-weight: normal;
	padding-left: 3px;
}
#msg_title{
	font-weight: bold;
	width: 185px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#msg_posttime{
}
#msg_content{
	font-size:12px; 
	padding:2px; 
	font-weight: normal;
	border: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin-bottom: 4px;
}

.alertion_active_icon{
	background-image: url(images/include/message_active.gif)
}

A:link, A:visited{
	color: #1571D5;
	text-decoration: none;
}
A:hover{
	color: #ff6600
}
p, ul, li
{
	margin-top: 1px;
	margin-bottom: 1px;
}