*{
	font:arial;
	font-size:14px;
}
.Class_0{
	float:left;
	clear:left;
}
.Class_1{
	/*float:right;*/
	/*clear:right;*/
	margin-left:150px;
}
.parentBox{
	width:300px;
	margin-left:50px;
	border:1px dashed #bfbfbf;
	clear:both;
}
.parentBox_left{
	width:130px;
	border:1px dashed #bfbfbf;
	float:left;
}
.parentBox_right{
	width:250px;
	height:150px;
	float:right;
}