.ex-tool{position:absolute;cursor:pointer;}
.xct-hover{border:1px solid green!important;}
SELECT.xct-hover{border:2px solid green!important;}
.xdFileAttachment{border:1px solid transparent;padding:2px;height:auto !important;}
.xdDTButton{cursor:pointer;}
.xdRichTextBox{margin:2px auto; ;max-width:95% !important;}
SPAN.xdDTText{padding-right:120px!important;padding-right:0;}
input{font-size:9pt!important;font-family:宋体,Arial!important;}
#cal_dp{BORDER: black 1px solid;width:280px;BACKGROUND-COLOR: #ffffff}
.DPTitle{FONT-SIZE: 9pt;COLOR: #fffacd;BACKGROUND-COLOR: #006000;TEXT-ALIGN: center;}
.DPWeekName{FONT-SIZE: 9pt;COLOR: blue;BORDER-BOTTOM: black 1px solid;TEXT-ALIGN: center;}
.DPCellOther{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: silver;TEXT-ALIGN: center;}
.DPCell{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: #006000;TEXT-ALIGN: center;}
.DPCellSelect{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: #000;text-align:center;BACKGROUND-COLOR: #ffa07a;}
.DPCellCurr{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: red;text-align:center;BACKGROUND-COLOR: gray;}
.DPCellToday{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: red;text-align:center;BACKGROUND-COLOR: green;}
.closeBtn{color:red;cursor:pointer;}
.DPBtn {BORDER-RIGHT: black 1px solid;BORDER-TOP: white 1px solid;FONT-SIZE: 9pt;BORDER-LEFT: white 1px solid;WIDTH: 12px;COLOR: black;BORDER-BOTTOM: black 1px solid;BACKGROUND-COLOR: silver;cursor:pointer;}
.DPInput{border:1px solid gray;width:60px;}
.DPTime{FONT-SIZE: 9pt;COLOR: green;}
#bubble-panel{width:100px;white-space:nowrap;}
.valid_error{border:1px solid red!important;}
SELECT.valid_error{border:2px solid green!important;}
