.xct-hover{border:1px solid #FF6600!important;}
SELECT.xct-hover{border:2px solid #FF6600!important;background:white!important;}
.unreadable,.unpublishable,.unwriteable{display:inline;padding:0 10px;width:0;height:0;}
.readable,.publishable,.writeable{background:url(../ok.gif) no-repeat 2px center;display:inline;padding:0 10px;width:5px;height:12px;}
.unfrontwrite{background:#ADD69B;}
.unbackwrite{background:#D2A499;}
.unwrite{background:#DFDFDF;}
.unpublish{background:#FFECEC;}
.unread{background:#FFAA00;}
.xdDTPicker .xdDTText{display:inline-block !important;}
