.link:hover {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 170%}
.link:visited {  font-family: "宋体"; font-size: 12px; color: #000000; line-height: 170%; text-decoration: none}
.link:link {  font-family: "宋体"; font-size: 12px; color: #000000; line-height: 170%; text-decoration: none}
.link:active {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 170%}
.link2:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	line-height: 17px;
	text-indent: 26px;
}
.link2:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 17px;
	text-decoration: none;
	text-indent: 26px;
}
.link2:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 17px;
	text-decoration: none;
	text-indent: 26px;
}
.link2:active {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	line-height: 17px;
	text-indent: 26px;
}
.yellow:link {  font-family: "宋体"; font-size: 12px; color: #FFFF00; line-height: 17px; text-decoration: none}
.yellow:hover {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 17px}
.yellow:active {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 17px}
.yellow:visited {  font-family: "宋体"; font-size: 12px; color: #FFFF00; line-height: 17px; text-decoration: none}
.white12:link {	font-family: "宋体";	font-size: 12px;	color: #FFFFFF;	line-height: 17px;	text-decoration: none;}
.white12:hover {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 17px}
.white12:active {  font-family: "宋体"; font-size: 12px; color: #FF0000; text-decoration: underline; line-height: 17px}
.white12:visited {  font-family: "宋体"; font-size: 12px; color: #FFFFFF; line-height: 17px; text-decoration: none}
.white14:link {
	font-family: "宋体";
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.white14:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}
.white14:active {
	font-family: "宋体";
	font-size: 14px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}
.white14:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.blue:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	color: #003399;
	text-decoration: none;
	font-weight: bold;
}
.blue:hover {  font-family: "宋体"; font-size: 12px; line-height: 17px; color: #FF0000; text-decoration: underline}
.blue:active {  font-family: "宋体"; font-size: 12px; line-height: 17px; color: #FF0000; text-decoration: underline}
.blue:visited {  font-family: "宋体"; font-size: 12px; line-height: 17px; color: #B4B4FF; text-decoration: none}
.px14:link {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	text-decoration: none;
}
.px14:hover {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #FF0000;
	text-decoration: underline;
}
.px14:active {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #FF0000;
	text-decoration: underline;
}
.px14:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	line-height: 150%;
	text-decoration: none;
}
.red:link {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.red:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.red:active {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.red:visited {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
td {
	font-family: "宋体";
	font-size: 12px;
	line-height: 150%;
	color: #000000;
	text-decoration: none;
}
.bt_red {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.bt_white {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.bt_link {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.bt_blue {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
.link14:link {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	text-decoration: none;
}
.link14:visited {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	text-decoration: none;
}
.link14:hover {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #FF0000;
	text-decoration: underline;
}
.link14:active {
	font-family: "宋体";
	font-size: 14px;
	line-height: 150%;
	color: #FF0000;
	text-decoration: underline;
}
.red2:link {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.red2:visited {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.red2:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
.red2:active {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
