.res-1024x768 .content{
	padding-left:10px;
}
.thumb{
	float:left;
	padding-left:10px;
	background:url(images/thumb-left.gif) left center no-repeat;
	border:0px;
}
.res-1024x768 .thumb{
	margin-right:0px;
}
.thumb .r{
	padding-right:13px;
	background:url(images/thumb-right.gif) right center no-repeat;
}
.thumb .c{
	width:480px;
	height:131px;
	padding:15px 0px;
	background:url(images/thumb-center.gif) center center repeat-x;
}
.res-1024x768 .thumb .c{
	width:435px;
}
.ext-gecko .thumb .c{
	width:435px;
}
.thumb .c .pic{
	float:left;
	margin-right:10px;
	padding-top:12px;
}
.ext-strict .thumb .c .pic{
	padding-top:9px;
}
.thumb .c .sname{
	font-weight:bold;
	height:30px;
	line-height:30px;
	cursor:pointer;
	word-wrap:break-word;
	word-break:break-all;
}
.ext-strict .thumb .c .sname{
	margin-top:10px;
}
.thumb .c .sdesc{
	overflow:hidden;
	height:60px;
	text-indent:24px;
	line-height:18px;
	color:#5B5B5B;
	word-wrap:break-word;
	word-break:break-all;
}
.thumb .c .cmds{
	width:250px;
	overflow:hidden;
	white-space:nowrap;
}
.s-menu{
	width:100px!important;
	border:1px solid #2D76E5;
	padding:2px;
}
.s-menu .item{
	padding-left:4px;
}
.s-menu .selectedItem{
	background-color:#5CA9EF;
	background:url(images/zt_cz_bj.gif) left center repeat-x;
	border:0px;
	color:white;
	padding:2px;
	padding-left:4px;
}

.s-menu .item .icon{
	height:20px;
	line-height:20px;
}
.s-menu .item .desc{
	height:20px;
	line-height:20px;
}
.s-menu .disableCls{
	color:gray;
}
.thumb .pic{
	background:url();
}