.toolbaritem{
	float:left;
	background:none;
	padding-left:3px;
	overflow:hidden;
	cursor:default;
	margin:4px 6px 0px 4px;
	-moz-user-select:none;
}
.toolbaritemhover{
	background:url(images/design/ti-hover-left.gif) left center no-repeat;
}
.toolbaritemactive{
	background:url(images/design/ti-active-left.gif) left center no-repeat;
}
.toolbaritem .r{
	float:left;
	background:none;
	padding-right:4px;
	overflow:hidden;
}
.toolbaritemhover .r{
	background:url(images/design/ti-hover-right.gif) right center no-repeat;
}
.toolbaritemactive .r{
	background:url(images/design/ti-active-right.gif) right center no-repeat;
}
.toolbaritem .c{
	float:left;
	background:none;
	padding-left:3px;
	height:24px;
}
.toolbaritemhover .c{
	background:url(images/design/ti-hover-center.gif) center center repeat-x;
}
.toolbaritemactive .c{
	background:url(images/design/ti-active-center.gif) center center repeat-x;
}
.toolbaritem .desc{
	margin-left:20px;
	padding-right:3px;
	font-size:12px;
	line-height:24px;
}
.toolbaritemdisable .desc{
	color:gray;
}
.toolbaritem .icon{
	float:left;
	width:18px;
	height:24px;
	background:center center no-repeat;
}
.toolbaritemdisable .icon{
	filter:gray;
	-moz-opacity:.5;
	opacity:0.5;
}
.toolbaritem .structure{
	background-image:url(images/design/structure.gif);
}
.toolbaritem .showOpers{
	background-image:url(images/design/opers.gif);
}
.toolbaritem .switchTemplate{
	background-image:url(images/design/TempSelect.gif);
}
.toolbaritem .setStyle{
	background-image:url(images/design/setStyle.gif);
}
.toolbaritem .saveHtml{
	background-image:url(images/design/save.gif);
}
.toolbaritem .redo{
	background-image:url(images/design/redo.gif);
}
.toolbaritem .undo{
	background-image:url(images/design/undo.gif);
}
.toolbaritem .closeMe{
	background-image:url(images/design/closeMe.gif);
}
.toolbaritem .advertisement{
	background-image:url(images/design/adintrs.gif);
}
.toolbaritem .copyVisualTemp{
	background-image:url(images/design/copyTemp.gif);
}
.toolbaritem .setPageBackgroundImage{
	background-image:url(images/design/setbackground.gif);
}
.toolbaritem .setPageWidth{
	background-image:url(images/design/setwidth.gif);
}