.alertion_err, .alertion_hint{
	border: 1px solid #B53042;
	background: #FFF3E7;
	padding:1px;
	font-size:9pt;
	margin-left:2px;
	font-family:Courier New;

}
.alertion_hint{
	border: 1px solid #00AAFF;
	background: #E7FBFF;
}
.alertion_hint li{
	list-style-type:circle;
}
input{
	height:20px;
}

.warningClass{
	background-color : "lightyellow";
	border : "solid black 1px";
	color:red;
}

.messageClass{
	background-color : "lightyellow";
	border : "solid black 1px";
	color:green;
}

.requiredClass{
	color:red;
}
