.ext-strict .layout_center{left:0;right:280px;bottom:0;top:0;}
.layout_east{width:280px}
.ext-strict #doc_props{position:absolute;height:auto;overflow-x:hidden;width:276px;}
.attr_name{float:left;margin:0 5px;width:90px;overflow:hidden; }
.attr_input_text{position:relative;overflow:hidden;border: #b7b7a6 1px solid;width:125px;height:20px;}