.iframe_container{
		width:360px;
		height:260px;
		padding:10px;
	}
.ext-gecko .iframe_container{
		width:370px;
		height:240px;
	}
.ext-safari .iframe_container{
		width:360px;
		height:245px;
		padding:10px;
	}