/*strict*/
.ext-strict .layout_center_container{top:40px;bottom:30px;}
.ext-strict .layout_center{left:0;right:240px;bottom:0;top:0;}
/*ie6*/
.ext-ie6 .layout_container{padding-top:40px;padding-bottom:30px;}
.ext-ie6 .layout_center_container{padding-left:0;padding-right:255px;padding-bottom:0;}
/*all*/
.layout_north{height:40px;}
.layout_south{height:30px;}
.layout_east{width:240px}
.ext-ie6 .layout_east{width:255px;}
#nothtml_editor,#html_editor{width:100%;height:100%;}
.editor_wrapper{background:url(../images/document/toolbar_bg.png) repeat-x 50% -2px;}
.ext-strict .editor_wrapper{position:absolute;width:100%;height:100%;}
.ext-strict .editor_body{position:absolute;top:55px;bottom:0;width:100%;background:#808080;}
.ext-strict .doccontent{position:absolute;top:10px;left:10px;bottom:10px;right:10px;}
.ext-ie6 .editor_wrapper{width:100%;height:100%;padding-top:55px;}
.ext-ie6 .editor_body{width:100%;height:100%;padding:10px;background:#808080;}
.ext-ie6 .doccontent{width:100%;height:100%;}
.ext-strict #_editorValue_{position:absolute;width:100%;height:100%;border:1px solid gray;overflow-y:auto;}
.ext-ie6 #\_editorValue_{width:100%;height:100%;border:1px solid gray;overflow-y:auto;}
#doc_props{overflow:auto;width:100%;}
.ext-strict #doc_props{position:absolute;width:240px;height:auto;overflow-x:hidden;}
.ext-ie6 #doc_props{width:100%;height:auto;overflow-x:hidden;}
form{width:100%;height:100%;}
body{border:0;}
.ctrsbtn_left{background:url(../../images/button_left.gif) no-repeat 0 0;height:24px;}
.ctrsbtn_right{background:url(../../images/button_right.gif) no-repeat right 0;height:24px;line-height:24px;}
.ctrsbtn{cursor:pointer;background:url(../../images/button_bg_line.gif) repeat-x 4px 0;font-size:12px;height:24px;text-align:center;margin:0 5px;width:90px;display:inline-table!important;display:inline;}
.ext-ie8 .ctrsbtn{display:inline!important;}
body, table, tr, td, div, iframe{scrollbar-3dlight-color:B4B4B4;scrollbar-arrow-color:333333;scrollbar-base-color:EEEEEE;scrollbar-darkshadow-color:FFFFFF;scrollbar-face-color:eeeeee;scrollbar-highlight-color:FFFFFF;scrollbar-shadow-color:B4B4B4; }
BODY { FONT-SIZE: 12px;BACKGROUND: #EDEDED;color: #000000; }
#frmAction{width:100%;height:100%;}
.north_padding{overflow:hidden;width:100%;}
.editor_header{height: 30px;background:url(../images/document/toolbar_bg.png) repeat-x 0 0;}
TABLE{font-size:9pt; }
SELECT {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px }
A:link {COLOR: #000000; TEXT-DECORATION: none }
A:visited {COLOR: #333333; TEXT-DECORATION: none }
A:hover {COLOR: #0066cc; TEXT-DECORATION: none }
.toolbar_label {float: left;height:18px;overflow:hidden;margin-top: 6px;margin-left: 4px;padding-right:4px;font-size: 12px; }
.input_text{float:left;margin-top:0;width:auto;border: #b7b7a6 1px solid; }
.input_checkbox{border:0; }
#DocTitle{width:360px;margin-top:0px;height:22px;border-right:0; }
.ext-ie6 #DocTitle{height:24px; }
#CountTitle{float:left;margin-top:0px;font-size:11px;font-family:Courier New;height:24px;line-height:22px;white-space:nowrap;width:53px;overflow:hidden;border: #b7b7a6 1px solid;border-left:0;border-right:0; }
#CountTitle .sep{width:5px;float:left; }
#TitlePsn{width:23px;float:left;color:blue;text-align:right; }
#TitleCount{width:23px;float:left;color:green; }
#DocTitleHint{float:left;width:20px;height:24px;cursor:pointer;border: #b7b7a6 1px solid;border-left:0; }
#spDocTitleHint{margin-top:4px;float:left;width:16px;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -224px;height:16px; }
.top_bar_shuru{float:left;}
.bottom_editor_toolbar{height:30px; }
.bottom_toolbar{height:50px; }
.input_title {float:left;height:16px;width:450px;overflow:hidden;margin-top:1px; }
.title_color {float: left;height: 16px;width: 16px;margin-top: 4px;margin-left: 5px;cursor:pointer; }
.title_color1 {float: left;height: 12px;overflow:hidden;width: 16px;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -208px;cursor:pointer; }
.title_color2 {float:left;height: 4px;width: 16px;overflow:hidden; }
.document_option {float: left;height: 20px;margin-top: 2px;margin-left: 5px;font-size: 12px;color: #000000; }
.toolbar_sep{float: left;height: 16px;width: 2px;margin-top: 5px;margin-left: 3px;margin-right: 3px;background-image: url(../images/document/icon_xian.png);background-repeat: no-repeat;overflow: hidden; }
.attachment {padding-left:20px;background: url(../images/document/attachment.gif) no-repeat;margin-top:2px;line-height:20px;float:left;margin-left:4px;cursor:pointer; }
.relative_docs {padding-left:20px;background: url(../images/document/relation.gif) no-repeat;margin-top:2px;line-height:20px;float:left;margin-left:4px;cursor:pointer; }
.attr_column_head {height: 26px;background-image: url(../images/document/addedit_north_bg.png);background-repeat: no-repeat;background-position:2px center;cursor:pointer; }
.attr_column_title{margin-left:10px;line-height:26px;font-weight: bold;color: #000000;font-size: 14px; }
#colorpicker{width:150px;padding:2px;overflow:hidden;border:1px solid black;background:#FFF;cursor:pointer;}
.ForceBaseFont{width:144px;}
.colorheader{padding:1px 0;}
.colorheader1{padding:0;background-color:#CCCCFF;border:1px solid #99CCFF;}
.ColorBoxBorder{width:16px;height:16px;padding:1px;}
.ColorBoxBorder1{width:15px;height:15px;padding:0;background-color:#CCCCFF;border:1px solid #99CCFF;}
.ColorBox{margin:2px;border:1px solid gray;width:10px;height:10px;}
.editor_abs{position:absolute;top:0;left:0;width:100%;height:100%;}
.td_setting{padding:1px;width:64px;height:54px;cursor:pointer;font-size:12px;}
.td_active{padding:0;border:1px solid black;background-color:#FFFFCF;}
.td_active2{padding:0;border:1px solid black;background-color:#FFF;color:green;font-weight:bold;font-size:13px;}
.td_setting .setting_icon{width:32px;height:32px;cursor:pointer;}
.td_setting .setting_icon{margin:4px 15px 2px;}
.td_setting .setting_icon{float:left;overflow:hidden;background:url(../images/document/td_icons.gif) no-repeat;}
.td_attachment{background-position:0 -96px!important;}
.td_relations{background-position:0 -128px!important;}
.td_extends{background-position:0 -160px!important;}
.td_pubset{background-position:0 -64px!important;}
.td_basic{background-position:0 0!important;}
.td_other{background-position:0 -32px!important;}
.props_column_title {padding-left:4px;height: 26px;background: url(../images/document/props_column_head_bg.png) no-repeat 0 center;line-height:24px;font-weight:bold;font-size:14px;}
.attr_row{height:24px;font-size:12px;line-height:24px; }
.attr_name{float:left;margin:0 5px;width:60px;overflow:hidden;font-weight:bold;color:#EA4335}
.attr_name .num{margin:0 2px;font-weight:bold;color:blue; }

.attr_row_extended{font-size:12px;overflow:hidden}
.attr_name_extended{float:left;margin:0 5px;width:60px;overflow:hidden; padding:5px 0}

.attr_row_extended .arrt_value_select{float:left;position:relative;overflow:hidden;border: #b7b7a6 1px solid;width:143px;height:auto;margin:3px 0}
.attr_row_extended textarea{width:140px;border: #b7b7a6 1px solid;margin-bottom:3px;}
.ext-ie6 .attr_row_extended .attr_value_select{margin:3px 0 3px 2px}
.ext-ie6 .attr_row_extended textarea{width:143px;border: #b7b7a6 1px solid;margin-bottom:3px;}
.ext-ie6 .attr_row_extended div{margin-bottom:3px}
.ext-ie6 .attr_row_extended .attr_input_text{position:relative;overflow:hidden;border: #b7b7a6 1px solid;width:142px;height:auto;margin:1px 0 5px}
.ext-ie6 .attr_name_extended{float:left;margin:0 5px;width:60px;overflow:hidden; padding:5px 0}
.attr_value{float:left;font-weight:bold;color:green; }
.attr_input_text{position:relative;overflow:hidden;border: #b7b7a6 1px solid;width:140px;height:20px;}
.attr_input_text input{width:140px;height:16px;border:0px;}
.ext-ie8 .attr_input_text{display:inline-block;width:142px;}
.ext-gecko .attr_input_text{display:inline-block;}
.attr_textarea{float:left;margin:0;width:210px; }
.attr_textarea textarea{border:0;border: #b7b7a6 1px solid; }
#DocAbstractHint{float:left;margin-top:2px;margin-left:2px;width:16px;height:16px;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -224px;cursor:pointer; display:-moz-inline-box;display:inline-block;}
.ext-ie6 .attr_table tr{height:24px;line-height:24px;}
.inputtext{border: #b7b7a6 1px solid;}
#channel_select{position:relative;margin-top:2px;margin-left:2px;width:16px;height:16px;background-image: url(../images/icon/Save.png);background-repeat: no-repeat;cursor:pointer;float:left;}
.set_quotechannel{float:right;cursor:pointer;margin-right:5px;margin-top:4px;width:16px;height:16px;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -304px; }
.remove_quotechannel{cursor:pointer;width:16px;height:16px;margin-left:8px;float:left;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -320px;zoom:1; }
.topset_up,.topset_down{cursor:pointer;width:16px;height:16px;line-height:16px;margin-left:3px;float:left;padding:0;zoom:1;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat; }
.topset_up{background-position: 0 -400px;}
.topset_down{background-position: 0 -384px;}
.topset_row{padding-left:10px;}
#pri_set_deadline{position:absolute;margin-left:4px;}
.ext-ie7 .imgDate{margin:0;padding:0;zoom:1.0;cursor:pointer;}
#topset_order{overflow:visible;height:auto;}
#template_setting{float:left;cursor:pointer;margin-left:0px;margin-top:0px;width:16px;height:16px;background-image: url(../images/icon/icons2.gif);background-repeat: no-repeat;background-position: 0 -432px; }
.DTPicker{width:130px!important;white-space:nowrap;}
.DTText{width:100px!important;}
.calendarText{width:112px;overflow:hidden;border: #b7b7a6 1px solid;margin:5px 0px;}
.DTImg{width:28px;height:20px;line-height:18px;display:inline;margin:5px 0px;}
.ext-ie .DTImg{height:20px;}
.ext-gecko .DTImg{width:30px;}
.ext-safari .DTImg{width:30px;}
.ext-ie8 .DTImg{padding:0px;width:28px;line-height:18px;}
.ext-safari .img{margin-left:-5px;}
#cal_dp{BORDER: black 1px solid;width:280px;BACKGROUND-COLOR: #ffffff}
.DPTitle{FONT-SIZE: 9pt;COLOR: #fffacd;BACKGROUND-COLOR: #006000;TEXT-ALIGN: center;}
.DPWeekName{FONT-SIZE: 9pt;COLOR: blue;BORDER-BOTTOM: black 1px solid;TEXT-ALIGN: center;}
.DPCellOther{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: silver;TEXT-ALIGN: center;}
.DPCell{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: #006000;TEXT-ALIGN: center;}
.DPCellSelect{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: #000;text-align:center;BACKGROUND-COLOR: #ffa07a;}
.DPCellCurr{FONT-SIZE: 9pt;CURSOR: pointer;COLOR: white;text-align:center;BACKGROUND-COLOR: gray;}
.DPCellToday{FONT-SIZE: 9pt;font-weight:bold;CURSOR: pointer;COLOR: red;text-align:center;}
.closeBtn{color:red;cursor:pointer;}
.DPBtn {BORDER-RIGHT: black 1px solid;BORDER-TOP: white 1px solid;FONT-SIZE: 9pt;BORDER-LEFT: white 1px solid;WIDTH: 12px;COLOR: black;BORDER-BOTTOM: black 1px solid;BACKGROUND-COLOR: silver;cursor:pointer;}
.DPInput{border:1px solid gray;width:60px;}
.DPTime{FONT-SIZE: 9pt;COLOR: green;}
.pb_cv{position:absolute;top:0px;left:0px;width:100%;height:100%;-moz-opacity:0.5;opacity:0.5;z-index:999990;filter:alpha(opacity=50);background-color:#FFFFFF;}
.pb_to{position:absolute;z-index:999998;width:380px;height:180px;left:50%;top:50%;}
.pb_tb{position:absolute;z-index:999999;width:380px;height:120px;left:-50%;top:-50%;width:100%;background:#FFFFFF;}
#pb_wt{margin:0 2px;width:30px;color:red;}
#pb_ev{font-weight:normal;}
#lbl_autosave{position:absolute;bottom:40px;right:20px;font-size:14px;color:blue;padding:3px;z-index:998;}
.ext-ie6 .full-edit .layout_container{padding-top:0px;}
.ext-ie6 .full-edit .layout_containert .layout_north{display:none;}
.ext-ie6 .full-edit .layout_center_container{padding-right:0px;}
.ext-ie6 .full-edit .layout_center_container .layout_east{display:none;}
.ext-strict .full-edit .layout_north{display:none;}
.ext-strict .full-edit .layout_center_container{top:0px;}
.ext-strict .full-edit .layout_center_container .layout_center{right:0px;}
.ext-strict .full-edit .layout_center_container .layout_east{display:none;}
.attr_extendfield_row,.attr_extendfield_norow{background:#FFFFFF;}
.attr_extendfield_column{overflow:hidden;text-align:left;word-wrap:break-word;word-break:break-all;}
.attr_extendfield_column input{height:20px;border: #b7b7a6 1px solid;}
.ctrsbtn{width:100px!important;}
.extrict{width:100%;table-layout:fixed;background:gray;}
.ext-ie7 .extrict{width:93%;}
.ext-ie8 .extrict{width:100%;}

/*添加浮动按钮样式 add by ffx @2010-11-5*/
.btn_box{border:1px solid #6B6D6B;cursor:move;position:absolute;right:150px;top:40px;text-align:center;width:80px;z-index:100;}
.ext-gecko .btn_box .float_btn_content{padding-left:10px;}

.float_btn_title{background:#848284;margin:1px;color:#ffffff;font-size:12px;}
.float_btn_content{background:#E7E3DE;margin:0 1px;height:30px;text-align:center;}
.float_btn_content .button_off,.float_btn_content .button_disabled{border:0;padding:2px;margin:0;height:20px;overflow:hidden;}
.float_btn_content .button_off_over{padding:1px;margin:0;height:20px;background:#B5BED6;border:1px solid #08246B;overflow:hidden;}
.float_btn_content .button_off{opacity:0.70;/* Safari, Opera and Mozilla */filter:alpha(opacity=70);/* IE *//* -moz-opacity:0.70;Mozilla (Old) */}
.float_btn_content .button_disabled {opacity:0.30;/* Safari, Opera and Mozilla */filter:gray() alpha(opacity=30);/* IE */}
.float_btn_content .btn_image {overflow:hidden;width:16px;height:16px;margin:0 2px;background-repeat:no-repeat;cursor:default;}
.float_btn_content .btn_image img {position:relative;}
.float_btn_content .btn{width:16px;height:16px;}
#floatbtn_saveexit{background:url(../images/document/save_exit.gif);}
#floatbtn_savepublish{background:url(../images/document/save_publish.gif);}

.dragMask{position:absolute;background:#ffffff;left:0;top:0; filter:alpha(opacity=0); opacity:0; width:100%;height:100%;z-index:1;}
.mirror{background:url(../images/icon/icons2.gif) no-repeat 0 -242px;}
.quote{background:url(../images/icon/icons2.gif) no-repeat 0 -258px;}
