body {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	background:white;
}
body, table, tr, td, div, iframe{
	scrollbar-3dlight-color:B4B4B4;
	scrollbar-arrow-color:333333;
	scrollbar-base-color:EEEEEE;
	scrollbar-darkshadow-color:FFFFFF;
	scrollbar-face-color:eeeeee;
	scrollbar-highlight-color:FFFFFF;
	scrollbar-shadow-color:B4B4B4;
}
table.table_fixed{
	table-layout:fixed;
}
A.url:link {
	COLOR: #0066cc;
	text-decoration: none;
}
A.url:visited {
	COLOR: #0066cc;
	text-decoration: none;
}
A.url:hover {
	COLOR: #663399;
	text-decoration: blink;
}
	
.function {
	font-size: 12px;
	color: #c65603;
	height:25px;
	line-height:25px;
	padding-left:20px;
	display:inline-block;
}
A.function:link {
	COLOR: #c65603;
	text-decoration: none;
}
A.function:visited {
	COLOR: #c65603;
	text-decoration: none;
}
A.function:hover {
	COLOR: #000000;
	text-decoration: blink;
}
.version_save{
	background:url(../images/document/document_show/save.gif) no-repeat 0px 0px;
}
.doc_comment{
	background:url(../images/document/document_show/comment.gif) no-repeat 0px 0px;
}
.edit{
	background:url(../images/document/document_show/edit.gif) no-repeat 0px 0px;
}
.close{
	background:url(../images/document/document_show/exit.gif) no-repeat 0px 0px;
}
.view_area .title {
	font-size: 30px;
	line-height: 40px;
	color: #000000;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 0px;
	word-break:break-all;
}
.info {
	font-size: 14px;
	line-height: 20px;
	color: #666666;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}


.info_name {
	font-size: 14px;
	line-height: 20px;
	color: #9E9E9E;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-weight: bold;
}

.view_area {
	border: 1px solid #999999;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.content_outer{
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #666666;
	border-bottom-color: #999999;
}	
.function_area {
	padding-top: 0px;
	margin-top: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.p_sep {
	padding-top: 0px;
	margin-top: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #999999;
}

.content_inner {
	font-size: 12pt;
	line-height: 25px;
	color: #000000;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	word-break:break-all;
}
.content_inner:first-letter{
	padding: 5px;
	font-size: 30pt;
	line-height:40px;
	color: red;
	border:1px solid gray;
	margin-right:5px;
	left:0px;
	top:0px;
}
.p_content {
	font-size: 14px;
/*	line-height: 16px;*/
	color: #000000;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.p_title {
	font-size: 14px;
	line-height: 20px;
	color: #023155;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-weight: bold;
}
.border_red{
	/*border:1px solid red;*/
}
ul.ul_content{
	margin-top:0;
	margin-left:26px;
	margin-bottom:0;
	line-height:20px;
}
.extend_name{
	width:92px;
	font-size:15px;
	line-height:150%;
}
.fck_comment{
	border:1px dotted gray;
	padding:2px 4px;
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
.fck_comment p{
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
.fck_comment td{
	font-size:12px;
	font-family: 'Courier New' , Monospace;
}
.select{
	font-size : 12px;
	border : 1px solid;
	width:50px;
	padding-right:20px;
	line-height:16px;
	background-color:#c0c0c0;
}
.ext-ie8 .wcm-btn{
	display:inline;
}
.abstract_content{
	font-size: 12pt;
	line-height: 25px;
	color: #000000;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	word-break:break-all;
}
.appendix{
	width:140px;
	white-space:nowrap;
	padding-left:16px;	
}
.detailAppendix{
	width:140px;
}
#document_body p{
	word-wrap:break-word;
	word-break:keep-all;
}