ul,body,form{
	font-size:12px;
	padding:0;
	margin:0;
}
.pro_name{
	color:#222222;
	float:left;
}
input{
	border-top:0;
	border-left:0;
	border-right:0;
	float:left;
	border-bottom:1px solid gray;
	background:none;
	font-size:12px;
	line-height:100%;
}
.property{
	font-size:12px;
	height:34px;
	overflow:hidden;
}
.desc{
	color:#008000;
	font-size:12px;
	margin-bottom:5px;
}

.timeBtn{
	background:url("../images/icon/TRSCalendar.gif");
	float:left;
	width:20px;
	height:14px;
	cursor:pointer;
	margin-right:5px;
}

#cal_dd{
	padding:5px;
	background-color:#eeeeee;
	border:1px solid #b2c6d1;
}
#cal_dd table{
	border-collapse:collapse;
	border:none;
	text-align:center;
}
#cal_dd table td{
	cursor:normal;
	font-size:12px;
}
#cal_dd table .DPTitle{
	text-align:center;
	height:18px;
	color:white;
	font-size:14px;
	font-weight:bold;
	border:1px solid #638eae;
	background:gray;
}
#cal_dd table .DPCellOther{
	border:1px solid #c8dae8;
}
#cal_dd table .DPCell{
	border:1px solid #c8dae8;
	background:gray;
	cursor:pointer;
	font-size:12px;
}
#cal_dd table .DPCell:hover{
	background:#faed85;
	border:1px solid #f0d23c;
}
#cal_dd table .DPCellToday{
	background:#4a4a4a;
	color:white;
	font-weight:bold;
}
#cal_dd table .DPCellToday:hover{
	background:#faed85;
	color:black;
	font-weight:bold;
}
#cal_dd table .DPCellCurr{
	background:#cccccc;
	border:1px solid #c8dae8;
	color:red;
	font-weight:bold;
}
#cal_dd table .DPWeekName{
	height:20px;
	font-weight:bold;
	line-height:20px;
}
#cal_dd table .DPCellSelect{
	background:#fdf6da;
	border:1px solid #f0d23c;
}
#cal_dd table .closeBtn{
	color:red;
	cursor:pointer;
}
.DPInput{
	width:80px;
}
#py_trscal-1{
	float:left;
}
#pm_trscal-1{
	float:right;
}
#nm_trscal-1{
	float:left;
}
#hms_trscal-1{
	float:none;
}
.DTImg{
	background:white;
	border:none;
}
.values label{
	line-height:19px;
}
.null input{
	margin-left:15px;
}
input[type=checkbox]{
	border:none;
}
.docnum{
	color:red;
	padding:0 10px;
}
.values li{
	display:none;
}
.values .display-block{
	display:block;
}