/*strict*/
.ext-strict .layout_center{left:0;right:0px;}
.ext-strict .layout_center_innercontainer{top:29px;bottom:0;}
/*.ext-strict .layout_center_innercontainer{top:0;bottom:0;}*/
/*ie6*/
.ext-ie6 .layout_center_container{padding-left:0;padding-right:2px;}
.ext-ie6 .layout_innercontainer{padding-top:29px;padding-bottom:0;}
/*.ext-ie6 .layout_innercontainer{padding-top:0;padding-bottom:0;}*/
/*all*/
.layout_east{display:none;}
/*.layout_north{display:none;}*/
#south_tabs{display:none;}
.pageinfo{background:transparent;}
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
td.doctitle{text-align:left;font-size:14px;padding:4px 0px 4px 2px;line-height:21px;white-space:normal!important;}
.grid_body a:link,.grid_body a:visited{color: #000000;text-decoration: none;}
.grid_body a:hover{color: blue;text-decoration:underline;}
.td_preview{display:none}
.document_topped,.document_topped_forEver,.document_modal_2,.document_modal_3{width:16px;height:16px;background:no-repeat 0 center;float:left;}
.document_attachpic{width:16px;height:16px;background:url(../images/document/attachpic.png) no-repeat 0 center;display:inline-block;}
.document_topped{background-image:url(../images/document/topdoc.gif);}
.document_topped_forEver{background-image:url(../images/document/top_ever.gif);}
.document_modal_2{width:14px;background-image:url(../images/document/shortcutdoc2.gif);}
.document_modal_3{width:14px;background-image:url(../images/document/shortcutdoc3.gif);}
.doctype_10,.doctype_20,.doctype_30,.doctype_40,.cannot_doctype_10,.cannot_doctype_20,.cannot_doctype_30,.cannot_doctype_40{height:20px;display:block;background-position:4px center;background-repeat:no-repeat;}
.doctype_10{background-image:url(../images/document/type_text.gif);}
.doctype_20{background-image:url(../images/document/type_html.gif);}
.doctype_30{background-image:url(../images/document/type_link.gif);}
.doctype_40{background-image:url(../images/document/type_file.gif);}
.cannot_doctype_10{background-image:url(../images/document/type_text_2.gif);}
.cannot_doctype_20{background-image:url(../images/document/type_html_2.gif);}
.cannot_doctype_30{background-image:url(../images/document/type_link_2.gif);}
.cannot_doctype_40{background-image:url(../images/document/type_file_2.gif);}
