table {
	font-family: "宋体", Arial;
	font-size: 12px;	
	color: #000000;
	margin:0px;
}
.box{
	background-color:#fbfbfb;
	border: 1px solid #CAE8F4;
	height:80px;
}
.font{
	line-height: 25px;
	color: #2D55A4;
	padding-left:12px;
}
.font01{
	line-height: 25px;
	color: #2f5aa1;
}
.table-grey{
	background-color:#F5F5F5;
	padding-left:12px;
}
.font-focus{
	font-size: 16px;
	color:#63A6BF;
}
.font-focus01{
	color:#0f1011;
	font-weight:bold;
}
.font-gray{
	font-size: 16px;
	color:#cdcdcc;
}
.font-gray01{
	color: #807f7f;
}
.box-focus{
	width:180px;
	height:32px;
	background-color: #e4f5fd;
	border: 1px solid #91d8fc;
	text-align: center;
}
.box-gray{
	width:160px;
	height:32px;
	background-color: #f6f6f6;
	border: 1px solid #d3d3d3;
	text-align: center;
}

.box-border{
	background-color:#FFFFFF;
	margin:5px 0px;
	width:98%;
}
.bg-1{
	padding-left:13px;
	width:100%;
}
.ext-ie6 .bg-desc{
	padding-top:8px;
	height:100%;
}
.ext-ie8 .bg-desc{
}
input{
	border:1px solid #90b9d1;
	width:200px;
	height:20px;
}
textarea{
	width:300px;
	height:100px;
	border:1px solid #90b9d1;
}
.keyword{
	color:green;
	font-weight:bold;
}
.tip{
	line-height:180%;
	margin:10px;
}
#TreeView{
	padding:5px 0px 0px 15px;
	width:100%;
	height:242px;
	border:1px solid #ACA899;
	overflow:auto;
}
.ext-gecko #TreeView{
	width:96%;
	height:251px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}