*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	text-align:center;
}
.container{
	width:980px;
	height:100%;
	text-align:left;
	cursor:default;
}
.header{
	height:106px;
	background:url('../images/gkml_logo.jpg') center center no-repeat;
}
.rowOfCurrentPosition{
	margin:10px 0px;
	padding:4px 8px;
	background:#F1F1F1;
	color:black;     
	font-weight:bold;
}
.main{
	background:#EBF3F9;
	height:300px;
}
.footer{
	margin-top:8px;
	color:#515151;
	text-align:center;
}
.footer div{
	margin-top:4px;
	padding-top:4px;
}
.footerLine{
	border-top:6px solid #8E0404;
	border-bottom:1px solid #8E0404;
}
