*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	text-align:center;
	background:#EBF3F9;
	padding-right:270px;
}
.container{
	position:relative;
	width:100%;
	height:100%;
	display:inline;
	padding:62px 0px 30px;
	cursor:default;
}
.header{
	position:absolute;
	width:100%;
	height:62px;
	left:0px;
	top:0px;
	background:url('../images/logo.jpg') center center repeat-x;
}
.main{
	position:relative;
	width:100%;
	width:100%;
	padding-top:31px;
}
.footer{
	position:absolute;
	width:100%;
	height:30px;
	line-height:30px;
	left:0px;
	bottom:0px;
	background-color:#0F5399;
	color:#B0D5FF;
	text-align:right;
	padding-right:8px;
	white-space:nowrap;
}
.headerLeft{
	position:absolute;
	left:0px;
	top:0px;
	width:380px;
	height:62px;
	background:url('../images/logo_left.jpg') left center no-repeat;
	z-index:2;
}
.headerRight{
	position:absolute;
	right:0px;
	top:0px;
	width:459px;
	height:62px;
	background:url('../images/logo_right.jpg') right center no-repeat;
	z-index:1;
}
