*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	text-align:center;
}
.container{
	position:relative;
	width:980px;
	height:100%;
	padding:154px 0px 140px;
	text-align:left;
	cursor:default;
}
.header{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:106px;
	background:url('../images/gkml_logo.jpg') center center no-repeat;
}
.rowOfCurrentPosition{
	position:absolute;
	left:0px;
	top:116px;
	width:100%;
	height:28px;
	line-height:28px;
	padding:0px 8px;
	background:#F1F1F1;
	color:black;     
	font-weight:bold;
}
.main{
	position:relative;
	width:100%;
	height:100%;
	background:#EBF3F9;
	overflow-y:auto;
}
.footer{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	margin-top:8px;
	color:#515151;
	text-align:center;
}
.footer div{
	margin-top:4px;
	padding-top:4px;
}
.footerLine{
	border-top:6px solid #8E0404;
	border-bottom:1px solid #8E0404;
}
