<?xml version="1.0" encoding="GB2312"?>
<plugin name="元数据发布组件" version="1.0" id="metadata.publish">
	
	<!--Config For ObjectLCMonitor BEGIN-->
	<!--
		Listener默认为监控对象的新增、修改、删除前
		EventType:
		-1：新增前
		1：新增
		2：修改后
		3：删除前
		4、删除后
		5：修改前
		多个以逗号隔开
	-->
	<extension
		element-class="com.trs.infra.persistent.listener.MonitorHostConfig"
		id="ObjectLCMonitor">
		<!--监听元数据的新增和修改-->
		<monitor-host name="元数据"
			class-name="com.trs.cms.content.CMSObjDefaultImpl">
			<listener bean-id="MetaDataLCListnerForSynPageName"  event-type="1,2"/>
		</monitor-host>		
		
	</extension>

</plugin>