.createUserContent{
	font-size:12px;
	width:535px;
	height:70px;
	float:left;
}
.createUserListContent{
	background:#fff;
	width:520px;
	height:58px;
	float:left;
	position:relative;
	padding-top:12px;
}
.createLogoPic{
	position:absolute;
	left:36px;
	top:32px;
	height:34px;
}
.createNextPic{
	float:right;
	padding-top:25px;
	margin-right:-7px;
	width:9px;
	height:47px;
	cursor:pointer;
}
.createPrePic{
	padding-top:12px;
	margin-left:-9px;
	float:left;
	width:10px;
	height:47px;
	cursor:pointer;
}
.createUserPic{
	width:45px;
	height:47px;
	position:relative;
	float:left;
	cursor:pointer;
}
.createSelectPic{
	position:absolute;
	left:36px;
	top:-1px;
	height:34px;
	z-index:13;
}
.hidden{
	display:none;
}
.show{
	display:block;
}
.createGroupBy{
	font-size:12px;
	height:27px;
	float:left;
	padding-top:12px;
}
.commentContent{
	clear:both;
	height:240px;
	width:620px;
	display: none;
	font-size:12px;
	margin-bottom:13px;
}
.iframeDiv{
	height:45px;
	width:550px;
	float:left;
}
.divIframe{
	overflow:auto;
	background:#fff;
	width:550px;
	height:45px;
	font-size:9px;
	line-height:13px;
}
.commentSubmit{
	float:right;
	width:60px;
	height:45px;
	line-height:45px;
	padding-top:11px;
	cursor:hand;
}
.createPrev{
	float:left;
	height:45px;
	margin-top:-12px;
	margin-left:-1px;
	z-index:40;
}
.createNext{
	position:absolute;
	height:45px;
	top:-24px;
	left:520px;
	z-index:40;
}
.v_content{
	width:519px;
	height:47px;
	overflow:hidden;
	position:relative;
}
.v_content li{
	padding:0 10px;
	width:45px;
	height:45px;
	float:left;
}
.v_content_list{
	position:absolute;
	width:3600px;
	height:47px;
	top:0px;
	left:0px;
}
.v_show{
	width:520px;
}
.grayPic{
	filter: Alpha(opacity=40);
	-moz-opacity:.4;
	opacity:0.4;
}
#headUlStyle{
	list-style:none;
	height:47px;
	padding:0px !important;
	margin:0px !important;
}
.roundCss{
	-moz-border-radius:10px; 
	-khtml-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px;
}
.textAreaFont{
	font-size:14px;
	color:#000;
}
.checkContent{
	border: 2px solid #C0C0C0; 
	padding:5px;
	line-height:20px;
	font-size:12px;
	height:120px;
	width:288px;
	background:#fff;
	color:#000;
}
.sendBtn{
	float:right;
	margin-top:-25px;
	padding-right:14px;
}
.ejectDiv{
	position:absolute;
	width:300px;
	height:180px;
	top:80px;
	left:130px;
	display:none;
	background:#4FA4DA;
	border:1px solid #ccc;
	z-index:50;
	padding:15px
}
.operateUntilReturn{
	margin:0 auto;
	width:160px;
	height:23px;
	line-height:23px;
	padding-top:15px;
}
/*创建微博拷贝*/
.bodyColor{
	margin:0px;
	padding:0px;
	background:#fff;
	color:#606060;
}
.showSelectContain{
	float:left;
	font-size:15px;
	color:#0D4B9B;
}
.currentSelect{
	color:#000;
	font-weight:bold;
}
.marginLeftRight15Px{
	margin-left:15px;
	margin-right:15px;
}
.marginRight15Px{
	margin-right:15px;
}
.marginRight15Px img:first-child{
	padding-right:3px;
}
.pointerHand{
	cursor:pointer;
}
.contentMicroMessage{
	border-bottom:1px dashed #D9D9D9;
	margin:10px 15px;
}
.contentMicroMessageLeft{
	float:left;
	color:#999;
	font-size:12px;
}
.contentMicroMessageRight{
	float:right;
	color:#0078b6;
	font-size:14px;
}
.marginBottom_2Px{
	margin-bottom:-2px;
}
.marginBottom_3Px{
	margin-bottom:-3px;
}
.checkingContainer{
	width:763px;
	position:relative;
	height:210px;
	display:none;
}
.checkingTriangle{
	position:absolute;
	left:537px;
	top:0px;
	width:24px;
	height:9px;
	background:url(../images/triangle_up.png) no-repeat;
	z-index:2;
}
.returnTriangle{
	position:absolute;
	left:600px;
	top:0px;
	width:24px;
	height:9px;
	background:url(../images/triangle_up.png) no-repeat;
	z-index:2;
}
.checkingContent{
	position:absolute;
	top:8px;
	width:736px;
	left:0px;
	border:1px solid #C6C6C6;
	background:#F0F0F0;
	font-size:12px;
	color:#000;
	padding-left:23px;
	padding-top:10px;
	line-height:23px;
}
.checkingTextarea{
	width:718px;
	height:44px;
	margin:5px 0px;
	font-size:12px;
	overflow:auto;
	resize:none;
}
.checkingBtn{
	width:57px;
	height:24px;
	font-size:14px;
	color:#ffffff;
	text-align:center;
	line-height:24px;
	font-weight:bold;
	background:url(../images/cofirm.png) no-repeat;
	float:right;
	margin-right:20px;
	margin-bottom:16px;
}
.padding10Px5Px{
	padding:10px 5px;
}
.checkingMessage{
	color:#444;
	font-size:14px;
	line-height:24px;
	padding-bottom:6px;
}
/*弹出框css*/
.editContainerExtend{
	display:none;
	position:absolute;
	width:563px;
	height:347px;
	left:90px;
	top:0px;
	z-index:2;		
}
.editContainer{
	width:563px;
	height:347px;
	position:static;
	background: rgb(0, 0, 0);  
	background: rgba(0, 0, 0, 0.3);
	filter:alpha(opacity=30);
}
.editInnerContainer{
	clear:both;
	position:relative;
	top:6px;
	left:6px;
	border:1px solid #B8B8B8;
	width:549px;
	height:333px;    
	background:#F0F0F0;
	font-size:14px;
}
.editRound{
	-moz-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px;
}
/*弹出框css结束*/
.textarea{ 
	max-height:115px;  
	max-width:520px;  
	overflow:auto;  /*使不显示滚动条*/
	width:520px;
	line-height:20px;
	font-size:12px;
	height:115px;
	resize:none;
} 
.editInnerHeader{
	height:38px;
	width:549px;
	line-height:39px;
	border-bottom:1px solid #D7D7D7;
}
.editInnerFont{
	font-weight:bold;
	margin-left:14px;
}
.editInnerClose{
	font-weight:bold;
	margin-right:14px;
	font-size:14px;
	color:#B7B7B7;
	cursor:pointer;
}
.editInnerContent{
	padding-top:10px;
	height:285px;
	width:535px;
	border-top:1px solid #fff;
	padding-left:14px;
}
.linkOrNumInfo{
	padding-top:15px;
	width:520px;
	font-size:14px;
	color:#5F5F5F;
}
.wcmSelectColor{
	color:#257FBB;
}
.paddingTop10Px{
	padding-top:10px;
}
.reviewList{
	width:100%;
	min-height:30px;
	max-height:120px;
	overflow-y:auto;
}
.reviewSingleWrap{
	width:95%;
	line-height:16px;
}
.reviewSingle{
	position:relative;
}
.reviewTitle{
	position:relative;
}
.reviewContent{
	position:relative;
	width:90%;
	top:-16px;
	left:60px;
	word-wrap:break-word;
}