.bodyColor{
	margin:0px;
	padding:0px;
	background:#fff;
	color:#606060;
}
.showSelectContain{
	float:left;
	font-size:15px;
	color:#0D4B9B;
}
.currentSelect{
	color:#000;
	font-weight:bold;
}
.pointerHand{
	cursor:pointer;
}
.checkedMessageTop{
	background:#FAFAFA;
	margin:10px;
	padding:10px 10px 0px 10px;
	border-bottom:1px solid #E4E4E4;
}
.checkedMessageBottom{
	margin:14px 15px 0px;
	color:#444;
	font-size:14px;
	line-height:24px;
}
.checkedMessageTopUp span,.checkedMessageTopUp img{
	vertical-align:middle;
}
.height8Px{
	height:8px;
}
.checkedMessageTopDown{
	line-height:24px;
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #E4E4E4;
	display:none;
}
.floatLeftMarginLeft5px{
	float:left;
	font-size:15px;
	margin-left:5px;
}

.floatLeftMarginLeft5px img{
	margin-bottom:2px;
}
.paddingLeftRight5Px{
	padding:0px 5px;
}
.checkedMessageContainer{
	position:relative;
	border:1px solid #E4E4E4;
	background:#FAFAFA;
	margin-top:8px;
}
.checkedMessageContainerTriangle{
	background:url(../images/triangle_up3.png) no-repeat;
	width:26px;
	height:12px;
	margin-top:-9px;
	margin-left:30px;
}
.checkedMessageContent{
	padding:6px 20px 5px;
	color:#737373;
	font-size:12px;
}
.sentTime{
	color:#737373;
	font-size:12px;
	padding-left:10px;
	cursor:pointer;
}
.paddingTopBottom{
	padding:5px 0;
}
.checkedBtn{
	width:57px;
	height:20px;
	font-size:12px;
	color:#ffffff;
	text-align:center;
	line-height:20px;
	font-weight:bold;
	background:url(../images/cofirm.png) no-repeat;
	margin-right:20px;
	margin-bottom:16px;
}
.reviewList{
	width:100%;
	min-height:30px;
	height:120px;
	overflow-y:auto;
}
.reviewSingleWrap{
	width:95%;
	line-height:16px;
}
.reviewSingle{
	position:relative;
}
.reviewTitle{
	position:relative;
}
.reviewContent{
	position:relative;
	width:90%;
	top:-16px;
	left:60px;
	word-wrap:break-word;
}
