/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/


.rowtd{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	PADDING-LEFT: 10px;
	TEXT-ALIGN: left;
	word-wrap:normal !important;
}
.func_reply{
	background: url(../images/icon/replyMsg.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.func_post{
	background: url(../images/workflow/option_process.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.title_unreaded{
	font-weight: bold;
}
.title_normal{
	font-weight: normal;
}
.help-tooltip {
	position:	absolute;
	width:		420px;
	border:		1px Solid WindowFrame;
	background:	aliceblue;
	color:		InfoText;
	font:		StatusBar;
	font:		Status-Bar;
	padding:	3px;
	filter:		progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3);
	z-index:	10000;
}
.help-tooltip a,
.help-tooltip a:hover {
	color:		blue !important;
	background:	none;
}
.dv_title{
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	width: 100%;
	border-bottom: 1px dashed silver;
}
.dv_detail{
	margin-top: 5px;
	padding: 3px;
	font-size: 14px;
	line-height: 50px;
	width: 100%;
}
.message_attr_value{
	float:left;
	top:1px;
	height:18px;
	line-height:18px;
	padding:1px;
	width:150px;
	text-decoration: none;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#content{
	width:100%;
	overflow:auto;
}
.message_delete{background-position: 0px -784px;}
.message_new{background-position: 0px -528px;}
.message_transfer{background-position: 0px -192px;}
.message_clearinbox{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -41px -118px;}
.message_clearoutbox{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -60px -118px;}
.message_reply{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -79px -118px;}
.message_signasreaded{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -22px -118px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .message_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .message_new{background-position: 0 -1504px;}
.toolbar_item_disabled .message_transfer{background-position: 0 -1168px;}
.toolbar_item_disabled .message_reply{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -98px -178px;}
.toolbar_item_disabled .message_signasreaded{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -61px -178px;}
