#cal_dd{
	padding:5px;
	background-color:#efffff;
	border:1px solid #b2c6d1;
}
#cal_dd table{
	border-collapse:collapse;
	border:none;
	text-align:center;
}
#cal_dd table td{
	cursor:normal;
	font-size:12px;
}
#cal_dd table .DPTitle{
	height:25px;
	color:white;
	font-size:14px;
	font-weight:bold;
	border:1px solid #638eae;
	background:url("../images/calendar/DPTitle-bg.jpg") repeat-x;
}
#cal_dd table .DPCellOther{
	border:1px solid #c8dae8;
}
#cal_dd table .DPCell{
	border:1px solid #c8dae8;
	background:url("../images/calendar/DPCell-bg.jpg") repeat-x;
	cursor:pointer;
	font-size:12px;
}
#cal_dd table .DPCell:hover{
	background:#faed85;
	border:1px solid #f0d23c;
}
#cal_dd table .DPCellToday{
	background:#4a4a4a;
	color:white;
	font-weight:bold;
}
#cal_dd table .DPCellToday:hover{
	background:#faed85;
	color:black;
	font-weight:bold;
}
#cal_dd table .DPCellCurr{
	background:#cccccc;
	border:1px solid #c8dae8;
	color:red;
	font-weight:bold;
}
#cal_dd table .DPWeekName{
	height:25px;
	font-weight:bold;
	line-height:25px;
}
#cal_dd table .DPCellSelect{
	background:#fdf6da;
	border:1px solid #f0d23c;
}
#cal_dd table .closeBtn{
	padding-left:10px;
	color:red;
	cursor:pointer;
}