/*可变的列[文档标题]所使用的样式*/
.ObjectDesc{
	padding-left:0!important;
	padding-left:2px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
/**页面自己的样式**/
.object_edit{
	background:url(../images/icon/config.gif) center center no-repeat;
}
.object_delete{
	background:url(../images/icon/Delete.png) center center no-repeat;
}
.ObjectName{
	padding-left:3px;
	width:150px; 
	font-size:12px;
	text-overflow:ellipsis;
}
.title{
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}