circle.node {
    stroke: #fff;
    stroke-width: 3px;
}

line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;
}

marker#arrow {
    stroke: #999;
    fill: #999;
}

marker#suit {
  fill: black;
}
marker#resolved {
  fill: black;
}

.linetext {
    font-size: 12px ;
    font-family: SimSun;
    fill:#0000FF;
    fill-opacity:1.0;
}

.maintext{
    font-size:14px;
    font-family: SimSun;
    fill-opacity:1.0;
}