@charset "UTF-8";

html,body {
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
}

body {
	font-family: "Microsoft YaHei", "SimSun";
	font-size: 12px;
	margin: 0;
}

#top {
	height: 12%;
	background: red;
	background-image: url("../images/banner.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#left {
	width: 18%;
	height: 88%;
	background: rgb(227, 232, 246);
	float: left;
}

#right {
	width: 82%;
	height: 88%;
	background: rgb(227, 232, 246);
	float: left;
}

#lefttop {
	width: 100%;
	height: 32px;
	background-image: url("../images/bglefttop.png");
}

#query {
	width: 100%;
	height: 10%;
	background: rgb(1, 130, 185);
	margin-bottom: 1px;
	cursor: pointer;
}

#query_p {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 0;
	line-height: 2rem;
}

#feedback {
	width: 100%;
	height: 10%;
	background: rgb(1, 130, 185);
	margin-bottom: 1px;
	line-height: 3;
	color: white;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

#feedback_query {
	width: 100%;
	height: 10%;
	background: rgb(1, 130, 185);
	line-height: 300%;
	color: white;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}