<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="components.advisor">
	<!--Config For ObjectLCMonitor BEGIN-->
	<!--
		Listener默认为监控对象的新增、修改、删除前
		EventType:
		1：新增
		2：修改
		3：删除前
		4：删除后
		5：修改后
		多个以逗号隔开
	-->
	<extension 
		element-class="com.trs.infra.persistent.listener.MonitorHostConfig" 
		id="components.wcm.content.ObjectLCMonitor">
		<!--顾问-->
		<monitor-host name="顾问" 
			class-name="com.trs.components.wcm.advisor.Advisor">
			<listener bean-id="AdvisorListenerForRecall" event-type="4"/>
		</monitor-host>
	</extension>
</plugin>