/*01 首先消除默认的边框边距和字体大小*/
*{margin: 0px; padding: 0px; }

/*02 设置html、body的大小*/
html, body {width:100%; height:100%; overflow: hidden;font-size: 12px;}

.libfield_delete {position: relative; width: 100%;height: 100%; }
.libfield_delete .top {width: 100%; height: 50px; text-align: center; line-height: 25px;color:#5D3700; font-size: 14px; font-weight: bold;  text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.libfield_delete .top .warn {color: red; }
.libfield_delete .content {position:absolute; top:50px; bottom: 0px; width: 100%; background-color: #F3F3F3;overflow-y: auto;overflow-x:hidden;}
.libfield_delete .content p {margin-top: 10px; margin-left: 25px; font-size: 12px; font-weight: bold; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.libfield_delete .content ul {}
.libfield_delete .content ul li {list-style:none; float:left; width: 33%; height: 30px; margin-top: 0px; color: #4A4A4A; text-overflow: ellipsis; white-space: nowrap;overflow: hidden; line-height: 30px;}
.libfield_delete .content ul li label {margin-left: 50px; vertical-align: middle;}

.jquery-ie6 .libfield_delete{
	padding-top:50px;
}
.jquery-ie6 .top {
	position:absolute;
	top:0px;
}
.jquery-ie6 .libfield_delete .content{
	position:static;
	height:100%;
}

.first-li {margin-left:-1px;}
.last-li {margin-right:-1px;}