<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="components.region">
	<beans>
		<bean id="DocumentListenerForPublish" 
			class="com.trs.components.wcm.publish.region.DocumentListenerForPublish" 
			singleton="true"/>
		<bean id="ChannelDocListenerForPublish" 
			class="com.trs.components.wcm.publish.region.ChannelDocListenerForPublish" 
			singleton="true" />	
		<bean id="ChannelListenerForPublish" 
			class="com.trs.components.wcm.publish.region.ChannelListenerForPublish" 
			singleton="true" />	
		 
	</beans>
</plugin>