@CHARSET "UTF-8";
input{outline: none;}
span:focus{outline: none;}


.report{
	text-align:center;	
	border:solid 1px #ccdcdf;
	/* padding:0 3px 0 3px; */
}
.report-title{
	font-size:12px;
	text-indent:50px;
	/*font-size:18px;
	color:#327bb9;*/
}
.report-query{
	/* margin-bottom: 10px; */
	background-color:#F8F9FB;
}
.report-helper{
	cursor:pointer;
	padding:3px 6px;
	border:solid 1px #999;
}
.report-btn-banner{
	text-align:right;
}
.report-remark{
	text-align:left;
	font-size:12px;
	color:#555;
	font-family:'宋体';
	padding:10px 3px 10px 3px;
	display:none;
}
.report-query-banner{
	background-image: url("../../gwaic/images/style/default/grid/gridTopCenter.png");
	height:32px;
	line-height:32px;
	text-align:left;
	font-size:12px;
	font-family:'宋体';
	font-weight:bold;
	padding-left:6px;
	color:#327bb9;
}
.report-query-fieldset{
	padding-top:10px;
}
.report-query-li-field{
	/* text-align:right;
	font-size:14px;
	font-family:'宋体';
	padding:2px 1px 2px 6px; */
	    color: #666;
    font-size: 12px;
    font-family: "宋体";
    padding: 5px 4px 4px;
    font-weight: bold;
    word-wrap: break-word;
}
.report-query-li-input{
	text-align:left;
	font-size:14px;
	padding-top:2px;
	font-family:'宋体';
	padding:2px 6px 2px 1px;
}


.report-query-field{
	height:20px;
	width:190px;
	font-family:'宋体';
}
.report-query-text{
	height:30px;
	line-height:30px;
	padding-left:4px;
	border: 1px solid #C5D6E0;
	width:190px;
	font-size:14px;
	font-family:'宋体';
}
.report-query-date{
	height:30px;
	line-height:30px;
	padding-left:4px;
	border: 1px solid #C5D6E0;
	font-size:14px;
	font-family:'宋体';
}
.report-query-li-input select{
	height:33px;
	line-height:33px;
	padding-left:4px;
	border: 1px solid #C5D6E0;
	font-size:14px;
	font-family:'宋体';
	width:196px;
}

.report-query-btn{
	color: #fff;
	font-family: "￿￿";
	background: url(../../gwaic/images/style/default/grid/gridTitleBg.png) no-repeat;
	padding: 0;
	cursor: pointer;
	height: 30px;
	width: 75px;
	text-align: center;
	margin:6px 5px 10px;
	border:0px;
}
.report-query-btn:hover{
	background: url(../../gwaic/images/style/default/grid/gridTitleBg2.png) no-repeat;
}

.report-query-helper-btn{
	padding-right:6px;
	font-size:12px;
	cursor:pointer;
}
.report-query-helper-btn:hover{
	font-weight:bold;
}

.button-fav{
	background: url(../../gwaic/images/newicon/fav1.png) no-repeat;
	width: 55px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-fav:hover{
	background: url(../../gwaic/images/newicon/fav2.png) no-repeat;
}

.button-unfav{
	background: url(../../gwaic/images/newicon/unfav1.png) no-repeat;
	width: 78px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-unfav:hover{
	background: url(../../gwaic/images/newicon/unfav2.png) no-repeat;
}

.button-back{
	background: url(../../gwaic/images/newicon/back1.png) no-repeat;
	width: 55px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-back:hover{
	background: url(../../gwaic/images/newicon/back2.png) no-repeat;
}

.button-excel{
	background: url(../../gwaic/images/newicon/excelall1.png) no-repeat;
	width: 92px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-excel:hover{
	background: url(../../gwaic/images/newicon/excelall2.png) no-repeat;
}

.button-excelall{
	background: url(../../gwaic/images/newicon/excelall1.png) no-repeat;
	width: 92px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-excelall:hover{
	background: url(../../gwaic/images/newicon/excelall2.png) no-repeat;
}


.button-add{
	background: url(../../gwaic/images/newicon/add1.png) no-repeat;
	width: 55px;
	height: 23px;
	padding-left: 15px;
	margin:3px 5px;
}
.button-add:hover{
	background: url(../../gwaic/images/newicon/add2.png) no-repeat;
}
.btn-expand{
	color:#0066FF;
	font-weight:300;
	cursor:pointer;
}
.btn-expand:hover{
	color:#00CC00;
	font-weight:900;
}
.defaultButton {
	color: #fff;
	font-family: "￿￿";
	padding: 0;
	padding-left:12px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	border:0px;
}

.loading{position:absolute;left:40%;top:40%;margin: 0 auto;width: 200px;height: 90px;background:url(../../gwaic/images/menu/load2.gif) no-repeat;z-index: 100;}

.opacity{z-index: 99;width: 100%;opacity:0.3; filter: alpha(opacity=30); background-color:#000; position: absolute;left: 0px;top: 0px;height:650px;}
.loadingMsg{position:absolute;left:39%;top:50%;margin: 0 auto;width: 300px;height: 90px;z-index: 98;color: blue;font-size:14px;}


.report-content{
	display:none;
}


.report-data-empty{
	height: 120px;
	color: rgb(153, 153, 153); 
	letter-spacing: 2px; 
	font-family: Microsoft Yahei; 
	font-size: 16px;
}
.report-content-table{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:100%;
}
.report-content-table th{
	padding:8px;
	border-width: 2px 1px 1px 0;
	border-style: solid;
	border-color: #c7c7c7;
	border-top-color:#3EBDD9;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	font-size: 12px;
	font-family: "宋体";
	font-weight:normal;
	background: url(../../gwaic/images/style/default/grid/gridColumnBack.gif);
}

.report-content-table td{
	/* padding:8px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #c7c7c7;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333333;
	font-size: 12px;
	font-family: "宋体"; */
	border-color: #ededed;
    border-style: solid;
    border-width: 0 1px 1px 0;
    font-size: 12px;
    font-family: "宋体";
    text-align: left;
    cursor: default;
    overflow: hidden;
    color: #666;
    padding: 5px 10px 5px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.report-paging-nav-first{
	cursor:pointer;
}
.report-paging-nav-pre{
	cursor:pointer;
}
.report-paging-nav-next{
	cursor:pointer;
}
.report-paging-nav-last{
	cursor:pointer;
}

