/*grid_thumb*/
.thumb_item{width:180px;margin:5px;}    
.thumb_item .thumb{position:relative;height:150px;padding:2px;margin-bottom:4px;background:url(../images/watermark/picture_box.gif) center center no-repeat;border:0;}
.thumb_item_active .thumb{padding:2px;border:0;}
.thumb_item .attrs{text-align:center;}
.thumb_item_active .attrs{background:#FFFFEF;color:black;}
/*thumb_grid*/
.ext-strict .thumb_grid_data{top:35px;}
.ext-ie6 .thumb_grid{padding-top:35px;}
.thumb_grid .thumb_grid_head{height:30px;background: url(../images/list/grid_header_bg.png) center center repeat-x;}
.watermark_delete{background-position: 0px -784px;}
.watermark_new{background-position: 0px -528px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .watermark_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .watermark_new{background-position: 0 -1504px;}
.ext-ie6 .thumb_grid{padding-bottom:30px!important;}
.ext-strict .thumb_grid_data{bottom:30px;}
.left{margin-top:6px;}