.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_save{
	background:url(../images/icon/Save.png) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
	cursor:not-allowed;
}
.objectcannot_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
	cursor:not-allowed;
}
.advance_search{
	width:40px;
	cursor:pointer;
	background:url(../images/metadata/advance_search.png) right 5px no-repeat;
}
.ext-strict .querybox{
	width:280px !important;
}
.ext-ie6 .querybox{
	width:300px !important;
}
.appendix_type{
	width:16px;
	height:16px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px center;
	padding:9px 10px;
}
a.appendix_type:hover,a.appendix_type:active{
	text-decoration:none;
}
.bigText{
	color:gray;
}
.reldoc{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
a.titleField:link, a.titleField:visited{
	color:blue;
	text-decoration:none;
}
a.titleField:hover, a.titleField:active{
	color:blue;
	text-decoration:underline;
}
.ext-strict .grid_table{
	width:100%;
}
.record_modal_1{
}
.record_modal_2{
	background-image:url(../images/document/shortcutdoc2.gif);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:18px;
}
.record_modal_3{
	background-image:url(../images/document/shortcutdoc3.gif);
	background-repeat:no-repeat;
	background-position:2 center;
	padding-left:18px;
}
.title{
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}
.metarecdata_delete{background-position: 0px -784px;}
.metarecdata_new{background-position: 0px -528px;}
.metarecdata_preview{background-position: 0px -449px;}
.metarecdata_publish{background-position: 0px -400px;}
.metarecdata_copy{background-position: 0px -864px;}
.metarecdata_quote{background-position: 0px -816px;}
.metarecdata_move{background-position: 0px -560px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .metarecdata_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .metarecdata_new{background-position: 0 -1506px;}
.toolbar_item_disabled .metarecdata_preview{background-position: 0 -1425px;}
.toolbar_item_disabled .metarecdata_publish{background-position: 0 -1376px;}
.toolbar_item_disabled .metarecdata_copy{background-position: 0 -1840px;}
.toolbar_item_disabled .metarecdata_quote{background-position: 0 -1792px;}
.toolbar_item_disabled .metarecdata_move{background-position: 0 -1537px;}