<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0"  id="components.common.publish.widget">
	<beans>
		<bean id="IMasterMgr" 
			class="com.trs.components.common.publish.widget.MasterMgr" 
			singleton="true"/>
		<bean id="IWidgetMgr" 
			class="com.trs.components.common.publish.widget.WidgetMgr" 
			singleton="true"/>
		<bean id="IWidgetParameterMgr" 
			class="com.trs.components.common.publish.widget.WidgetParameterMgr" 
			singleton="true"/>
		<bean id="ILayoutMgr" 
			class="com.trs.components.common.publish.widget.LayoutMgr" 
			singleton="true"/>
		<bean id="ILayoutGenerator" 
			class="com.trs.components.common.publish.widget.LayoutGenerator" 
			singleton="true"/>
		<bean id="IStyleAndResourceMgr" 
			class="com.trs.components.common.publish.widget.StyleAndResourceMgr" 
			singleton="true"/>
		<bean id="IStyleItemMgr" 
			class="com.trs.components.common.publish.widget.StyleItemMgr" 
			singleton="true"/>
		<bean id="IContentStyleMgr" 
			class="com.trs.components.common.publish.widget.ContentStyleMgr" 
			singleton="true"/>
		<bean id="IResourceStyleMgr" 
			class="com.trs.components.common.publish.widget.ResourceStyleMgr" 
			singleton="true"/>
		<bean id="IPageStyleMgr" 
			class="com.trs.components.common.publish.widget.PageStyleMgr" 
			singleton="true"/>
		<bean id="IStyleCenterMgr" 
			class="com.trs.components.common.publish.widget.StyleCenterMgr" 
			singleton="true"/>
		<bean id="ISystemResourceStyleMgr" 
			class="com.trs.components.common.publish.widget.SystemResourceStyleMgr" 
			singleton="true"/>
		<bean id="ISystemContentStyleMgr" 
			class="com.trs.components.common.publish.widget.SystemContentStyleMgr" 
			singleton="true"/>
		<bean id="PageStyleExporter" 
			class="com.trs.components.common.publish.widget.PageStyleExporter" 
			singleton="true"/>
		<bean id="PageStyleImporter" 
			class="com.trs.components.common.publish.widget.PageStyleImporter" 
			singleton="true"/>
		<bean id="IWidgetInstanceMgr" 
			class="com.trs.components.common.publish.widget.WidgetInstanceMgr" 
			singleton="true"/>
		<bean id="IWidgetInstParameterMgr" 
			class="com.trs.components.common.publish.widget.WidgetInstParameterMgr" 
			singleton="true"/>
		<bean id="IWidgetServer" 
			class="com.trs.components.common.publish.widget.WidgetServer" 
			singleton="true"/>
		<bean id="TemplateLCListenerVisualTemplate" 
			class="com.trs.components.common.publish.widget.TemplateLCListenerVisualTemplate" 
			singleton="true"/>
		<bean id="ContentStyleExporter" 
			class="com.trs.components.common.publish.widget.ContentStyleExporter" 
			singleton="true"/>
		<bean id="ContentStyleImporter" 
			class="com.trs.components.common.publish.widget.ContentStyleImporter" 
			singleton="true"/>
		<bean id="ResourceStyleExporter" 
			class="com.trs.components.common.publish.widget.ResourceStyleExporter" 
			singleton="true"/>
		<bean id="ResourceStyleImporter" 
			class="com.trs.components.common.publish.widget.ResourceStyleImporter" 
			singleton="true"/>
		<bean id="AdjustJsLCListenerWidget" 
			class="com.trs.components.common.publish.widget.AdjustJsLCListenerWidget" 
			singleton="true"/>
		<bean id="WidgetLCListenerForWidgetFixedParam" 
			class="com.trs.components.common.publish.widget.WidgetLCListenerForWidgetFixedParam" 
			singleton="true"/>
	</beans>
		
</plugin>