.dropselectbox {background:#DDD url(../images/selectBg.png) repeat-x left top;}
.dropdown h4{border:solid 1px #AAA;text-indent:0;}
.dropdown ul{border:1px solid #AAA; background:#FFF;padding-right:20px;}
.dropdown ul li{background:#FFF;height:19px;font:400 12px/19px Arial, Helvetica, sans-serif;}
.dropdown ul li.over{background:#369; color:#FFF;}