.dropselectbox {background:#DDD url(../images/config_select_bg_2.png) repeat-x left top;height:26px;}
.dropdown h4{border:solid 1px #DCDCDC;height:24px;line-height:24px;padding-right:20px;margin-top:-3px;color:#7C7C7C;font-size:14px;}
.dropdown ul li{background:#FFF;height:22px;font-size:14px;padding-top:2px;padding-bottom:2px;line-height:22px;color:#000;}
.dropdown ul li.over{background:#e2e2e2; color:#000;}