.face{position:absolute;border:1px solid #ccc;background:#fff;width:294px; left:100px;top:80px; }
.face .arrow-tips {position:absolute; top:89px; left:-7px; z-index:999;color:#ccc}
.face .arrow-tips-border {position:absolute; top:89px; left:-6px; color:#fff; z-index:9999}
.face ul {display:inline-block; padding-right:4px;padding-bottom:2px;padding-top:6px;padding-left:8px;}
.face ul li {width:26px;height:22px; padding:4px 2px; float:left;text-align: center;border:1px solid #e8e8e8;cursor:pointer;overflow:hidden; margin: -1px 0 0 -1px;}
.face ul li:hover {border:1px solid #00a2ff; z-index:999; position:relative}