/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/
.object_restore, .object_cannot_restore{
		width: 20px;
		background-image:url(../images/icon/restore.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.object_cannot_restore{
		background-image:url(../images/icon/CannotRecycle.gif);
	}
	.object_delete{
		background-image:url(../images/icon/delete.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.doctype_10{
		background-image:url(../images/document/type_text.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.doctype_20{
		background-image:url(../images/document/type_html.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.doctype_30{
		background-image:url(../images/document/type_link.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.doctype_40{
		background-image:url(../images/document/type_file.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
#pageoper_3 .doctitle .wcm_attr_value{width:158px;font-size:14px;height:20px;padding:1px;border:0;line-height:20px;font-weight: bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .doctitle .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
#pageoper_3 .doctitle .wcm_attr_value input{height:18px;font-size:14px;line-height:18px;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}

.document_topped,.document_topped_forEver,.document_modal_2,.document_modal_3{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 center;float:left;}
.document_modal_-2,.document_modal_-3{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 center;float:left;}
.document_modal_2{background-position:0 -256px;}
.document_modal_3{background-position:0 -240px;}
.document_modal_-2{background-position:0 -256px;}
.document_modal_-3{background-position:0 -240px;}
.linkto{
	width:16px;
	background-image:url(../images/document/shortcutdoc2_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
.mirrorto{
	width:16px;
	background-image:url(../images/document/shortcutdoc3_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
.linktomirrorto{
	width:32px;
	background-image:url(../images/document/shortcutdoc_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}

.docrecycle_restore{background-position: 0px -224px;}
.toolbar_item_disabled .docrecycle_restore{background-position: 0px -1200px;}
.docrecycle_restoreall{background-position: 0px -224px;}
.toolbar_item_disabled .docrecycle_restoreall{background-position: 0px -1200px;}
.docrecycle_delete{background-position: 0px -352px;}
.toolbar_item_disabled .docrecycle_delete{background-position: 0 -1328px;}
.docrecycle_deleteall{background-position: 0px -352px;}
.toolbar_item_disabled .docrecycle_deleteall{background-position: 0 -1328px;}
.docrecycle_return{background-position: 0px -192px;}
.toolbar_item_disabled .docrecycle_return{background-position: 0 -1168px;}
.action_refresh{background-position: 0px -304px;}