.ctrsbtn_left{background:url(../../../../../images/button_left.gif) no-repeat 0 0;height:24px;}
.ctrsbtn_right{background:url(../../../../../images/button_right.gif) no-repeat right 0;height:24px;line-height:24px;}
.ctrsbtn{background:url(../../../../../images/button_bg_line.gif) repeat-x 4px 0;font-size:14px;height:24px;text-align:center;margin:0 5px;float:left;width:90px;}
.ext-ie6 .ctrsbtn{float:none;display:inline;width:90px;cursor:pointer;}
.ext-strict .ctrsbtns_outer{height:24px;margin-left:50%;cursor:pointer;}
.ext-strict .ctrsbtns_inner{float:left;height:24px;overflow:hidden;}
.ext-strict .ctrsbtns_inner1{margin-left:-65px;}
.ext-strict .ctrsbtns_inner2{margin-left:-100px;}
.ext-strict .ctrsbtns_inner3{margin-left:-150px;}
.ext-strict .ctrsbtns_inner4{margin-left:-200px;}
.ext-strict .ctrsbtns_inner5{margin-left:-255px;}
.ext-strict .ctrsbtns_inner6{margin-left:-310px;}
