html,body{height:100%;width:100%;overflow:hidden;background:transparent;}
.processbar_coverall{position:absolute;top:0px;left:0px;width:100%;height:100%;-moz-opacity:0.5;opacity:0.5;z-index:999990;}
.ext-strict .processbar_coverall{background-color:#FFFFFF;}
.ext-ie7 .processbar_coverall{filter:alpha(opacity=50);background-color:#FFFFFF;}
.ext-ie6 .processbar_coverall{filter:alpha(opacity=50);background-color:#FFFFFF;}
.processbar_table_outer{position:absolute;z-index:999998;width:380px;height:180px;left:50%;top:50%;}
.processbar_table{position:absolute;z-index:999999;width:380px;height:120px;left:-50%;top:-50%;width:100%;background:#FFFFFF;}
#processbar_waitingTime{margin:0 2px;width:30px;color:red;}
#processbar_thing{font-weight:bold;}