*{
SCROLLBAR-FACE-COLOR: #fcfcfc;
SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90;
SCROLLBAR-SHADOW-COLOR: #fcfcfc;
SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;
SCROLLBAR-ARROW-COLOR: #240024;
SCROLLBAR-TRACK-COLOR: #fcfcfc;
SCROLLBAR-DARKSHADOW-COLOR: #48486c;
SCROLLBAR-BASE-COLOR: #fcfcfc;
}
html,body{height:100%;width:100%;padding:0px;margin:0px;}
label{font-family:arial;font-size:12px;line-height:18px;height:18px;}
ul{padding:0px;margin:0px;}
li{list-style-type:none;border:1px solid #efefef;}
body{background:#ececec;overflow-y:scroll;}

.forAndroidSize{background-color:#dfdfdf;width:80px;float:right;margin-right:-80px;}
.box{background:url(backgroundBox.png) repeat-y;margin:0px auto;width:1003px;}
.footer{background:url(footer.png) no-repeat; height:14px;margin:0px auto;width:1003px;}
.header{height:100px;}

.iphoneBtn{background:url(iphone.png) no-repeat;width:333px;height:100px;cursor:pointer;margin-left:3px;}
.iphoneBtn:hover{background:url(iphoneHover.png) no-repeat;width:333px;height:100px;cursor:pointer;}

.ipadBtn{background:url(ipad.png) no-repeat;width:331px;height:100px;cursor:pointer;}
.ipadBtn:hover{background:url(ipadHover.png) no-repeat;width:331px;height:100px;cursor:pointer;}

.androidBtn{background:url(android.png) no-repeat;width:333px;height:100px;cursor:pointer;}
.androidBtn:hover{background:url(androidHover.png) no-repeat;width:333px;height:100px;cursor:pointer;}

.turnLeft{background:url(turnLeft.png) no-repeat 25px; width:117px;height:800px;cursor:pointer;}
.turnRight{background:url(turnRight.png) no-repeat 25px; width:117px;height:800px;cursor:pointer;}
.turnBlank{width:117px;height:800px;}
.switch_HS{height:27px;width:31px;background:url(switch.png);float:right;margin-right:20px;margin-top:10px;cursor:pointer;}
.phoneBody{height:100%;width:100%;margin-left:-5px;}

 /**/
.phone_common_HS{ width:1003px; height:100%;}
.ipad_H{ background:url(ipad_H.png) no-repeat center 5px;}
.ipad_S{ background:url(ipad_S.png) no-repeat center 5px;}

.iphone_H{ background:url(iphone_H.png) no-repeat center 5px;}
.iphone_S{ background:url(iphone_S.png) no-repeat center 5px;}

.android_H37{ background:url(3.7_H.png) no-repeat center 5px;}
.android_S37{ background:url(3.7_S.png) no-repeat center 5px;}

.android_H40{ background:url(4.0_H.png) no-repeat center 5px;}
.android_S40{ background:url(4.0_S.png) no-repeat center 5px;}

.android_H47{ background:url(4.7_H.png) no-repeat center 5px;}
.android_S47{ background:url(4.7_S.png) no-repeat center 5px;}

.android_H55{ background:url(5.5_H.png) no-repeat center 5px;}
.android_S55{ background:url(5.5_S.png) no-repeat center 5px;}

