<div class="attr_row">
	<span class="attr_name" WCMAnt:param="document_props.jsp.toChannel">${docChannel-desc}:</span>
	<span id="sp_DocChannel" class="attr_value" style="padding-left:3px;width:60px;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden" title="${docChannel}-${channel-htmlvalue}">${channel-trun-html}</span>
	<span id="channel_select" _action="selectChannel" style="width:16px;" title="±£´æµ½..."  WCMAnt:paramattr="title:document_addedit_props.jsp.saveto"></span>
</div>