app_detail.hide{
    display: none !important;
}
.upload_container{
    border: 1px solid #eaeced;
    height: 84px;
    margin-left:10px;
    margin-right:10px;
    width: 158px;
    cursor:pointer;
}
.upload_touch{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}
/* .upload_touch:hover .upload_add{
    display: block;
} */
.upload_add{
    position: absolute;
    width: 51px;
    height: 51px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background-image: url('../image/img/icon/cross.png');
    background-repeat: no-repeat;
    /* display: none; */
    opacity: 0.7;
}
.upload_tip{
    color: #666;
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    background-color:#f9fbfd;
}
.upload_file{
    position: relative;
    width: 100%;
    height: 100%;
}
.upload_file img{
    width: 100%;
    height: 100%;
}
.upload_state{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
}
.upload_state_1{
    background-image: url('../image/img/icon/upload-state1.png');
}
.upload_state_0{
    background-image: url('../image/img/icon/upload-state0.png');
}
.upload_state_3{
    background-image: url('../image/img/icon/upload-state3.png');
}
.upload_state_4{
    background-image: url('../image/img/icon/upload-state4.png');
}
.upload_close{
    background-image: url('../image/img/icon/little-info-close.png');
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 17px;
    z-index: 2;
}
.upload_crop_container{    /*涓婊ㄦ＄楂骞朵bodyoverflow璁句负hidden*/
    position: absolute;
    z-index: 999;
    padding: 10px 30px;
    border: 1px solid #388BFF;
    border-radius: 5px;
    box-shadow: 0 0 2px #388BFF;  
    left: 50%;
    background-color: #F8F8F8;
}
.upload_crop_container .tip{
    color: #666;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
}

.button{
    background-color: #3385ff;
    border: medium none;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
    margin: 10px 6px 0;
    padding: 4px 20px;
}
.button_container{
    text-align: center;
}
.close_preview{
    background-image: url("../image/close.png");
    height: 30px;
    position: absolute;
    right: -12px;
    top: -12px;
    width: 30px;
    z-index: 2;
}
.loading_container{
    position: fixed;
    z-index: 900;
    background-color: #fff;
    opacity: 0.6; 
    text-align: center;
    overflow:hidden;
}

#cut_show{
	text-align:center;
	width:100%;
}
#cut_preview{
	min-width:600px;
	text-align:center;
}
.previewText{
	max-height: 100px;
    overflow: auto;
}
#showPic{
	max-width:800px;
 	height: 550px; 

}
#showPicDiv {
	display: none;
	z-index: 777;
	position: fixed;
	top: 10px;
	left: 300px;
	height: 550px;
	border: solid 1px #000;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}

.tabclass{
	border-bottom:3px solid #fed549;
	height:35px;
	cursor:pointer;
}
.tabclass a{
	display: inline-block;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color:#333;
    background:#fff6cf;
    margin-left:-3px;
    
}
.tabclass a:hover{
	border-bottom:3px solid #fed549;
}

/* .tabclass a:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #5CA4EB;
    margin-top: -8px;
    margin-left: 70px;
} */
.box{
    padding: 30px 40px 10px 40px;
}
.advicebox{
	padding:0 40px 30px 40px;
}
.box span{
	padding-right:30px;
}
.approvalstate{
	display:inline-block;
	width:180px;
}
/* 1024分辨率下的样式 */
 @media screen and (max-width:1024px){

#showPicDiv {	
	left: 100px;

}
}
/* 1600及以上分辨率的样式 */
 @media screen and (min-width:1600px){
	#showPicDiv{
		left:500px;
		top:200px;
	}
}