/*ÊÖ»ú*/
@media ( max-width : 680px) {
	.wraper {
		max-width: 640px;
		min-width: 340px;
		overflow-x: scroll;
	}
	.table tbody tr td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	
	#feedback {
		max-width: 640px;
	}
}