.wcm-tab-page *{margin:0px;padding:0px;}
/* 菜单样式 */
.wcm-tab-page .head-box .menu{width:60px;height:32px;float:left;}
.wcm-tab-page .head-box .menu .l{padding-left:4px;height:100%;background:url(../../images/tabpage/tab_cd_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .menu .l .r{height:100%;padding-right:4px;background:url(../../images/tabpage/tab_cd_r.gif) right center no-repeat;}
.wcm-tab-page .head-box .menu .l .r .c{position:relative;zoom:1;height:100%;background:url(../../images/tabpage/tab_cd_c.gif) center center repeat-x;}
.wcm-tab-page .head-box .menu .c .more_tb{position:absolute;top:16px;right:8px;width:8px;height:4px;background:url(../../images/tabpage/tab_cd_tb.gif) center center no-repeat;}
.jquery-ie6 .wcm-tab-page .head-box .menu .c .more_tb{position:absolute;top:10px;right:8px;}
.wcm-tab-page .menu .desc{font-size:12px;color:#003093;line-height:24px;padding-left:8px;padding-top:7px;min-width:40px;vertical-align:middle;white-space:nowrap;text-decoration:none;}
/* 菜单操作样式 */
.more_menubar{padding-top:3px;background:white;border:1px solid gray;overflow:visible;position:absolute; z-index:9999;}
.more_menubar{filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#ACA899', Positive=true);}
.more_menubar .menu_item{float:none;display:block;width:100%;height:24px;margin:0px;border:0px!important;background:white;zoom:1;cursor:default;}
.more_menubar .menu_item .menu_cont{padding-left:5px;padding-right:5px;}
.more_menubar .item_active{float:none;display:block;border:0px!important;background:url(../../images/tabpage/xl_bg.gif) center center repeat-x;zoom:1;margin:0px;cursor:default;}

/* 标签页样式 */
.wcm-tab-page .head-box .tab-head{width:120px;height:32px;float:left;cursor:default;}
.wcm-tab-page .head-box .tab-head .l{padding-left:4px;height:100%;background:url(../../images/tabpage/tab_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .tab-head .l .r{height:100%;padding-right:19px;background:url(../../images/tabpage/tab_r.gif) right center no-repeat;}
.wcm-tab-page .head-box .tab-head .l .r .c{zoom:1;height:100%;background:url(../../images/tabpage/tab_c.gif) center center repeat-x;}
.wcm-tab-page .tab-head .l .desc{font-size:12px;color:#526478;line-height:24px;padding-left:10px;padding-top:7px;min-width:40px;vertical-align:middle;white-space:nowrap;text-decoration:none;}
.wcm-tab-page .head-box .tab-head .active{padding-left:4px;margin-top:1px;height:100%;background:url(../../images/tabpage/tab_act_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .tab-head .active .r{height:100%;padding-right:21px;background:url(../../images/tabpage/tab_act_r.gif) right center no-repeat;}
.wcm-tab-page .head-box .tab-head .active .r .c{zoom:1;height:100%;background:url(../../images/tabpage/tab_act_c.gif) center center repeat-x;}
.wcm-tab-page .tab-head .active .desc{font-size:12px;color:#f0f6ff;line-height:24px;padding-left:10px;padding-top:7px;min-width:40px;vertical-align:middle;white-space:nowrap;text-decoration:none;}

.wcm-tab-page .head-box .base_main{width:120px;height:32px;float:left;cursor:default;}
.wcm-tab-page .head-box .base_main .l{padding-left:25px;height:100%;background:url(../../images/tabpage/tab_base_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .base_main .l .active{height:100%;background:url(../../images/tabpage/tab_act_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .base_main .l .r{height:100%;padding-right:4px;background:url(../../images/tabpage/tab_base_r.gif) right center no-repeat;}
.wcm-tab-page .head-box .base_main .l .r .c{zoom:1;height:100%;background:url(../../images/tabpage/tab_base_c.gif) center center repeat-x;}
.wcm-tab-page .base_main .l .desc{font-size:12px;color:#526478;line-height:24px;padding-left:3px;padding-top:7px;min-width:40px;vertical-align:middle;white-space:nowrap;text-decoration:none;}
.wcm-tab-page .base_main .active .desc{font-size:12px;color:#f0f6ff;line-height:24px;padding-left:3px;padding-top:7px;min-width:40px;vertical-align:middle;white-space:nowrap;text-decoration:none;}
.wcm-tab-page .head-box .base_main .active{padding-left:25px;margin-top:1px;height:100%;background:url(../../images/tabpage/tab_base_act_l.gif) left center no-repeat;}
.wcm-tab-page .head-box .base_main .active .r{height:100%;padding-right:4px;background:url(../../images/tabpage/tab_act_r.gif) right center no-repeat;}
.wcm-tab-page .head-box .base_main .active .r .c{zoom:1;height:100%;background:url(../../images/tabpage/tab_act_c.gif) center center repeat-x;}

.menuOps_sep{font-size:2px;width:100%;height:3px;overflow:hidden;background:url(../../images/tabpage/xl_xuxian.gif) center center repeat-x;zoom:1;}
