<?xml version="1.0" encoding="GB2312"?>
<plugin name="在线评论选件" version="1.0" id="components.common.comment">
	<beans>
		<bean id="ICommentService"
			class="com.trs.components.comment.service.CommentService" />
		<bean id="DocumentTopicRelationMgr"
			class="com.trs.components.comment.domain.DocumentTopicRelationMgr" />
	</beans>
</plugin>