<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>sjzx_query</display-name>

	<!-- 委内单点接口 -->
	<filter>
		<display-name>SsoAgentFilter</display-name>
		<filter-name>SsoAgentFilter</filter-name>
		<filter-class>com.gwssi.ssoagent.webFilter.SsoAgentFilter</filter-class>
	</filter>


	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SsoAgentFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>page/integeration/index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>

	<!-- 在线用户监听器 -->
	<listener>
		<listener-class>com.gwssi.listener.OnlineListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>report</servlet-name>
		<servlet-class>com.gwssi.common.rodimus.report.web.RodimusReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>report</servlet-name>
		<url-pattern>/rodimus/report</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 配置session超时时间，单位分钟:只作为粗略监控统计现在用户使用 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<error-page>
		<error-code>403</error-code>
		<location>/page/admin/noRight.html</location>
	</error-page>


	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>


<!-- 演示r的时候去掉 -->
<!--  <filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>com.gwssi.xss.XssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
 
</web-app>