*{
	font-size:12px;
	margin:0px;
	padding:0px;
}
.row{
	margin:10px;
	height:18px;
}
.label{
	line-height:18px;
	width:80px;
	text-align:right;
	vertical-align:top;
}
.value{
}
input{
	width:200px;
	height:18px;
	border:1px solid silver;
}
textarea{
	border:1px solid silver;
}
.input_checkbox{
	width:auto;
	height:auto;
	border:0;
}
select{
	width:200px;
	height:18px;
	border:1px solid silver;
}
.validTip{
	margin:0px;
	margin-left:95px;
	height:20px;
}

.input_checkbox_container{
	margin-left:5px;
}
.input_checkbox_container input{
	width:auto;
	height:auto;
	border:0;
}
.input_radio_container{
	margin-left:5px;
}
.input_radio_container input{
	width:auto;
	height:auto;
	border:0;
}

.value div{
	display:inline;
}
.selectclassinfo{
	width:16px;
	height:20px;
	background:url(../../../images/metadata/selectClassInfo.png) center center no-repeat;
	cursor:pointer;
	margin-left:10px;
}
.appendix_browser{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/icon/Accessories.png) center center no-repeat;
}
.appendix_delete{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/metadata/delete_1.gif) center center no-repeat;
}
.appendix_type_none{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/metadata/file_type/type_none.gif) 2px center no-repeat;
}
.appendix_type{
	width:16px;
	height:16px;
	padding-left:22px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px center;
}
.openeditor{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/metadata/simpleeditor.gif) center center no-repeat;
	margin-left:-35px;
	margin-top:20px;
	vertical-align:top;
}
.editorContainer{
	width:350px;
	height:180px;
	border:1px solid silver;
	cursor:default;
}
/*
.editorContainer * {
	font-size : 100%;
	margin:0;
	padding:auto;
}
*/
.selectFields_browser{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/metadata/selectFields.gif) center bottom no-repeat;
}
.releatedAppendix{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/document_addedit/attachment.gif) 2px center no-repeat;
}
.relationDocument{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/document_addedit/relation.gif) 2px center no-repeat;
	margin-right:2px;
	display:block;
}
.relationDocumentTip{
	display:block;
	margin-left:80px;
	color:black;
}
.relationDocumentTip a{
	color:black;
}

.inputSelect_input{
	width:150px;
	height:21px;
	font-size:10pt;
}
.inputSelect_span{
    position:absolute;
	width:18px;
	height:19px;
	margin-top:1px;
	margin-left:-18px;
	overflow:hidden;
}
.inputSelect_select{
    position:absolute;
	clip:rect(1px 149px 20px 1px);
	margin-left:-132px;
	margin-top:0px;
	width:150px;
	height:21px;
}
.inputSelect_tip{
}
.inputSelect_suggestion{
	position : absolute;
	z-Index : 999;
	overflow : auto;
	background : white;
	border:1px solid black;
	height:100px;
}
.inputSelect_iframe{
	position : absolute;
	z-Index : 998;
	overflow : auto;
	background : white;
	height:100px;
}
.inputSelect_suggestion div{
	display:block;
	cursor:default;
}
.inputSelect_suggestion .activeRow{
	background:highlight;
	color:white;
}
#objectContainer{
	color: #000000;
	background-color: #FFFFFF;	
}
#objectContainer input,textarea{
	background-color: #FFFFFF;
}
