*{
	font-size:12px;
	margin:0px;
	padding:0px;
}
.row{
	margin:10px;
	overflow:visible;
}
.label{
    float:left;
	width:80px;
	color:blue;
	text-align:right;
}
.value{
	width:100%;
	overflow:auto;
}
.input_checkbox_container{
	margin-left:5px;
}
.input_checkbox_container input{
	width:auto;
	height:auto;
	border:0;
}
.input_radio_container{
	margin-left:5px;
}
.input_radio_container input{
	width:auto;
	height:auto;
	border:0;
}

.value div{
	display:inline;
}
.objectContainer{
	width:100%;
	height:100%;
	overflow:visible;
}
.editorContainer{
	width:350px;
	height:180px;
	border:1px solid silver;
	cursor:default;
}
.appendix_type_none{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../../images/metadata/file_type/type_none.gif) 2px center no-repeat;
}
.appendix_type{
	width:16px;
	height:16px;
	padding-left:22px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px center;
}
.relationDocument{
	display:block;
	margin-left:80px;
	color:black;
}
.relationDocument a{
	color:black;
}