<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="presentation">		
	<beans>
		<bean id="LocaleServer" 
			class="com.trs.presentation.locale.LocaleServer" singleton="true"/>
	    <bean id="UserLCListenerForLogin" class="com.trs.presentation.login.UserLCListenerForLogin" singleton="true" />
	</beans>
</plugin>