<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.2">
	<!--Config For Server BEGIN-->
	<extension element-class="com.trs.infra.ServerConfig" id="Server">
		<server bean-id="LocaleServer" name="资源服务器"/>
	</extension>
	<!--Config For Server END-->
	
	<!--
		Listener默认为监控对象的新增、修改、删除前
		EventType:
		1：新增
		2：修改前
		3：删除前
		4、删除后
		5：修改后
		多个以逗号隔开
	-->
	<extension 
		element-class="com.trs.infra.persistent.listener.MonitorHostConfig" 
		id="com.trs.presentation.login">
		<!--站点-->
		<monitor-host name="用户" 
			class-name="com.trs.cms.auth.persistent.User">
			<listener bean-id="UserLCListenerForLogin" event-type="2,3"/>
		</monitor-host>
	</extension>
</plugin>