/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/
.object_restore, .object_cannot_restore{
		width: 20px;
		background-image:url(../images/icon/restore.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.object_cannot_restore{
		background-image:url(../images/icon/CannotRecycle.gif);
	}
	.object_delete{
		background-image:url(../images/icon/delete.gif);
		background-repeat:no-repeat;
		background-position:center center;
	}

.siterecycle_restoreall{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -98px -41px;}
.siterecycle_restore{background-position: -0px -224px;}
.toolbar_item_disabled .siterecycle_restore{background-position: 0 -1200px;}
.siterecycle_delete{background-position: -0px -352px;}
.siterecycle_deleteall{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -79px -41px;}
.toolbar_item_disabled .siterecycle_delete{background-position: 0 -1328px;}
.action_refresh{background-position: -0px -304px;}