/*strict*/
.ext-strict .layout_center_innercontainer{top:32px;bottom:0px;}
/*ie6*/
.ext-ie6 .layout_innercontainer{padding-top:32px;padding-bottom:0}
/*all*/
.layout_north{height:32px;}
#south_tabs{height:0;overflow:hidden;display:none}
.flag_own_103, .flag_own_101{background:url(../images/include/flag_site_own.gif) no-repeat center center;padding: 7px;}
.flag_own_101{background-image:url(../images/include/flag_channel_own.gif);}
#table_cnt td{padding-left:8px;padding-top:4px;font-family: Georgia;line-height:20px;height:20px;}
.thumb_item .attrs{padding-left:30px;text-align:left;}