/*grid_thumb*/
.thumb_item{width:180px;margin:5px;}    
.thumb_item .thumb{position:relative;height:150px;padding:2px;margin-bottom:4px;background:url(../images/watermark/picture_box.gif) center center no-repeat;border:0;}
.thumb_item_active .thumb{padding:2px;border:0;}
.thumb_item .attrs{text-align:center;}
.thumb_item_active .attrs{background:#FFFFEF;color:black;}
/*thumb_grid*/
.ext-strict .thumb_grid_data{top:35px;}
.ext-ie6 .thumb_grid{padding-top:35px;}
.thumb_grid .thumb_grid_head{height:30px;background: url(../images/list/grid_header_bg.png) center center repeat-x;}
.photoSearch{float:right;margin-top:-4px;margin-right:10px;width:46px;height:30px;cursor:pointer;background:url(../images/include/search.gif) center 7px no-repeat;}
.document_modal_2{width:14px;background:url(../images/document/shortcutdoc2.gif) no-repeat;}
.document_modal_3{width:14px;background:url(../images/document/shortcutdoc3.gif) no-repeat;}
.calendarShow{width:28px;height:20px;line-height:18px;display:inline;}
.ext-ie8 .calendarShow{padding:0px;width:28px;height:20px;line-height:18px;}
.photo_delete{background-position: 0px -784px;}
.photo_new{background-position: 0px -880px;}
.photo_preview{background-position: 0px -448px;}
.photo_publish{background-position: 0px -400px;}
.photo_changestatus{background:url(../images/icon/icons.gif) no-repeat;background-position: -155px -4px;}
.photo_detailpublish{background:url(../images/icon/icons.gif) no-repeat;background-position: -4px -22px;}
.photo_recallpublish{background:url(../images/icon/icons.gif) no-repeat;background-position: -22px -40px;}
.photo_setright{background:url(../images/icon/icons.gif) no-repeat;background-position: -175px -4px;}
.photo_docpositionset{background:url(../images/icon/icons.gif) no-repeat;background-position: -58px -40px;}
.photo_move{background:url(../images/icon/icons_classic.gif) no-repeat;background-position: 0px -560px;}
.photo_quote{background:url(../images/icon/icons_classic.gif) no-repeat;background-position: 0px -816px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .photo_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .photo_new{background-position: 0 -1857px;}
.toolbar_item_disabled .photo_preview{background-position: 0 -1424px;}
.toolbar_item_disabled .photo_publish{background-position: 0 -1376px;}
.toolbar_item_disabled .photo_changestatus{background:url(../images/icon/icons.gif) no-repeat;background-position: -2 -179px;}
.toolbar_item_disabled .photo_detailpublish{background:url(../images/icon/icons.gif) no-repeat;background-position: -137px -178px;}
.toolbar_item_disabled .photo_recallpublish{background:url(../images/icon/icons.gif) no-repeat;background-position: -22px -177px;}
.toolbar_item_disabled .photo_setright{background:url(../images/icon/icons.gif) no-repeat;background-position: -44px -179px;}
.toolbar_item_disabled .photo_docpositionset{background:url(../images/icon/icons.gif) no-repeat;background-position: 0 -179px;}
.toolbar_item_disabled .photo_quote{background:url(../images/icon/icons_classic.gif) no-repeat;background-position: 0 -1792px;}
.toolbar_item_disabled .photo_move{background:url(../images/icon/icons_classic.gif) no-repeat;background-position: 0 -1536px;}
.ext-ie6 .thumb_grid{padding-bottom:30px!important;}
.ext-strict .thumb_grid_data{bottom:30px;}
.left{margin-top:6px;}