/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/