/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/
.text_param{
	background-image:url(../images/icon/Window-more.png);
	background-repeat:no-repeat;
	background-position:center center;
	cursor: pointer;
	width: 16px;
}
.arg_attr_value{
	float:left;
	top:1px;
	height:18px;
	line-height:18px;
	text-decoration: none;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:60px;
}
.arg_detail_value{
	float:left;
	top:1px;
	height:18px;
	line-height:18px;
	padding:1px;
	width:150px;
	text-decoration: none;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.text_txt {
	font-size: 12px;
	color: #000000;
}
.kuang_as {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 20px;
	border: 1px solid #999999;
} 
.ext-strict .combo_cnt{position:absolute;width:135px;overflow:hidden;height:18px;left:-50px;margin-top:-2px;}
.combo_cntoper{position:absolute;width:135px;overflow:hidden;height:18px;left:15px;margin-top:-2px;}
.ext-strict .combo_input{position:absolute;width:120px;top:0;left:-1px;height:16px;}
.ext-ie7 .combo_cnt{margin-top:3px;}
.ext-ie7 .combo_input{height:16px;}
.ext-strict .combo_icon{position:absolute;top:0px;right: 0;width :16px;height:19px;overflow:hidden;}
.ext-ie6 .combo_cnt{position:absolute;width:120px;overflow:hidden;height:20px;left:10px;}
.ext-ie6 .combo_input{position:absolute;width:120px;top:0;left:0;height:18px;}
.ext-ie6 .combo_icon{position:absolute;top:-1px;right:0;width:16px;height:19px;overflow:hidden;}
.combo_cancelselect{position:absolute;top:25px;left:230px; }
.ext-ie8 .combo_cnt{left:15px;margin-top:10px;}
.ext-ie8 .combo_input{height:16px;left:15px;}
.combo_icon select{
	position:absolute;
	top:-1px;
	right:-1px;
	width:120px;
}
.combo_showid{
	position:absolute;
	left:10px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.input_text{
	width : 100px;
	height: 20px;
}
.valueclass{
	height:100%;
	width:100%;
	line-height:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	TEXT-ALIGN:left;
	position:relative;
}
.templatearg_edit{background-position:  0 -736px;}
.toolbar_item_disabled .templatearg_edit{background-position: 0 -1712px;}
.templatearg_delete{background-position: 0px -784px;}
.toolbar_item_disabled .templatearg_delete{background-position: 0 -1760px;}
.action_refresh{background-position: 0px -304px;}