.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;}

.unfold_mode{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
}
.fold_mode{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
}
.template_employer{}
.num{color:blue;padding:0 2px;font-size:14px;}
#pageoper_3 a,#pageoper_3 a:visited,#pageoper_3 a:link{color:#09549F;}
#pageoper_3 a:hover{color:#FF6600;}
#pageoper_3 .location .wcm_attr_value{width:70px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .temptype .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .temptype .wcm_attr_value_withborder{padding:0;border:1px solid gray;}

.template_delete{background-position: 0px -784px;}
.toolbar_item_disabled .template_delete{background-position: 0 -1760px;}
.template_new{background-position: 0px -528px;}
.toolbar_item_disabled .template_new{background-position: 0 -1504px;}
.template_import{background-position: 0px -624px;}
.toolbar_item_disabled .template_import{background-position: 0 -1584px;}
.template_export{background-position: 0px -672px;}
.toolbar_item_disabled .template_export{background-position: 0 -1648px;}
.template_check{background-position: 0px -816px;}
.toolbar_item_disabled .template_check{background-position: 0 -1792px;}
.template_synch{background-position: 0px -864px;}
.toolbar_item_disabled .template_synch{background-position: 0 -1840px;}
.action_refresh{background-position: 0px -304px;}
.template_arrange{background-position: 0px -2114px;}
.toolbar_item_disabled .template_arrange{background-position: 0 -2130px;}