#tbBox{
	background-color: silver;
	height:90%;
	width: 99%;
}
#column_summary{
	width: 100%;
	height: 80px;
	background: #f6f6f6;
	padding: 8px;
	font-size: 14px;
}
#column_summary input{
	width: 120px;
}
select{
	width: 80px;
}
.template_attr_name{
	font-size: 14px;
	font-weight: normal;
	width: 100px;
	margin-bottom: 5px;
	padding-right: 10px;
}
.ext-gecko .template_attr_name{
	display : inline-block;
}
.ext-safari .template_attr_name{
	display : inline-block;
}
.ext-ie7 .template_attr_name{
	display : inline-block;
}
.template_attr_val{
	font-size: 12px;
	margin-bottom: 20px;
	padding-left: 30px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 2px;
}
#column_footer{
	height: 32px;
	background: #efefef;
	text-align: center;
}
#column_footer input{
	width: 80px;
}
#column_content{
	background: #ffffff;
}
#column_content table{
	table-layout:fixed;
}
#template_operators{
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	background: aliceblue;
	padding: 2px;
}
#template_wizard_steps{
	background: #f6f6f6;
	height: 20px;
	padding: 2px;
	text-align: right;
	font-size: 12px;
	line-height: 20px;
}
#template_text_content{
	padding:5px;
}
#template_text_content textarea, #divColorArena{
	width: 98%;
}
.lispan{
	line-height: 24px;
	height: auto;
	font-family: Georgia;
	font-size: 12px;
}
.listOrderCurrent{
	background: #ffffff;
	border:solid gray 1px;
}
.listOrderOthers{

}
.circleBox li{
	vertical-align:top;
}
.circleBox{height:100%;}
.dem_WinzardBorad button{
	margin-top:5px;
	height: 24px;
	width: 80px;
}
.tab_summary td{
	background: #efefef;
}
body{
	background: #ffffff;
	margin: 0;
	padding: 2;
	font-size: 12px;
}
A:link{
	color: #1571D5;
	text-decoration: none;
}
A:hover{
	color: #ff6600
}
A:visited{
	color: #1571D5;
	text-decoration: none;
}
.ext-gecko button{
	width:80px;
}
.TempExtshow{

}
#divTempFileExtAttr{position:relative;}
#ok-tempcheck_rst-wrap{display:none!important;}
#ok-wcag2-template-wrap{display:none!important;}
#lnk_insert{width: 110px;}
#lnk_copy{width: 110px;}
.sep{width: 40px;}
.sec-row{height:50px;}
.row_en{vertical-align:top;}