.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;}

.unfold_mode{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
}
.fold_mode{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
}
.template_employer{}
.num{color:blue;padding:0 2px;font-size:14px;}
#pageoper_3 a,#pageoper_3 a:visited,#pageoper_3 a:link{color:#09549F;}
#pageoper_3 a:hover{color:#FF6600;}
#pageoper_3 .location .wcm_attr_value{width:70px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .temptype .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .temptype .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
.icon_visual{
	margin-left:5px;
	margin-bottom:-3px;
	width:16px;
	height:16px;
	display:inline-block;
	background:url(../images/icon/visual_template_flag.gif) no-repeat center center;
}