.querybox, .querybox .qbr, .querybox .qbc{background:#FFF;}
.layout-center{border:0px!important;}
.layout-left{padding-bottom:20px!important;}
/*all*/
.layout_north{height:32px;}
#south_tabs{height:0;overflow:hidden;display:none}
.flag_own_103, .flag_own_101{background:url(../images/icon/flag_site_own.gif) no-repeat center center;padding: 3px;}
.flag_own_101{background-image:url(../images/icon/flag_channel_own.gif);}
#table_cnt td{padding-left:8px;padding-top:4px;font-family: Georgia;line-height:20px;height:20px;}

.ext-gecko .sp_name{
	display:-moz-inline-box;
}
.ext-safari .sp_name{
	display:inline-block;
}
.sp_name{
	margin-top:3px;
	padding-left:3px!important;
	width:120px!important;
}
.sn{
	font-family:arial;
	margin-top:3px;
}
.icon_visual{
	margin-left:5px;
	width:16px;
	height:16px;
	display:inline-block;
	background:url(../images/icon/visual_template_flag.gif) no-repeat center center;
}