body{
	background: #ffffff;
	margin: 0;
	padding: 2;
	font-size: 12px;
}
.template_attr_name{
	font-size: 14px;
	font-weight: normal;
	width: 90px;
	margin-bottom: 5px;
	padding-right: 5px;
}
.ext-gecko .template_attr_name{
	display : inline-block;
}
.ext-safari .template_attr_name{
	display : inline-block;
}
.ext-ie7 .template_attr_name{
	display : inline-block;
}
.dvbox{
	padding-top:8px;
	padding-left:8px;
}
.dvbox input{
	width: 120px;
}
select{
	width: 80px;
}

legend{
	font-size : 14px;
}
fieldset{
	padding:8px;
}
.master_list{
	CURSOR: pointer;
	width:110px;
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	padding-left:8px;
}
.ext-gecko .master_list{
	padding-left:5px;
}
#thumb_list{
	padding-top:8px;
	overflow:auto;
	height:100%;
}
#tbBox{
	padding:10px;
}
.inputtext{
	border:1px solid #b4b4b4;
}	
.imageborder{
	border:solid 1px #257be8;
}
