.object_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.channelcontentlink_delete{background-position: 0px -784px;}
.channelcontentlink_new{background-position: 0px -528px;}
.channelcontentlink_import{background-position: 0px -881px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .channelcontentlink_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .channelcontentlink_new{background-position: 0 -1504px;}
.toolbar_item_disabled .channelcontentlink_import{background-position: 0 -1858px;}
.view_mode_normal{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode1.gif) no-repeat center center;cursor: pointer;}
.view_mode_recursive{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode2.gif) no-repeat center center;cursor: pointer;}