.object_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}

.view_mode_normal{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode1.gif) no-repeat center center;cursor: pointer;}
.view_mode_recursive{float:right;width:27px;height:29px;background:url(../images/icon/template_view_mode2.gif) no-repeat center center;cursor: pointer;}