/*移除下面这块，仅供参考*/
/*
.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
//*/
.object_restore, .object_cannot_restore{
	width: 20px;
	background-image:url(../images/icon/restore.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.object_cannot_restore{
	background-image:url(../images/icon/CannotRecycle.gif);
}
.object_delete{
	background-image:url(../images/icon/delete.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.ext-ie6 .thumb_grid{padding-top:30px!important;padding-bottom:29px!important;}
.ext-strict .table_grid_data{top:30px;bottom:29px;}
.thumb_grid_head{line-height:30px;}
.literator_path{top:0px;}