.appendix-img-crop{
	margin-left:10px;
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(Update.png) center center no-repeat;
}
.XDisabledCls .appendix-img-crop{
	filter:gray;
	cursor:default;
}
.ext-ie6 .appendix-img-crop{
	display:inline;
}
.appendix-uploading-tip{
	color:green;
}