.object_delete{
	background-image: url(../images/icon/Delete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_delete{
	background-image: url(../images/icon/NotDelete.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/NotUpdate.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}