<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0"  id="cms.content">		
	<!-- Cached-Object Config For ICachePOMgr BEGIN -->
	<extension element-class="com.trs.infra.persistent.cache.CachedObjectConfig" id="CachedObjs">
		<cached-object Name="扩展字段" 
			ClassName="com.trs.cms.content.ExtendedField"/>			
	</extension>
	<!-- Cached-Object Config For ICachePOMgr END -->
</plugin>