<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="components.stat">
		
	<beans>
		<bean id="IBonusRuleMgr" class="com.trs.components.stat.BonusRuleMgr" 
			singleton="true"/>
		<bean id="IBonusCalculator" class="com.trs.components.stat.BonusCalculator" 
			singleton="true"/>
		<bean id="IUserLoginInfoMgr" class="com.trs.components.stat.UserLoginInfoMgr"
			singleton="true"/>
		<bean id="IChnlDeptMgr" class="com.trs.components.stat.ChnlDeptMgr"
			singleton="true"/>
	</beans>
	
	
</plugin>