<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0"  id="components.common.calendar">		
	<beans>
		<bean id="EventMgr" class="com.trs.components.common.calendar.EventMgr" 
			singleton="true"/>
		<bean id="EventLCListenerForRemind" 
			class="com.trs.components.common.calendar.EventLCListenerForRemind" 
			singleton="true" />
	</beans>

</plugin>