<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0"  id="components.common.job">
	<!--Config For ObjectLCMonitor BEGIN-->
	<!--
		Listener默认为监控对象的新增、修改、删除前
		EventType:
		1：新增
		2：修改
		3：删除前
		4:删除后
		5:修改后
		多个以逗号隔开
	-->
	<extension 
		element-class="com.trs.infra.persistent.listener.MonitorHostConfig" 
		id="components.wcm.content.ObjectLCMonitor">
		<!-- 计划调度 -->
		<monitor-host name="日程安排" 
			class-name="com.trs.components.common.calendar.Event">
			<listener bean-id="EventLCListenerForRemind" event-type="2,3"/>
		</monitor-host>
	</extension>
	<!--Config For ObjectLCMonitor END-->
</plugin>