html,body{
	width:100%;
}
.td_preview{
	width:50px!important;
}
.object_preview{
	background:url(../../images/icon/icons2.gif) no-repeat center -640px;
}
.object_edit{
	background:url(../../images/metadata/edit.gif) center center no-repeat;
}
.object_delete{
	background:url(../../images/metadata/delete.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../../images/metadata/edit_gray.gif) center center no-repeat;
}
.objectcannot_delete{
	background:url(../../images/metadata/delete_gray.gif) center center no-repeat;
}
.objectcannot_preview{
	background:url(../../images/icon/icons2.gif) no-repeat center -528px;
}
.no_right{
	filter:gray;
}
.ext-ie6 .object_preview, .ext-ie6 .object_edit, .ext-ie6 .object_delete{
	width:16px;
	height:16px;
	padding:0px;
}
.advance_search{
	width:40px;
	cursor:pointer;
	background:url(../../images/metadata/advance_search.png) right 5px no-repeat;
}
.appendix_type{
	width:20px;
	height:16px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:2px center;
}
.ext-strict .appendix_type{
	padding:9px 10px;
}
a.appendix_type:hover,a.appendix_type:active{
	text-decoration:none;
}
.bigText{
	color:gray;
}
.reldoc{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

a.titleField:link, a.titleField:visited{
	color:blue;
	text-decoration:none;
}
a.titleField:hover, a.titleField:active{
	color:blue;
	text-decoration:underline;
}
.ext-strict .grid_table{
	width:100%;
}

.record_modal_1{
}
.record_modal_2{
	width:16px;
	height:16px;
	background:url(../../images/icon/icons2.gif) no-repeat 0 center;
	float:left;
	background-position:0 -256px;
}
.record_modal_3{
	width:16px;
	height:16px;
	background:url(../../images/icon/icons2.gif) no-repeat 0 center;
	float:left;
	background-position:0 -240px;
}
.ext-strict .querybox{
	width:280px !important;
}
.ext-ie6 .querybox{
	width:300px !important;
}
.appendix_type_none{
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../../images/metadata/file_type/type_none.gif) 2px center no-repeat;
}
.grid_body td, .grid_head td{
	width:120px;
	text-align:center;
}
.grid_body .titleFieldCol{
	width:auto;
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}
.grid_head .titleFieldCol{
	width:auto;
    text-align:center !important;
	text-overflow:ellipsis;
}
.titleFieldCol{
	/*width:260px !important;*/
}

.document_topped, .document_topped_forEver{
	width:16px;
	height:16px;
	background:url(../../images/icon/icons2.gif) no-repeat 0 center;
	float:left;
}
.document_topped{
	background-position:0 -192px;
}
.document_topped_forEver{
	background-position:0 -864px;
}

.ext-ie6 .document_attachpic{padding:0;overflow:hidden;}
.document_attachpic{width:16px;height:16px;background:url(../../images/icon/icons2.gif) no-repeat 0 -352px;display:inline-block;}

.appendix{
	width:20px;
	height:16px;
	cursor:pointer;
	background:center center no-repeat;
}
.ext-strict .appendix{
	padding:9px 10px;
}

.type{
	cursor:pointer;
	padding:8px;
	background:center center no-repeat;
}
