.left_video{background:url("./video.gif") no-repeat 0px 50%;padding-left:20px;}
.right_video{background:url("./video.gif") no-repeat right 50%;padding-right:20px;}
.left_photo{background:url("./photo.gif") no-repeat 0px 50%;padding-left:20px;}
.right_photo{background:url("./photo.gif") no-repeat right 50%;padding-right:20px;}
.left_music{background:url("./music.gif") no-repeat 0px 50%;padding-left:18px;}
.right_music{background:url("./music.gif") no-repeat right 50%;padding-right:18px;}
.left_flash{background:url("./flash.gif") no-repeat 0px 50%;padding-left:20px;}
.right_flash{background:url("./flash.gif") no-repeat right 50%;padding-right:20px;}