/*中文*/
.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_save{
	background:url(../images/icon/Save.png) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.objectcannot_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.object_cancel{
	background:url(../images/metadata/cancel.gif) center center no-repeat;
}
.input_text{
	border:1px solid silver;
	margin:2px 3px;
	width:100%;
	overflow:hidden;
}   
.grid_column{
	text-align:left;
	padding-left:5px;
}
.no_right{
	filter:gray;
}
.titleField{
		background:url(../images/metadata/titlefield.gif) 0 center no-repeat;
}
.returnTableInfoList{
	background:url('../images/metadata/back.gif') 0px center no-repeat;
	padding-left:18px;
	padding-right:5px;
	cursor:pointer;
}
.fieldtype{
	text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}
.metaviewfield_delete{background-position: 0px -784px;}
.metaviewfield_setview{background-position: 0px -816px;}
.metaviewfield_setastitle{background-position: 0px -528px;}
.metaviewfield_selectfields{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -173px -158px;}
.metaviewfield_selectdbfields{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -154px -158px;}
.metaviewfield_viewfieldpositionset{background-position: 0px -560px;}
.metaviewfield_generate{
	background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;
	background-position: -21px -137px;
}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .metaviewfield_setview{background-position: 0px -1792px;}
.toolbar_item_disabled .metaviewfield_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .metaviewfield_setastitle{background-position: 0 -1506px;}
.toolbar_item_disabled .metaviewfield_selectfields{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -173px -158px;}
.toolbar_item_disabled .metaviewfield_selectdbfields{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: -154px -158px;}
.toolbar_item_disabled .metaviewfield_viewfieldpositionset{background-position: 0 -1537px;}
.toolbar_item_disabled .metaviewfield_generate{background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;background-position: 0 -1537px;}