@CHARSET "utf-8";

/* CSS Document */
body{font-family:"微软雅黑","Arial","宋体";font-size:12px;color:#333;margin:0;padding:0; }
/*body{font-family:arial,'Hiragino Sans GB','Microsoft Yahei','微软雅黑','宋体',宋体,Tahoma,Arial,Helvetica,STHeiti;font-size:12px;color:#333;margin:0;padding:0; }*/

div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;font-size:14px; font-weight:normal;}
a:link{color:#333;text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
a:hover{color:#f60;text-decoration:none;}
a:active{color:#333;}
.border0{border:0;}
.fleft{float:left;}
.fright{float:right;}
.fbold{ font-weight:bold;}
.clear{clear:both;}
.dis{display:block;}
.undis{display:none;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
img{border:0;}

.fl{float:left;}
.fr{float:right;}

.wrap{margin:0 auto;width:1004px;}
.inside_wrap{margin:0 auto;width:1000px;}


.top{ position:absolute; top:0; width:100%;height:65px;}

/*搜索变长按钮*/
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	cursor:pointer;
}


/*文章详细*/
.localtion{margin:0 auto;padding-left:35px;width:968px;height:43px; line-height:43px;color:#666666; background:url(../images/pin_it.png) center left no-repeat;}
.article_wrap{padding:15px 0 50px 0px; background:url(../images/article_bg.png);}
.article_side{margin:0 auto;padding-top:28px;width:1000px; background:url(../images/article_side_bg.png) top no-repeat;}
.news_cont_t{margin:0 auto; width:830px; height:16px; background:url(../images/news_de_t.png); overflow:hidden;}
.news_cont_c{margin:0 auto; width:830px; background:url(../images/news_de_c.png); overflow:hidden;}
.news_cont_b{margin:0 auto; width:830px; height:20px; background:url(../images/news_de_b.png); overflow:hidden;}
.news_cont_c h1{width:740px;margin:0 auto;font-size:22px;color:#2c86d3; text-align:center;margin-top:25px; line-height:40px;}
.news_cont_c h2{width:740px;margin:0 auto;font-size:12px;color:#666666; text-align:center; line-height:40px; font-weight:normal;}
.news_cont_d_wrap{margin:0 auto;margin-top:20px;padding:0px 15px 30px 15px;width:720px;font-size:14px;line-height:26px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0; background-color:#ffffff;}
/*.news_cont_d_wrap p{text-indent:2em; }*/
.wz_bottom_link{width:810px;padding:25px 0; text-align:center;}
.wz_bottom_link a{margin:0px 10px;display:inline;padding:5px 10px;font-size:14px;color:#999999;border:1px solid #d5d5d5;}
.wz_bottom_link a:hover{color:#ff6600;}




/*新闻宣传页*/
.sj_news_wrap{ border-top:1px solid #e9e9e9;}
.news_t_t{margin:0 auto;width:1000px;height:50px; background:url(../images/news_t_bg.png);}
.news_t_t h1{float:left;margin-left:18px;margin-top:5px;width:150px;font-size:22px;color:#333333;}
.news_t_t span{float:right;margin-right:14px;margin-top:12px;width:23px;height:23px; background:url(../images/tz_ico_plus.png) no-repeat;}
.news_list{padding:10px 0 0 10px;width:600px;height:245px; overflow:hidden;}
.news_list ul{}
.news_list ul li{padding-left:10px;width:590px;height:25px; line-height:25px; background:url(../images/news_li_style.png) left center no-repeat; overflow:hidden;}
.news_list ul li a{float:left;display:inline-block;width:530px; height:30px;overflow:hidden;color:#666666;font-size:14px;}
.news_list ul li a:hover{color:#ff6600;}
.news_list ul li span{float:right;width:35px;color:#999;}
.news_f_wrap{ margin-top:12px;margin-right:-5px;padding:7px 0px 0 7px;width:366px;height:234px;background:url(../images/news_focus_wrap.png); overflow:hidden;}




/*信息列表*/
.xx_list_t{margin:0 auto;width:1009px;height:12px; background:url(../images/xx_list_t.jpg); overflow:hidden;}
.xx_list_b{margin:0 auto;margin-bottom:35px;width:1009px;height:14px; background:url(../images/xx_list_b.jpg); overflow:hidden;}
.xx_list_c{margin:0 auto;width:1009px; background:url(../images/xx_list_c.jpg) repeat-y;}
.xx_l_l{width:240px;float:left;}
.xx_l_l h1{margin:0 auto;margin-top:10px;width:200px;height:55px; background:#62a1cf;color:#ffffff;font-size:24px; text-align:center; line-height:55px;}
.xx_l_l ul{margin:0 auto;margin-top:10px;width:200px;}
.xx_l_l ul li{padding-left:32px;width:168px;height:38px;border-bottom:1px solid #e0e0e0; background:url(../images/xx_l_style.png) left  center no-repeat;font-size:14px; line-height:38px;}
.xx_l_l ul .xx_selected{padding-left:32px;width:168px;height:38px;border-bottom:1px solid #e0e0e0; background:url(../images/xx_sl_style.png) left  center no-repeat;font-size:14px; line-height:38px;}
.xx_l_l ul .xx_selected a{color:#ff6600;}
.xx_l_l ul .xx_selected a:hover{color:#ff6600;}

.xx_l_r{float:left;width:760px;}
.xx_l_r ul{width:720px;margin:0 auto;margin-top:10px;}
.xx_l_r ul li{width:720px;height:38px; line-height:38px;font-size:14px; }
.xx_l_r ul li a{float:left;padding-left:35px;display:inline-block;width:585px;height:38px; overflow:hidden;background:url(../images/xx_r_li.png) left center no-repeat;}
.xx_l_r ul li span{float:right;width:80px; line-height:38px;font-size:12px; color:#cccccc; }
.xx_l_r ul .xx_l_gray{width:720px;height:38px; line-height:38px;font-size:14px; background:#f8f8f8;}

.pagination{margin:0 auto;margin-top:30px;margin-bottom:20px;padding:20px;width:720px;}
.pagination a{margin:0 5px;font-size:14px; padding:8px 16px; border:1px solid #ccc;}
.pagination a:hover{color:#ffffff; background:#f18700;padding:9px 17px;text-decoration:none;border:none;}
.pagination .present{color:#fff;padding:9px 17px; background:#f18700; border:none;}
.pagination .pre{font-size:14px; padding:8px 16px; border:1px solid #ccc;color:#666;}
.pagination .point_p{border:0;}
.pagination .point_p:hover{color:#666;padding:8px 16px; background:none; text-decoration:none;}
.pagination .total_p{}



