/*wcm-cbd*/
.wcm-cbd{position:absolute;left:0px;right:0px;z-index:999999;}
.wcm-cbd *{margin:0px;padding:0px;}

/*header layout*/
.wcm-cbd .header{background:url(cb.gif) left -68px no-repeat;cursor:move;padding-left:7px;}
.wcm-cbd .header .r{background:url(cb.gif) right -33px no-repeat;padding-right:7px;}
.wcm-cbd .header .c{height:33px;background:url(cb.gif) center -102px repeat-x;overflow:hidden;}
.wcm-cbd .header .spt{display:none;}
.wcm-cbd .header .title{float:left;width:80%;padding-left:5px;line-height:33px;font-size:12px;font-weight:bold;white-space:nowrap;overflow:hidden;color:white;}
.wcm-cbd .header .tools{float:right;height:100%;}
.wcm-cbd .header .close{float:right;width:26px;height:100%;cursor:default;}
.wcm-cbd .header .close:link, .header .close:visited{background:url(cb.gif) left -1px no-repeat;}

/*body layout*/
.wcm-cbd .body{cursor:move;border:1px solid  #8D8D8D;}
.wcm-cbd .body .c{zoom:1;background-color:#DEDCDD;overflow:hidden;padding:3px 10px;}

.wcm-cbd .body .cb-table {height:100%;table-layout:fixed;font-size:12px;width:100%;}

.wcm-cbd .body .buttons{height:35px;overflow:hidden;text-align:center;}
.wcm-cbd .body iframe{background:white;}

/*footer layout*/
.wcm-cbd .footer{display:none;}


/*button*/
.wcm-btn{display:inline-block;height:21px;*display:inline;*margin-bottom:0px;}
.wcm-btn-left ,.wcm-btn-right, .wcm-btn-center{display:inline-block;*display:inline;}
.wcm-btn-left{padding-left:8px;background:url(d1.gif) left -234px no-repeat;margin:0 5px;}
.wcm-btn-right{padding-right:8px;background:url(d1.gif) right -212px no-repeat;}
.wcm-btn-center{zoom:1;padding-left:9px;padding-right:9px;background:url(d1.gif) left -256px repeat-x;}
.wcm-btn a{display:block;cursor:default;font-size:12px;line-height:21px;min-width:40px;white-space:nowrap;text-decoration:none;*width:45px;}
.wcm-btn a:link, .wcm-btn a:visited{color:white;}

/*close btn*/
.wcm-btn-close{padding-left:8px;background:url(d1.gif) left -300px no-repeat;margin:0 5px;}
.wcm-btn-close .wcm-btn-right{padding-right:8px;background:url(d1.gif) right -278px no-repeat;}
.wcm-btn-close .wcm-btn-center{zoom:1;padding-left:9px;padding-right:9px;background:url(d1.gif) left -322px repeat-x;}
.wcm-btn-close a:link, .wcm-btn-close a:visited{color:black;}