
.searchContainer{
   overflow:auto;
   padding:0 20px;
   text-align:left;
}
.infoContainer{
   margin-top:8px;
   margin-bottom:10px;
   color:#1784BC;
   font-weight:bold;
   text-align:center;
}

.search_item{
    margin-left:5px;
    margin-bottom:15px;
}
.search_item .search_title {
    color:#1784BC;
    cursor:pointer;
    font-size:18px;
    text-decoration: none;
    border-bottom: 1px #1784BC solid;
    display:inline;
}

.search_item .search_docket {
    margin-top:5px;
    font-size:15px;
    margin-bottom:2px;
}

.search_item .search_titlePath {
    margin-top:4px;
    font-size:15px;
    color:green;
}

.search_item .search_path {
    font-size:15px;
    color:green;
}

body{ text-align:center;}
.ss{ width:442px; margin:0 auto; padding-top:120px; text-align:left;}
.gxts{ width:251px;_width:265px; height:41px; background:url(../frameImages/gxts.gif) no-repeat; position:absolute; margin-left:266px; margin-top:-100px; font-size:12px; line-height:150%; padding:4px 7px; color:#FF0000;}
.gxts a{ font-weight:bold; color:#0033FF;}
.ss_logo{ width:296px; height:34px; background:url(../frameImages/ss_logg.png) no-repeat; margin-bottom:20px;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../frameImages/ss_logg.png" ,sizingMethod="crop");}
.ssdiv_ipt{ width:442px; height:33px; background:url(../frameImages/ss.png) no-repeat; font-size:0;}
.ss_input{ width:358px; height:26px; margin-top:2px; padding-left:4px; font-size:14px; color:#000; line-height:26px; border:0; background:none; float:left;}
.ss_button{ background:none; border:0; color:#fff; font-size:14px; font-weight:bold; text-align:center; line-height:26px;cursor:pointer; width:84px; float:right; height:30px;}

.ss2{ padding:20px; padding-top:80px;text-align:left;}
.ss2 .ss_logo{margin:0;margin-bottom:20px; clear:both;}