.toolbar{float:left;}
.toolbar a{text-decoration:none;text-align:center;}
.ui-button{
	height:25px;
	line-height:25px;
	display:inline-block;
}
.ui-button *{
	vertical-align:middle;
}
.ui-button-icon-primary{
	width:3px;
	height:100%;
	background:url(../../images/list/cz_btn_l.gif) center center no-repeat;
	display:inline-block;
}
.ui-button-text{
	padding:0px 12px;
	height:100%;
	background:url(../../images/list/cz_btn_c.gif) center center repeat-x;
	display:inline-block;
}
.ui-button-icon-secondary{
	width:3px;
	height:100%;
	background:url(../../images/list/cz_btn_r.gif) center center no-repeat;
	display:inline-block;
}
.ui-button-icon-secondary-more{
	width:23px;
	height:100%;
	background:url(../../images/list/cz_btn_more.gif) center center no-repeat;
	display:inline-block;
}
.toolbar .hasmore{
	width:23px;
	background:url(../../images/list/cz_btn_more.gif) center center no-repeat;
	display:inline-block;
	margin-left:-9px;
	vertical-align:middle;
}
.toolbar .hasmore .ui-button-text{
	display:none;
}