.object_preview{background:url(../images/icon/Preview.png) no-repeat center center;height:20px;display:block;}
.objectcannot_preview{background:url(../images/icon/CannotPreview.png) no-repeat center center;height:20px;display:block;}
.grid_body a:link,.grid_body a:visited{color: #000000;text-decoration: none;}
.grid_body a:hover{color: blue;text-decoration:underline;}
.oper{float:left;width:16px;height:16px;background:url(../images/icon/icons.gif) no-repeat;overflow:hidden;}
.object_increasingpublish{background-position:-155px -22px;margin:3px 30px;}
.object_edit{background-position:-3px -3px;margin-left:6px;}
.grid_body .chnldesc{text-align:left;padding-left:5px;}

.layout-top{height:0;overflow:hidden;display:none}
.querybox, .querybox .qbr, .querybox .qbc{background:#FFF;}
.layout-center{border:0px!important;top:0px!important;}
/*all*/
.layout_north{height:32px;}
#south_tabs{height:0;overflow:hidden;display:none}
.object_delete{
	background-image:url(../images/icon/delete.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.ext-gecko .layout_center_container{
	padding-left: 1px;
}