.object_setflow{
	background-image:url(../images/icon/setflow.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.object_cannot_setflow{
	background-image:url(../images/icon/setflow_cannot.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.view_mode_normal{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
	cursor: pointer;
}
.view_mode_recursive{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
	cursor: pointer;
}
.attribute_row{
	float:left;
	width:100%;
	height:24px;
	overflow:visible;
}
.flow_set{background-position: 0px -240px;}
.flow_new{background-position: 0px -528px;}
.flow_export{background-position: 0px -672px;}
.flow_assign{background-position: 0px -2081px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .flow_set{background-position: 0 -1217px;}
.toolbar_item_disabled .flow_new{background-position: 0 -1505px;}
.toolbar_item_disabled .flow_export{background-position: 0 -1648px;}
.toolbar_item_disabled .flow_assign{background-position: 0px -2098px;}