.object_setflow{
	background-image:url(../images/icon/setflow.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.object_cannot_setflow{
	background-image:url(../images/icon/setflow_cannot.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.view_mode_normal{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
	cursor: pointer;
}
.view_mode_recursive{
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
	cursor: pointer;
}
.attribute_row{
	float:left;
	width:100%;
	overflow:visible;
}
.ext-ie6 .layout-center{
    padding-top:29px;
    padding-bottom:0px;
}
.grid_head{
    position:absolute;
    left:0px;
    top:0px;
	height:29px;
	line-height:29px;
	background:url(../images/workflow/button-bg.png) center center repeat-x;
}
.ext-ie6 .grid_head{
    width:100%;
}
.ext-strict .grid_head{
    right:0px;
    width:auto;
}
.ext-strict .table_grid_data{
    top:29px;
    bottom:0px;
}
.ext-ie7 iframe{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}