.box_body{
	text-align: left
}
.box_header_alter{
	border-bottom: 1px solid silver; 
	cursor: pointer;
	background-image: url(../images/icon/bg_options_box.gif);
}
.box_header_center A:link, A:hover, A:visited{
	color: #010101
}
.box_header_alter A:hover{
	color: #ff6600
}
.sp_flownode_field_0{
	margin-right: 8px;
	color: #010101
}
.sp_flownode_field_1{
	margin-right: 8px;
	color: green
}
.sp_flownode_field_2{
	margin-right: 8px;
	color: red
}
.sp_flownode_field_none{
	color: gray;
}
.sp_fields_list{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 439px;
}
#divRuleSkimList{
	height: 103px;
}
#divRuleDefine{
	top: 426px;
	text-align: center; 
	position: absolute; 
	left: 0; 
	width: 100%;
}
#divOptions{
	top: 464px;
	width: 100%; 
	margin-top: 5px; 
	position: absolute; 
	left: 0px;
}
#frmRuleDef{
	width: 529px;
}
#divContent{
	width: 100%; 
	margin-top: -5px; 
	overflow: hidden;
}
#sp_doc_opt{
	width:33%;
	white-space:nowrap;
	overflow:hidden;
}
#sp_opt_right{
	margin-top: 1px;
}
.receiving_user_titlesp .receiving_org_titlesp{
	width:15%;
	display:inline-block;
	align:left;
}
.receiving_user_sp .receiving_org_sp{
	width:85%;
	display:inline-block;
	align:left;
}
.receiving_user_inputsp .receiving_org_inputsp{
	width:70%;
	display:inline-block;
	align:left;
}
.receiving_user_imgsp .receiving_org_imgsp{
	width:30%;
	display:inline-block;
	align:left;
}
.font_red{
	font-size: 12px;
	font-weight: normal;
	color: red;
	text-decoration: none;
}