.object_setflow{
	background-image:url(../images/icon/setflow.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.object_cannot_setflow{
	background-image:url(../images/icon/setflow_cannot.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.view_mode_normal{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
	cursor: pointer;
}
.view_mode_recursive{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
	cursor: pointer;
}
.grid_head{
	height:25px;
	background:#d3e6fa;
	color:#133151;
}
.attribute_row{
	float:left;
	width:100%;
	overflow:visible;
}
.rowtd{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	PADDING-LEFT: 10px !important;
	TEXT-ALIGN: left !important;
}