body{
	margin: 0;
	padding: 0;
	background: #ffffff;
}
body, table{
	font-size: 12px;
}
.single_text, readonly_text{
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	width: 220px;
}
.block_box{
	width: 100%; 
	padding: 3px;
	text-align: center;
}
.left_column{
	text-align: left;
	width: 50px;
}
.right_column{
	text-align: left;
}
.alter_item{
	background: #f6f6f6;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
}
.normal_item{
	
}
select{
	width: 240px;
}