.querybox, .querybox .qbr, .querybox .qbc{background:#FFF;}
.layout-center{border:0px!important;}
/*all*/
.layout_north{height:32px;}
#south_tabs{height:0;overflow:hidden;display:none}
.flag_own_103, .flag_own_101, .flag_own_1{background:url(../images/workflow/flag_site_own.gif) no-repeat center center;padding: 7px;}
.flag_own_101{background-image:url(../images/workflow/flag_channel_own.gif);}
.flag_own_1{background-image:url(../images/workflow/flag_root_own.gif);}
.ext-gecko .sp_name{
	display:-moz-inline-box;
}
.ext-safari .sp_name{
	display:inline-block;
}