/*strict*/
.ext-strict .layout_center_container{top:0;bottom:37px;}
.ext-strict .layout_center{left:0;right:0;}
/*ie6*/
.ext-ie6 .layout_container{padding-top:0;padding-bottom:37px;}
.ext-ie6 .layout_center_container{padding-left:0;padding-right:0;}
/*all*/
.layout_south{height:37px;}
/*page_tabs*/
#south_tabs{background:url(../images/list/list.png) 0px -157px repeat-x;font-size:12px;margin:0px;padding:0px;}
#south_tabs a:link, #south_tabs a:visited{font-size: 12px;color: #000000;text-decoration: none;}
#south_tabs a:hover {font-size: 12px;color: #3366CC;text-decoration: none;}
#south_tabs table.pagetab{margin-left:2%;}
#south_tabs table.disabled .tab_item{color:gray;}
.tab_item{cursor:pointer;text-align:center;}
.tab_item span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.tab_item5_active span,.tab_item5_deactive span{margin:0px auto;width:68px;}
.tab_item4_active span,.tab_item4_deactive span{margin:0px auto;width:50px;}
.tab_item_active span,.tab_item_deactive span{margin:0px auto;width:40px;}
.tab_item4_disabled{display:none;}
.tab_item5_disabled{display:none;}
.tab_item_disabled{display:none;}
.tab_item_active{width:54px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -5px -43px no-repeat;}
.tab_item_deactive{width:57px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -2px -65px no-repeat;}
.tab_item5_active{width:90px;height:22px;overflow:hidden;background:url(../images/list/pagetab_active_5.gif) 0px 1px no-repeat;}
.tab_item5_deactive{width:90px;height:22px;overflow:hidden;background:url(../images/list/pagetab_deactive_5.gif) 0px 1px no-repeat;}
.tab_item4_active{width:73px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -5px 1px no-repeat;}
.tab_item4_deactive{width:75px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -3px -21px no-repeat;}
.tab_item_more_none{width:40px;height:22px;overflow:hidden;}
.tab_item_more_none{width:40px;height:22px;overflow:hidden;}
.tab_item_more_open{width:40px;height:20px;overflow:hidden;cursor:pointer;background:url(../images/list/tab.png) 0px -100px no-repeat;}
.tab_item_more_close{width:44px;height:22px;overflow:hidden;cursor:pointer;background:url(../images/list/tab.png) -2px -87px no-repeat;}
.more_display_none{display:none;}
.more-tabs{position:absolute;background:#F7F7F7;border:1px solid #adadad;overflow:visible;}
.ext-ie6 .more-tabs{width:60px;}
.more-tab{padding:2px 4px;height:18px;line-height:18px;}
.more-tab a{white-space:nowrap;overflow:visible;}
.more-tab a:link {font-size: 12px;color: #000000;text-decoration: none;}
.more-tab a:visited {font-size: 12px;color: #000000;text-decoration: none;}
.more-tab a:hover {font-size: 12px;color: #3366CC;text-decoration: none;}
/*logo tab*/
.logoTabCls_active span,.logoTabCls_deactive span{margin:0px auto;width:50px;}
.logoTabCls_disabled{display:none;}
.logoTabCls_active{width:72px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -4px 1px no-repeat;}
.logoTabCls_deactive{width:72px;height:22px;overflow:hidden;background:url(../images/list/tab.png) -4px -21px no-repeat;}

/*
.ext-gecko .tab_item{display:-moz-inline-box;}
.ext-gecko .tab_item span{margin-left:10px;}
*/
