.thumb_item .thumb0{background-image: url(../images/channel/channel_0.gif);}
.thumb_item .thumb0_folder{background-image: url(../images/channel/channel_0_folder.gif);}
.thumb_item .thumb1{background-image: url(../images/channel/channel_1.gif);}
.thumb_item .thumb2{background-image: url(../images/channel/channel_2.gif);}
.thumb_item .thumb3{background-image: url(../images/channel/channel_3.gif);}
.thumb_item .thumb11{background-image: url(../images/channel/channel_11.gif);}
.thumb_item .thumb13{background-image: url(../images/channel/channel_13.gif);}
.thumb_item .opers{position:absolute;right:3px;bottom:2px;display:none;}
.thumb_item .opers span{float:left;}
.thumb_item_hover .opers{display:block;}
.thumb_item .preview{width:16px;height:16px;background:url(../images/channel/preview.png) center center no-repeat;}
.thumb_item .edit{width:16px;height:16px;background:url(../images/channel/edit.png) center center no-repeat;}
.thumb_item .increasepublish{width:16px;height:16px;background:url(../images/channel/publish.png) center center no-repeat;}
.trash_box{border:1px solid white;position:absolute;width:83px;height:83px;bottom:10px;right:20px;background:url(../images/include/del_0.gif) center center no-repeat;}
.trash_box_hover{border:1px solid #B4B4B4;}

.literator_path{
	margin-top:-3px;
	margin-left:4px;
	background:transparent;
}
#list-order-box{
	margin-top:6px;
	margin-right:10px;
}
.dragging .thumb{padding:0px; border:3px solid #B3C8E8;}
.dragging .attrs{background:#B3C8E8; color:black;}
.trashbox_dragging_on{border:1px solid #B4B4B4;}
.dragginghover .thumb{padding:0px; border:3px solid green;}
.dragginghover .attrs{background:buttonface; color:black;}
.drag-line{position:absolute;background:gray;width:8px;}
.thumbDragContainer{
	width:100px; 
	height:35px;
	background-color:lightblue;
	padding:1px;
	-moz-opacity:0.7; 
	filter:alpha(opacity=70); 
}
.thumbDrag{
	background-color:whitesmoke;
	height:35px;
	width:100px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.thumbDragImg{
	height:28px;
}
.ext-ie6 .thumb_grid{padding-bottom:30px!important;}
.ext-strict .thumb_grid_data{bottom:30px;}
