.wcmbutton{
	cursor:hand;
	margin-left:5px;
	margin-right:5px;
}
.wcmbutton .btn_left{
	display:inline;
	width:5px;
	height:31px;
	background:url('button-left.gif') center center no-repeat;
}
.wcmbutton .btn_right{
	display:inline;
	width:5px;
	height:31px;
	background:url('button-right.gif') center center no-repeat;
}
.wcmbutton .btn_default{
	display:inline;
	height:31px;
	background:url('button-default.gif') center center repeat-x;
}
.wcmbutton .btn_default_a{
	display:inline;
	height:31px;
	background:url('button-default.gif') center center repeat-x;
}
.wcmbutton .btn_ok{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-ok.gif') center center no-repeat;
}
.wcmbutton .btn_ok_a{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-ok-a.gif') center center no-repeat;
}
.wcmbutton .btn_ok_d{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-ok-d.gif') center center no-repeat;
}
.wcmbutton .btn_cancel{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-cancel.gif') center center no-repeat;
}
.wcmbutton .btn_cancel_a{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-cancel-a.gif') center center no-repeat;
}
.wcmbutton .btn_close{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-close.gif') center center no-repeat;
}
.wcmbutton .btn_close_a{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-close-a.gif') center center no-repeat;
}
.wcmbutton .btn_save{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-save.gif') center center no-repeat;
}
.wcmbutton .btn_save_a{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-save-a.gif') center center no-repeat;
}
.wcmbutton .btn_save_d{
	display:inline;
	width:50px;
	height:31px;
	background:url('button-save-d.gif') center center no-repeat;
}
.wcmbutton .btn_message_send{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-message-send.gif') center center no-repeat;
}
.wcmbutton .btn_message_send_a{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-message-send-a.gif') center center no-repeat;
}
.wcmbutton .btn_refresh{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-refresh.gif') center top no-repeat;
}
.wcmbutton .btn_refresh_a{
	display:inline;
	width:57px;
	height:31px;
	background:url('button-refresh-a.gif') center top no-repeat;
}