/*列表头部左*/
.header_bg_left {
	background-image: url(../images/channel_thumbs_index/header_bg_left.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 4px;
	float: left;
}
/*列表头部右*/
.header_bg_right {
	background-image: url(../images/channel_thumbs_index/header_bg_right.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 4px;
	float: right;
}
.tabular {
	float: left;
	margin-top:10px;
	height:122px;
	overflow:hidden;
	white-space:nowrap;
}
.tabular_left{
	width:5px;
	height:100%;
	display:inline;
}
.tabular_center_hover{
	background-color:#B3C8E8;
}
.tabular_center_shadow{
	background-color: lightgrey;
}
.tabular_hover{
	background-color:gray;
}
.tabular_center{
	height: 94px;
	height:119px;
	display:inline;
}
.tabular_right{
	width:5px;
	height:100%;
	display:inline;
}
.inner_tabular {
	height: 94px;
	width: 94px;
	float: none;
	background-image: url(../images/channel_thumbs_index/channel_0.gif);
	background-repeat: no-repeat;
	background-position:center center;
	overflow: hidden;
	padding:2px;
	border:1px solid lightgrey;
}
.inner_tabular_blueness {
	height: 94px;
	width: 94px;
	float: none;
	background-image: url(../images/channel_thumbs_index/folder_normal.png);
	background-repeat: no-repeat;
	background-position:center center;
	overflow: hidden;
	padding:0;
	border: 3px solid #29557b;
}
.inner_tabular_tex {
	text-align: center;
	margin-top: 0px;
}
/*更多过滤条件*/
.element_list_more_filter{
	float:left;
	padding-left:10px;
	width:29px;
	height:12px;
	background-image:url(../images/document_normal_index/more.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}
/*过滤条件*/
.element_list_filters{
	padding:6px 10px 1px;
}
/*选中的过滤条件*/
.element_list_deactive_filter,.element_list_active_filter{
	float:left;
	height:19px;
	vertical-align:middle;
	margin-top:-1px;
	padding:0px 0px 0px;
}
.element_list_active_filter td.left{
	background-image:url(../images/document_normal_index/label/frame_left.png)
}
.element_list_active_filter td.middle{
	background-image:url(../images/document_normal_index/label/frame_middle.png)
}
.element_list_active_filter td.right{
	background-image:url(../images/document_normal_index/label/frame_right.png)
}
.element_list_active_filter a{
	padding:2px 4px 0px;
}
.element_list_active_filter a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.element_list_active_filter a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.element_list_active_filter a:hover {
	color: #66CCFF;
	text-decoration: none;
	font-size: 12px;
}
.element_list_deactive_filter a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.element_list_deactive_filter a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.element_list_deactive_filter a:hover {
	font-size: 12px;
	color: #3366CC;
	text-decoration: none;
}


/*页面指定不同连接的颜色,颜色黑色*/
a.black:link{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:visited{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:hover{
	color:#29547E;
	font-size: 12px;
	text-decoration: none;
}
/*页面指定不同连接的颜色,颜色白色*/
a.white:link{
	color:#FFFFFF;
	font-size: 12px;
	text-decoration: none;
}
a.white:visited{
	color:#FFFFFF;
	font-size: 12px;
	text-decoration: none;
}
a.white:hover{
	color:#FF9900;
	font-size: 12px;
	text-decoration: none;
}

/*顶部菜单条*/
/*顶部菜单条4个文字*/
.list_text4 {
	font-size: 12px;
	height: 12px;
	width: 55px;
	margin-top: 9px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
}
.list_text {
	font-size: 12px;
	height: 12px;
	width: 60px;
	margin-top: 11px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
}
.list_text_dot{
	font-size: 12px;
	height: 12px;
	width: 30px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	color: #FFFFFF;
}
.list_move {
	font-size: 12px;
	height: 12px;
	width: 30px;
	margin-top: 13px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	background-image: url(../images/channel_thumbs_index/more.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.list_line {
	font-size:12px;
	padding:1px;
	height: 20px;
	width: 100%;
	background-color: #E7E7E7;
	background-image: url(../images/channel_thumbs_index/forme_register_middle_bg.png);
	background-repeat: repeat-x;
	overflow: hidden;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #8e8e8e;
	border-bottom-color: #8e8e8e;
	float: left;
	display: inline;
}
.outline_boarder {
	float:left;
	font-size:12px;
	line-height:18px;
	border:0;
	background-color: whitesmoke;
	padding:0;
	width:100%;
	height:100%;
	overflow:auto;
}

/*字体大小*/
.text {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
/*列表灰色外框*/
.list_bg {
	background-image: url(../images/channel_thumbs_index/list_ash.png);
	background-repeat: no-repeat;
	height: 123px;
	width: 123px;
}
/*列表兰色外框*/
.list_blueness {
	background-image: url(../images/channel_thumbs_index/list_blueness.png);
	background-repeat: no-repeat;
	height: 123px;
	width: 123px;
}
/*页面指定不同连接的颜色,颜色黑色*/
a.black:link{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:visited{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:hover{
	color:#29547E;
	font-size: 12px;
	text-decoration: none;
}
.sash {
	float: left;
	height: 13px;
	width: 40px;
	text-align: right;
	overflow: hidden;
	margin-top: 4px;
	margin-right: 4px;
	margin-left: 4px;
	display: inline;
}
.radio {
	float: left;
	height: 20px;
	width: 20px;
	overflow: hidden;
	display: inline;
}
.sash_text {
	float: left;
	height: 13px;
	width: 30px;
	text-align: left;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 4px;
	margin-left: 4px;
}
.sash_text4 {
	float: left;
	height: 13px;
	width: 50px;
	text-align: left;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 4px;
	margin-left: 4px;
}
.sep{
	background:url(../images/channel_thumbs_index/xian.png) repeat-x;
	height:2px;
	overflow:hidden;
}
/*底部功能切换Tab*/
.document_list_footer{
	width:100%;
	height:26px;
}
/*

*/
.hot_single_operator{
	filter:alpha(opacity=100);
	-moz-opacity:0.8;
}
.td_oprator{
	filter:alpha(opacity=100);
	-moz-opacity:0.8;
}

