body, table, tr, td, div, iframe{
	scrollbar-3dlight-color:B4B4B4;
	scrollbar-arrow-color:333333;
	scrollbar-base-color:EEEEEE;
	scrollbar-darkshadow-color:FFFFFF;
	scrollbar-face-color:eeeeee;
	scrollbar-highlight-color:FFFFFF;
	scrollbar-shadow-color:B4B4B4;
}

BODY {
	MARGIN-TOP: 0px;
	MARGIN-left: 0px;
	MARGIN-right: 0px;
	MARGIN-bottom: 0px;
	FONT-SIZE: 12px;
	BACKGROUND: #EDEDED;
	color: #000000;
}
TABLE{
	font-size:9pt;
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
A.tab_link:link {
	text-decoration:none;
	color:#024F91;
	font-weight: bold;
	}
A.tab_link:visited {
    text-decoration:none;
	color:#024F91;
	font-weight: bold;
	}
A.tab_link:hover {
	text-decoration:sub;
	color:#3F8AD2;
	font-weight: nomal;
	}
A.tab_link2:link {
	text-decoration:none;
	color:#024F91;
	font-weight: nomal;
	}
A.tab_link2:visited {
    text-decoration:none;
	color:#024F91;
	font-weight: nomal;
	}
A.tab_link2:hover {
	text-decoration:sub;
	color:#3F8AD2;
	font-weight: nomal;
	}
A.tab_linksmall:hover {
	text-decoration:sub;
	color:#024F91;
	font-weight: nomal;
	}
A.tab_linksmall:link {
	text-decoration:none;
	color:#000000;
	font-weight: nomal;
	}
A.tab_linksmall:visited {
	text-decoration:none;
	color:#024F91;
	font-weight: nomal;
	}
A.tab_linksmall:hover {
	text-decoration:none;
	color:#024F91;
	font-weight: nomal;
	}
A.iconfont:link {
	text-decoration:none;
	color:#000000;
	font-weight: normal;
	}
A.iconfont:visited {
    text-decoration:none;
	color:#000000;
	font-weight: normal;
	}
A.iconfont:hover {
	text-decoration:sub;
	color:#000000;
	font-weight: normal;
	}
A.insider:link {
	text-decoration:none;
	color:#66CC66;
	vertical-align: sub;
}
A.insider:visited {
    text-decoration:none;
	color:#66CC66;
	vertical-align: sub;
	}
A.insider:hover {
    text-decoration:underline;
	color:#FB9400;
	vertical-align: sub;
	}
A.top_white_link:link {
	text-decoration:none;
	color:#ffffff;
}
A.top_white_link:visited {
    text-decoration:none;
	color:#ffffff;
	}
A.top_white_link:hover {
    text-decoration:none;
	color:#BDD6FF;
	}
A.navigation_channel_link:link {
	text-decoration:none;
	color:#124190;
}
A.navigation_channel_link:visited {
    text-decoration:none;
	color:#124190;
	}
A.navigation_channel_link:hover {
    text-decoration:underline;
	color:#124190;
	}
A.navigation_page_link:link {
	text-decoration:none;
	color:#124190;
}
A.navigation_page_link:visited {
    text-decoration:none;
	color:#124190;
	}
A.navigation_page_link:hover {
    text-decoration:underline;
	color:#124190;
	}
A.bluebold:link {
	font-size: 14px;
	font-weight:bold;
	color: #024F91;
	text-decoration: none;
}
A.bluebold:hover {
	font-size: 14px;
	font-weight:bold;
	color: #024F91;
	text-decoration: none;
}
A.bluebold:visited {
	font-size: 14px;
	font-weight:bold;
	color: #024F91;
	text-decoration: none;
}
A.blue:link {
	font-size: 14px;
	color: #0000FF;
	text-decoration: underline;
}
A.blue:hover {
	font-size: 14px;
	color: #024F91;
	text-decoration: underline;
}
A.blue:visited {
	font-size: 14px;
	color: #024F91;
	text-decoration: underline;
}
A.bluesmall:link {
	font-size: 12px;
	color: blue;
	text-decoration: underline;
}
A.bluesmall:hover {
	font-size: 12px;
	color: blue;
	text-decoration: underline;
}
A.bluesmall:visited {
	font-size: 12px;
	color: blue;
	text-decoration: underline;
}
.navigation_channel{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #124190;
	text-decoration: none;
}
.navigation_page{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.navigation_channel_td{
	text-align: right;
}
.navigation_page_td{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	text-align: right;
}
.tab_td {
	text-align: center;
}
.tab_hotfont{
	color:#444444;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	}
.navigation_table {
	background-color: #a6a6a6;
}
.channeltree_td {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	vertical-align: top;
}
.navigation_content_table {
	vertical-align: top;
	border-top: 2px;
	border-top-color: #E0E0E0;
	background-color: #FFFFFF;
	width: 100%;
	padding: 2px;
	border-top-style: outset;
}
.list_td {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	vertical-align: top;
}
.copyrights_td{
	padding-right: 10px;
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	height: 28px;
}
.copyrights_trs{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #124190;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}.top_white {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #ffffFF;
	text-decoration: none;
	vertical-align: sub;
}.top_white_time {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #ffffFF;
	text-decoration: none;
}
.div_closeopen{
	position: relative;
	top: 50%;
}.div_scroll {
	line-height: 100px;
	overflow: scroll;
}
.icon_table{
	background-image: url(../images/icon-bg.gif);
	border: 1px solid #A6A6A6;
	height: 22px;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.windowname {
	font-size: 12px;
	font-weight: bold;
	color: #ffffFF;
}
.cj_content {
	background-color: #F3F3F3;
	border: 1px solid #A6A6A6;
}
.title_content {
	height: 24px;
	font-size: 12px;
	font-weight: nomal;
	border: 1px solid #A6A6A6;
	background-color: #F6F6F6;
}
.cj_window_right_table {
    border: 1px solid #A6A6A6;
}
.tanchu_content_td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tanchu_content {
	background-color: #Ffffff;
	border: 1px solid #A6A6A6;
	font-size: 12px;
	text-decoration: none;
}
.font_red {
	font-size: 12px;
	font-weight: normal;
	color: red;
	text-decoration: none;
}
.font_blue {
	font-size: 12px;
	font-weight:normal;
	color: #024F91;
	text-decoration: none;
}
.font_redbold {
	font-size: 12px;
	font-weight:bold;
	color: red;
	text-decoration: none;
}
.font_blackbold {
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
}
.font_bigredbold {
	font-size: 16px;
	font-weight:bold;
	color: red;
	text-decoration: none;
}
.font_24px {
	font-size: 24px;
	font-weight:bold;
	text-decoration: none;
}
.font_14px {
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
}
.font_16px_normal {
	font-size: 16px;
	font-weight: normal;
}

.font_bluebold {
	font-size: 14px;
	font-weight:bold;
	color: #024F91;
	text-decoration: none;
}
.font_msg_title {
	font-size: 14px;
	font-weight: bold;
}

.font_msg_content {
	font-size: 14px;
	font-weight: normal;
}

.font_search_title {
	font-size: 12px;
	color:#2F74B5;
	font-weight:normal;
}

A.red_link:link {
	text-decoration:underline;
	color: red;
	font-weight:bold;
}
A.red_link:visited {
	text-decoration:underline;
	color: red;
	font-weight:bold;
	}
A.red_link:hover {
	text-decoration:underline;
	color: red;
	font-weight:bold;
	}
.bottomline{border-bottom: 1px solid #CCCCCC;}
.picshow{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.mainwindow_right_channelcontent{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #8BA7C7;
	background-color: #Ffffff;
}
.mainwindow_right_channelname{
	color: #Ffffff;
}
.mainwindow_right_td{
	border-left: 1px solid #8BA7C7;
}
A.day_link:link {
	text-decoration:underline;
	color:#124190;
}
A.day_link:visited {
    text-decoration:underline;
	color:#124190;
	}
A.day_link:hover {
    text-decoration:underline;
	color:#124190;
	}

	.list_tr{
		background-color:white;
		font-size:14px;
		height:22;
		vertical-align:bottom;
	}
	.list_tr_selected{
		background-color:#FFFFCC;
		font-size:14px;
		height:22;
		vertical-align:bottom;
	}
	.list_tr_small{
		background-color:white;
		font-size:9pt;
	}
	.list_tr_small_selected{
		background-color:#FFFFCC;
		font-size:9pt
	}
	.list_th{
		background-color:#BEE2FF;
		font-size:9pt;
		text-align:center;
	}



.bt_table{
	background-image: url(../images/button_bg.gif);
	border: 1px solid #A6A6A6;
	height: 22px;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size:12px;
	cursor:hand;
}
.bt_table_disable{
	background-image: url(../images/button_bg.gif);
	height: 16px;
	font-size:9pt;
	color:#999999;
	border: 1px solid #A6A6A6;
	height: 22px;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size:12px;
	cursor:not-allowed;
	filter:GRAY
}
.bt_table_noborder{
	height: 16px;
	font-size:9pt;
	cursor:hand;
}
.bt_table_noborder_disable{
	height: 16px;
	font-size:9pt;
	color:#999999;	
	cursor:not-allowed;
	filter:GRAY
}


.font_bluebold{
	text-decoration:none;
	color:#024F91;
	font-weight: bold;
	}

A.t0i:link {
	text-decoration:none;
	color:black;	
}
A.t0i:visited {
    text-decoration:none;
	color:black;	
}
A.t0i:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}

A.t1i:link {
	text-decoration:none;
	color:black;	
}
A.t1i:visited {
    text-decoration:none;
	color:black;	
}
A.t1i:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}

A.t2i:link {
	text-decoration:none;
	color:black;	
}
A.t2i:visited {
    text-decoration:none;
	color:black;	
}
A.t2i:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}

A.tree_selected:link {
	text-decoration:none;
	color:white;	
	background-color:#0A246A;	
}
A.tree_selected:visited {
    text-decoration:none;
	color:white;	
	background-color:#0A246A;	
}
A.tree_selected:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}



A.tree_normal:link {
	text-decoration:none;
	color:black;	
}
A.tree_normal:visited {
    text-decoration:none;
	color:black;	
}
A.tree_normal:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}

A.button_link:link {
	text-decoration:none;
	color:black;	
}
A.button_link:visited {
    text-decoration:none;
	color:black;	
}
A.button_link:hover {
	text-decoration:sub;
	color:white;	
	background-color:#0A246A;
}
A.portal_right_title:link {
	text-decoration:none;
	color:white;	
}
A.portal_right_title:visited {
    text-decoration:none;
	color:white;	
}
A.portal_right_title:hover {
	text-decoration:none;
	color:white;	
}
.head_td{
	background-image: url("../images/main_left_channel_bg.gif");
}
.mainWin_body{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.list_table{
	background-color: #a6a6a6;
}
.htmlcontent_edit_td{
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 5px;
	padding-bottom: 4px; 
}
.onlineuserlist_td{
	background-color:#EFF7FF
}
.onlineuserlist_portal_td{
	background-color:#FFFFFF
	border-color:#E8E8E8
	border:1px
}

.inputtext {
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	height: 19px;
	font-size: 12px;
}
.inputbutton {
	border-top: #ffffff 1px ridge;
	border-bottom: 1px ridge;
	border-left: #ffffff 1px ridge;
	border-right: 1px ridge;
	background-color: #cccccc;
	font-size: 12px;
}

.font_bluep13bold{
	text-decoration:none;
	color:#024F91;
	font-weight: bold;
	font-size:13px;
}


.font_blackp14bold{
	text-decoration:none;
	color:#000000;
	font-size:14px;

	}
.font_doccontentview{
	text-decoration:none;
	color:#333333;
	font-size:14px;
	line-height:180%;
	}
.font_docotherview{
	text-decoration:none;
	color:#000000;
	font-size:14px;
	}
.font_introduction{
	text-decoration:none;
	color:#000000;
	font-size:14px;
	line-height:180%;
	}
.docreview_title{
	text-decoration:sub;
	color:#000000;	
	font-size:18px;
	font-weight:bold;	
}
.docreview_content{
	text-decoration:sub;
	color:#000000;	
	font-size:14px;
	line-height:180%
}
.docreview_pic{
	border: 1px solid #cccccc;
}
A.bluelinkp14:link {
	text-decoration:underline;
	font-size:12px;
	line-height:150%;
	color:blue;	
}
A.bluelinkp14:visited {
	text-decoration:underline;
	line-height:150%;
	font-size:14px;
	color:blue;	
}
A.bluelinkp14:hover {
	text-decoration:none;
	color:#333333;
	font-size:14px;	
}
.s_input{
	border-bottom-width: 1;
	border-color: #104194;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}
body{
	margin:0;
	padding:0;
	overflow:hidden;
	border:0;
}
body td{
	font-size:12px;
}
.input_text{
	float:left;
	margin-top:0;
	width:auto;
	border: #b7b7a6 1px solid;
}
.input_checkbox{
	border:0;
}
.select{
}
.editor_top{
	height: 30px;
	background-image: url(../images/document_addedit/top_bg_bar.png);
	background-repeat: repeat-x;
}
.editor_top_btn_bg {
	float: left;
	height: 30px;
	width: 209px;
	background-image: url(../images/document_addedit/top_iocn_bar.png);
	background-repeat: no-repeat;
}
.toolbar_icon{
	height: 18px;
	width: 18px;
	float: left;
	overflow: hidden;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-left: 5px;
	cursor:pointer;
}
.toolbar_sep{
	float: left;
	height: 16px;
	width: 2px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
	background-image: url(../images/document_addedit/icon_xian.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.editor_title_tr{
	height: 30px;
}
.editor_title{
	height: 30px;
	background-image: url(../images/document_addedit/toolbar_bg.png);
	background-repeat: repeat-x;
	overflow:hidden;
}
#DocTitle{
	width:360px;
	margin-top:0px;
	height:24px;
	border-right:0;
}
#CountTitle{
	float:left;
	margin-top:0px;
	font-size:11px;
	font-family:Courier New;
	height:24px;
	line-height:22px;
	white-space:nowrap;
	width:53px;
	overflow:hidden;
	border: #b7b7a6 1px solid;
	border-left:0;
	border-right:0;
}
#CursorPsn{
	width:26px;
	color:blue;
}
#TitleCount{
	width:26px;
	color:green;
}
#DocTitleHint{
	float:left;
	margin-top:0px;
	width:20px;
	background-image: url(../images/document_addedit/simpleeditor.gif);
	background-repeat: no-repeat;
	background-position:50% 50%;
	height:24px;
	cursor:pointer;
	border: #b7b7a6 1px solid;
	border-left:0;
}
#DocAbstractHint{
	float:left;
	margin-left:2px;
	margin-top:2px;
	width:18px;
	background-image: url(../images/document_addedit/simpleeditor.gif);
	background-repeat: no-repeat;
	background-position:50% 50%;
	font-size:9pt;
	color:blue;
	font-family:Courier New;
	font-style:italic;
	height:18px;
	cursor:pointer;
	border: #b7b7a6 1px solid;
}
.other_blank,#mask_editor,#html_editor,.props_blank1,.editor_toolbar{
	background-image: url(../images/document_addedit/toolbar_bg.png);
	background-repeat: repeat-x;
	background-position:50% -8px;
}
#mask_editor{
	position:absolute;
	margin-top:-100%;
	height:100%;
	z-index:999;
}
.other_blank{
	height:50px;
}
#txt_editor2{
	margin-top:5px;
	border:1px solid #b7b7a6;
	width:98%;
	height:98%;
	background:#FFFFFF;
	overflow:auto;
}
.editor_toolbar_adv{
	background-image: url(../images/document_addedit/toolbar_bg2.png);
	background-repeat: repeat-x;
	background-position:50% 14px;
}
.props_blank1,.xToolbar{
	padding-top:2px;
	overflow:hidden;
	height:50px;
}
.props_blank2,.xToolbar_adv{
	padding-top:2px;
	background-image: url(../images/document_addedit/toolbar_bg3.png);
	background-repeat: repeat-x;
	background-position:50% -4px;
	overflow:hidden;
	height:74px;
}
.editor_bottom{
	height: 21px;
	background-image: url(../images/document_addedit/bottom_bg.png);
	background-repeat: repeat-x;
}
.editor_body {
/*	background-image: url(../images/document_addedit/bg.png);
	background-repeat: repeat;
*/
	background:#808080;
	scrollbar-face-color : threedhighlight;
	scrollbar-darkshadow-color : threedhighlight;
}
.top_ruler {
	background-image: url(../images/document_addedit/staff_guage.png);
	background-repeat: repeat-x;
	height:15px;
}
.left_ruler {
	background-image: url(../images/document_addedit/staff_guage1.png);
	width: 13px;
	background-repeat: repeat-y;
}
.editor_container{
}
.info_container{
	width:250px;
}
.bottom_editor_toolbar{
	height:30px;
}
.bottom_toolbar{
	height:50px;
}
.toolbar_btn_basic{
	float: left;
	height:14px!important;
	height:20px;
	padding:3px;
	padding-left:20px;
	background-position:2px 2px;
	background-repeat: no-repeat;
	margin-left: 5px;
	cursor:pointer;
}
.toolbar_source{
	background-image: url(../images/document_addedit/source.png);
	margin-left: 8px;
}
.toolbar_design{
	background-image: url(../images/document_addedit/design.png);
}
.toolbar_preview{
	background-image: url(../images/document_addedit/preview.gif);
}
.toolbar_current_btn{
	border:1px solid gray!important;
	border-right:1px solid white!important;
	border-bottom:1px solid white!important;
	border:1px solid inset;
	padding:2px;
	padding-left:20px;
	background-color:#E6E6E6;
}
.btm_toolbar_icon{
	float:left;
	height:14px!important;
	height:20px;
	line-height:20px;
	padding:1px 0 1px 20px;
	background-position:0 center;
	background-repeat: no-repeat;
	cursor:pointer;
}
.btm_toolbar_icon_outer{
	display:inline;
	height:24px!important;
	height:26px;
	padding:1px 6px;
	margin:0;
}
.btm_toolbar_icon_outer_over{
	padding:0 5px;
	border:1px solid gray;
}
.btm_toolbar_icon_sep{
	display:inline;
	height:20px;
	overflow:hidden;
	margin:-24px 2px;
	width:1px;
	background:silver;
}
.publish {
	background-image: url(../images/document_addedit/preview.gif);
}
.bgr_icon{
	height:20px;
	padding-left:20px;
	padding-top:1px;
	background-position:0 0;
	background-repeat: no-repeat;
	cursor:pointer;
}
.save_exit {
	background-image: url(../images/document_addedit/save_exit.gif);
}
.save_addnew {
	background-image: url(../images/document_addedit/save_addnew.gif);
}
.publish_addnew {
	background-image: url(../images/document_addedit/publish_addnew.gif);
}
.save_publish {
	background-image: url(../images/document_addedit/save_publish.gif);
}
.exit {
	background-image: url(../images/document_addedit/exit.gif);
}

.buttongroup_item_container{
	position:absolute;
	margin-top:-4px;
	width:108px;
	background:#FFFFFF;
	border:1px solid black;
	padding:3px;
}
.buttongroup_item_container a,.buttongroup_item_container a:hover,.buttongroup_item_container a:link,.buttongroup_item_container a:visited{
	text-decoration: none;
}
.buttongroup a,.buttongroup a:hover,.buttongroup a:link,.buttongroup a:visited{
	text-decoration: none;
}
.buttongroup_item{
	float:left;
	width:100px;
	padding:0;
	height:20px;
}
.buttongroup{
	display:inline;
	margin:0;
	overflow:hidden;
	padding:0;
	width:100px;
	height:26px;
}
.buttongroup_default_item{
	float:left;
	width:80px;
	height:14px!important;
	height:20px;
	padding:3px;
}
.buttongroup_item_btnmore_down{
	float:left;
	width:20px;
	height:24px!important;
	height:26px;
	padding:1px;
	cursor:pointer;
	background:url(../images/include/ButtonGroupMoreDown.png) no-repeat center center;
}
.buttongroup_item_btnmore_up{
	float:left;
	width:20px;
	height:24px!important;
	height:26px;
	padding:1px;
	cursor:pointer;
	background:url(../images/document_addedit/save_group.gif) no-repeat center center;
}
.buttongroup_item_btnmore_over{
	border:1px solid gray;
	padding:0;
}
.buttongroup_item_over{
	border:0;
}
.buttongroup_default_item_over{
	border:1px solid gray;
	padding:2px;
}

.toolbar_label {
	float: left;
	height:18px;
	overflow:hidden;
	margin-top: 6px;
	margin-left: 4px;
	padding-right:4px;
	font-size: 12px;
}
.input_title {
	float:left;
	height:16px;
	width:450px;
	overflow:hidden;
	margin-top:1px;
}
.title_color {
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 4px;
	margin-left: 5px;
	cursor:pointer;
}
.title_color1 {
	float: left;
	height: 12px;
	overflow:hidden;
	width: 16px;
	background-image: url(../images/document_addedit/title_color.png);
	background-repeat: no-repeat;
	cursor:pointer;
}
.title_color2 {
	float:left;
	height: 4px;
	width: 16px;
	overflow:hidden;
}
.document_option {
	float: left;
	height: 10px;
	margin-top: 2px;
	margin-left: 5px;
	font-size: 12px;
	color: #000000;
}
.attachment {
	background-image: url(../images/document_addedit/attachment.gif);
	margin-top:2px;
	line-height:20px;
}
.relative_docs {
	background-image: url(../images/document_addedit/relation.gif);
	margin-top:2px;
	line-height:20px;
}
.hotword {
	background-image: url(../images/document_addedit/hotword.png);
	margin-top:2px;
	line-height:20px;
}
.attr_column_head {
	height: 26px;
	background-image: url(../images/document_addedit/attr_column_head_bg.png);
	background-repeat: no-repeat;
	background-position:2px center;
	cursor:pointer;
}
.attr_column_title{
	margin-left:10px;
	line-height:26px;
	font-weight: bold;
	color: #000000;
	font-size: 14px;
}
.customize_area{
	height:20px;
}
.customize_area div{
}
.attr_row{
	height:24px;
	font-size:12px;
	line-height:24px;
}
.attr_name{
	float:left;
	margin:0 5px;
	width:60px;
	overflow:hidden;
}
.attr_name .num{
	margin:0 2px;
	font-weight:bold;
	color:blue;
}
.attr_value{
	float:left;
	font-weight:bold;
	color:green;
}
.attr_input_text{
	float:left;
	overflow:hidden;
	border: #b7b7a6 1px solid;
}
.attr_input_text input{
	width:100%;
	height:18px;
	border:0;
}
.attr_textarea{
	float:left;
	margin:0;
	width:228px;
}
.attr_textarea textarea{
	border:0;
	border: #b7b7a6 1px solid;
}
.attr_table{
	float:left;
	margin:0 5px;
	width:230px;
}
.attr_table td{
	font-size:12px;
}
.add_quotechannel{
	float:right;
	width:17px;
	height:20px;
	margin-right:5px;
	background:url(../images/document_addedit/add_quotechannel.gif) no-repeat center center;
}
.remove_quotechannel{
	float:right;
	width:17px;
	height:20px;
	margin-right:15px;
	background:url(../images/document_addedit/remove_quotechannel.gif) no-repeat center center;
}
.attr_quotechanel_head{
	background:#E9E9E9;
	height:24px;
}
.attr_quotechanel_row{
	background:#FFFFFF;
	height:24px;
}
.attr_quotechanel_column{
	overflow:hidden;
	text-align:left;
}
.attr_select{
	float:left;
}
.attr_select select{
	width:150px;
	border:1px solid #b7b7a6;
}
.date_picker_input{
	float:left;
	height:16px!important;
	height:18px;
	overflow:hidden;
	border: #b7b7a6 1px solid;
}
.date_picker_input input{
	height:18px;
	line-height:18px;
	border:0;
	padding:0 1px;
}
.date_picker{
	float:left;
	width:20px;
	height:18px;
	background:url(../images/document_addedit/date_picker.png) no-repeat center center;
}
.attr_extendfield_head{
	background:#E9E9E9;
	height:24px;
}
.attr_extendfield_row,.attr_extendfield_norow{
	background:#FFFFFF;
	height:24px;
}
.attr_extendfield_column{
	overflow:hidden;
	text-align:left;
	word-wrap:break-word;
	word-break:break-all;
}
.attr_extendfield_column input{
	width:98%;
	height:20px;
	border: #b7b7a6 1px solid;
}
.attr_group_sep{
	height:2px;
	background:url(../images/document_addedit/attr_group_sep.png) repeat-x;
}
.attr_settop_row{
	background:#FFFFFF;
	height:24px;
}
.attr_settop_column{
	overflow:hidden;
	text-align:left;
}
.attr_topsort_head{
	background:#E9E9E9;
	height:24px;
}
.attr_topsort_row{
	background:#FFFFFF;
	height:24px;
}
.row_dragging{
	background:#FFFFDD;
	height:24px;
}
.current_doc_row{
	background:#FFFFFF;
	height:24px;
	color:red;
	cursor:move;
}
.attr_topsort_title{
	text-align:left;
	overflow:hidden;
}
.attr_topsort_dragicon{
	width:20px;
	height:20px;
	background:url(../images/document_addedit/pri_set_dragicon.png) no-repeat center center;
}

.ui_select{
	float:left;
	width:150px;
	height:24px;
	border:1px solid gray;
	overflow:hidden;
	cursor:pointer;
}
.ui_select_hover{
	padding:1px;
	border:1px solid gray;
	background:;
}
.ui_select_selected{
	padding:1px;
	border:1px solid gray;
	background:;
}

.ui_editableselect_input{
	margin:0;
	border:0;
	width:120px;
}
.ui_select_dropdown{
	float:right;
	width:20px;
	height:22px;
	background:url(../images/document_addedit/dropdown.gif) no-repeat center center;
}
/*-------------------------*/
.caidan {
	display:block;
	width:100%;
	height: 20px;
	margin-top: 6px;
	background-image: url(../images/document_addedit/icon_bg_middle.png);
	margin-left: 3px;
}
.gongjutiao {
	float: left;
	height: 20px;
	width: 977px;
	background-image: url(../images/document_addedit/icon_ddd.png);
	background-repeat: no-repeat;
	margin-top: 3px;
}

.right_bar {
	background-image: url(../images/document_addedit/icon_bg_right.png);
	background-repeat: no-repeat;
	float: right;
	height: 26px;
	width: 13px;
}
.middle_bar {
	height: 603px;
	width: 1003px;
}


.middle_left_div {
	width: 799px;
	float: left;
}
.left_bar {
	float: left;
	height: 26px;
	width: 4px;
	background-image: url(../images/document_addedit/icon_bg_left.png);
}
.dayin {
	float: left;
	height: 15px;
	width: 15px;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-left: 5px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/dayin.png);
}
.shuxian {
	float: left;
	height: 15px;
	width: 1px;
	margin-top: 6px;
	margin-right: 3px;
	margin-left: 6px;
	background-repeat: no-repeat;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/shuxin.png);
}
.shuxian_2 {
	float: left;
	height: 14px;
	width: 3px;
	margin-top: 7px;
	margin-left: 2px;
	background-repeat: no-repeat;
	overflow: hidden;
	background-image: url(../images/document_addedit/xian.png);
}
.jianqie {
	float: left;
	height: 14px;
	width: 9px;
	margin-top: 6px;
	background-repeat: no-repeat;
	margin-left: 5px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/jianqie.png);
}
.fuzhi {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/shanchu.png);
}
.fuzhi_1 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/zhantie.png);
}
.fuzhi_2 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/txing.png);
}
.fuzhi_3 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 17px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/wxing.png);
}
.fuzhi_4 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/chazhao.png);
}
.fuzhi_5 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/ab.png);
}
.fuzhi_6 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/daotui.png);
}
.fuzhi_7 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/qianjin.png);
}
.fuzhi_8 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/erw.png);
}
.fuzhi_9 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 6px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/sww.png);
}
.fuzhi_10 {
	background-repeat: no-repeat;
	float: left;
	height: 9px;
	width: 15px;
	margin-top: 9px;
	margin-left: 6px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/lian.png);
}
.fuzhi_11 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 6px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/shanshui.png);
}
.fuzhi_12 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 6px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/taiyang.png);
}
.fuzhi_13 {
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 15px;
	margin-top: 6px;
	margin-left: 6px;
	overflow: hidden;
	background-image: url(../images/document_addedit/icon/sddd.png);
}
.fuzhi_14 {
	float: left;
	height: 15px;
	width: 261px;
	margin-top: 3px;
	margin-left: 6px;
	font-size: 12px;
}
.chang {
	float: left;
	height: 18px;
	width: 220px;
	background-image: url(../images/document_addedit/icon/ghj.png);
	background-repeat: no-repeat;
	margin-top: 5px;
	overflow: hidden;
}

.fuzhi_15 {
	float: left;
	height: 10px;
	margin-top: 9px;
	margin-left: 6px;
	background-image: url(../images/document_addedit/icon/b.png);
	background-repeat: no-repeat;
	width: 16px;
	overflow: hidden;
}

.bgtrd {
	background-image: url(../images/document_addedit/bottom_bg.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 20px;
}

.yeian {
	margin: 15px;
	margin-top: 14px;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}
.yeian _1{
	height: 800px;
	width: 670px;
	margin-left: 30px;
	margin-top: 14px;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #333333;
	padding: 15px;
	position: absolute;
	top: 100px;
}
.right_shuxing_top_text_title {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	float: left;
	height: 12px;
	width: 70px;
	margin-top: 7px;
	margin-left: 8px;
}
.right_shuxing_top_del {
	float: left;
	height: 9px;
	width: 10px;
	background-image: url(../images/document_addedit/del.png);
	background-repeat: no-repeat;
	margin-top: 7px;
	margin-left: 90px;
}
.right_shuxing_diwen {
	background-color: #eaeaea;
	height: 537px;
	width: 197px;
	margin-left: 6px;
}
.right_shuxing_text_1 {
	margin-left: 9px;
	font-size: 12px;
	color: #000000;
	margin-top: 6px;
}
.right_shuxing_text_2 {
	margin-left: 9px;
	font-size: 12px;
	color: #000000;
	margin-top: 10px;
}
.right_shuxing_shurukuang_1 {
	margin-left: 5px;
	font-size: 12px;
	color: #000000;
}
.right_shuxing_shurukuang_2 {
	margin-left: 2px;
	font-size: 12px;
	color: #000000;
	height: 10px;
}
.right_shuxing_shurukuang_3 {
	margin-left: 2px;
	font-size: 12px;
	color: #000000;
	height: 10px;
}
.right_you {
	float: left;
	height: 603px;
	width: 204px;
	background-color: #a0a0a0;
}
#DocSourceSpan{
	float:left;
	width:18px;
	height:16px;
	overflow:hidden;
}
#DocSource{
	margin-left : -130px;
	width : 135px;
	margin-top:-2px;
	height:16px;
}