body {
	margin:0px;
	background-color:#ffffff;
	float:left;
	width:97%;
	height:525px;
	overflow:hidden;
}
.wcm_pointer{
	cursor:hand;
}
/*顶部导航区*/
.document_top_nav {
	width: 100%;
	height:25px;
}
.document_top_nav a{
	text-decoration:none;
	color:black;
}
.document_detail_head{
	padding-top:10px;
}
.document_detail_body{
	padding-top:0px;
	margin:0px;
}
/*标题*/
.document_detail_title {
	font-size: 14px;
	color: #000000;
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}
/*描述信息*/
.document_detail_desc {
	height: 30px;
	width: 85%;
	font-size: 12px;
	text-align: center;
}
/*内容外部*/
.document_detail_contentOuter{	
	padding-top:5px;
}
/*内文文字*/
.document_detail_content {
	text-align:justify;
	font-size: 14px;
	color: #000000;
	height:300px;
	width: 85%;
	overflow-y:hidden;
	overflow-x:visible;
}
/*更多文字*/
.document_detail_content_more {
	font-size: 12px;
	text-align: right;
	cursor:pointer;
	font-weight:bold;
}
/*箭头向下*/
.content_down {
	background-image: url(../images/document_detail/arrowhead_down.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 10px;
	overflow: hidden;
}
/*属性拦标题*/
.document_detail_other_header_up {
	background-image:url(../images/document_detail/arrowhead_up.png);
	background-repeat: no-repeat;
	background-position:18px center;
	font-size: 12px;
	font-weight: bold;
	padding:5px 30px;
}
.document_detail_other_header_down {
	background-image:url(../images/document_detail/arrowhead_down.png);
	background-repeat: no-repeat;
	background-position:18px center;
	font-size: 12px;
	font-weight: bold;
	padding:5px 30px;
}
.document_detail_other_body{
	text-align:justify;
	width: 85%;
	font-size:14px;
}

/*箭头向上*/
.content_up {
	background-image: url(../images/document_detail/arrowhead_up.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 5px;
	overflow: hidden;
	float: left;
	clear: right;
}
/*属性标题拦文字*/
.caption_text {
	background-color: #FFFFFF;
	height: 35px;
	border: 1px solid #999999;
	padding: 5px;
	text-indent: 5px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
/*属性标题拦文字居中*/
.text {
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.document_attribute_writable_text{
	float:left;
	border:0;
	margin:0;
	padding:1px 2px 0;
	color:blue;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.document_attribute_writable_text_hover{
	border:1px solid gray;
	margin:-1px;
}
.document_attribute_writable_text_input{
	border:0;
	padding:0;
	padding-left:1px;
	background-color:#ffffef;
}
.document_attribute_value_doctitle{
	width:140px;
	font-size:14px;
	height:20px;
}
.document_attribute_value_docstatus,.document_attribute_value_docindextitle,.document_attribute_value_docsectitle,.document_attribute_value_dockeys,.document_attribute_value_docsource{
	width:80px;
	font-size:12px;
	height:17px;
}

.detailScrollBar{
/*
	scrollbar-face-color:white;
	scrollbar-highlight-color :white;
	scrollbar-shadow-color:yellow;
*/
}