/*字体*/
.text {
	font-size: 12px;
	color: #000000;
	text-indent: 20px;
	display: block;
	letter-spacing: 1px;
	margin-top: 3px;
}
/*图标*/
.New {
	background-image: url(../images/icon/New.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 80px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 7px;
	float: left;
}
.Import {
	background-image: url(../images/icon/Import.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 80px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.Update {
	background-image: url(../images/icon/Update.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 50px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.Preview {
	background-image: url(../images/icon/Preview.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 50px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.QuickPublish {
	background-image: url(../images/icon/QuickPublish.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 80px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.ChangeState {
	background-image: url(../images/icon/ChangeStatus.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 80px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.Copy {
	background-image: url(../images/icon/Copy.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 50px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.Move {
	background-image: url(../images/icon/Move.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 50px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
.Quote {
	background-image: url(../images/icon/Quote.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 50px;
	margin-top:6px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 5px;
	float: left;
}
/*页面指定不同连接的颜色*/
.linkA a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.linkA a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.linkA a:hover {
	color: #66CCFF;
	text-decoration: none;
	font-size: 12px;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #3366CC;
	text-decoration: none;
}