body{
	font-size:12px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
}
.wcm_pointer{
	cursor:pointer;
}
.extendfield_list_pageinfo_left {
	background-image: url(../images/extendfield/header_bg_left.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 4px;
	float: left;
}
.extendfield_list_pageinfo_right {
	float: right;
	background-image: url(../images/extendfield/header_bg_right.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 4px;
}

.extendfield_list_pageinfo{
	height: 29px;
	width: 100%;
	background-image: url(../images/extendfield/header_bg.png);
	background-repeat: repeat-x;
	margin:0px;
	overflow:hidden;
}

.extendfield_list_more{
	float:left;
	padding-left:10px;
	width:29px;
	height:12px;
	background-image:url(../images/document_normal_index/more.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}

.grid{
	float:left;
	width:100%;
	font-size:14px;
	line-height:18px;
}
.grid_head{
	float:left;
	width:100%;
	height:22px;
	background-image: url(../images/extendfield/button-bg.png);
	background-repeat: repeat-x;
	padding-top:1px;
	border-bottom:1px solid gray;
}
.grid_row{
	float:left;
	width:100%;
	height:23px;
	border-bottom:1px solid gray;
}
.grid_column{
	float:left;
	height:100%;
	text-align:center;
	border-right:1px solid gray;
	padding-top:6px;
	overflow:hidden;
}
/*升序*/
.grid_head_column_orderasc{
	background-image:url(../images/icon/up.png);
	background-repeat:no-repeat;
	background-position:92% center;
}
.grid_head_column_orderdesc{
	background-image:url(../images/icon/down.png);
	background-repeat:no-repeat;
	background-position:92% center;
}
.grid_row_odd{
	background-color:#FFFFFF;
}
.grid_row_even{
	background-color:#efefef;
}
.grid_row_active{
	background-color:#ffffef;
}

.inputtext {
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	height: 18px;
	font-size: 12px;
	color:gray;
}
.inputbutton {
	border-top: #ffffff 1px ridge;
	border-bottom: 1px ridge;
	border-left: #ffffff 1px ridge;
	border-right: 1px ridge;
	background-color: #cccccc;
	height: 18px;
	font-size: 12px;
}

/*页面中间背景*/
.extendfield_list_grid{
	float:left;
	border:1px solid #474747;
	border-top:0;
	border-bottom:0;
	padding:0;
	height:100%;
	background-color: #FFFFFF;
	overflow:hidden;
}

/*底部功能切换Tab*/
.list_footer{
	width:100%;
	height:26px;
}
