body{
	margin:0;
	padding:0;
}
.wcm_pointer{
	cursor:pointer;
}
.footer_tab{
	background-repeat: repeat-x;
	font-size:12px;
	height: 37px;
	width: 100%;
	background-image: url(../images/include/footbg.gif);
	margin:0px;
	padding:0px;
	border:1px solid #474747;
	border-top:0;
}
.footer_tab a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.footer_tab a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.footer_tab a:hover {
	font-size: 12px;
	color: #3366CC;
	text-decoration: none;
}
.footer_tab_item{
	width:52px;
	height:22px;
	overflow:hidden;
}
.footer_tab_item4{
	width:72px;
	height:22px;
	overflow:hidden;
}
.footer_tab_item_active{
	background-image:url(../images/document_normal_index/label/label-pitch_on.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item_deactive{
	background-image:url(../images/document_normal_index/label/label_unchecked.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item4_active{
	background-image:url(../images/document_normal_index/label/selected_4.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item4_deactive{
	background-image:url(../images/document_normal_index/label/unselected_4.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item_more_open{
	width:40px;
	height:22px;
	overflow:hidden;
	background-image:url(../images/document_normal_index/label/label_more_open.gif);
	background-repeat:no-repeat;
	background-position:center 0;
}

.footer_tab_item_more_close{
	width:40px;
	height:22px;
	overflow:hidden;
	background-image:url(../images/document_normal_index/label/label_more_close.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
