.menu_bg {
	background-image: url(../images/menu/menu_theme.png);
	height: 30px;
}
.menu_close {
	float: right;
	height: 12px;
	width: 20px;
	margin-top: 10px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/menu/menu_close.png);
	background-repeat: no-repeat;
}
.menu_logo {
	background-image: url(../images/menu/logo.png);
	clear: none;
	float: right;
	height: 25px;
	width: 46px;
	margin-top: 3px;
	margin-right: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-repeat: no-repeat;
}


.menu_theme_letter {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 12px;
	width: 600px;
	float: left;
	clear: right;
	margin-top: 9px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
	display: block;
}
/*页面指定不同连接的颜色*/
/*页面指定不同连接的颜色,颜色黑色*/
a.black:link{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:visited{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
}
a.black:hover{
	color:#29547E;
	font-size: 12px;
	text-decoration: none;
}

.corner_span a{
	text-decoration: underline;
}
.corner_delt{
	margin-left: 2px;
	margin-right: 2px;
}