body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
/*左侧侧边栏*/
.nav_tree_top {
	height:100px;
	width:198px;
	border:0;
}
/*左侧侧边栏文字*/
.nav_top_welcome {
	display:block;
	font-size: 12px;
	font-weight: bold;
	color: #40608f;
	height: 18px;
	text-decoration: none;
}
/*左侧侧边栏标题处图标背景*/
.nav_btn_bg {
	float: left;
	background-image: url(../images/nav_tree/BGD38.gif);
	background-repeat: no-repeat;
	height: 36px;
	width: 38px;
	margin: 5px 6px 0 0;
}
.user_btn_bg{
	float: left;
	background-image: url(../images/nav_tree/BGD24.gif);
	background-repeat: no-repeat;
	height: 24px;
	width: 23px;
	margin: 0px 4px 0 0;
	padding:0px;
}
/*左侧侧边栏标题处短消息图标*/
.mail_btn {
	background-image: url(../images/nav_tree/Message.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	margin: 3px;
}
/*左侧侧边栏标题处快速定位图标*/
.user_btn {
	background-image: url(../images/nav_tree/UserCustom.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	margin: 3px;
}
/*左侧侧边栏标题处显示主页图标*/
.tree_btn {
	background-image: url(../images/icon/Homepage.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 32px;
	margin: 3px;
}
/*左侧侧边栏标题处搜索图标*/
.search_btn {
	background-image: url(../images/icon/Search.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 32px;
	margin: 3px;
}
/*左侧侧边栏导航顶部圆角图*/
.nav_tree_navigation_top {
	position:relative;
	top:0;
	left:3px;
	z-index:22;
	height: 3px;
	width: 200px;
	overflow:hidden;
	background-image: url(../images/nav_tree/nav_tree_navigation_top.png);
}
/*左侧侧边栏导航外框*/
.nav_tree_navigation {
	position:relative;
	top:-4px!important;/*FF,MOZ系列*/
	top:-3px;
	left:3px;
	z-index:11;
	width: 198px!important;
	width: 200px;
	height:100%;
	border:1px solid #686868;
	border-top:0;
	padding:0;
	background-color: #FFFFFF;
}
.nav_tree_toggle{
	float:left;
	height:100%;
	width:7px;
	overflow:hidden;
}
.left_arrow_head{
	float:left;
	height:57px;
	width:5px;
	background-image: url(../images/nav_tree/CollapseTree.gif);
	background-repeat: no-repeat;
}
.right_arrow_head{
	float:left;
	height:57px;
	width:5px;
	background-image: url(../images/nav_tree/ExpandTree.gif);
	background-repeat: no-repeat;
}