/*文字库*/
.TreeView div.SiteType0Root{
	background:transparent url(../images/nav_tree/sitetype0.gif) 3px 1px no-repeat;	
	/*text-indent:40px;*/
	padding-left:40px;
	line-height:26px; 
}
.TreeView div.SiteType0RootOpened{
	background:transparent url(../images/nav_tree/sitetype0_opened.gif) 3px 1px no-repeat;	
	padding-left:40px;
	line-height:26px; 
}

/*图片库*/
.TreeView div.SiteType1Root{
	background:transparent url(../images/nav_tree/sitetype1.gif) 3px 1px no-repeat;	
	padding-left:40px;
	line-height:26px; 
}
.TreeView div.SiteType1RootOpened{
	background:transparent url(../images/nav_tree/sitetype1_opened.gif) 3px 1px no-repeat;	
	padding-left:40px;
	line-height:26px; 
}


/*视频库*/
.TreeView div.SiteType2Root{
	background:transparent url(../images/nav_tree/sitetype2.gif) 3px 1px no-repeat;	
	padding-left:40px;
	line-height:26px; 
}
.TreeView div.SiteType2RootOpened{
	background:transparent url(../images/nav_tree/sitetype2_opened.gif) 3px 1px no-repeat;	
	padding-left:40px;
	line-height:26px; 
}

/*资源库*/
.TreeView div.SiteType4Root{
	background:transparent url(../images/nav_tree/metadata_close.gif) 1px 1px no-repeat;	
	text-indent:20px;
	line-height:26px; 
}
.TreeView div.SiteType4RootOpened{
	background:transparent url(../images/nav_tree/metadata_open.gif) 1px 1px no-repeat;	
	text-indent:20px;
	line-height:26px; 
}


.TreeView div.siteFolder{
	background:transparent url(../images/nav_tree/site.gif) 0px 1px no-repeat;
	padding-left:38px;
	line-height:26px; 
}
.TreeView div.siteFolderOpened{
	background:transparent url(../images/nav_tree/site_opened.gif) 0px 1px no-repeat;	
	padding-left:38px;
	line-height:26px; 
}
.TreeView div.sitePage{
	background:transparent url(../images/nav_tree/blank_site.gif) 0px 1px no-repeat;
	padding-left:38px;
	line-height:26px; 
}

/*普通频道*/
.TreeView div.channelFolder{
	background:transparent url(../images/nav_tree/folder.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}
.TreeView div.channelFolderOpened{
	background:transparent url(../images/nav_tree/folder_opened.gif) 12px -3px  no-repeat;
	padding-left:47px;
	line-height:20px; 
	
}
.TreeView div.channelPage{
	background:transparent url(../images/nav_tree/page.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}


/*图片频道*/
.TreeView div.channel1Page{
	background:transparent url(../images/nav_tree/page1.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}

/*头条频道*/
.TreeView div.channel2Page{
	background:transparent url(../images/nav_tree/page2.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}


/*链接频道*/
.TreeView div.channel11Page{
	background:transparent url(../images/nav_tree/page11.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}
/*ge gfc add @ 2008-1-8*/
/*表单频道*/
.TreeView div.channel13Page{
	background:transparent url(../images/nav_tree/page13.gif) 12px -3px no-repeat;
	padding-left:47px;
	line-height:20px; 
}

.TreeView a:link,
.TreeView a:visited{
  color:#111111;
  text-decoration:none;  
}
.TreeView a:hover,
.TreeView a:active{
  color:#0055ff;
  text-decoration:underline;  
}
.TreeView A.Selected:link,
.TreeView A.Selected:visited,
.TreeView A.Selected:hover,
.TreeView A.Selected:active{
	background-color:#0055fF;
	color:#FFF;
	text-decoration:none;
	cursor:default;	
}