body{
	margin:0;
	padding:0;
}
.wcm_pointer{
	cursor:pointer;
}
.footer_tab{
	border:1px solid #474747;
	background-repeat: repeat-x;
	font-size:12px;
	background-image: url(../images/document_normal_index/label/label_bg.png);
	margin:0px;
	padding:0px;
	padding-left:20px;
	padding-bottom:24px;
}
.footer_tab a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.footer_tab a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.footer_tab a:hover {
	font-size: 12px;
	color: #3366CC;
	text-decoration: none;
}
.footer_tab_item{
	float:left;
	width:54px;
	padding-top:4px;
	padding-bottom:18px;
	text-align:center;
	overflow:hidden;
	margin-top:-1px;
}
.footer_tab_item_active{
	background-image:url(../images/document_normal_index/label/label-pitch_on.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item_deactive{
	background-image:url(../images/document_normal_index/label/label_unchecked.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
.footer_tab_item_more{
	float:left;
	width:40px;
	height:22px;
	overflow:hidden;
	background-image:url(../images/document_normal_index/label/label_more.png);
	background-repeat:no-repeat;
	background-position:center 0;
}
