.TreeView ul{
  padding:0 0 0 15px;
}

/*文字库*/
.TreeView div.SiteType0Root{
	background:transparent url(../images/nav_tree/sitetype0.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.SiteType0RootOpened{
	background:transparent url(../images/nav_tree/sitetype0_opened.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}

/*图片库*/
.TreeView div.SiteType1Root{
	background:transparent url(../images/nav_tree/sitetype1.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.SiteType1RootOpened{
	background:transparent url(../images/nav_tree/sitetype1_opened.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}


/*视频库*/
.TreeView div.SiteType2Root{
	background:transparent url(../images/nav_tree/sitetype2.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.SiteType2RootOpened{
	background:transparent url(../images/nav_tree/sitetype2_opened.gif) 3px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}

/*资源库*/
.TreeView div.SiteType4Root{
	background:transparent url(../images/nav_tree/metadata_close.gif) 1px 1px no-repeat;	
	text-indent:21px;
	line-height:26px; 
}
.TreeView div.SiteType4RootOpened{
	background:transparent url(../images/nav_tree/metadata_open.gif) 1px 1px no-repeat;	
	text-indent:21px;
	line-height:26px; 
}

/*自定义栏目*/
.TreeView div.SiteType3Root{
	background:transparent url(../images/nav_tree/sitetype3.gif) 1px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.SiteType3RootOpened{
	background:transparent url(../images/nav_tree/sitetype3_opened.gif) 1px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
/*我的工作列表*/
.TreeView div.SiteType100Root{
	background:transparent url(../images/nav_tree/sitetype100.gif) 1px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.SiteType100RootOpened{
	background:transparent url(../images/nav_tree/sitetype100_opened.gif) 1px 1px no-repeat;	
	text-indent:22px;
	line-height:26px; 
}
.TreeView div.Subnode1001Page{
	background:transparent url(../images/nav_tree/subnode100_1.gif) 1px 1px no-repeat;	
	text-indent:16px;
	line-height:22px; 
}
.TreeView div.Subnode1002Page{
	background:transparent url(../images/nav_tree/subnode100_2.gif) 1px 1px no-repeat;	
	text-indent:16px;
	line-height:22px; 
}
.TreeView div.Subnode1003Page{
	background:transparent url(../images/nav_tree/subnode100_3.gif) 1px 1px no-repeat;	
	text-indent:16px;
	line-height:22px; 
}
.TreeView div.siteFolder{
	background:transparent url(../images/nav_tree/site.gif) 0px 1px no-repeat;
	line-height:26px; 
}
.TreeView div.siteFolderOpened{
	background:transparent url(../images/nav_tree/site_opened.gif) 0px 1px no-repeat;	
	line-height:26px; 
}
.TreeView div.sitePage{
	background:transparent url(../images/nav_tree/blank_site.gif) 0px 1px no-repeat;	
	line-height:26px; 
}

/*普通频道*/
.TreeView div.channelFolder{
	background:transparent url(../images/nav_tree/folder.gif) 12px -3px no-repeat;
	text-indent:32px;
}
.TreeView div.channelFolderOpened{
	background:transparent url(../images/nav_tree/folder_opened.gif) 12px -3px  no-repeat;
	text-indent:32px;
	
}
.TreeView div.channelPage{
	background:transparent url(../images/nav_tree/page.gif) 12px -3px no-repeat;
	text-indent:32px;
}


/*图片频道*/
.TreeView div.channel1Page{
	background:transparent url(../images/nav_tree/page1.gif) 12px -3px no-repeat;
	text-indent:32px;
}

/*头条频道*/
.TreeView div.channel2Page{
	background:transparent url(../images/nav_tree/page2.gif) 12px -3px no-repeat;
	text-indent:32px;
}


/*链接频道*/
.TreeView div.channel11Page{
	background:transparent url(../images/nav_tree/page11.gif) 12px -3px no-repeat;
	text-indent:32px;
}

/*ge gfc add @ 2008-1-8*/
/*表单频道*/
.TreeView div.channel13Page{
	background:transparent url(../images/nav_tree/page13.gif) 12px -3px no-repeat;
	text-indent:32px;
}

