/* 滚动条*/

.guidong {
	scrollbar-face-color : threedhighlight;
	scrollbar-darkshadow-color : threedhighlight;
	background-image: url(../images/website_new/new_bg.png);
}
.forme_arrowhead_down {
	float: right;
	height: 6px;
	width: 7px;
	background-image: url(../images/website_new/forme_arrowhead_up.png);
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 5px;
}
.forme_arrowhead_up {
	float: right;
	height: 6px;
	width: 7px;
	background-image: url(../images/website_new/forme_arrowhead_down.png);
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: 7px;
	margin-right: 5px;
}
/*文字*/
.text_txt {
	font-size: 12px;
	color: #000000;
}
/*红色的星号*/
.red_text {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
/*标题拦*/
.full_register {
	height: 10px;
	width: 98%;
	margin-top: 5px;
	margin-left: 2px;
	float: left;
}
/*标题拦左*/
.middle_sash_register_left {
	float: left;
	height: 18px;
	width: 3px;
	background-image: url(../images/website_new/forme_register_left_bg.png);
	background-repeat: no-repeat;
}
/*标题拦右*/
.middle_sash_register_right {
	float: right;
	width: 3px;
	background-image: url(../images/website_new/forme_register_right_bg.png);
	background-repeat: no-repeat;
	height: 18px;
}
/*标题拦拦目拦*/
.middle_register {
	height: 18px;
	width: 260px;
	background-image: url(../images/website_new/forme_register_middle_bg.png);
	background-repeat: repeat;
	overflow: hidden;
}
/*标题拦拦标题文字*/
.middle_register_title_text {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-top: 3px;
}
/*标题拦拦标题文字*/
.middle_register_title_text_iambi {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 17px;
	width: 85px;
	margin-left: 10px;
	overflow: hidden;
}
/*按钮部分*/
.button_underside {
	height: 16px;
	width: 500px;
}
/*控制与上面的宽度*/
.control_breadth {
	float: left;
	height: 8px;
	width: 100%;
	overflow: hidden;
}
/*按钮文字*/
.button_text {
	height: 12px;
	width: 76px;
	font-size: 12px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	margin-top: 4px;
}
/*控制按钮显示文字离左的距离*/
.button_underside_control {
	height: 10px;
	width: 130px;
	float: left;
}
/*按钮背景图确定按钮*/
.button_underside_confirm {
	background-image: url(../images/website_new/forme_button.png);
	background-repeat: no-repeat;
	float: left;
	height: 20px;
	width: 76px;
}
/*按钮背景图取消按钮*/
.button_underside_cancel {
	background-image: url(../images/website_new/forme_button.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 76px;
	margin-left: 15px;
}
/*标题拦宽度*/
.middle_register_text {
	height: 25px;
	width: auto;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	text-indent: 10px;
	line-height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*标题拦宽度1*/
.middle_register_text1 {
	height: 42px;
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*标题拦宽度2*/
.middle_register_text2 {
	height: 42px;
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*标题拦宽度3*/
.middle_register_text3 {
	height: 28px;
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*标题拦宽度4*/
.middle_register_text4 {
	height: 35px;
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*标题拦宽度5*/
.middle_register_text5 {
	height: 42px;
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}

/*帮助图标*/
.help {
	background-image: url(../images/website_new/help.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	float: left;
}
/*帮助文字*/
.help_text {
	font-size: 12px;
	color: #000000;
	float: left;
	margin-top: 2px;
	margin-left: 8px;
}
/*标题框格*/
.help_sash {
	float: right;
	height: 16px;
	width: 50px;
	margin-right: 10px;
	margin-top: 8px;
}
/*标题文字*/
.title_text {
	font-size: 12px;
	color: #000000;
	float: left;
	overflow: hidden;
	width: 16px;
	height: 16px;
	margin-top: 1px;
}
/*中间框格*/
.middle_sash {
	height: 450px;
	width: 508px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.kuang_as {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 14px;
	border: 1px solid #999999;
}
