.options_box{
	border: 1px solid silver; 
	width: 420px;
	margin-top: 10px;
}
.box_header, .box_header_left, .box_header_center, .box_header_right{
	height: 22px; 
	line-height: 22px; 
	background: #f6f6f6; 
}
.box_header_center{
	background-image: url(../images/icon/bg_options_box.gif);
	background-position: center center;
	padding-left: 8px; 
	padding-right: 8px; 
	float: left; 
	text-align: center; 
	font-size: 12px; 
	font-weight: bold;
	width: 28%;	
}
.box_header_left{
	border-bottom: 1px solid silver; 
	border-right: 1px solid silver; 
	float: left;
	width: 5%;
}
.box_header_right{
	border-bottom: 1px solid silver; 
	border-left: 1px solid silver; 
	float: right; 
	width: 66%	
}
.box_body{
	height: 100%; 
	background: #ffffff;
	padding: 5px;
	overflow: auto;
}
.readonly_text{
	background: #efefef;
	border: 1px solid #7f9db9;
	color: #010101;
}
.flow_rule_name{
	font-size: 12px;
	color: gray;
}
.data_item{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-align: left;
	height: 20px;
	line-height: 20px;
	padding: 1px;
}
.skim_text{
	color: #999999;
}
.clue_text{
	font-size: 10px;
	color: gray;
	text-align: right;
	padding-right: 5px;
}
body{
	background: #f6f6f6;
	font-size: 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	padding: 10px 5px 0px 5px;
}
table{
	font-size: 12px;
}
button{
	font-size: 12px;
	width: 80px;
	border: solid 1px #999999;
	background: #f5f5f5;
	height: 20px;
}
A:link, A:visited{
	color: #1571D5;
	text-decoration: none;
}
A:hover{
	color: #ff6600
}
img{
	cursor: pointer;
}
.no_object_found{
	font-size: 12px;
	color: gray;
	margin-left: 20px;
	margin-top: 20px;
}

.spFieldReqiredTip{
	font-size: 12px;
	color: red;
	padding-left: 5px;
	padding-left: 5px;
}

.btn_style_link{
	font-size: 12px;
	border: solid 1px silver;
	background: #f2fcff;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
}