.ext-ie6.ext-ie6 
td.doctitle{text-align:left;font-size:14px;padding:4px 0px 4px 2px;line-height:21px;}
.grid_body a:link,.grid_body a:visited{color: #000000;text-decoration: none;}
.grid_body a:hover{color: blue;text-decoration:underline;}

.object_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
.object_preview{
	background-image: url(../images/icon/Preview.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 20px;
}
.objectcannot_preview{
	background-image: url(../images/icon/Update.png);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
}
#pageoper_3 .doctitle .wcm_attr_value{width:158px;font-size:14px;height:20px;padding:1px;border:0;line-height:20px;color:#09549F;font-weight: bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .doctitle .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
#pageoper_3 .doctitle .wcm_attr_value input{height:18px;font-size:14px;line-height:18px;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
/*HTML*/

.grid_row_curr{background:#d5e6fe;}
.ext-ie6 .document_modal_2,.ext-ie6 .document_modal_3,.ext-ie6 .doctype_10,.ext-ie6 .doctype_20,
.ext-ie6 .doctype_30,.ext-ie6 .doctype_40,.ext-ie6 .cannot_doctype_10,.ext-ie6 .cannot_doctype_20,
.ext-ie6 .cannot_doctype_30,.ext-ie6 .cannot_doctype_40,.ext-ie6 .document_topped
{padding:0;float:left;overflow:hidden;}
.ext-ie6 .document_attachpic{padding:0;overflow:hidden;}
.document_topped,.document_modal_2,.document_modal_3{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 center;float:left;}
.document_attachpic{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 -352px;display:inline-block;}
.document_topped{background-position:0 -192px;}
.document_modal_2{background-position:0 -256px;}
.document_modal_3{background-position:0 -240px;}
.doctype_10,.doctype_20,.doctype_30,.doctype_40,.cannot_doctype_10,.cannot_doctype_20,.cannot_doctype_30,.cannot_doctype_40
{height:16px;display:block;background:url(../images/icon/icons2.gif) 0 center no-repeat;}
.doctype_10{background-position:4px -80px;}
.doctype_20{background-position:4px -144px;}
.doctype_30{background-position:4px -112px;}
.doctype_40{background-position:4px -176px;}
.cannot_doctype_10{background-position:4px -64px;}
.cannot_doctype_20{background-position:4px -128px;}
.cannot_doctype_30{background-position:4px -96px;}
.cannot_doctype_40{background-position:4px -160px;}

.document_delete{background-position: 0px -784px;}
.document_add{background-position: 0px -529px;}
.document_preview{background-position: 0px -449px;}
.document_publish{background-position: 0px -400px;}
.document_copy{background-position: 0px -864px;}
.document_quote{background-position: 0px -816px;}
.document_move{background-position: 0px -560px;}
.document_execsearch{background-position: 0px -1953px;}
.document_exportexcel{background-position: 0px -1985px;}
.setuserdesignfields{background-position: 0px -1969px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .document_delete{background-position: 0 -1760px;}
.toolbar_item_disabled .document_add{background-position: 0 -1506px;}
.toolbar_item_disabled .document_preview{background-position: 0 -1426px;}
.toolbar_item_disabled .document_publish{background-position: 0 -1376px;}
.toolbar_item_disabled .document_copy{background-position: 0 -1840px;}
.toolbar_item_disabled .document_quote{background-position: 0 -1792px;}
.toolbar_item_disabled .document_move{background-position: 0 -1536px;}