.ext-ie6 .object_preview,.ext-ie6
.grid_body a:link,.grid_body a:visited{color: #000000;text-decoration: none;}
.grid_body a:hover{color: blue;text-decoration:underline;}
#wcm_table_grid{overflow-x:auto;scrollbar-face-color:lightblue;}
#wcm_table_grid table{width:100%;}

#pageoper_3 .doctitle .wcm_attr_value{width:158px;font-size:14px;height:20px;padding:1px;border:0;line-height:20px;color:#09549F;font-weight: bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#pageoper_3 .doctitle .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
#pageoper_3 .doctitle .wcm_attr_value input{height:18px;font-size:14px;line-height:18px;}
#pageoper_3 .docstatus .wcm_attr_value{padding:1px;border:0;}
#pageoper_3 .docstatus .wcm_attr_value_withborder{padding:0;border:1px solid gray;}
/*HTML*/
.grid_table .grid_body td{text-align:center;}
.grid_table .grid_body tr td:first-child{text-align:center;}
td.doctitle{text-align:left;font-size:14px;padding:4px 0px 4px 2px;line-height:21px;white-space:normal!important;}
.rowtd{text-align:left!important;font-size:14px;}
.ext-ie8 .rowtd{height:29px;}
.grid_row_curr{background:#d5e6fe;}
.ext-ie6 .document_modal_2,.ext-ie6 .document_modal_3,.ext-ie6 .doctype_10,.ext-ie6 .doctype_20,
.ext-ie6 .doctype_30,.ext-ie6 .doctype_40,.ext-ie6 .cannot_doctype_10,.ext-ie6 .cannot_doctype_20,
.ext-ie6 .cannot_doctype_30,.ext-ie6 .cannot_doctype_40,.ext-ie6 .document_topped,.ext-ie6 .document_topped_forEver
{padding:0;float:left;overflow:hidden;}
.ext-ie6 .document_attachpic{padding:0;overflow:hidden;}
.document_topped,.document_modal_2,.document_modal_3{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 center;float:left;}
.document_attachpic{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 -352px;display:inline-block;}
.document_topped{background-position:0 -192px;}
.document_topped_forEver{width:16px;height:16px;background:url(../images/icon/icons2.gif) no-repeat 0 center;float:left;background-position:0 -864px;}
.document_modal_2{background-position:0 -256px;}
.document_modal_3{background-position:0 -240px;}
.doctype_10,.doctype_20,.doctype_30,.doctype_40,.cannot_doctype_10,.cannot_doctype_20,.cannot_doctype_30,.cannot_doctype_40
{height:16px;display:block;background:url(../images/icon/icons2.gif) 0 center no-repeat;}
.doctype_10{background-position:4px -80px;}
.doctype_20{background-position:4px -144px;}
.doctype_30{background-position:4px -112px;}
.doctype_40{background-position:4px -176px;}
.cannot_doctype_10{background-position:4px -64px;}
.cannot_doctype_20{background-position:4px -128px;}
.cannot_doctype_30{background-position:4px -96px;}
.cannot_doctype_40{background-position:4px -160px;}
.linkto{
	width:16px;
	background-image:url(../images/document/shortcutdoc2_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
.mirrorto{
	width:16px;
	background-image:url(../images/document/shortcutdoc3_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
.linktomirrorto{
	width:32px;
	background-image:url(../images/document/shortcutdoc_1.gif);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
.dragging{
	background-color:buttonface;
}
.dragging a:link,.dragging a:hover,.dragging a:visited{
	color:red;
}

.object_edit{
	background-image: url(../images/icon/Update.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	display:block;
	width:30px;
	height:16px;
}
.objectcannot_edit{
	background-image: url(../images/icon/Update.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	display:block;
	width:30px;
	height:16px;
	filter:GRAY; 
	cursor:not-allowed;
}
.object_preview{
	background-image: url(../images/icon/Preview.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	display:block;
	width:30px;
	height:16px;
}
.objectcannot_preview{
	background-image: url(../images/icon/Preview.png);
	background-repeat: no-repeat;
	display:block;
	width:30px;
	height:16px;
	filter:GRAY; 
	cursor:not-allowed;
}
.search{
	float:right;
	cursor:pointer;
	width:46px;
	height:29px;
	background:url('../images/include/search.gif') center center no-repeat;
}