ul>a{
	float: left;
	width: 200px;
	background-color: #3892D3;
	height:30px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: white;
	text-align: center;
}
ul{
	width: 200px;
}
a{
	width: 200px;
}
ul li{
	clear: left;
	height:30px;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px dashed #292929;
	list-style-type:none;
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
	color: #1b79cc;
}
A:link{text-decoration:none;} A:visited{text-decoration:none;} A:active{text-decoration:none;}

