.ext-strict .layout_center_innercontainer{bottom:0px;}
/*ie6*/
.ext-ie6 .layout_innercontainer{padding-bottom:0;}
/*all*/
#south_tabs{height:0;overflow:hidden;display:none;}

*{
        font-size:12px;
}
.layout_north{
	height:32px;
}
.layout_north .list_table{
	display:none;
}
.layout_center_innercontainer{
	top:32px !important;
}
.ext-ie6 .layout_container{
	padding-top:0px;
}
.ext-strict .layout_center_container{
	bottom:0px;
}
.tableInfo{
	float:left;
	margin:0px 5px 0px 5px;
	height:100%;
	padding-top:8px;
}
.returnTableInfoList{
	float:left;
	background:url('../images/metadata/back.png') 0px center no-repeat;
	padding-left:18px;
	height:100%;
	padding-top:10px;
	cursor:pointer;
	margin-left:5px;
}
.operatorContainer{
	float:left;
	height:100%;
}
.quickAddOperator{
	float:left;
	margin:0px 5px;
	height:100%;
	padding-left:18px;
	padding-top:10px;
	background:url(../images/icon/New.png) 0 center no-repeat;
	cursor:pointer;
}
.addOperator{
	float:left;
	margin:0px 5px;
	height:100%;
	padding-left:18px;
	padding-top:10px;
	background:url(../images/icon/Add.png) 0 center no-repeat;
	cursor:pointer;
}
.deleteOperator{
	float:left;
	margin:0px 5px;
	height:100%;
	padding-left:18px;
	padding-top:10px;
	background:url(../images/metadata/delete.gif) 0 center no-repeat;
	cursor:pointer;
}   
/**页面自己的样式**/
.object_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
}
.object_save{
	background:url(../images/icon/Save.png) center center no-repeat;
}
.object_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
}
.object_cancel{
	background:url(../images/metadata/cancel.gif) center center no-repeat;
}
.objectcannot_edit{
	background:url(../images/metadata/edit.gif) center center no-repeat;
	cursor:not-allowed;
}
.objectcannot_delete{
	background:url(../images/metadata/delete.gif) center center no-repeat;
	cursor:not-allowed;
}
.metadbfield_add{background-position: 0px -528px;}
.toolbar_item_disabled .metadbfield_add{background-position: 0 -1504px;}
.fieldtype{
	text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
}
.title{
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
	word-wrap:normal !important;
}