.returnTableInfoList{
	float:left;
	background:url('../images/metadata/back.gif') 0px center no-repeat;
	padding-left:18px;
	height:100%;
	padding-top:10px;
	cursor:pointer;
	margin-left:5px;
}
.tableInfo{
	float:left;
	margin:0px 5px 0px 10px;
	height:100%;
	padding-top:8px;
}
.object_edit{
	background-image: url(../images/metadata/edit.gif);
	background-position: center;
	background-repeat: no-repeat;
	width : 16px;
	height : 16px;
	margin-left:-4px;
}
.object_delete{
	background-image:url(../images/metadata/delete.gif);
	background-repeat:no-repeat;
	background-position:center left;
	margin-left:4px;
}
.title{
    text-align:left !important;
	text-overflow:ellipsis;
	padding-left:5px;
	word-wrap:normal !important;
}