.wcm-hide-display{display:none !important;}
.wcm-hide-visibility{visibility:hidden !important;}
.wcm-disabled *{color:gray !important;}
.wcm-panel-shield{position:absolute;left:0px;top:0px;width:100%;height:100%;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);background-color:#FFFFFF;}

.wcm-cbd{position:absolute;width:500px;left:0px;right:0px;z-index:999999;}
.wcm-cbd *{margin:0px;padding:0px;}
.wcm-cbd .l{padding-left:7px;}
.wcm-cbd .r{padding-right:13px;}
.wcm-cbd .c{}
/*header layout*/
.wcm-cbd .header{background:url(cb.gif) left -86px no-repeat;cursor:move;}
.wcm-cbd .header .r{background:url(cb.gif) right -57px no-repeat;}
.wcm-cbd .header .c{height:28px;background:url(cb.gif) center -143px repeat-x;overflow:hidden;}
/*body layout*/
.wcm-cbd .body{background:url(cb-center.gif) left top repeat-y;}
.wcm-cbd .body .r{background:url(cb-center.gif) right top repeat-y;}
.wcm-cbd .body .c{zoom:1;}
/*footer layout*/
.wcm-cbd .footer{background:url(cb.gif) left -184px no-repeat;}
.wcm-cbd .footer .r{background:url(cb.gif) right -172px no-repeat;}
.wcm-cbd .footer .c{height:12px;background:url(cb.gif) left -196px repeat-x;overflow:hidden;}
/*header content*/
.wcm-cbd .header .spt{float:left;width:6px;height:100%;background:url(cb.gif) left -115px repeat-x;}
.wcm-cbd .header .title{float:left;width:80%;padding-left:5px;line-height:29px;font-size:12px;font-weight:bold;white-space:nowrap;overflow:hidden;}
.wcm-cbd .header .tools{float:right;height:100%;}
.wcm-cbd .header .close{float:right;width:26px;height:100%;cursor:default;}
.wcm-cbd .header .close:link, .header .close:visited{background:url(cb.gif) left -28px no-repeat;}
.wcm-cbd .header .close:hover, .header .close:active{background:url(cb.gif) left 0px no-repeat;height:28px;}
/*body content*/
.wcm-cbd .body .cb-table{width:100%;height:100%;table-layout:fixed;font-size:12px;}
.wcm-cbd .body .buttons{height:35px;padding-top:5px;overflow:hidden;text-align:center;}

.wcm-cbd  .body{padding-left:2px;}
.wcm-cbd .body .r{padding-right:5px;}
.wcm-cbd .body .c{background-color:#DEDCDD;padding:3px 14px;}
.ext-ie .wcm-cbd .body .c{filter:progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#DEDCDD, StartColorStr=#ffffff, GradientType=0);}
.wcm-cbd .body iframe{border:1px solid #C0C0C0;background:white;}


/*button*/
.wcm-btn{height:31px;margin:2px 5px;}
.wcm-btn-left{padding-left:4px;background:url(dlg.gif) left -410px no-repeat;}
.wcm-btn-right{height:100%;padding-right:4px;background:url(dlg.gif) right -379px no-repeat;}
.wcm-btn-center{zoom:1;height:100%;padding-left:5px;padding-right:5px;background:url(dlg.gif) left -441px repeat-x;}
.wcm-btn a{cursor:default;font-size:12px;line-height:24px;min-width:40px;width:40px;overflow:visible;white-space:nowrap;text-decoration:none;}
.wcm-btn, .wcm-btn *{display:inline-block; *display:inline;}
