/*--------专题布局总样式文件（所有创建的布局的样式控制都会写在这个文件中）--------*/
/* r_c1_1 _ratio='*' _ratiotype='1'*/
.r_c1_1 .c_1{}
/* r_c1_1 end */
/* r_c2_2 _ratio='50:50' _ratiotype='2'*/
.r_c2_2 .c_1{float:left;width:50%;}
.r_c2_2 .c_2{float:left;width:50%;}
/* r_c2_2 end */
/* r_c2_3 _ratio='30:70' _ratiotype='2'*/
.r_c2_3 .c_1{float:left;width:30%;}
.r_c2_3 .c_2{float:left;width:70%;}
/* r_c2_3 end */
/* r_c2_4 _ratio='40:60' _ratiotype='2'*/
.r_c2_4 .c_1{float:left;width:40%;}
.r_c2_4 .c_2{float:left;width:60%;}
/* r_c2_4 end */
/* r_c2_5 _ratio='38:*' _ratiotype='2'*/
.r_c2_5 .c_1{float:left;width:38%;}
.r_c2_5 .c_2{}
/* r_c2_5 end */
/* r_c2_6 _ratio='70:30' _ratiotype='2'*/
.r_c2_6 .c_1{float:left;width:70%;}
.r_c2_6 .c_2{float:left;width:30%;}
/* r_c2_6 end */
/* r_c2_7 _ratio='60:40' _ratiotype='2'*/
.r_c2_7 .c_1{float:left;width:60%;}
.r_c2_7 .c_2{float:left;width:40%;}
/* r_c2_7 end */
/* r_c2_8 _ratio='300:*' _ratiotype='1'*/
.r_c2_8 .c_1{float:left;width:300px;}
.r_c2_8 .c_2{}
/* r_c2_8 end */
/* r_c2_9 _ratio='400:*' _ratiotype='1'*/
.r_c2_9 .c_1{float:left;width:400px;}
.r_c2_9 .c_2{}
/* r_c2_9 end */
/* r_c3_10 _ratio='30:30:40' _ratiotype='2'*/
.r_c3_10 .c_1{float:left;width:30%;}
.r_c3_10 .c_2{float:left;width:30%;}
.r_c3_10 .c_3{float:left;width:40%;}
/* r_c3_10 end */
/* r_c3_11 _ratio='33:*:33' _ratiotype='2'*/
.r_c3_11 .c_1{float:left;width:33%;}
.r_c3_11 .c_2{float:right;width:33%;}
.r_c3_11 .c_3{}
/* r_c3_11 end */
/* r_c3_12 _ratio='30:40:30' _ratiotype='2'*/
.r_c3_12 .c_1{float:left;width:30%;}
.r_c3_12 .c_2{float:left;width:40%;}
.r_c3_12 .c_3{float:left;width:30%;}
/* r_c3_12 end */
/* r_c3_13 _ratio='350:350:*' _ratiotype='1'*/
.r_c3_13 .c_1{float:left;width:350px;}
.r_c3_13 .c_2{float:left;width:350px;}
.r_c3_13 .c_3{}
/* r_c3_13 end */
/* r_c3_14 _ratio='450:250:*' _ratiotype='1'*/
.r_c3_14 .c_1{float:left;width:450px;}
.r_c3_14 .c_2{float:left;width:250px;}
.r_c3_14 .c_3{}
/* r_c3_14 end */
/* r_c4_15 _ratio='25:25:25:25' _ratiotype='2'*/
.r_c4_15 .c_1{float:left;width:25%;}
.r_c4_15 .c_2{float:left;width:25%;}
.r_c4_15 .c_3{float:left;width:25%;}
.r_c4_15 .c_4{float:left;width:25%;}
/* r_c4_15 end */
/* r_c4_16 _ratio='250:250:250:*' _ratiotype='1'*/
.r_c4_16 .c_1{float:left;width:250px;}
.r_c4_16 .c_2{float:left;width:250px;}
.r_c4_16 .c_3{float:left;width:250px;}
.r_c4_16 .c_4{}
/* r_c4_16 end */