
/*布局相关样式*/
.thumb .pic{
	width:200px;
	height:82px;
	overflow:hidden;
}
.c_sep{
	width:0px !important;
	padding:0px;
	margin:0px;
	display:none;
}
.c-box{
	overflow:hidden;
	height:80px !important;
	border:1px solid gray;
	border-left:0px;
}
.c_1 .c-box{
	border-left:1px solid gray;
}

.c-box div{
	display:none;
}
.trs_column{
	float:left;
	overflow:hidden;
}
.trs_layout{
	overflow:hidden;
}
.no_object_found{
	line-height:100px;
	color:gray;
	font-size:14px;
	font-style:italic;
	text-align:center;
}
.fixed{
	background:url(../images/layout/fixed_200_82.gif) !important;
}
.percentage{
	background:url(../images/layout/percentage_200_82.gif) !important;
}
.thumb .ratio,.thumb .columns{
	color:#5B5B5B;
	height:25px;
	line-height:25px;
	width:200px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}