body{
	font-size:12px;
}
td{
	padding:10px 0;
}
select{
	width:70px;
}
.ratio input{
	width:55px;
}
.name{
	text-align:right;
	padding-left:10px;
}
.ratiotext{
	color:blue;
}
.desc{
	color:green;
	padding:0;
}
input{
	border:1px solid #7f9db9;
}
.ratio .requiredClass,.ratio .messageClassKey,.ratio .warningClassKey{
	display:none;
}
.layout-padding{
	vertical-align:middle;
}
.layout-padding input{
	width:35px;
}
.layout-padding span{
	margin-right:5px;
	color:blue;
}
