body {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}


A:link {
	COLOR: #0066cc;
	text-decoration: none;
}
A:visited {
	COLOR: #0066cc;
	text-decoration: none;
}
A:hover {
	COLOR: #663399;
	text-decoration: blink;
}
	
.biaoti {
	font-size: 14px;
	line-height: 20px;
	color: #9b0332;
	padding-top: 0px;
	padding-right:0px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-weight: bold;
	font-family: "宋体";
}

.jbjsh-text {
	font-size: 12px;
	line-height: 16px;
	color: #6f3d8e;
	padding-top: 20px;
	padding-left: 10px;
	font-family: "宋体";
	font-weight: normal;
	margin-top: 0px;
}
A.jbjsh-text:link {
	color: #6f3d8e;
	text-decoration: none;

}
A.jbjsh-text:visited {
	color: #6f3d8e;
	text-decoration: none;

}
A.jbjsh-text:hover {
	color: #CC3300;
	text-decoration: blink;

	
}
.xgtp-text {
	font-size: 12px;
	line-height: 15px;
	color: #4d4d4d;
	padding-left: 18px;
	font-family: "宋体";
	font-weight: normal;
	padding-top: 3px;
}

A.xgtp-text:link {
	color: #4d4d4d;
	text-decoration: none;

}
A.xgtp-text:visited {
	color:#4d4d4d;
	text-decoration: none;

}
A.xgtp-text:hover {
	color: #003300;
	text-decoration: blink;
	}
.xgbd-text {
	font-size: 12px;
	line-height: 20px;
	color: #1656ad;
	padding-left: 5px;
	font-family: "宋体";
	font-weight: normal;
	padding-top: 5px;
}


A.xgbd-text:link {
	COLOR: #1656ad;
	text-decoration: none;
}
A.xgbd-text:visited {
	COLOR: #1656ad;
	text-decoration: none;
}
A.xgbd-text:hover {
	COLOR: #400080;
	text-decoration: blink;
}
.dabiankuang {
	border: 1px solid #999999;
	background-image: none;
	background-repeat: repeat;
	background-position: left bottom;
	background-attachment: fixed;
}


.biankuang1{
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-right-color: #cfcfcf;
	border-left-color: #cfcfcf;
}
.biankuang2{
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #cfcfcf;
	border-right-color: #cfcfcf;
	border-left-color: #cfcfcf;
}	

.biankuang3{
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #cfcfcf;
	border-right-color: #cfcfcf;
	border-left-color: #cfcfcf;
	background-color: #f8f8f8;
	height:700px;
	overflow-y:scroll;
	width:596px;
}
.kuang {
        margin-top: 6px;

}
.xiuxian {
	padding-top: 0px;
	margin-top: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #999999;
}

.jbjd-text {
	font-size: 12px;
	line-height: 18px;
	color: #0000CC;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.jbjd-huida {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.zxtw-kuang {
	margin-top: 6px;
	background-attachment: fixed;
	background-image: url(../images/tiwen-1.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #e6e6e6;
}
.xgtu-text{
	font-size: 12px;
	line-height: 18px;;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.record{
	display:block;
	width:100%;
	padding:5px 0px;
	font-size:10.5pt;
	line-height: 22px;
}
.speaker{
	margin-left:4px;
	float:left;
	width:90px;
}
.posttime{
	float:right;
	width:144px;
	font-size:9pt;
	font-weight:bold;
	font-family:Georgia;
	border:1px solid gray;
	padding:5px 3px;
	color:black;
}
.content{
	float:left;
}
.odd{
	background-color:#FFF4D0;
	color: #0000CC;
}
.even{
	background-color:#D4EFFC;
	color: #0000CC;
}
.content span{
	display:block;
}
.content span:first-letter {
	float:left;
	font-size:2em;
	color:black;
	padding-top:0px;
	margin:0px;
}
.content span:first-line {
	font-weight: bold; 
	line-height:30px;
} 