<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="ckm.component">
	<beans>
		<bean id="ICKMServer" class="com.trs.components.ckm.TRSCKMServer" 
			singleton="true"/>
		<bean id="DocumentLCListenerForSIMSearch" 
			class="com.trs.components.ckm.DocumentLCListenerForSIMSearch" 
			singleton="true"/>
	</beans>
</plugin>