.trs-region *{
	margin:0px;
	padding:0px;
}
.trs-region{
	border:1px solid gray;
	cursor:default;
	background:#f1f1f1;
}
.trs-region .trs-row{
	display:list-item;
	list-style-type:disc;
	margin-left:25px;
}
.trs-region .trs-cell{
	display:inline;
	height:23px;
	line-height:23px;
	color:blue;
	text-decoration:underline;
	cursor:default;
}
.trs-region .trs-cell:link{
	color:#000099;
}
.trs-region .trs-cell:visited{
	color:#800080;
}
.trs-region .trs-cell:hover, .trs-region .trs-cell:active{
	color:red;
}