.object_setregion{
	background-image:url(../images/icon/setflow.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.object_cannot_setregion{
	background-image:url(../images/icon/setflow_cannot.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.view_mode_normal{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
	cursor: pointer;
}
.view_mode_recursive{
	float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
	cursor: pointer;
}
.grid_head{
	height:25px;
	background:#d3e6fa;
	color:#133151;
}
.attribute_row{
	float:left;
	width:100%;
	height:24px;
	overflow:visible;
}
.rowtd{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	PADDING-LEFT: 10px !important;
	TEXT-ALIGN: left !important;
}
.divDispMode {
    float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode1.gif) no-repeat center center;
	cursor: pointer;
}
.view_mode_recursive {
    float:right;
	width:27px;
	height:29px;
	background:url(../images/icon/template_view_mode2.gif) no-repeat center center;
	cursor: pointer;
}
.region_delete{background-position: 0px -784px;}
.region_editdetail{background-position: 0px -754px;}
.region_add{background-position: 0px -528px;}
.region_edit{background-position: 0 -736px;}
.action_refresh{background-position: 0px -305px;}
.toolbar_item_disabled .region_new{background-position: 0 -1504px;}
.toolbar_item_disabled .region_edit{background-position: 0 -1712px;}
.toolbar_item_disabled .region_editdetail{background-position: 0px -1812px;}
.toolbar_item_disabled .region_delete{background-position: 0px -1760px;}