/*输入框*/
.XText input, .XPassword input{
	border:1px solid #ABC0DB;
	width:180px;
}

.XTextArea textarea{
	border:1px solid #ABC0DB;
}
.XInteger{
	border:1px solid #ABC0DB;
}
.XFloat{
	border:1px solid #ABC0DB;
}
.XDouble{
	border:1px solid #ABC0DB;
}
input[type=text]{
	width:180px;
}
.disableCls{
	background:#ececec;
}