span.photo_item {
	border:0px solid #ffffff;
	text-align:center;
}
div.img_select_space {
	border:1px solid #ffffff;
}
div.img_select_line {
	border:1px dashed #82837d;
}
div.img_space {
	border:2px solid #ffffff;
}
div.img_frame {
	border:1px solid #e6e6e6;
	width:80; 
	height:80;
}
img.img_self {
	border:2px solid #ffffff; 
	width:75; 
	height:75;
	cursor:hand;
}
div.item_menu {
	display:none; 
	position:absolute; 
	filter:alpha(opacity=100);
	width:65px; 
	background-color:#ffffff; 
	cursor:hand;
	overflow:visible;
	border:1px solid #d0d0d0;
}
div.item_outer {
	position:relative;
	width:100%; 
	height:16; 
	overflow:visible;
}
div.item_outer_mouseover {
	position:relative;
	width:100%; 
	height:16; 
	overflow:visible;
	background:#3480cc;
	color:#ffffff;
}
div.item_inner {
	position:absolute; 
	top:2; 
	left:5;
	overflow:visible;
}

span.page_current {
	width:20px;
	height:15px;
	border:1px solid #ffffff;
	background:#ffffff;
	color:#000000;
	text-align:center;
}
span.page_swing {
	width:20px;
	height:15px;
	border:1px solid #dddddd;
	background:#ffffff;
	color:#000000;
	text-align:center;
	cursor:hand;
}
span.page_space {
	width:2px;
}

span.head_button {
	color:#ffffff;
	background:#6699cc;
	height:20px;
	width:70px;
	cursor:hand;
	font:normal 13px;
	text-align:center;
	border:1px solid #336699;
}
span.head_button_disabled {
	color:#e0e0d0;
	background:#6699cc;
	height:20px;
	width:70px;
	cursor:not-allowed;
	font:normal 13px;
	text-align:center;
	border:1px solid #336699;
}
div.button_text {
	border:3px solid #6699cc;
}
span.head_space {
	width:10px;
	height:20px;
	color:#888888;
	font:normal bolder 13px;
	text-align:center;
}
span.sort_text {
	height:15px;
	width:30px;
	font:normal 13px;
	text-align:right;
}
span.sort_current {
	height:15px;
	font:normal 13px;
	cursor:hand;
	background:#2e98e7;
	border:1px solid #ffffff;
	color:#ffffff;
}
span.sort_other {
	height:15px;
	font:normal 13px;
	cursor:hand;
	background:#ffffff;
	border:1px solid #ffffff;
}
input.photo_checkbox {
	width:15px; 
	height:15px;
}
div.doctitle {
	width:70;
	overflow:hidden;
}
font.font_public {
	color:#008000;
}