textarea.template{
	display:none;
}
#nav_title{
	font-size:16px;font-weight:bold;border-bottom:1px solid gray;padding-bottom:10px;
	text-align:center;
}
span.navdesc {
	background-color:#ffffff;
	color:#000000;
	cursor:hand;
	padding-bottom:2px;
}
span.navdesc_actived{
	font-weight:bold;
}
span.navdesc_mouseover {
	background-color:#0063dc;
	color:#ffffff;
	cursor:hand;
}
span.nav {
	padding-top:10px;
	width:60px;
	background-color:#ffffff;
	overflow:hidden;			
}
span.actived_size{
	color:red;
	font-weight:bold;
}
span.space {
	height:20px;
	width:2px;
	background-color:#e3e3e3;
}
.attr_text{
	height:20px;
	border:0px solid lightgray;
	margin:0 5px;			
	background:transparent;
	
}		
label{
	font-weight:bold;			
}
.imageroll{
	margin:0px 5px;
	cursor:hand;
	width:75px;
	height:75px;
}
#tiptext{
	color:#e90000;
}
.attr_name{
	font-weight:bold;
	font-size:12px;
	width:35%;
	white-space:nowrap;
	border-bottom:1px dashed  lightgrey;
	margin:1px 0px;
}
.attr_value{
	font-size:12px;
	padding:2px 20px;
	width:65%;
	white-space:nowrap;
	border-bottom:1px dashed  lightgrey;
	margin:1px 0px;
	empty-cells:show;
}
.status_10{
	color:tomato;
}
body, table, tr, td, div, iframe{
	scrollbar-3dlight-color:B4B4B4;
	scrollbar-arrow-color:333333;
	scrollbar-base-color:EEEEEE;
	scrollbar-darkshadow-color:FFFFFF;
	scrollbar-face-color:eeeeee;
	scrollbar-highlight-color:FFFFFF;
	scrollbar-shadow-color:B4B4B4;
}	
A.url:link {
	COLOR: #0066cc;
	text-decoration: none;
}
A.url:visited {
	COLOR: #0066cc;
	text-decoration: none;
}
A.url:hover {
	COLOR: #663399;
	text-decoration: blink;
}
	
.function {
	font-size: 12px;
	color: #c65603;
	height:25px;
	line-height:25px;
	padding-left:20px;
}
A.function:link {
	COLOR: #c65603;
	text-decoration: none;
}
A.function:visited {
	COLOR: #c65603;
	text-decoration: none;
}
A.function:hover {
	COLOR: #000000;
	text-decoration: blink;
}				
.flow_start{
	background:url(../images/workflow/option_start.gif) no-repeat 0 4;
}
.flow_cease{
	background:url(../images/workflow/option_cease.gif) no-repeat 0 4;
}
.flow_reflow{
	background:url(../images/workflow/option_reflow.gif) no-repeat 0 4;
}
.gunter_node_common{
	line-height: 20px;
	padding: 2px;
	border: 1px solid silver;
	margin-left: -1px;
	font-family: georgia;
	background: #efefef;
	color: gray;
	height: 20px;
	margin-top: -1px;
	width: 80px;
}
.gunter_node_title{
	font-weight: normal; 
	font-size: 12px; 
	text-align: center; 
	height: 20px;
	line-height: 20px;	
	white-space:nowrap;
}
.current_gunter_node{
	color: #010101; 
	font-weight: bold; 
}
.flowaction{
	border:1px dashed lightgrey;
	padding:5px;
}