/*order box*/
.orderbox-header{width:120px;font-size:12px;}
.orderbox-header .left{padding-left:29px;cursor:pointer;zoom:1;background:url(../images/list/list1.png) left -84px no-repeat;}
.orderbox-header .right{padding-right:10px;cursor:pointer;}
.orderbox-header .center{height:24px;height:20px!important;white-space:nowrap;}  
.orderbox-header .asc{background:url(../images/list/list1.png) 70px -371px no-repeat;}
.orderbox-header .desc{background:url(../images/list/list1.png) 70px -346px no-repeat;}
.orderbox-body{position:absolute;width:120px;padding:2px 4px;font-size:12px;background:url(../images/list/list1.png) center -156px repeat-x;border: 1px solid #a1b4c4;}
.orderbox-body .item{height:24px;line-height:24px;padding-left:20px;white-space:nowrap;background:url(../images/list/list1.png) center -393px repeat-x;}
.orderbox-body .active a{display:list-item;list-style-type:disc;}
.orderbox-body a:link, .orderbox-body a:visited{font-family: "宋体";font-size: 12px;color: #5a758d!important;text-decoration: none;}
.orderbox-body a:hover, .orderbox-body a:active{font-family: "宋体";font-size: 12px;text-decoration: none;color: #FF6600!important;}
.orderbox-body .tip{padding:2px;background:#A1B4C4;color:white;text-align:center;cursor:default;}

/*query box*/
.querybox{margin-top:3px;margin-right:5px;width:242px;padding-left:30px;background:url(../images/list/list1.png) 0px -29px no-repeat;}
.ext-ie6 .querybox{width:263px;}
.querybox .qbr{zoom:1;padding-right:9px;background:url(../images/list/list1.png) right 0px no-repeat;}
.querybox .qbc{width:100%;height:26px;overflow:hidden;background:url(../images/list/list1.png) 0px -58px repeat-x;}
.querybox .elebox{padding-left:8px;padding-top:2px;}
.querybox input{color: gray;font-family: "宋体";font-size: 12px;width: 90px;}
.querybox select{font-family: "宋体";font-size: 12px;width: 75px;}
.querybox .search{width:46px;}
.querybox .search div{cursor:pointer;height:18px;margin-top:3px;overflow:hidden;background:url(../images/list/list2.png) 0px -879px no-repeat;}
.oper_panel_hide{padding-right:0px !important;}
.oper_panel_hide #east_opers{display :none;}
