/*strict*/
.ext-strict .layout_center_container{top:0;bottom:0;}
.ext-strict .layout_center{left:0;right:0px;}
.ext-strict .layout_center_innercontainer{top:66px;bottom:37px;}
.ext-strict .layout_innercenter{left:0;right:0;}
/*ie6*/
.ext-ie6 .layout_container{padding-top:0;padding-bottom:0;}
.ext-ie6 .layout_center_container{padding-left:0;padding-right:0px;}
.ext-ie6 .layout_innercontainer{padding-top:60px;padding-bottom:37px;}
.ext-ie6 .layout_center_innercontainer{padding-left:0;padding-right:0;}
/*all*/
.layout_north{height:60px;padding:2px;background:#FFF;}
.ext-ie6 .layout_north{padding:0;}
.layout_south{height:37px;}
.layout_east{padding:6px 5px 0;}
.ext-strict .layout_east{display:none;}
.ext-ie6 .layout_east{display:none;}
.ext-strict .layout_border_north{border-bottom-width:1px;}
.ext-ie6 .layout_border_north{border-bottom-width:0;}
/*wcm_table_grid*/
#grid_table{border:1px solid #cccccc;border-width:1px 0;}
.list_table{background:gray;width:100%;height:26px;}
.list_table td{font-size:9pt;}
.toolbar_item{cursor:pointer;border:1px solid gray;background:url(../../images/button_bg.gif);display:inline-block;*display:inline;margin-left:5px;height:22px;border-collapse:collapse}
.ext-ie6 .toolbar_item{display:inline;}
.toolbar_item_disabled{cursor:default;}
.toolbar_sep{display:inline-block;width:10px;}
.ext-ie .toolbar_sep{display:inline;}
.toolbar_icon{float:left;width:16px;height:16px;margin:1px 3px;background:url(../images/icon/icons_classic.gif) no-repeat;overflow:hidden;}
.toolbar_cont{padding:4px 4px 2px 2px;line-height:14px;}
.head_td{padding-left:10px;background:url(../../images/main_left_channel_bg.gif);}
.toolbar{background:#FFF;height:32px;width:100%;}

/*query box*/
.querybox, .querybox .qbr, .querybox .qbc{background:#FFF;float:right}
.querybox{padding-left:0px;}
.ext-ie6 .querybox{width:233;}
/*thumb_grid*/
.ext-strict .thumb_grid_data{top:42px;}
.ext-ie6 .thumb_grid{padding-top:42px;}
/*wcm_table_grid*/
.ext-strict .table_grid_data{top:0;bottom:29px;}
.ext-ie6 .table_grid{padding-top:0;padding-bottom:29px;}
.ext-ie6 .table_grid_data{padding:0;}
.table_grid_navigator{height:29px;}
/*layout*/
.ext-ie6 .layout-container{position:relative;width:100%;height:100%;padding-right:0px;background:white;}
.ext-ie6 .layout-left{position:relative;width:100%;height:100%;padding:60px 0px 37px;}
.ext-ie6 .layout-right{position:absolute;right:0px;top:0px;height:100%;width:200px;padding:6px 5px 0px;}
.ext-ie6 .layout-top{position:absolute;left:0px;top:0px;width:100%;height:60px;border:1px solid black;border-bottom:0px;z-index:99;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;border-top:1px solid #9d9d9d;}
.ext-ie6 .layout-center{position:relative;width:100%;height:100%;padding:0px;padding-bottom:29px;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;}
.ext-ie6 .layout-bottom{position:absolute;left:0px;bottom:0px;width:100%;height:37px;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;border-top:0px;border-bottom:1px solid #9d9d9d;}
.ext-strict .layout-container{position:relative;width:100%;height:100%;background:white;}
.ext-strict .layout-left{position:absolute;left:0px;top:0px;right:0px;bottom:0px;width:auto;height:auto;}
.ext-strict .layout-right{position:absolute;right:5px;top:6px;bottom:0px;width:185px;height:auto;}
.ext-strict .layout-top{position:absolute;left:0px;top:0px;right:0px;width:auto;height:60px;border:1px solid black;border-bottom:0px;z-index:99;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;border-top:1px solid #9d9d9d;}
.ext-strict .layout-center{position:absolute;left:0px;top:60px;right:0px;bottom:37px;width:auto;height:auto;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;}
.ext-strict .layout-bottom{position:absolute;left:0px;bottom:0px;right:0px;width:auto;height:37px;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;border-top:0px;border-bottom:1px solid #9d9d9d;}
.hide_east .layout-right{display:none;}
.ext-strict .hide_east .layout-left{right:0px !important;}
.ext-gecko2 .layout-top .toolbar_item{display:-moz-inline-grid;margin-top:4px;}
.ext-gecko2 .layout-top #query_box{vertical-align:top;}
.ext-strict .layout_north{top:0;left:0;right:0px;width:auto;}

.toolbar_more_btn{width:40px;height:20px;display:inline-block;overflow:hidden;cursor:pointer;background:url(../images/document/more.png) 4px 7px no-repeat;}
.more_toolbar{padding-right:10px!important;background:white;border:1px solid gray;overflow:visible;position:absolute; z-index:99999999;}
.more_toolbar{filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#ACA899', Positive=true);}

.more_toolbar .toolbar_item{float:none;display:block;margin:0px;border:0px!important;background:white;zoom:1;}