.icon{background-position: -136px -41px;}
.oper_item_row_icon{background-position: -136px -41px;}
/*document*/
.edit{background-position: -3px -3px;}
.preview{background-position: -22px -3px;}
.basicpublish{background-position: -41px -3px;}
.copy{background-position: -60px -3px;}
.move{background-position: -79px -3px;}
.quote{background-position: -98px -3px;}
.recycle,.trash{background-position: -117px -3px;}
.delete{background-position: -136px -3px;}
.changestatus{background-position: -155px -3px;}
.setright{background-position: -174px -3px;}
.detailpublish{background-position: -3px -22px;}
.backup{background-position: -22px -22px;}
.backupmgr{background-position: -41px -22px;}
.export{background-position: -60px -22px;}
.exportall{background-position: -79px -22px;}
.new{background-position: -98px -22px;}
.show,.view{background-position: -98px -22px;}
.add{background-position: -98px -22px;}
.addrecord{background-position: -98px -22px;}
.quicknew{background-position: -117px -22px;}
.importoffice{background-position: -117px -22px;}
.import{background-position: -136px -22px;}
.increasingpublish,.increasepublish{background-position: -155px -22px;}
.solopublish,.homepublish{background-position: -174px -22px;}
.fullypublish,.completepublish{background-position: -41px -3px;}
.directpublish,.refreshpublish,.updatepublish{background-position: -3px -41px;}
.recallpublish,.directRecallpublish,.cancelpublish{background-position: -22px -41px;}
.synchtemplate{background-position: -60px -98px;}
.likecopy{background-position: -41px -41px;}
.docpositionset{background-position: -60px -41px;}
.logo{background-position:  -3px -60px;}
.settopdocument{background-position:  -22px -98px;}
.settopdocumentforever{background:url(../images/icon/settopdocumentforever.gif) no-repeat center center!important;}
.trace_document{background-image:url(../images/workflow/option_start.gif)!important;background-repeat:none;background-position:0px 0px!important;}
.publishpublisheddoc{background:url(../images/icon/publish_published.gif) no-repeat center center !important;}
.setappendixsize{background:url(../images/icon/set_appendix_size.gif) no-repeat center center;}
.pubstat{background:url(../images/icon/publish_stat.gif) no-repeat center center;}
/*template*/
.synch{background-position: -79px -98px;}
.check{background-position: -98px -98px;}
.wcag2check{background-image:url(../images/icon/check.gif)!important;background-repeat:none;background-position:0px 0px!important;}
.newvisualtemplate{background:url(../images/icon/newvisualtem.gif) no-repeat center center!important;}
.designvisualtemplate{background:url(../images/icon/design_visual_template.gif) no-repeat center center;}
/*rescyle*/
.deleteall{background-position: -79px -41px;}
.restoreall{background-position: -98px -41px;}
.delete{background-position: -136px -3px;}
.restore{background-position: -117px -41px;}
/*channel*/
.settempargs{background-position: -136px -41px;}
.commentmgr{background-position: -174px -41px;}
.keyword{background-position: -22px -155px;}
.docFieldsSet{background-position: -79px -155px;}
.docPropSet{background-position: -98px -155px;}
.editorToolBar{background-position: -117px -158px;}
.importEditorCss{background-position: -136px -158px;}
.regionmgr{background-image:url(../images/icon/region.gif)!important;background-repeat:none;background-position:0px 0px!important;}
/*distribute*/
.disableall{background-position: -136px -79px;}
.enableall{background-position: -98px -79px;}
.disable{background-position: -155px -79px;}
.enable{background-position: -117px -79px;}
.sync{background-position: -3px -60px;}
/*logo*/
.logomanage{background-position: -41px -60px;}
/*workflow*/
.deletedoc{background-position: -136px -3px;}
.assign{background-position: -60px -60px;}
.setemployer{background-position: -79px -60px;}
.importsysphoto{background-position: -117px -60px;}
.importphotos{background-position:  -60px -98px;}
.upload{background-position: -136px -60px;}
.confphotolib{background-position: -117px -60px;}
.photo_publish{background-position: -155px -60px;}
.photos_publish{background-position: -155px -60px;}
.publish{background-position: -155px -60px;}
.contentlinkInChannel_set{background-position: -174px -60px;}
.refuse{background-position:-174px -98px;}
.oper_item_row .sign{background-position:-155px -98px;}
.rework{background-position:-136px -98px;}
/*message*/
.newMsg{background-position: -3px -118px;}
.signAsReaded{background-position: -22px -118px;}
.clearInbox{background-position: -41px -118px;}
.clearOutbox{background-position: -60px -118px;}
.reply{background-position: -79px -118px;}
.forward{background-position: -98px -118px;}
.deleteMsg{background-position: -117px -118px;}
/*video*/
.confvideolib{background-position: -117px -60px;}
.record{background-position: -3px -79px;}
.live{background-position: -60px -79px;}
.deleteFail{background-position: -22px -98px;}
.play{background-position: -22px -79px;}
.snap{background-position:  -60px -98px;}
.videoInChannel_upload{background-position: -41px -79px;}
.contentlinkInChannel_set{}
.set{background-position: -136px -118px;}
/*metadata*/
.config{background-position: -98px -60px;}
.build{background-position: -22px -98px;}
.createfromexcel{background-position: -3px -98px;}
.setsynrule{background-position: -174px -79px;}
/*metaview*/
.selectFields{background-position: -173px -158px;}
.selectDBFields{background-position: -154px -158px;}
.generate{background-position: -21px -137px;}
.setAsTitle{background-position: -174px -118px;}
.setView{background-position: -155px -118px;}
/*epress*/
.addepress{background-position: -41px -158px;}
.pubhistory{background-position: -60px -158px;}
/*infoviewdoc*/
.setuserdesignfields{background-position: -118px -136px;}
.exportexcelall{background-position: -136px -139px;}
.exportexcelselectone{background-position: -136px -139px;}
.publishinfo{background-position: -100px -136px;}
.synTemplates{background-position: -155px -139px;}
.createFromFile{background-position: -174px -139px;}
/*extfield*/
.inhert{background-position: -136px -22px;}
/*region*/
.editDetail{background-position: -3px -3px;}
/*defaultformat,docviewprop*/
.defaultformat{background-position: -60px -216px;}
.docViewProp{background-position: -80px -216px;}
/*scm*/
.configscmpublishfield{background-position: -21px -216px;}
.createmicrocontentinfo{background-position: 0px -216px;}