<!--¸´ÔÓ±à¼­Æ÷-->
<script language="javascript">
<!--
	new com.trs.ui.XComplexEditor({
		disabled : ${NOTEDIT},
		name : '<TRS_ViewField field="DBFieldName" filterForJs="true" />', 
		params : {channelId : m_nChannelId},
		validation:"type:'string',required:'${NotNull}',desc:'<TRS_ViewField field="AnotherName" filterForJs="true" doubleFilter="true" />'",
		value : '<%=CMyString.filterForJs(makeHtmlCon(getValue(obj, "${FieldName}", "<TRS_ViewField field="DefaultValue" filterForJava="true" />")))%>'
	}).render();
//-->
</script>
