<!--suggestion-->
<script language="javascript">
<!--
	new com.trs.ui.XSuggestion({
		disabled : ${NOTEDIT},
		name : '<TRS_ViewField field="DBFieldName" filterForJs="true" />',
		value : '<%=CMyString.filterForJs(getValue(obj, "${FieldName}", "<TRS_ViewField field="DefaultValue" filterForJava="true" />"))%>',
		items : '<%=CMyString.filterForJs(getEnumValue("${FieldName}"))%>',
		validation:"type:'string',required:'${NotNull}',max_len:'${DBLength}',desc:'<TRS_ViewField field="AnotherName" filterForJs="true" doubleFilter="true" />'"
	}).render();
//-->
</script>
