
.spAttrClue{
	width:85px; 
	height:35px; 
	line-height:35px; 
	padding-left:10px; 
	white-space:nowrap;
	display:inline-block;
	text-align:right;
}

.sAttrClue{
	width:85px; 
	height:35px; 
	line-height:35px; 
	padding-left:10px; 
	white-space:nowrap;
	display:inline-block;
	text-align:right;
}

.ext-gecko .sAttrClue{
	width:90px; 
}
button{
	height: 18px;
	background: #eeeeee;
	border: solid 1px silver;
	font-size: 12px;
	margin-left: 5px;
	padding-right: 3px;
	cursor:pointer;
}
/*标题拦拦目拦*/
.middle_register {
	height: 18px;
	width: 260px;
	background-image: url(../images/titlebar/titlebar_middle_bg.png);
	background-repeat: repeat;
	overflow: hidden;
}
/*标题拦*/
.full_register {
	height: 10px;
	width: 98%;
	margin-top: 0px;
	float: left;
	margin-left: 2px;
}
/*标题拦右*/
.middle_sash_register_right {
	float: right;
	width: 3px;
	background-image: url(../images/titlebar/titlebar_right_bg.png);
	background-repeat: no-repeat;
	height: 18px;
}
/*标题拦左*/
.middle_sash_register_left {
	float: left;
	height: 18px;
	width: 3px;
	background-image: url(../images/titlebar/titlebar_left_bg.png);
	background-repeat: no-repeat;
	padding-left:0;
	margin-left:0;
}
.forme_arrowhead_down {
/*
	float: right;
	height: 6px;
	width: 7px;
	background-image: url(../images/titlebar/titlebar_up.png);
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 5px;
*/
}
/*标题拦拦标题文字*/
.middle_register_title_text {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-top: 3px;
}
/*标题拦宽度1*/
.middle_register_text1 {
	/*height: 42px;*/
	width: auto;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-top: 1px;
}
/*文字*/
.text_txt {
	font-size: 12px;
	color: #000000;
}
.kuang_as {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 20px;
	border: 1px solid #999999;
}
/*新建编辑页样式*/
.editbody{
	font-size:12px;
	padding:0;
	margin:0;
	background :transparent;
	border:0;
	overflow:hidden;
}
.combo_cnt{
	position:absolute;
	width : 450px;
	/*overflow:hidden;*/
	height:20px;
	top:27px;
}
.combo_cancelselect{
	position:absolute;
	top:27px;
	left:280px;
}
.combo_input{
	/*position:absolute;*/
	width : 150px;
	top:0;
	left:0;
	height : 20px;
	}
.combo_icon{
	position:absolute;
	top:1px;
	right: 301px;
	width : 17px;
	height : 18px;
	overflow : hidden;
}
.combo_icon select{
	position:absolute;
	top:-1px;
	right:-1px;
}
.combo_showid{
	position:absolute;
	left:10px;
}
#FieldName_valid{
	position:absolute;
	width:300px;
	left:151px;
	top:0;
	overflow:hidden;
}
#bubblePanel{
	position:absolute;
	left:250px;
	top:130px;
	width:200px;
	height:100px;
	background:lightyellow;
	text-align:center;
}

.ext-ie6 .combo_icon select{
	top:0px;
}
.ext-ie8 .combo_icon select{
	top:0px;
}