.backColor {
	width: auto;
	color: #fff;
	font-size: 14px;
	padding: 3px;
	padding-left: 20px;
	padding-right: 5px;
}
.content{
	width:1000px;
	height:40px;
	background:blue;
}
.button-main-right{
	margin-top:-20px;
}
.button-main-left img{
	margin-top:2px;
}
.jazz-formpanel .jazz-toolbar .button-text{
	padding-left:10px;
}