.tabclass{
	border-bottom:3px solid #fed549;
	height:35px;
	cursor:pointer;
}
.tabclass a{
	display: inline-block;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color:#333;
    background:#fff6cf;
    margin-left:-3px;
    
}
.tabclass a:hover{
	border-bottom:3px solid #fed549;
}

.box{
    padding: 30px 40px 10px 40px;
}
.advicebox{
	padding:0 40px 30px 40px;
}
.box span{
	padding-right:30px;
}
.approvalstate{
	display:inline-block;
	width:180px;
}
