.enterprise-name{
    font-size: 12px;
    width:180px;
}

/*header样式结束*/


/*article的样式开始*/
.enterprise-wrapper{
    width:998px;
    min-height:696px;
    height:100%;
    margin:10px auto 10px auto;
}
/*article中的top样式*/
.wrapper-top,.wrapper-content,table{
    width:970px;
    margin:0 auto;
    height:145px;
    /*background: red;*/
}
.wrapper-content{
    height:100%;
    margin:20px auto;
}
.business,.maintain{
    width: 480px;
    float: left;
}
.maintain{
    margin-left: 10px;
}
.business-top,.maintain-top{
    width:465px;
    height:42px;
    line-height: 42px;
    background: #82BBE6;
    color: #FFF;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}
.business-top span,.maintain-top span{
    padding-left: 10px;
}
.maintain-top,.maintain-items{
    margin-left: 15px;
}
.business-items,.maintain-items{
    width:465px;
    height:103px;
    font-size: 0;
    display: table;
    text-align: center;
}
.items-card{
    width:116.25px;
    height:103px;
    background: #FFF;
    display: table-cell;
    vertical-align: middle;
}
.wrapper-top a{
    font-size: 14px;
    color: #0F79BB;
}
.wrapper-top a:hover{
    background: #F3F3F3;
}
.circle{
    width:45px;
    height:45px;
    line-height: 45px;
    background:#71B0E0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    vertical-align: middle;
    margin:0 auto;
}
.circle img{
    vertical-align: middle;
    border:none;
}
/*article中的表格样式设计*/


/*article中content中table样式设计*/

/*table每行高度和背景色*/
table tr{
    height:86px;
    border-bottom: 1px solid #F9F9F9;
}

/*table中除第一列,其他列的宽度*/
table tr td{
    width:166px;
    height:86px;
    line-height: 86px;
    text-align: center;
}
/*分页行的样式*/
.paging{
    height:51px;
    line-height:51px;
    background: #FFF;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}



