
.enterprise-wrapper{
    width:998px;
    min-height:696px;
    height:100%;
    margin:10px auto 10px auto;
}
.wrapper-top/* ,table */{
	width:235px; 
	height:550px;
	border-radius:5px;
	float:left;
	background:#fbfbfb;
}
.wrapper-content{
    width:750px;
    float:right;
    /* position: relative;
    z-index: -1; */
}
.business,.maintain{
	width:235px;
    float: left;
    margin-right: 5px;
}
.maintain{
	margin-top:10px;
}
.verifycode{
	width: 415px;
    height: 80px;
    margin-left: 120px;
    margin-top: -80px;
    box-shadow:0 0 2px #71B0E0;
    position: relative;
    z-index: 10000;
    display:none;
}
.circle3 {
    width: 18px;
    height: 18px;
    background: #FF0000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    margin-left: 35px;
    margin-top: -45px;
    text-align: center;
    color: #fff;
}
.verifycodebig{
	width: 115px;
    height: 160px;
    margin-left: 235px;
    margin-top: -80px;
    box-shadow:0 0 2px #71B0E0;
    background:#fff;
}
.business span{
    width:100%;
    height:47px;
    line-height:47px;
    padding-left: 10px;
    color:#F97E37;
    font-size: 14px;
}
.maintain span{
    width:100%;
    height:47px;
    line-height:47px;
    padding-left: 10px;
    color:#F97E37;
    font-size: 14px;
}
.business-top,.maintain-top{
    width:235px;
    height:42px;
    line-height: 42px;
    background: #f6f6f6;
    color: #FFF;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
}
.business-items,.maintain-items{
    /* width:483px; */
    height:103px;
    font-size: 0;
    display: table;
    text-align: center;
}
.items-card{
    width:116.25px;
    height:80px;
    background: #FFF;
    display: none;
    vertical-align: middle;
    border:1px solid #f6f6f6;
    border-radius:5px;
}
.wrapper-top a{
    font-size: 13px;
    color: #0F79BB;
}
.wrapper-top a:hover{
    background: #F3F3F3;
}
.circle{
    width:45px;
    height:45px;
    line-height: 45px;
    background:#71B0E0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    vertical-align: middle;
    margin:0 auto;
}

.circle1{
    width:45px;
    height:45px;
    line-height: 45px;
    background:#BCBCBC;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    vertical-align: middle;
    margin:0 auto;
}

.circle img{
    vertical-align: middle;
    border:none;
}
#my-business{
    float: left;
    padding-left: 15px;
}
.top-bar span{
    color: #fff;
}
.condition-item{
	cursor: pointer;
    color: #666;
    font: 12px "simsun";
    padding: 3px 6px;
    margin-left: 8px;
}
.condition-item:hover{
	background: #74B2E1;
    color: #fff;
}
.selected{
	background: #74B2E1;
    color: #fff;
}
.table-panel-tr{
	height:76px;
	font: 14px/1.5em Microsoft YaHei;
	overflow-x:hidden;
}
.jazz-grid-cell:hover{
	background-color:#f6f6f6;
	border-left: 5px solid #E57D45;
}
.jazz-grid-cell{
	border-right:1px solid #fff;
}
.table-panel-tr:hover .index-span-index{
	background:url("../image/img/icon/22.png") no-repeat center;
}
.table-panel-tr:hover .ent-name{
	color:#f97e37;
}

.table-panel-tr > div{
	display: inline-block;
	
}
.index-span-index{
	background:url("../image/img/icon/23.png") no-repeat center;
	width: 16px;
    height: 25px;
    display: inline-block;
    margin-top: 31px;
    /* margin-left: 30px; */
    margin-right: 10px;
}
.ent-name{
	color:#666;
}
.omit{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.flag{
	color:#f97e37;
	width:20px;
}
.state{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	color:#f97e37;
	width:90px;
}
