.table-panel-tr{
	height:76px;
	font: 14px/1.5em Microsoft YaHei;
	overflow-x:hidden;
}
.jazz-grid-cell:hover{
	background-color:#f6f6f6;
	border-left: 5px solid #E57D45;
}
.table-panel-tr:hover .index-span-index{
	background:url("../image/img/icon/22.png") no-repeat center;
}
.table-panel-tr:hover .ent-name{
	color:#f97e37;
}
.table-panel-tr > div{
	display: inline-block;
	
}
.index-span-index{
	background:url("../image/img/icon/23.png") no-repeat center;
	width: 16px;
    height: 25px;
    display: inline-block;
    margin-top: 31px;
    margin-left: 30px;
}
.ent-name{
	color:#666;
}
.state,.flag{
	color:#f97e37;
	width:80px;
}

.table-ent-name{
   margin-left: 30px;
    position: relative;
    width: 300px;
}
#newestEntName{
	display: inline-block;
    width: 150px;
    vertical-align: bottom;
}
.set-in{
    text-align: center;
    display: block;
    margin-top: 5px;
    color: #71B0E0;
}

.top-line,.bottom-line{
    width:100%;
    min-height: 1px;
    background: #000;
}

article{
    width:1000px;
    height:542px;
    margin:0 auto;
 /*    margin-top:10px; */
}

.sidebar{
    width:235px;
    height:542px;
    margin-right:10px;
    float: left;
    margin-top:15px;
}
.person-content{
    width:750px;
    /* height:542px; */
    margin-bottom:10px;
    float: right;
	position: relative;
	margin-top:10px;
}

.person-content .person-bar{
    background: #80B1DD;
    color: #FFF;
}
.person-content .filtrate-bg{
    background: url("../image/img/selectblue.png") no-repeat center;
}
.top-bar span{
    color: #fff;
}
#my-business{
    float: left;
    padding-left: 15px;
}
#filtrate{
    float: right;
    padding-right: 25px;
    font-size: 14px;
    cursor: pointer;
}
.person-content .person-table{
    width:100%;
    /*height: 541px;*/
    border:none;
    background: #ffffff;
    border-collapse: collapse;
    font-size: 14px;

}
.person-content .person-table tr{
    height:90px;
}
.person-content .person-table td{
    text-align: center;
    vertical-align: middle;
}
.person-content .person-table td span{
    width:260px;
    display: inline-block;
}
.regist-company{
    padding-bottom: 10px;
}
 .submit-date{
     font-size: 12px;
     color: #666;
     display: inline-block;
     margin-left:-60px;
}

.font-orange{
    color: #E88F2D;
}
.bottom-bar{
    width:100%;
    height:45px;
    background: #fff;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

#pagination-digg li{
    list-style: none;
    display: inline-block;
    border: 1px solid #D2E1EF;
    background: #E5EEF6;
    padding:5px 5px;
}
#pagination-digg{
    float: right;
    margin-right:42px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8px;

}
#pagination-digg .active2{
    color:#FFFFFF;
    background:#4594DB;
}
#pagination-digg span{
    border: 0;
}

#pagination-digg a:link ,#pagination-digg a:visited{
    border: 1px solid #D2E1EF;
    padding:5px 10px;
    background: #E7F2F6;

}
#pagination-digg a:hover,#pagination-digg a:active{
    color:#FFFFFF;
    background:#4594DB;
    padding:5px 10px;
}

.sidebar-mid,.sidebar-top{
    width:100%;
    height:120px;
    background: #F6F6F6;
    margin-bottom: 18px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:3px;
}
.sidebar-mid{
	height:132px;
}
.sidebar-top{
    background: #fff;
    height:117px;
}
.sidebar_topB{
    width:100%;
    height:87px;
    background: #fff;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
.sidebar-bottom{
    width:235px;
    height:246px;
    background: #F6F6F6;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.business,.sidebar-topheader{
    width:100%;
    height:44px;
    background:#F6F6F6 ;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}

.sidebar-top-circle{
    width:80px;
    height:80px;
    background: blue;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-top:-25px;
    margin-left: 20px;
    border:5px solid #fff;
    float: left;
}
#name{
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
}
#validate-name{
    font-size:12px;
    padding-left: 10px;
    color: #77B75D;
    /* background: url("../../static/image/img/verify.png")no-repeat; */
    background-position: 5px;
}

.circle2{
    width:80px;
    height:80px;
    background: blue;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.circle_name{
    float: right;
}
#triangle-up{
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    margin-top: 35px;
    margin-left: 660px;
    transform: rotate(180deg);
}
.business span{
    width:100%;
    height:47px;
    line-height:47px;
    padding-left: 10px;
    color:#F97E37;
    font-size: 14px;
}
.company-establish{
    width:1000px;
    position: relative;
}
.company-establishleft{
    width:116px;
    height:87px;
    background: #FFFFFF;
    float: left;
    border-radius:3px;
}
.company-establishright {
    width: 116px;
    height: 87px;
    background: #FFFFFF;
    float: left;
    margin-left: 3px;
    border-radius:3px;
}
.company-establishright-click {
    background: #FFFFFF;
    border: 1px solid #85c2e7;
    width: 117px;
    z-index: 1000;
    position: relative;
    border-width: 1px 0px 1px 1px;
}
.sidebar-bottom ul{
    width:235px;
    height:216px;
    list-style: none;
    font-size: 14px;
    padding:0;
    margin:0;
    background: #FFFFFF;
    border-radius:3px;

}
.sidebar-bottom ul li{
    width:180px;
    height:39px;
    line-height: 39px;
    border-bottom: 1px solid #E8E8E8;
    /* padding-left: 20px; */
    margin:0 auto;

}

#modify{
    width:85%;
    height:30px;
    line-height: 30px;
    display: inline-block;
    background: #2488C7;
    color: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    padding:1.5px;
}
.font-blue{
    color: #238CCD;
}
#li1{
    background: url("../image/img/icon/26.png") no-repeat left;
    background-position: 30px;
    color: #238CCD;
}
#li1,#li2,#li3,#li4{
    height:40px;
}
#li5{
    width:235px;
    padding:0;
    text-align: center;
    height:56px;
    border:none;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    border-radius:0 0 3px 3px;
    background-color:#FFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.date-font,.back{
    font-size: 12px;
}
.back{
    color: #238ccd;
}
.circle{
    width:40px;
    height:40px;
    background-color: #87BAE2;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin:0 auto;
    margin-top: 10px;
    position: relative;
}
.circle img{
    margin-left: 8px;
    margin-top: 8px;
}
.company-establishleft p,.company-establishright p{
    color: #238CCD;
    font-size: 14px;
    text-align: center;
    margin-top: 6px;
}
.circle3{
    width:18px;
    height:18px;
    background: #FF0000;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
    margin-left: 65px;
    margin-top: -65px;
    text-align:center;
    color: #fff;
}
#messages{
    font-size: 8px;
    font-size: 10px\9;
    color: #FFF;
    font-weight:bold;
    margin-top: 0px;
    margin-top: 2px\9;
}

.omit{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.auth-person-content{
	display:none;
	width: 746px;
	z-index: 90000;
	position: absolute; 
	color: #666;
    font: 14px/1.5em Microsoft YaHei;
    background-color:#fff;
    margin:0px 0px 12px -14px;
}
.auth-person-content:hover{
	background-color:#f4fafd;
}
.auth-person-content >div{
	display:inline-block;
	height:32px;
	line-height: 32px;
}
.auth-person-content .ent-name{
	width:220px;
	margin-left:20px;
}
.auth-person-content .not-no{
	width:340px;
}
.authSetupInit{
	color: #FFF;
    background: url("../../../static/image/operation.png") no-repeat;
    text-align: center;
    width: 72px;
    height: 18px;
    margin: 0px 0px 0px 40px;
    font-size: 12px;
    background-position-y: 7px;
    padding: 0px 2px;
}
.condition-item{
	cursor: pointer;
    color: #666;
    font: 14px "simsun";
    padding: 3px 6px;
    margin-left: 8px;
}
.condition-item:hover{
	background: #74B2E1;
    color: #fff;
}
.selected{
	background: #74B2E1;
    color: #fff;
}
#operType,#busiState,#flag{
	margin: 10px 6px;
}
.condition-title{
	font: 14px "simsun";
	font-weight: bold;
    margin-left: 20px;
    
}
.app-date{
	font-size: 12px;
}


