.main{
    width:883px;
    margin:0 auto;
}
.main1,.main3{
    width:100%;
    height:45px;
    border-bottom: 2px dotted #DEDEDE;
    clear: both;
}
.main1 span,.main3 span{
    height:45px;
    line-height: 45px;
    text-align: center;
}
.font_orange{
    font-size: 12px;
}
.div1,.div2{
    margin:24px;
    width:157px;
    height:84px;
    background:#EAF5FC;
    box-shadow:2px 2px 2px #5F7A92;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    float: left;
}
.div2{
    background:#EBF6CD ;
}
.main2-font,.main2-font2{
    color: #5F7A92;
    font-size: 16px;
    padding-left: 20px;
    /*background: red;*/
}
.main2-font2{
    color: #657632;
}
.main2-font3{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left:15px;
    /*background: red;*/

}

.infoTab,.infoTab2{
    width:90px;
    height:22px;
    background: #5BA3EB;
    color:#FFF;
    font-size: 12px;
    float: right;
}
.infoTab2{
    background: #82A325;
}
.infoTab span,.infoTab2 span{
    float: right;
}
.triangle,.triangle2{
    content: '';
    width:0;
    height:0;
    border-top: 12px solid transparent;
    border-left:12px solid #EAF5FC;
    border-bottom: 12px solid transparent;
    margin-left: -5px;
    margin-top: -1px;
}
.triangle2{
    border-left:12px solid #EBF6CD;
}

/*股东提示框信息大小*/
.stock-content{
    width:100%;
    height:700px;
}
ol{
    margin-top: 20px;
    font-size:14px;
    color: #666;
}
#keyInfo ol li{
    /*list-style-type: circle;*/
    list-style-type: decimal;
}
