html,body{
    padding:0;
    margin:0;
    font-family:"Microsoft YaHei","Songti TC";
}

header{
    width:100%;
    height:98px;
    background: url("../img/23.png");
    left:0;
    top:0;
}
.wrap-header{
    width:1000px;
    height:98px;
    margin:0 auto;
    position: relative;
}
header img{
    width:500px;
    margin-top:17px;
}
nav{
    float: right;
    width:500px;
    height:100%;
    font-size: 14px;
    cursor: pointer;
}
.nav-main{
    width:460px;
    height:76px;
    margin:17px auto;

}
nav >ul> li{
    width:80px;
    height:60px;
    line-height: 60px;
    float: left;
    margin-right: 10px;
    list-style-type: none;
    color: #fff;
    font-weight: bold;
    /*background: wheat;*/
    text-align: center;

}
nav ul li:not(.bgcolor):hover{
    height:40px;
    line-height: 40px;
    background:#3D9FDD;
    text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
    margin-top: 10px;
}
footer{
    width:100%;
    height:58px;
    line-height: 58px;
    text-align: center;
    background: #022316;
}
.wrap-footer{
    width:1000px;
    height:58px;
    line-height: 58px;
    margin:0 auto;
    text-align: center;
}
footer span{
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.hint-words{
    float: left;
}
.company-name{
    float: right;
}

.safecenter{
    height:40px;
    line-height: 40px;
    background:#3D9FDD;
    text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
    margin-top: 10px;
}
.bgcolor .li-img img{
    width:16px;
    height:16px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top:-2px;
}
.li-img{
    width:80px;
    height:60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.li-img p{
    width:80px;
    height:20px;
    text-align: center;
    margin-top:-15px;
}
.bgcolor{
    background:#3D9FDD;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}