.simple_query_box{
	padding-left: 50px;
	height: 29;
}
.simple_query_text{
	color: gray;
	font-family: "ו";
	width: 90px;
	font-size: 12px;
}
.simple_query_select{
	width: 70px;
	font-family: "ו";
	font-size: 12px;
}
.simple_query_right_edge{
	width: 10px;
}