.XCalendar button{
	margin:0px;
	padding:0px;
}

.XCalendar b{
	display:inline-block!important;
	display:inline;
	width:20px;
	height:16px;
	background:url(TRSCalendar.gif) center center no-repeat;
}
