<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0" id="component.common.conjection">
	<beans>
		<bean id="IComponentEntryConfigService"
			class="com.trs.components.common.conjection.service.ComponentEntryConfigServiceImpl" singleton="true" />
		<bean id="IAdmanageConfigService"
			class="com.trs.components.common.conjection.service.AdmanageConfigServiceImpl" singleton="true" />
		
	</beans>

</plugin>