.wcm-tabpanel{width:500px;}
.wcm-tabpanel *{margin:0px;padding:0px;}
.wcm-tabpanel .head-box{position:relative;height:28px;}
.wcm-tabpanel .head-box .wrapper{position:absolute;left:0px;right:0px;}
.wcm-tabpanel .tab-head{float:left;margin-right:10px;background:url(tab-l.gif) left center no-repeat;padding-left:5px;}
.wcm-tabpanel .head-box .active{background-image:url(tab-active-l.gif);}
.wcm-tabpanel .tab-head .r{background:url(tab-r.gif) right center no-repeat;padding-right:5px;}
.wcm-tabpanel .head-box .active .r{background-image:url(tab-active-r.gif);}
.wcm-tabpanel .tab-head .c{display:inline-block!important;display:inline;background:url(tab-c.gif) center center repeat-x;padding:0px 5px;}
.wcm-tabpanel .head-box .active .c{background-image:url(tab-active-c.gif);}
.wcm-tabpanel .tab-head .c a{text-decoration:none;line-height:28px;color:black;white-space:nowrap;height:25px;}
.wcm-tabpanel .head-box .active .c a{color:#0041A5;}
.wcm-tabpanel .body-box{clear:both;margin-top:-1px;height:400px;border:1px solid #ACDDFD;}
