.q_hong_12 {
	font-family: "宋体";
	font-size: 12px;
	color: #fc6d6d;
	text-decoration: none;
}
.kuang01 {
	font-family: "宋体";
	color: #ffee9f;
	text-decoration: none;
	background-image: url(images/kuang_bj.jpg);
	background-repeat: repeat-x;
	height: 18px;
	border: 1px solid #df2a24;
}
.s_huang_12 {
	font-family: "宋体";
	font-size: 12px;
	color: #916a15;
	text-decoration: none;
}
.q_huang_12hover {
	font-family: "宋体";
	font-size: 12px;
	color: #fff4ab;
	text-decoration: none;
	font-weight: normal;
}
a.q_huang_12hover:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FBA966;
	text-decoration: none;
	font-weight: normal;
}
.hui_12hover_c {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
	text-decoration: none;
}
a.hui_12hover_c:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #EE0202;
	text-decoration: none;
}
.ceng {
	border: 1px solid #d5cd94;
	background-color: #FFFFFF;
	filter: Alpha(Opacity=70);
}
.tuhuang_12hover {
	font-family: "宋体";
	font-size: 12px;
	color: #6a601c;
	text-decoration: none;
	font-weight: normal;
}
a.tuhuang_12hover:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #f85d00;
	text-decoration: none;
	font-weight: normal;
}
.hui_12hover {
	font-family: "宋体";
	font-size: 12px;
	color: #696969;
	text-decoration: none;
	font-weight: normal;
}
a.hui_12hover:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #d71a1a;
	text-decoration: none;
	font-weight: normal;
}
.hong_12hover_c {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #d71a1a;
	text-decoration: none;
}
a.hong_12hover_c:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
.bai_12hover_c {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.zong_12hover_l2 {
	font-family: "宋体";
	font-size: 12px;
	color: #a25e27;
	text-decoration: none;
	text-indent: 10pt;
	font-weight: normal;
}
a.zong_12hover_l2:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #492B12;
	text-decoration: none;
	text-indent: 10pt;
	font-weight: normal;
}
.bj {
	background-color: #ddd8bb;
	background-image: url(images/dbj.jpg);
	background-repeat: repeat-x;
}
.hui_14hover_c {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
a.hui_14hover_c:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #B70000;
	text-decoration: none;
}
.wt {
	background-image: url(images/wt01.jpg);
	background-repeat: no-repeat;
}
.cheng_14_c {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #f66809;
	text-decoration: none;
	line-height: 20px;
}
