@charset "UTF-8";

body {
	font-family: "Microsoft YaHei", "SimSun";
	font-size: 12px;
}

.header {
	background-repeat: repeat-x;
	height: 154px;
	background: url(../../statics/images/2013-1.jpg);
}

.topdiv #flash {
	height: 154px;
	margin: 0 auto;
	width: 1003px;
}

a {
	text-decoration: none;
	color: #666;
	cursor: pointer;
}

.breadcrumb {
	background: #f2f2f2;
}

.mid_bg {
	/* margin: auto; */
	background: #f2f2f2;
	/* padding: 21px 60px; */
	padding: 20px;
	width: 780px;
    margin: 0 auto;
}

form {
	background: #e3e8f6;
}

.formHeight {
	/* height: 734px; */
	height: 770px;
}

.form-group {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

.form-group .control-label {
	font-weight: normal;
}

/* .form-group .form-control {
	height: 28px;
	line-height: 28px;
} */

.form-group .changeCodeTips {
	color: blue;
}

#tips {
	padding: 0 64px;
}

#tagsSwitch {
	margin-top: -21px;
	display: none;
}

#tagsSwitch h2 {
	font-family: "黑体";
	font-size: x-large;
	text-align: center;
}

#tagsSwitch .titleLine {
	height: 1px;
	background: #9A9A9A;
	width: 98%;
	margin: 0 auto;
	margin-top: -13px;
}

#tagsSwitch .tab-content h2 {
	font-size: medium;
	text-align: left;
}

#tagsSwitch .queryExport {
	padding: 40px;
	margin-top: -20px !important;
}

#infos{
	/* margin-top: 20px;
	text-align: center; */
	 padding: 0 150px;
}

#tagsSwitch .tagInfoBg {
	background: #e3e8f6;
	margin-top: 20px;
}

#tagsSwitch .wcont {
	width: 738px;
	margin: 0 auto;
	padding-top: 22px;
}

#tagsSwitch #tagDispayEnt li a {
	font-family: "宋体"
}

table {
	width: 724px;
	margin: 0 auto;
}

td {
	height: 30px;
	line-height: 30px;
	border: 1px solid #666666;
	text-align: right;
	line-height: 30px;
	border: 1px solid #666666;
}

.tableInfosList {
	width: 724px;
	margin: 0 auto;
}

#tagsSwitch .wrap  .title {
	background: #f8f9ff;
	font-family: 宋体;
}

#tagsSwitch .wrap  .titleDesc {
	background: #fff;
	text-align: left;
	padding-left: 12px;
	font-family: "宋体";
	word-break:break-all;
}

.show {
	display: block;
}

.control-label {
	font-size: 12px !important;
}

.listItems {
	margin-top: 4px
}

.listItems .keyWordsDesc {
	color: red;
	font-size: 15px;
	padding: 0 4px;
}

.footer {
	width: 100%;
	height: 50px;
	background: url(../../statics/images/2013-2.jpg);
	color: #fff;
	line-height: 24px;
	overflow: hidden;
	margin-top: 0px;
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0;
}

.center {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.fl {
	float: left;
}

.copyright a {
	color: #fff;
	margin: 0 5px;
}

.fr {
	float: right;
}

.pdl {
	padding-left: 22px;
}

.copyright p {
	width: 700px;
	margin: auto;
	text-align: center;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	color: #ffffff;
}

/*提示框*/
.showValidateResult {
	position: absolute;
	top: 7px;
	right: 24px;
}

.hideTips {
	display: none;
}

.red {
	color: red;
}

.green {
	color: green;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 4px;
}

.centerDesc{width: 150px;text-align: center;}

#panel-3 table  td{text-align: center;background: #fff;}
#panel-4 table  td{text-align: center;background: #fff;}
#panel-9 table  td{text-align: left;background: #fff;}
#panel-11 table td{text-align: center;background: #fff;}


#panel-5 table  td{background: #fff;}
.alingLeft{text-align: left !important;}
.alingCenter{text-align: center !important;background-color: #F8F9FF !important;}
.yiChangTitle{background: #B0C4DE !important;}