html,body {
	overflow-y: auto;
	overflow-x:hidden;
	background: #EFF3F5; 
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Microsoft YaHei", "SimSun";
	font-size: 1.4rem;
}

td.title {
	width: 1rem;
	white-space: nowrap;
}

.form-control {
	height: 45px;
}

.button-box a {
	width: 1.4rem;
	height: 3.5rem;
	margin-top: 10px;
	display: block;
	cursor: pointer;
	border: 0;
	box-shadow: 1px 4px 5px #ccc;
	color: #fff;
}

.button-box a.bt3 {
	background: #634a1d url(../statics/images/icon4.png) no-repeat 15px
		center;
	line-height: 3.5rem;
	padding-left: 1.5rem;
	border-radius: 0.3rem;
}

.button-box a:hover {
	color: white;
	text-decoration: none;
}

.tc {
	text-align: center;
}

.wh {
	color: white;
}

#tab-content .ctitle {
	background: #B0C4DE;
}

.fontRed {
	font-size: 1.4rem;
	font-weight: bold;
	color: red;
}

/*列表*/
.listTitle {
	background: #C1C1FF;
	text-align: left;
}

#list table tr.listTitle td {
	background: #C1C1FF;
	text-align: left;
}

#list table td {
	background: #E3E9F7;
	text-align: left;
	border:.1rem solid #ccc;
}

#list table td a {
	color: blue;
}

#list table td.tdcenter {
	text-align: center;
}

td.bgTitle {
	background-color: #B0C4DE !important;
	text-align: center;
}

#l1,#l2,#l3,#l4,#l5,#l6,#l7,#l8,#l9,#l11 {
	color: #000;
	text-align: center;
	font-size: 1.6rem;
}





/*细节修正*/
.col-xs-4 {
	text-align: right;
}

.nav-tabs{border: none;}
.nav-tabs>li {
    width: 9rem;
    text-align: left;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: 1px solid #ddd;
	color:#F54940;
	background: #ddd;
}
#tagsSwitch{background: url(../../statics/images/3_bg0.jpg);padding-top:0.2rem}

#tagsSwitch h2.queryExport {
    font-size: 14rem;
    font-family: "黑体";
    color: rgb(0, 72, 128);
    text-align: center;
}