.ScrollNewshorizontalCls{
	width : 32765px;
	overflow:hidden;
}
.ScrollNewsverticalCls{
	height : 32765px;
	overflow:hidden !important;
}
.ScrollNewshorizontalCls .div1Cls, .ScrollNewshorizontalCls .div2Cls{
	float:left;
}
.ScrollNewshorizontalCls .p_doc_title{
	float:left;
}

