.ScrollImghorizontalCls{
	width : 32765px;
	overflow:hidden;
}
.ScrollImghorizontalCls .div1Cls, .ScrollImghorizontalCls .div2Cls{
	float:left;
}

.ScrollImghorizontalCls .img-item{
	float:left;
}

.ScrollImgverticalCls{
	height : 32765px;
	overflow:hidden;
}