BODY {
	BORDER-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	font-size: 10pt; 
	MARGIN: 0pt; 
	BORDER-LEFT: 0px; 
	COLOR: black; 
	BORDER-BOTTOM: 0px; 
	/**FONT-FAMILY: "宋体"; **/
	BACKGROUND:;
	background-color:#C4E8FD;
	background-repeat:no-repeat;
	background-position:top right;
	background-attachment:fixed;
	margin-width: 0; 
	margin-height: 0;
	overflow:auto;
}
P {
	font-family:"Arial","宋体", "sans-serif";
	font-size: 10pt;
	LETTER-SPACING: 1px;
}
TABLE {
	font-family:"Arial","宋体", "sans-serif";
	font-size: 10pt
}

A { 
	font-family:"Arial","宋体", "sans-serif";
	font-size: 10pt;
	text-decoration:none;
	color:#330099;
	background:transparent; 
}

A:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #006699; background:transparent; TEXT-DECORATION: underline
}

INPUT.text {
	background:#fff;
}
SELECT.option {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #c4e759 1px solid; BORDER-LEFT: #c4e759 1px solid; BORDER-BOTTOM: #c4e759 1px solid; BACKGROUND-COLOR: #eeeeee
}
INPUT.button {
	BORDER-RIGHT: #c4e759 1px double; BORDER-TOP: #c4e759 1px double; font-size: 10pt; BORDER-LEFT: #c4e759 1px double; COLOR: #333333; BORDER-BOTTOM: #c4e759 1px double; HEIGHT: 16px; BACKGROUND-COLOR: #ccff99
}
INPUT.button1 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; font-size: 10pt; BORDER-LEFT: 1px ridge; COLOR: 000000; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #CCCCCC
}
INPUT.buttonWindy {
	BORDER-RIGHT: 0px ridge; BORDER-TOP: 0px ridge; font-size: 10pt; BORDER-LEFT: 0px ridge; COLOR: #000003; BORDER-BOTTOM: 0px ridge; BACKGROUND-COLOR: #ffffff
}
INPUT.button2 {
	BORDER-RIGHT: #ffffcc 1px ridge; BORDER-TOP: #ffffcc 1px ridge; font-size: 10pt; BORDER-LEFT: #ffffcc 1px ridge; COLOR: #333333; BORDER-BOTTOM: #ffffcc 1px ridge; BACKGROUND-COLOR: #ffcc00
}
INPUT.button3 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; font-size: 10pt; MARGIN-BOTTOM: 3px; BORDER-LEFT: 1px ridge; COLOR: #000000; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc00
}
INPUT.button4 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-WEIGHT: bold; font-size: 10pt; MARGIN-BOTTOM: 2px; BORDER-LEFT: 1px ridge; COLOR: #000000; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "Arial"; LETTER-SPACING: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc00
}


b.roundtop{display:block; overflow: hidden}
b.roundbottom{display:block; overflow: hidden}
b.line1{display:block; overflow: hidden; margin: 0 6px; height:1px;}
b.line2{display:block; overflow: hidden; margin: 0 4px; height:1px;}
b.line3{display:block; overflow: hidden; margin: 0 3px; height:1px;}
b.line4{display:block; overflow: hidden; margin: 0 2px; height:1px;}
b.line5{display:block; overflow: hidden; margin: 0 1px; height: 2px;}

b.line12{display:block; overflow: hidden; margin: 0 2px; height:1px;}
b.line13{display:block; overflow: hidden; margin: 0 1px; height:1px;}
b.line15{display:block; overflow: hidden; margin: 0 1px; height:2px;}


.menu_new
{
	background-image: url(button_bg.jpg);
	background-repeat:repeat-x;
	border-right: #1f7ac1 1px solid;
	border-bottom: #1f7ac1 1px solid;
	border-top: #1f7ac1 1px solid;
	border-left: #1f7ac1 1px solid;
	padding-left: 0px;
	padding-right: 0px;
	cursor: hand;
	color: #FFFFFF;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 10pt;
	height: 22px;
	text-align: center;
}

.menu
{
	background: url(../images_new/button_c_bg.jpg) left top repeat-x;
	border: 0px solid #1f7ac1;
	padding: 0px;
	cursor: hand;
	color: #FFFFFF;
	font-family: "微软雅黑","黑体","宋体";
	font-size: 10pt;
	height: 30px;
	line-height:30px;
	text-align: center;
}

.button_table{
	display: inline;
	border:none;
	margin: 0;
}

.btn_left{
	background:url(../images_new/button_l_bg.jpg) left top no-repeat;
	width: 6px;
	display:none;
}

.btn_right{
	background:url(../images_new/button_r_bg.jpg) left top no-repeat;
	width: 6px;
	display:none;
}

.frame-body {
	font-family:"Arial", "宋体";
	font-size: 12px;
	color: #000000;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
	border-top:1px;
	background-color: #C4E8FD;
	overflow-x: auto;
	border-collapse:collapse;
	overflow-y: visible;
}

.frame-body td{
}

#frame_record td{
	border:0px solid #black;
}

.grid-menu
{
	background-position: left top;
	background: url('../images_new/btn_bg.jpg') -20px top repeat-x;
	cursor: hand;
	color: black;
	border:#1c7cc8 0px solid;
	padding: 2px 0px 0px 0px;
	font-size: 10pt;
	height: 23px;
	text-align: center;
}

.grid-headrow {
	font-family:"Arial", "宋体";
	font-size: 9pt;
	font-weight: bold;
	color: #555;
	height:30px;
	/*
	background: url(../images_new/tr1.jpg) left top repeat-x; */
	background: #e4ebf4;
}

.grid-headrow td{
	padding-left: 5px;
}

.title-row {
	background-color: white;
	font-family:"Arial", "宋体";
	font-size: 12px;
/*	background-image: url(../images/title_bg.jpg);	*/
	background-repeat: repeat-x;
	height:25px;
	color:#0e6277;
	float:left;
	display: none;
	font-weight: bold;
}

.title-row img{
	display:none;
}

.alertrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #FFCCFF;
}

.disablerow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #5F5F5F;
	background-color: #EFEFEF;
}

.round-body {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	width: 94%;
	align: center;
	color: #000000;
	border-color: #2975AF;
	background-color: #FFFFFF;
}

.roundheadrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	height:32px;
	color: #000000;
	border-color: #2975AF;
	background-color: #FFFFFF;
}

.roundtailrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	border-color: #2975AF;
	background-color: #FFFFFF;
}

.printhead {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #F7F7F7;
}

.printtail {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #F7F7F7;
}

.odd12{
	height: 30px;
	color: #010;
	/*background:url(../images_new/tr1.jpg) repeat;*/
	background: #f7f7f7;
	padding:4px;
	border:1px solid RGB(207, 207, 254);
}
.oddrow, .evenrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #010;
	height:30px;
	background: #f7f7f7;
}
#main_select-key td {border: 0px solid rgb(207,207,254);}
.oddrow td, .evenrow td{
	height: 30px;
	color: #010;
	padding:4px;
	border:1px solid RGB(207, 207, 254) !important;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.activerow td span, .oddrow td span, .evenrow td span{width:auto !important; display:block;}
.activerow {
	color: #006699;
	height:30px;
	font-size:10pt;
	/* background: #FFFFCC; */
	/*cursor: hand;*/
}
.activerow td{
	border:1px solid RGB(207, 207, 254) !important;
	color: #010;
	overflow:hidden;
	text-overflow: ellipsis;
	padding:4px;
	white-space: nowrap;
}
.selectedrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #FFFFFF;
	cursor:hand;
	height:30px;
	background-color: #0000FF;
}

.tailrow {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #F1F5FF;
}

.framerow {
	padding:0; 
	height:1.1em; 
	line-height:1.1em; 
	padding:.15em;
	background: #F4FAFB;
	border-bottom:#aed0ea 1px solid; 
	border-right:#aed0ea 1px solid;
}

tr.hide{
	height:12px;
	color:#165179;
}

.labelcell {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #E2EEF8;
}

.inputcell {
	font-family:"Arial", "宋体";
	font-size: 10pt;
	color: #000000;
	background-color: #F7F7F7;
}

.cellbox {
	border: 1px solid #808080; 
	padding-left: 4px; 
	padding-right: 3px; 
	padding-top: 4px; 
	padding-bottom: 2px;
}


.activemenu {
	color: #006699;
}

.pages {
	OVERFLOW-Y : auto;
	OVERFLOW-X : auto;
	width : 100%;
}

.scroll-div {
	OVERFLOW-Y : auto;
	OVERFLOW-X : auto;
}

.body-div {
	overflow-y : auto;
	overflow-x : hidden;
	width : 100%;
	height:100%;
	position : absolute;
	left : 0;
	top : 0;
	background: #f8f9fb;
	/*background-image: url(../images_new/bg.jpg);
	background-repeat: repeate;*/
}

.tabsAction_Selected{
	height: 35px;
	line-height:30px;
}

.tabsAction_Selected span {
	color: white;
	font-weight: bold;
	height: 10px;
	margin-bottom: 1px;
}

.tabsAction_Default span {
	color: white;
	height: 10px;
	margin-bottom: 1px;
}

.tabsAction_Active span {
	color: white;
	height: 10px;
	margin-bottom: 1px;
	font-weight: bold;
}

#freeze-title{
	padding-left: 0px;
	color: #333;
}

.freezeTL{
	width: 4px;
	display: none;
	background:url(../images_new/wz_l_bg.jpg) left top no-repeat;
}

.freezeTR{
	width: 4px;
	display: none;
	background:url(../images_new/wz_r_bg.jpg) left top no-repeat;
}
.freezeCL{
	width: 4px;
	background:url(../images_new/wzr_l_bg.jpg) left top no-repeat;
}
.freezeCR{
	width: 4px;
	background:url(../images_new/wzr_r_bg.jpg) left top no-repeat;
}
.freezeTLC{
	display:none;
	background-color:#006699;
}
#freeze-title td{
	color: #555;/*
	height:22px;
	line-height: 22px;*/
	font-family: "Arial","Î¢ÈíÑÅºÚ","ºÚÌå"£¬"宋体";
	font-size: 9pt;
}

#tabsAction tr {
	height: 26px;
}

#tabsAction tr td{
	padding-right: 10px;
}

.tabsAction_tabTDStyle1{
	display: none;
}

.tabsAction_tabTDStyle3 {
	padding-top: 35px !important;
}

#tab_list {
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

#tab_con {
	position:absolute;  
    width:100%;  
    display:inline-block;  
    overflow:hidden;  
    float:left; 
}

#tab_item {  
	width: auto;
	position: relative;
	z-index£»50px;
}

#tab_prev {
	width: 15px;
	height: 25px;
	left: 3px;
	position: absolute;
	background-color: red;
	z-index: 100;
	top: 3px;
	display: none;
}

#tab_next {
	width: 30px;
	line-height; 25px;
	height: 25px;
	position: absolute;
	background: url(../images_new/more.jpg) left top no-repeat;
	z-index: 100;
	top: 3px;
	left: 97%;
	display: none;
	cursor: default;
}

.pageList_Selected, .pageList_Default, .pageList_Active{
	height:30px !important;
	width: 130px !important;
}

.pageList_Selected span{
	color: white;
	font-weight: bold;
	display: inline;
	height: 10px;
	margin-bottom: 1px;
}

.pageList_Active span {
	color: white;
	font-weight: bold;
	display: inline;
	height: 10px;
	margin-bottom: 1px;
}

.pageList_Default span {
	color: white;
	display: inline;
	height: 10px;
	margin-bottom: 1px;
}

.pageList_tabTDStyle3 {
	padding-top: 35px !important;
}

#pageList tr {
	height: 26px;
}

#pageList tr td {
	padding-right: 10px;
}

.pageList_tabTDStyle1 {
	display: none;
}

.body-main {
	OVERFLOW : auto;
	padding : 0;
	margin-top : 0;
	margin-left : 0;
	margin-bottom : 0;
	margin-right : 0;
	width : 100%;
	background-color : #FFFFFF
}

.menu-background {
	background-image: url('../img/menu/menu-back.jpg'); 
	background-repeat: repeat; 
}

.menu-front{
	width : 100%;
	table-layout : fixed;
	color : #006699;
	font-family : "Arial","宋体","sans-serif";
	FONT-SIZE : 10pt;
}


.hidden
{
	background: url(button.gif) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 10pt;
	height: 22px;
	text-align: center;
}


.print{
   border-left-style:none;
   border-top-style:none;
   border-width:1pt;
   border-color:#999999;
   font-size: 10pt;
}

.print td{
   border-right-style:none;
   border-bottom-style:none;
   border-color:#bbbbbb;
   border-width:1pt;
   font-size: 10pt;
   padding:3;
}

#queryHelpDiv{
	display:none;
	margin: 0 20 0 20;
	width:100%;
}

#queryHelpDiv h3{
	line-height:22px;
}

#queryHelpDiv li{
	list-style:none;
}

.connectConditionSelect, .queryConditionSelect, .queryConditionInput{
    width:100%;
}

select.dataSelect {
    MARGIN: -3px -2px -2px -3px; 
    WIDTH: 204px; 
    CURSOR: hand; 
    HEIGHT: 204px;
    font:normal 12px Verdana;color:#333333;
}
tr.selectRow td{
    padding:0px;
}
.selected .stepHelpLink{
	background-position:0 0;	
}

.selected .stepHelpEm{
	background-position:right -301px;
}

.selected .stepHelpSpan{
	background-position:0 -151px;
	font-weight: bold;
	height: 30px;
	margin-bottom: 5px;
}

.stepHelpLink{
	padding-left:10px;
	background:transparent url("../img/tabs-sprite.gif") no-repeat scroll 0 -51px;
}

.stepHelpEm{
	padding-right:10px;
	background:transparent url("../img/tabs-sprite.gif") no-repeat scroll right -351px;
}

.stepHelpSpan{
	font-family:tahoma,arial,helvetica;
	font-size:13px;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	white-space:nowrap;
	font-weight:normal;
	color:white;
	cursor:default;
	width:80px;
	text-align:center;
	line-height:30px;
	background:transparent url("../img/tabs-sprite.gif") repeat-x scroll 0 -201px;
	height: 30px;
	margin-bottom:5px;
}

.preStepHelpArrow{
	padding:0 10px;
	width:30px;
	line-height:30px;
	text-align:center;
}

.postStepHelpArrow{
	padding:0 10px;
	width:30px;
	line-height:30px;
	text-align:center;
}

.processBarDiv{
	width:100%;
	height:20px;
	background:#E0E8F3 url(../img/bg.gif) repeat-x scroll 0 0;
	position:relative;
	border:1px solid #6593CF;
	overflow:hidden;
}

.processBarPassedDiv{
	position:absolute;top:0;left:0;
	height:100%;
	background:#9CBFEE url(../img/progress-bg.gif) repeat-x scroll left center;
}

.processBarTextDiv{
	position:absolute;top:0;left:0;
	padding:1 5 1 5;
	height:100%;
	color:#396095;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	overflow:hidden;
}

/** ÏÂÃæÊÇ¸ß¼¶²éÑ¯ÖÐ¹ýÂËÏÂÀ­¿òµÄcss **/
.optionContainer{
	border  : 1px solid #6371b5;
	position: absolute;
	display :none;
	z-index : 99999;
	background-color:#efefde;
	font-size:13px;
	padding:0 2 2 2;
}

.selectQueryResultContainer{
	margin-top:2px;
	width:100%;
	overflow:auto;
	border:1px solid #6371b5;
	background-color:#FFFFFF;
}

.queryInput
{
	width:120px;
	font-size:12px;
	height:16px;
}
.optionDiv{
	width:100%;
	overflow:hidden;
	text-ellipse:clip;
	background-color:#FFFFFF;
}

.enveLopDiv{
	background:#FFFFFF;
	position:relative;
	filter:Alpha(opacity=0);
	border:1px solid red;
	z-index:9999;
	width:100%;
	height:21;
	display:block;
	margin-top:-21;
}
/** ÉÏÃæÊÇ¸ß¼¶²éÑ¯ÖÐ¹ýÂËÏÂÀ­¿òµÄcss **/

@media print {
.hide {
  display:none;
}

.print{
   border-left-style:none;
   border-top-style:none;
   border-width:1pt;
   border-color:#999999;
   font-size: 10pt;
}

.print td{
   border-right-style:none;
   border-bottom-style:none;
   border-color:#bbbbbb;
   border-width:1pt;
   font-size: 10pt;
   padding:3;
}
}

/** ÉÏÃæÊÇ¸ß¼¶²éÑ¯Ê×Ò³µÄcss **/
.td01 {
	font-size: 14px;
	color: #FFFFFF;
	background-color: #00528c;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
.td02 {
	font-family: "????";
	font-size: 12px;
	color: #000000;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #FFFFFF;
	font-weight: bold;
}
.td03 {
	font-family: "????";
	font-size: 14px;
	color: #000000;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #FFFFFF;
}
.td04 {
	font-family: Arial, Helvetica, "sans-serif";
	font-size: 14px;
	color: #000000;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #FFFFFF;
}

.td02_1 {
	font-size: 12px;
	color: #000000;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #FFFFFF;
	font-weight: bold;
}
.td03_1 {
	font-family: "????";
	font-size: 14px;
	color: #000000;
	line-height: 25px;
	text-align: center;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #FFFFFF;
}

.table01 {
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.table02 {
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	text-indent: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.mainboxBK {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	background-image: url(../../../../images/homepage/main_bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.topbox2 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
	background-color: #2875B0;
	border-right-style: solid;
	font-family: "????";
	font-size: 14px;
	color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #000000;
}
.topbox {
	background-image: url(../images/homepage/122.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: "????";
	font-size: 14px;
	color: #FFFFFF;
}

.topbox3{
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
	background-color: #EEF6F9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: "????";
	font-size: 14px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#stepsContainerDiv {
	margin-left: 2.5%;
}

#navbar .menu{
	height: 18px;
	font-size: 10px;
}
/*.leftTitle{height:28px;width:6px;background:url(../images_new/r_list_l.jpg) no-repeat;}
.secTitle{height:28px;background-color: rgb(0, 102, 153);color:white;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå","宋体";text-align:left;}
.lsTitle{height:28px;background-color: rgb(0, 102, 153);color:white;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå","宋体";white-space:nowrap;text-align:left;}
.centerTitle{height:28px;background-color: rgb(0, 102, 153);color:white;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå","宋体";white-space:nowrap;text-align:right;}
.rightTitle{height:28px;width:8px; background:url(../images_new/r_list_r.jpg) no-repeat;}
*/

.leftTitle{height:28px;width:6px;background:#f2f2f2; display:none;}
.secTitle{height:28px;background:#f2f2f2;color:#333;font-family: "微软雅黑","黑体","宋体";text-align:left; display:none;}
.lsTitle{height:28px;background:#f2f2f2;color:#333;font-family: "微软雅黑","黑体","宋体";white-space:nowrap;text-align:left;}
.centerTitle{height:28px;background:#f8f9fb;color:#333;font-family: "微软雅黑","黑体","宋体";white-space:nowrap;text-align:left;width:99%;}
.rightTitle{height:28px;width:8px; background:#f2f2f2;display:none;}

.even1{
	height: 30px;
	background:url(../images_new/tr2.jpg) repeat;
	background-position: left bottom;
	padding:5px 0px 5px 5px;
	border:1px solid #fbfbfb !important;
}

.odd1_b{
	height: 30px;
	background:url(../images_new/tr1.jpg) repeat;
	background-position: left bottom;
	padding:4px 4px 4px 5px;
	border: 1px solid #fbfbfb !important;
}

.odd2{
	height: 30px;
	background:url(../images_new/tr4.jpg) repeat;
	background-position: left bottom;
	padding:4px 0px 4px 5px;
	border:1px solid #fbfbfb !important;
}
.even2{
	height: 30px;
	background:url(../images_new/tr3.jpg) repeat;
	background-position: left bottom;
	padding:4px 0px 4px 5px;
	border:1px solid #fbfbfb !important;
}

.odd2_b{
	height: 30px;
	background:url(../images_new/tr4.jpg) repeat;
	background-position: left bottom;
	padding:4px 4px 4px 5px;
	border: 1px solid #fbfbfb !important;
}

.odd_light{
	height: 30px;
	background:#ffffbb;
	background-position: left bottom;
	padding:5px 0px 5px 5px;
	border:1px solid #fbfbfb !important;
}

.checkboxDim {
	height: 15px;
	padding-left:20px;
	background: url(../images_new/checkbox.png) no-repeat;
	background-position:left bottom;
	clear: left;
	line-height: 15px;
}
.checkboxNew {
	width: 18px;
	margin-left: 2px;
	height: 15px;
	background: url(../images_new/checkbox.png) no-repeat;
	background-position:left bottom;
	clear: left;
	line-height: 15px;
}

.checkboxNew1 {
	width: 18px;
	margin-left: 2px;
	height: 15px;
	background: url(../images_new/checkbox.png) no-repeat;
	background-position:left bottom;
	clear: left;
	line-height: 15px;
}

.checkboxNew2 {
	width: 18px;
	margin-left: 2px;
	height: 15px;
	background: url(../images_new/checkbox.png) no-repeat;
	background-position:left bottom;
	clear: left;
	line-height: 15px;
}

.back_up{
   background-position-y:bottom;
}
.back_down{
   background-position-y:top;
}

.radioNew {
	width: 18px;
	margin-left: 2px;
	height: 15px;
	background: url(../images_new/radio.png) no-repeat;
	background-position:left bottom;
	clear: left;
	line-height: 15px;
}

.radioNewSelected {
	width: 18px;
	margin-left: 2px;
	height: 14px;
	background: url(../images_new/radio.png) no-repeat;
	background-position:left top;
	clear: left;
	line-height: 15px;
}

.goFirst, .goPre, .goNext, .goLast, .goPage{
	width: 20px !important;
	height: 35px;
	cursor: pointer;
	display:inline;
	margin: 0 3px;
}
.goFirst{
	background:url(../images_new/page_first.png) center center no-repeat;
}

.goPre{
	background:url(../images_new/prev.png) center center no-repeat;
}

.goNext{
	background:url(../images_new/next.png) center center no-repeat;
}

.goLast{
	background:url(../images_new/goLast.png) center center no-repeat;
}
.goPage{
	color: #666;
	padding-top: 8px;
}
.curPage{
	width: 30px !important;
	line-height: 18px;
	height: 18px;
	background:url(../images_new/pageNo.gif) no-repeat;
	background-position: left top;
	text-align: center;
	color: white;
	cursor: pointer;
}

.nowP{background:#39c; color:white;}

.totalPage{
	width: 30px !important;
	line-height: 18px;
	height: 18px;
	background:url(../images_new/pageNo.gif) no-repeat;
	background-position: left top;
	text-align: center;
	color: white;
}

.totalRow{
	width: auto !important;
	line-height: 18px;
	height: 18px;
	text-align: center;
	color: white;
	display: inline-table;
}

.pageL{
	width: 6px !important;
	line-height: 18px;
	height: 18px;
	background:url(../images_new/pageNo.gif) no-repeat;
	background-position: left 1px;
	text-align: center;
	color: white;
}

.pageC{
	width: auto !important;
	line-height: 18px;
	height: 18px;
	background-color: #006699;
	text-align: center;
	color: white;
}

.pageR{
	width: 6px !important;
	line-height: 18px;
	height: 18px;
	background:url(../images_new/pageNo.gif) no-repeat;
	background-position: 95% 1px;
	text-align: center;
	color: white;
}

input.styled { display: none; } 

.centerTitle .button_table td{padding-top:2px;}

.centerTitle .btn_left{
	width:6px;
	background: url(../images_new/btn_bg.jpg) left 2px no-repeat;
	display:none;
}

.centerTitle .btn_right{
	width:6px;
	background: url(../images_new/btn_bg.jpg) -196px 2px no-repeat;
	display:none;
}

#buttonContainerDiv {
	margin-top: 5px;
}

.btn_add, .btn_save, .btn_cancel, .btn_query, .btn_reset, .btn_sync, .btn_backup, .btn_prev, 
 .btn_import, .btn_get, .btn_getftp, .btn_test, .btn_testold, .btn_testnew, .btn_next,  
  .btn_move, .btn_gen, .btn_add_disabled, .btn_sync_disabled, .btn_import_disabled, .btn_cancel_disabled,
  .btn_testold_disabled, .btn_testnew_disabled, .btn_query_disabled, .btn_save_disabled, .btn_pwd_init, .btn_pwd_init_disabled, .btn_backup_disabled{
	width:88px;
	height:25px;
	display:inline;
	cursor:hand;
}
.btn_cancel{
	background:url(../images_new/btn_cancel.png) center center no-repeat ;
}
.btn_prev{
	background:url(../images_new/btn_prev.png) center center no-repeat ;
}
.btn_next{
	background:url(../images_new/btn_next.png) center center no-repeat ;
}
.btn_prev_disabled{
	background:url(../images_new/btn_prev_disabled.png) center center no-repeat ;
}
.btn_next_disabled{
	background:url(../images_new/btn_next_disabled.png) center center no-repeat ;
}
.btn_cancel_disabled{
	background:url(../images_new/btn_cancel_disabled.png) center center no-repeat ;
}
.btn_add{
	background:url(../images_new/btn_add.png) center center no-repeat;
	width:30px;
}
.btn_add_disabled{
	background:url(../images_new/btn_add_disabled.png) center center no-repeat;
	width:30px;
}
.btn_save{
	background:url(../images_new/btn_save.png) center center no-repeat;
}
.btn_save_disabled{
	background:url(../images_new/btn_save_disabled.png) center center no-repeat;
}
.btn_gen{
	background:url(../images_new/btn_gen.png) center center no-repeat;
}
.btn_query{
	background:url(../images_new/btn_query.png) center center no-repeat;
}
.btn_query_disabled{
	background:url(../images_new/btn_query.png) center center no-repeat;
}
.btn_reset{
	background:url(../images_new/btn_reset.png) center center no-repeat;
}
.btn_get{
	background:url(../images_new/btn_get.png) center center no-repeat;
}
.btn_getftp{
	background:url(../images_new/btn_getftp.png) center center no-repeat;
}
.btn_test{
	background:url(../images_new/btn_test.png) center center no-repeat;
}
.btn_sync{
	background:url(../images_new/btn_sync.png) center center no-repeat;
	width:30px;
}
.btn_backup{
	background:url(../images_new/backup.png) center center no-repeat;
	width:30px;
}.btn_backup_disabled{
	background:url(../images_new/backup_disabled.png) center center no-repeat;
	width:30px;
}
.btn_sync_disabled{
	background:url(../images_new/btn_sync_disabled.png) center center no-repeat;
	width:30px;
}
.btn_pwd_init_disabled{
	background:url(../images_new/btn_pwd_init_disabled.png) center center no-repeat;
	width:30px;
}
.btn_pwd_init{
	background:url(../images_new/btn_pwd_init.png) center center no-repeat;
	width:30px;
}
.btn_import{
	background:url(../images_new/btn_import.png) center center no-repeat;
	width:30px;
}
.btn_import_disabled{
	background:url(../images_new/btn_import_disabled.png) center center no-repeat;
	width:30px;
}
.btn_testold{
	background:url(../images_new/btn_testold.png) center center no-repeat;
	width:30px;
}
.btn_testold_disabled{
	background:url(../images_new/btn_testold_disabled.png) center center no-repeat;
	width:30px;
}
.btn_testnew{
	background:url(../images_new/btn_testnew.png) center center no-repeat;
	width:30px;
}
.btn_testnew_disabled{
	background:url(../images_new/btn_testnew_disabled.png) center center no-repeat;
	width:30px;
}
.btn_move{
	background:url(../images_new/btn_move.png) center center no-repeat;
	width:30px;
}
.btn_move_disabled{
	background:url(../images_new/btn_move_disabled.png) center center no-repeat;
	width:30px;
}
.run, .stop, .clip, .detail, .view, .delete, .edit, .edit_disabled, .query, .download, .config, .collect_normal, .collect_failed, .pwd_init, .authorize, .copy{
	width:20px;
	height:16px;
	display:inline;
	cursor:pointer;
	margin:0px 2px;
}
.run{
	background:url(../images_new/run.png) left 50% no-repeat ;
}
.stop{
	background:url(../images_new/stop.png) left 50% no-repeat ;
}
.clip{
	background:url(../images_new/clip.png) left 50% no-repeat ;
	height: 18px; 
}
.detail{
	background:url(../images_new/detail.png) no-repeat ;
}
.view{
	background:url(../images_new/view.png) no-repeat ;
}
.delete{
	background:url(../images_new/trash.png) no-repeat ;
}
.edit{
	background:url(../images_new/edit.png) no-repeat ;
}
.edit_disabled{
	background:url(../images_new/edit_disabled.png) no-repeat ;
}
.query{
	background:url(../images_new/query.gif) no-repeat ;
}
.download{
	background:url(../images_new/download.png) no-repeat ;
}
.config{
	background:url(../images_new/config.png) no-repeat ;
}
.collect_normal{
	background:url(../images_new/collect_state_normal.png) left 50% no-repeat ;
}
.collect_failed{
	background:url(../images_new/collect_state_failed.png) left 50% no-repeat ;
}
.pwd_init{
	background: url(../images_new/pwd_init.png) left 50% no-repeat;
}
.authorize{
	background: url(../images_new/authorize.png) left 50% no-repeat;
}
.copy{
	background: url(../images_new/copy.png) left 50% no-repeat;
}
#totalTableDiv table td{
	line-height: 150%;
}
#totalTableDiv .leftTitle{
	background: #6699CC !important;
}
#totalTableDiv .secTitle{
	background: #6699CC !important;
}
#totalTableDiv .rightTitle{
	background: #6699CC !important;
}
#noDataList{
	color:#333 !important;
}

.mask1{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:1000; } 
.opacity1{ opacity:0.3; filter: alpha(opacity=30); background-color:#000; } 
.content1{height:100px; width:300px; overflow:auto; border:2px solid #ccc; background-color:#fff; position:absolute; top:50%; left:50%; margin:-50px auto auto -150px; z-index:1001; word-wrap: break-word; padding:3px;} 
.ptan{display: inline-block; height: 20px; width: 20px; background: url(/script/menu-images/ptan.png) 50% 75% no-repeat;}
