body
{
margin: 0px;
color: #000;
font: Verdana, Arial;
font-size: 12;
}
div
{
font: Verdana, Arial;
font-size: 12;
}
span
{
font: Verdana, Arial;
font-size: 12;
}
input
{
font: Verdana, Arial;
font-size: 12;
}
td
{
font-family: Verdana, Arial;
font-size: 70%;
}
table
{
border: 0 0 0 0;
}
img
{
border: 0;
}
a
{
text-decoration: none;
color: #000000;
}
a:hover
{
text-decoration: underline;
color: #000000;
}
#menu {
	BACKGROUND: #dfe8f6;   /*定义背景颜色*/
	COLOR: #666;    /*定义字体颜色*/
	WIDTH:100%;    /*定义内容的宽度为160px*/
	height:90%;
}
#menu ul {
	MARGIN: 0px;
	PADDING: 0px;
	BORDER: medium none; /*不显示边框*/
	LINE-HEIGHT: normal;
	LIST-STYLE-TYPE: none;
}
#menu li {
	BORDER-TOP: #FFF 1px solid; MARGIN: 0px;
}
#menu li a {
	PADDING:5px 0px 5px 15px;
	DISPLAY: block;
	FONT-WEIGHT: bold;
	BACKGROUND: url(images/icon_dot_lmenu.gif) transparent no-repeat 2px 8px;
	WIDTH: 100%;
	COLOR: #444;
	TEXT-DECORATION: none;
}
#menu li a:hover {
 	BACKGROUND: url(images/icon_dot_lmenu2.gif) #C61C18 no-repeat 2px 8px;
	COLOR: #fff; 
}