*{font-size:12px;}
input,textarea{
	border:1px solid #3A72BD;
}
.text_desc{
	width:250px;height:95px;overflow:auto;
	margin-bottom:4px;
}
.text_content{
	width:460px;height:120px;overflow:auto;
	margin-bottom:4px;
}
.pic_block{
	position:absolute;top:55px;right:80px;
}
.ext-strict .pic_block{
	position:absolute;top:45px;right:80px;
}
.attributeAddr{
	width:340px;
}
.row{
	padding-left:5px;
	line-height:26px;
}
.row_desc{
	padding-left:5px;
	height:120px;
	/*line-height:125px;*/
}
.row_content{
	padding-left:5px;
	/*line-height:125px;*/
}
.leftTip{
	vertical-align:top;
	width:110px;
	text-align:right;
	padding-right:5px;
	padding-left:10px;
	display:inline-block;
}
.base_block{
	margin-top:10px;
	margin-bottom:10px;
}
.cstyle_fieldset{
	width:98%;
	height:270px;
	margin-left:10px;
}
.cstyle_sel{
	width:150px;
}
.cstyle_seltitle{
	margin-left:10px;
	
}
.cDefaultStyle_box{
	height:30px;line-height:30px;background:#E4F4FE;padding-left:10px;padding-top:3px;
}
.cStyle_desc{
	padding-left:20px;
	height:27px;
	line-height:27px;background:#E4F4FE;
}
.ext-strict .cStyle_desc{
	height:30px;
	line-height:30px;
}
.no_object_found{font-size:14px;color:gray;height:100px;line-height:100px;font-style:italic;padding-left:15px;margin-top:30px;}

.wDescVal{
	margin-left:110px;
}
.ext-strict .wDescVal{
	margin-left:125px;
}
.rstyle_box{
	padding:8px;
	height:290px;
	overflow:auto;
}
.ext-strict .rstyle_box{
	height:285px;
}
.cstyle_content{
	padding:8px;
	padding-left:20px;
	height:260px;
	overflow:auto;
}
.ext-strict .cstyle_content{
	height:250px;
}

.thumb{
	float:left;
	cursor:default;
	padding:6px 12px;
	margin-right:30px;
	margin-bottom:20px;
	border:1px solid #E0E0E0;
	font-size:12px;
	background:url(../images/list/thumb-bg.gif) top center repeat-x;
}
.thumb .desc{
	width:80px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:black;
	font-weight:bold;
	text-align:center;
}
.thumb .pic{
	width:80px;
	height:80px;
	background: url(../images/zt_wt.gif) center center no-repeat;
}

.thumb .cmds{
	width:80px;
	overflow:hidden;
	white-space:nowrap;
}
.thumb .cmds li{
	float:left;
	list-style-type:none;
	padding-left:20px;
	height:22px;
	line-height:22px;
	margin-right:10px;
	background: left center no-repeat;
	color:#1560E1;
	cursor:pointer;
}