*{
	font-size:12px;
	margin:0px;
	padding:0px;
}
.row{
	margin:3px 0px 3px 0px;
	height:20px;
}
.label{
	float:left;
	line-height:18px;
	width:90px;
	text-align:right;
}
.value{
}
input,select{
	width:200px;
	height:18px;
	border:1px solid #3A72BD;
}
.input_checkbox{
	width:auto;
	height:auto;
	border:0;
}
.selectClassInfo{
	background:url('../../images/metadata/selectClassInfo.png') no-repeat 0 0;
	width:18px;
	height:16px;
	cursor:pointer;
	overflow:auto;
	position:absolute;
}
.selectChannel{
	background:url('../../images/nav_tree/tree_logo.gif') no-repeat 0 0;
	width:18px;
	height:16px;
	cursor:pointer;
	overflow:auto;
	position:absolute;
}
.validTip{
	margin-left:18px;
}
#bubblePanel{
	position:absolute;
	left:295px;
	top:130px;
	width:200px;
	height:100px;
	background:lightyellow;
	text-align:center;
}
#bubblePanel2{
	position:absolute;
	left:295px;
	top:155px;
	width:120px;
	background:lightyellow;
	text-align:center;
}
.plainTip{
	color:#FF0000;
}
