.left_query{
	float:left;
	width:110px;
	height:450px;
	/*background-color:#fbfbfb;*/
	overflow:hidden;
	/*border-right:1px solid #acacac;*/

}
.right_query{
	float:left;
	width:680px;
	height:450px;
}
.selectTitle{
	font-size:20px;
	height:48px;
	background-color:#fdfdfd;
	font-weight:bold;
	color:#7a7a7a;
	font-family:arial;
	line-height:48px;
}
.select_btn{
	padding-left:6px;
	width:110px;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	font-size:12px;
	color:#909090;
	cursor:pointer;
}


html,body{
	font-size:12px;
	width:100%;
	overflow:hidden;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	/*background:transparent;*/
}
.select_btn_hover{
	padding-left:6px;
	width:110px;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	font-size:12px;
	color:#ffffff;
	background-color:#6699cc;
	cursor:pointer;
	font-weight:bold;
}
