html,body{
	font-size:12px;width:100%;overflow:hidden;height:100%;margin:0;padding:0;border:0;background:transparent;
}
.box_content{
	height:100%;
	width:100%;
}
.row{
	clear:both;
	margin:2px;
	min-height:24px;
	overflow:hidden;
}
.label{
	float:left;
	width:85px;
	text-align:right;
	white-space:normal;
	overflow:hidden;
}
.value{
	margin-left:90px;
	text-align:left;
}

html,body{font-size:12px;}
.rstyle_box{
	padding:8px;
	height:205px;
	overflow:auto;
}
.ext-strict .rstyle_box{
	height:190px;
}
.base_block{
	height:100%;
	width:100%;
	padding-top:5px;
	overflow:hidden;
}
.base_block_content{
	height:100%;
	overflow:auto;
}
.cstyle_content{
	padding:8px;
	height:215px;
	overflow:auto;
}
.ext-strict .cstyle_content{
	height:190px;
}
.thumb{
	float:left;
	cursor:default;
	padding:6px 12px;
	margin-right:30px;
	margin-bottom:20px;
	font-size:12px;
}
.thumb .desc{
	width:80px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:black;
	font-weight:bold;
	text-align:center;
}
.thumb .pic{
	width:80px;
	height:80px;
	background: url(../images/zt_wt.gif) center center no-repeat;
}

.thumb .cmds{
	width:80px;
	overflow:hidden;
	white-space:nowrap;
}
.thumb .cmds li{
	float:left;
	list-style-type:none;
	padding-left:20px;
	height:22px;
	line-height:22px;
	margin-right:10px;
	background: left center no-repeat;
	color:#1560E1;
	cursor:pointer;
}