	body{
	overflow-x: hidden;
	position:relative;
	height:424px;
	background-color: #F8F9FB
	}
	.jazz-grid-tables{
	 height: 100%;
    overflow-x: hidden;
    width: 100%;
	}
	.class_td1{
			width:15%;
			height:5%;
			padding:4px;
	}
	.class_td2{
			width:35%;
			height:5%;
	}
	
	
	.class_td4{
			width:15%;
			height:5%;
			padding:4px;
	}
	
	.class_td5{
			width:35%;
			height:5%;
	}
	
	
	.formpanel_table{
	display:none;
	background-color: #F8F9FB;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative; 
	bottom:0px;
	}
	
	
	.formpanel_table1{
	display:none;
	background-color: #F8F9FB;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:fixed; 
	bottom:17px;
	}
	
	.font_table{
	height:100%;
	width:100%;
	font-family:'Î¢ÈíÑÅºÚ', 'SimSun', 'helvetica', 'arial', 'sans-serif';
	}
	
	.font_title{
	font-family:'Î¢ÈíÑÅºÚ', 'SimSun', 'helvetica', 'arial', 'sans-serif';
	color: #327bb9;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    text-transform: none;
	}
	
	
	
	
table.font_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.font_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.font_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#F8F9FB;
}
.evenrowcolor{
	background-color:#E8F2FE;
}