.ComboxImg{
	background:no-repeat url('arrow.gif') center center;
	width:18px;
	border:1px solid #333333;
	margin:0;
	padding:0px;
	position:absolute;
	z-index: 999;
	overflow:hidden;
}

.ComboxImgIframe{
	margin:0;
	padding:0px;
	position:absolute;
	z-index: 998;
	overflow:hidden;
}

.Combox{
	border:1px solid #333333;
	position: absolute;
	z-index: 999;
	overflow: auto;
	height: 200;
	font-family:verdana;
	line-height:100%;
	font-size:9pt;
	scrollbar-face-color:white;
	scrollbar-highlight-color :white;
	scrollbar-shadow-color:white;
}

.ComboxIframe{
	position: absolute;
	z-index: 998;
	overflow: auto;
	height: 200;
	font-family:verdana;
	line-height:100%;
	font-size:9pt;
	overflow:hidden;
}

.Combox_MouseItem{
	line-height : 140%;
	font-family : verdana;
	font-size:9pt;
}

.Combox_MouseOver{
	color:#ffffff;
	background-color:highlight;
	width:100%;
	cursor:default;
}
.Combox_MouseOut{
	color:#000000;
	width:100%;
	background-color:#ffffff;
	cursor:default;
}