.warningClassKey{
/*
	background-color : "lightyellow";
	border : "1px solid black";	
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;*/
	color:red;
	white-space:nowrap;
	font-size:12px;
}

.messageClassKey{
/*	background-color : "lightyellow";
	border : "1px solid black";
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;*/
	color:green;
	white-space:nowrap;
	font-size:12px;
}

.requiredClass{
	color:red;
	font-size:12px;
}

.warningClassMouse{
	background-color : "yellow";
	border : "black 1px solid";
	color:red;
	font-size:12px;
}

.messageClassMouse{
	background-color : "yellow";
	border : "black 1px solid";
	color:green;
	font-size:12px;
}
