.chart {
	font: menu;
	background: white;
	color: black;
	overflow: visible;
	position: relative;
}

.chart .legend {
	float: left;
	border: 1px solid black;
	background: white;
	padding: 5px 10px 5px 10px;
	text-align: left;
}

.chart .legend ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

.chart .legend ul li {
	list-style: square;
}

.chart .legend ul li span {
	color: black;
	font-size: 9pt;
}

.chart .title{
	padding: 2px;
	white-space: nowrap;
	text-align: center;
}
.chart .title_main{
	font-size: 11pt;
	font-weight: bold;
}
.chart .title_sub{
	font-size: 9pt;
	font-weight: normal;
	color: gray;
}
.chart .cbody{
	border: 0px solid red;	
}
