.XQuote .channelTree-select{
	float:left;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(Save.png) center center no-repeat;
}
.XQuote .quote-chnl-row{
	line-height:20px;
	clear:both;
	font-size:12px;
	margin:2px 0px;
}

.XQuote .chnl-text{
	float:left;
	width:100px;
	overflow:visible;
}

.XQuote .removeQuoteChnls{
	float:left;
	width:20px;
	height:20px;
	cursor:pointer;
	display:inline-block;
	border:1px solid #eeeeee;
	background:url(delete.gif) 0 center no-repeat;
	vertical-align:middle;
}
.XQuote .chnl-selected-wrap{
	width:100%;
	max-height:416px;
	border:0px;
	overflow-x : hidden;
	overflow-y : auto;
}