*{margin:0;padding:0;border:0;vertical-align:middle;} 
html,body { 
font-family: arial, ËÎÌå, serif; 
font-size:12px; 
height: 100%;
} 

.header{
	width: 70%;
	display: inline;

	
}
#nav { 
line-height: 25px;  font-size:12px;height: 20%;display:inline;
} 
#nav a { 
display: block;  font-weight:blod;
 position:relative;
} 
#nav a:link { 
color:#666; text-decoration: none;font-weight:blod; 
} 
#nav a:visited { 
color:#666;text-decoration:underline; 
} 
#nav a:hover { 
color:#FFF;text-decoration:none;
font-size:12px;
}

#nav li { 
float: left; background:#ffffff;  font-size:12px;list-style-type: none; 
} 
#nav li a:hover{ 
background:#38f;
font-size:12px;
}

#nav li ul { 
list-style-type: none;text-align:left;
 position: absolute;
left: -999em;  border: 1px solid #EBEBEB;font-size:12px;
} 
#nav li ul li{ 
float: left;
background: #ffffff; font-size:12px; 
} 
#nav li ul a{ 
display: block; width: 100px;text-align:left;
} 
#nav li ul a:link { 
color:#666; text-decoration:none; 
} 
#nav li ul a:visited { 
color:#666;text-decoration:none; 
} 
/* 
 li ul a:hover { 
color:#F3F3F3;
text-decoration:none;
font-weight:normal; 
background:#38f;
font-size:12px;
}  
#nav li a:hover + ul{ 
left:auto; 
}*/
#nav li:hover ul{ 
	display:block;
	left:auto; 
} 
#nav li.sfhover ul { 
left: auto; 
} 
#content { 
clear: left; 
} 

.s_btn{width:100px;height:44px;color:white;font-size:15px;letter-spacing:1px;background:#3385ff;border-bottom:1px solid #2d78f4;outline:medium;*border-bottom:0;-webkit-appearance:none;-webkit-border-radius:0}
.s_btn:hover{
cursor:pointer;

}




.apple {
	border-style:solid;border-width:1px;border-color:#999;width: 60%;height: 37px;
	}

.mytable{
	border:1px solid #999;width:50%
	}

 #q {
  margin-left: 0px;
  width: 100%;
  height: 37px;
  border: 0px solid #999;
  border-left:none;
  border:none;
  border-style:none;
¡¡¡¡background:none;
  font-size: 2em;
  padding: 0.1em;
}

input:focus {
    outline:none;
}
.sel{
width:80px;
}
select:focus {
    outline:none;
	
}


.select { width:80px; height:24px; background:none; border:none; }    
#sleHid { display:block; width:60px; overflow:hidden; }    
#sleBG  { width:60px; height:24px; border:#61AC36 0px solid; border-right:none;  background:url("selArr.png") #fff no-repeat 42px 1px;  display:block;}



	
	.float_right{
	    float:right;
		background-color:#f0f0f0;
		height:100%;
	    width:100px;
	    position:absolute;
	    left:1250px;
	}
	
	.float_left{
		float:left;
		width: 97%;
		height:100%;
	}
	
	.div_line{
		margin-top:15%; width:95%;height:1px;background-color:#676767;overflow:hidden;
	}
	
	.div_moredata{
		margin:20%;
		padding:0%;
	}
	
	.none_decoration{
		text-decoration:none;
	}
	
	 .text_padding{
		margin-right:2%;
	}
	
	
	
	  .MenuLevel4{
		 display:block;
		 font-size:12px ;
		 color:#333333 ; 
		 background-color:#fff;
		 height:20px ;
		 line-height:20px ;
		 padding:3px 0 0 18px;
		 border-bottom:1px #efefef solid;
		}	
		
			
		.SubMenuLayer{
				 display:inline ;
				 cursor:hand ;
				}
				
		.SubMenuLayerHidden{
				 display:none ;
				 cursor:hand ;
				}
	
	#nav li a {
	display:inline;
	width:25px;
	margin:15px;
	margin-left:30px;
	border-radius:3px 3px 3px 3px;
}

	#nav li ul li a:hover{
		margin:0px;
		 background-size:2px;
		 padding-left:20px;
		border-radius:4px 4px 4px 4px;
	}
	#nav li ul li a{
		margin:0px;
		padding-left:20px;
		border-radius:4px 4px 4px 4px;
	}
	
	#nav li ul{
		margin-top:-6px;
		padding:1px;
		width:70px;
		border-radius:8px 8px 8px 8px;
		position: relative;
	 	display:none;
	}
	#search a{
	font-size:12px;margin:10px;font-weight:bold;
	}
	
	#inputBox{
		font-size:18px;
		line-height: 42px;
	}
