
.jazz-panel-titlebar {
	background:  #dbeff7  repeat scroll 0 0;
    background-color: #dbeff7;
    border: 0 none;
    height: 16px;
    padding: 7px 6px 8px;
    position: relative;

}
.jazz-panel-title-font {
    color: #0371a7;
    font-family: "Microsoft YaHei";
     font-size: 14px;
    text-transform: none;
    font-weight: normal;
}
.jazz-grid-headerCell-inner {
    color: #666;
    font-family: "ו";
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}