TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体", "Arial", "Helvetica", "sans-serif"
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.textinput {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 9pt; BORDER-LEFT: 1px inset; WIDTH: 90px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #ffffff
}
.buttoninput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-SIZE: 12px; BORDER-LEFT: 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
.digital {
	PADDING-RIGHT: 1ex; COLOR: #000000
}
.text1 {
	FONT-SIZE: 14px; COLOR: #ffffff
}
.text2 {
	COLOR: #ffffff
}
.text3 {
	FONT-SIZE: 14px; COLOR: #000000
}
.a6:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.a6:visited {
	TEXT-DECORATION: underline
}
.a6:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.a1:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.a2:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.a3:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.a3:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.a3:hover {
	COLOR: #6b92e5; TEXT-DECORATION: underline
}
.a4:link {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.a4:visited {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.a4:hover {
	FONT-SIZE: 14px; COLOR: #ff8400; TEXT-DECORATION: underline
}
.a5:link {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.a5:visited {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.a5:hover {
	FONT-SIZE: 14px; COLOR: #cc1603; TEXT-DECORATION: underline
}
.a7:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "宋体", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.a7:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "宋体", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.a7:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "宋体", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.big {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
