

.lefttop{
	width:180px;
	height:32px;
	background:url(../../static/images/other/bglefttop.png)  no-repeat;
	margin: 5px 10px 0 10px;
}

.lefttop .left{
	width:50px;
	height:32px;
	float:left;
	background:url(../../static/images/other/gear.png)  no-repeat 10px center;
	_margin-right:-3px;
}

.lefttop .center{
	height:32px;
	line-height:32px;
	font-size: 12px;
	color: white;	
	font-family:simsun;
}

.lefttop .right{
	width:30px;
	height:32px;
	float:right;
	cursor:pointer;
	background:url(../../static/images/other/rarow.png)  no-repeat 10px center;
	_margin-left:-3px;
}

.jazz-column-border-cursor , .jazz-row-border-cursor{
	background-color:white;
	cursor:none;
}

.jazz-column-btn-l , .jazz-row-btn-t{
	display: none;
}

.button-main, .button-arrow{
	margin:1px 3px 4px 3px;
}

.jazz-row-element, .jazz-column-element{
	background-color: #fff;	
}




.sous_list {
	padding:0 40px;
	border-top: 1px dashed #e1e1e1;
	margin-left:  auto;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-right:  auto;
}

.sous_list h3 a {
	font-size: 16px;
	color: #666;
/* 	color: #21419E; */
	line-height: 30px;
	text-decoration: underline;
	font-family: "宋体";
}

.sous_list h3 a span {
	color: #F00;
}

.sous_list p {
	font-size: 12px;
	line-height: 24px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: "宋体";
}
.divcenter  {
    width: 90%;
	margin-left: auto; margin-right: auto; 
	margin-top: 20; 
}
*{
	margin: 0;
	padding:  0;
}



.page {
	padding: 40px 0;
	zoom: 1
}

.page:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.page span {
	position: relative;
	margin: 0 2px;
	border: solid 1px #ccc;
	float: left;
}

.page span a {
	padding: 7px 16px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-family: "arial";
    color: #157094;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.page span i {
	display: block;
	height: 10px;
	width: 10px;
	background: #ccc;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -5px;
}

.page span i.active_i {
	background: red;
}

/*  #search_1{
    position:fixed;

margin:auto;
left:0;
right:0;
top:10;
bottom:0;

 
}  */