.Suggestion{
	border:1px solid #333333;
	position: absolute;
	z-index: 999;
	overflow: auto;
	height: 200;
	width:400;
	font-family:verdana;
	line-height:100%;
	font-size:9pt;
	scrollbar-face-color:white;
	scrollbar-highlight-color :white;
	scrollbar-shadow-color:white;
}

.Suggestion2{
	position: absolute;
	z-index: 998;
	overflow: auto;
	height: 200;
	width:400;
	font-family:verdana;
	line-height:100%;
	font-size:9pt;
}

.Suggestion_MouseItem{
	line-height : 140%;
	font-family : verdana;
	font-size:9pt;
}

.Suggestion_MouseOver{
	color:#ffffff;
	background-color:highlight;
	width:100%;
	cursor:default;
}
.Suggestion_MouseOut{
	color:#000000;
	width:100%;
	background-color:#ffffff;
	cursor:default;
}