<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwssi.upload.mapper.EBaseinfoMapper">

	<!-- 获取数据 -->
	<select id="findEBaseInfoById" resultType="EBaseinfo">
		select * from E_BASEINFO t where t.uniscid = #{id}
	</select>

	<!-- 插入数据 -->
	<insert id="insertEntDate">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(1) from E_BASEINFO where pripid = #{pripid}
		</selectKey>
		<if test="count > 0">
			update E_BASEINFO   
			<trim prefix="set" suffixOverrides=",">
				<if test="entname != null">entname = #{entname, 		jdbcType=VARCHAR},</if>
				<if test="regno != null">regno = #{regno, 		jdbcType=VARCHAR},</if>
				<if test="enttype != null">enttype = #{enttype, 		jdbcType=VARCHAR},</if>
				<if test="regcap != null">regcap = to_number(#{regcap,	jdbcType=NUMERIC}),</if>
				<if test="industryphy != null">industryphy = #{industryphy,	jdbcType=VARCHAR},</if>
				<if test="industryco != null">industryco = #{industryco, 	jdbcType=VARCHAR},</if>
				<if test="estdate != null">estdate = to_date(#{estdate,	jdbcType=DATE}, 'yyyy-MM-dd'),</if>
				<if test="regorg != null">regorg = #{regorg, 		jdbcType=VARCHAR},</if>
				<if test="opscotype != null">opscotype = #{opscotype, 	jdbcType=VARCHAR},</if>
				<if test="opscotypeCn != null">opscotype_cn = #{opscotypeCn, 	jdbcType=VARCHAR},</if>
				<if test="reporttype != null">reporttype = #{reporttype, 	jdbcType=VARCHAR},</if>
				<if test="opscope != null">opscope = #{opscope, 		jdbcType=VARCHAR},</if>
				<if test="opfrom != null">opfrom = to_date(#{opfrom,	jdbcType=DATE}, 'yyyy-MM-dd'),</if>
				<if test="opto != null">opto = to_date(#{opto,		jdbcType=DATE}, 'yyyy-MM-dd'),</if>
				<if test="domdistrict != null">domdistrict = #{domdistrict,	 jdbcType=VARCHAR},</if>
				<if test="regstate != null">regstate = #{regstate, 	jdbcType=VARCHAR},</if>
				<if test="dom != null">dom = #{dom, 			jdbcType=VARCHAR},</if>
				<if test="name != null">name = #{name, 		jdbcType=VARCHAR},</if>
				<if test="empnum != null">empnum = to_number(#{empnum,		jdbcType=NUMERIC}),</if>
				<if test="uniscid != null">uniscid = #{uniscid, jdbcType=VARCHAR},</if>
				<if test="regcapcur != null">regcapcur = #{regcapcur,	jdbcType= VARCHAR},</if>
				<if test="regcapusd != null">regcapusd = to_number(#{regcapusd,	jdbcType=NUMERIC}),</if>
				<if test="reccap != null">reccap = to_number(#{reccap,		jdbcType=NUMERIC}),</if>
				<if test="reccapusd != null">reccapusd = to_number(#{reccapusd,	jdbcType=NUMERIC}),</if>
			 	<if test="country != null">country = #{country, 		jdbcType=VARCHAR},</if>
				<if test="town != null">town = #{town, 		jdbcType=VARCHAR},</if>
				<if test="regorgCn != null">regorg_cn = #{regorgCn,		jdbcType=VARCHAR},</if>
				<if test="regstateCn != null">regstate_cn = #{regstateCn, 	jdbcType=VARCHAR},</if>
				<if test="regcapcurCn != null">regcapcur_cn = #{regcapcurCn, 	jdbcType=VARCHAR},</if>
				<if test="enttypeCn != null">enttype_cn = #{enttypeCn, 	jdbcType=VARCHAR},</if>
				<if test="apprdate != null">apprdate = to_date(#{apprdate, jdbcType=DATE}, 'yyyy-MM-dd'),</if>
				<!-- <if test="s_ext_fromnode != null">s_ext_fromnode = 440300,</if>
				<if test="s_ext_datatime != null">s_ext_datatime = SYSDATE,</if> -->
			</trim>
				, s_ext_datatime = SYSDATE
			where pripid = #{pripid} 
		</if>
		<if test="count == 0">
			insert into E_BASEINFO 
			(
				pripid,
				entname,
				regno,
				enttype,
				regcap,
				industryphy,
				industryco,
				estdate,
				regorg,
				opscotype,
				opscotype_cn,
				reporttype,
				opscope,
				opfrom,
				opto,
				domdistrict,
				regstate,
				dom,
				name,
				empnum,
				uniscid,
				regcapcur,
				regcapusd,
				reccap,
				reccapusd,
				country,
				town,
				regorg_cn,
				regstate_cn,
				regcapcur_cn,
				enttype_cn,
				apprdate,
				s_ext_fromnode,
				s_ext_datatime
			)
			 values
			(
				#{pripid, 		jdbcType=VARCHAR},
				#{entname, 		jdbcType=VARCHAR},
				#{regno, 		jdbcType=VARCHAR},
				#{enttype, 		jdbcType=VARCHAR},
				to_number(#{regcap,	jdbcType=NUMERIC}),
				#{industryphy,	jdbcType=VARCHAR},
				#{industryco, 	jdbcType=VARCHAR},
				to_date(#{estdate,	jdbcType=DATE}, 'yyyy-MM-dd'),
				#{regorg, 		jdbcType=VARCHAR},
				#{opscotype, 	jdbcType=VARCHAR},
				#{opscotypeCn, 	jdbcType=VARCHAR},
				#{reporttype, 	jdbcType=VARCHAR},
				#{opscope, 		jdbcType=VARCHAR},
				to_date(#{opfrom,	jdbcType=DATE}, 'yyyy-MM-dd'),
				to_date(#{opto,		jdbcType=DATE}, 'yyyy-MM-dd'),
				#{domdistrict,	 jdbcType=VARCHAR},
				#{regstate, 	jdbcType=VARCHAR},
				#{dom, 			jdbcType=VARCHAR},
				#{name, 		jdbcType=VARCHAR},
				to_number(#{empnum,		jdbcType=NUMERIC}),
				#{uniscid, jdbcType=VARCHAR},
				#{regcapcur,	jdbcType= VARCHAR},
				to_number(#{regcapusd,	jdbcType=NUMERIC}),
				to_number(#{reccap,		jdbcType=NUMERIC}),
				to_number(#{reccapusd,	jdbcType=NUMERIC}),
				#{country, 		jdbcType=VARCHAR},
				#{town, 		jdbcType=VARCHAR},
				#{regorgCn,		jdbcType=VARCHAR},
				#{regstateCn, 	jdbcType=VARCHAR},
				#{regcapcurCn, 	jdbcType=VARCHAR},
				#{enttypeCn, 	jdbcType=VARCHAR},
				to_date(#{apprdate, jdbcType=DATE}, 'yyyy-MM-dd'),
				440300,
				SYSDATE
			)
		</if>
	</insert>
	
</mapper>
