BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; MARGIN: 0pt; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体，黑体"; BACKGROUND-COLOR: #ffffff; margin-width: 0; margin-height: 0
}
P {
	font-family:宋体, sans-serif;
	FONT-SIZE: 9pt;
	LETTER-SPACING: 1px;
}
TABLE {
	font-family:宋体, sans-serif;
	FONT-SIZE: 9pt
}

A { 
	font-family:宋体, sans-serif;
	FONT-SIZE: 9pt;
	text-decoration:none;
	color:#330099;
	background:transparent; 
}

A:link {
	COLOR: blue; TEXT-DECORATION: none
}
A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000FF; background:transparent; TEXT-DECORATION: underline
}

INPUT.text {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
SELECT.option {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #c4e759 1px solid; BORDER-LEFT: #c4e759 1px solid; BORDER-BOTTOM: #c4e759 1px solid; BACKGROUND-COLOR: #eeeeee
}
INPUT.button {
	BORDER-RIGHT: #c4e759 1px double; BORDER-TOP: #c4e759 1px double; FONT-SIZE: 9pt; BORDER-LEFT: #c4e759 1px double; COLOR: #333333; BORDER-BOTTOM: #c4e759 1px double; HEIGHT: 16px; BACKGROUND-COLOR: #ccff99
}
INPUT.button1 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: 1px ridge; COLOR: 000000; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #CCCCCC
}
INPUT.buttonWindy {
	BORDER-RIGHT: 0px ridge; BORDER-TOP: 0px ridge; FONT-SIZE: 9pt; BORDER-LEFT: 0px ridge; COLOR: #000003; BORDER-BOTTOM: 0px ridge; BACKGROUND-COLOR: #ffffff
}
INPUT.button2 {
	BORDER-RIGHT: #ffffcc 1px ridge; BORDER-TOP: #ffffcc 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: #ffffcc 1px ridge; COLOR: #333333; BORDER-BOTTOM: #ffffcc 1px ridge; BACKGROUND-COLOR: #ffcc00
}
INPUT.button3 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-SIZE: 9pt; MARGIN-BOTTOM: 3px; BORDER-LEFT: 1px ridge; COLOR: #000000; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc00
}
INPUT.button4 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px; BORDER-LEFT: 1px ridge; COLOR: #000000; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: "Arial"; LETTER-SPACING: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc00
}


b.roundtop{display:block; overflow: hidden}
b.roundbottom{display:block; overflow: hidden}
b.line1{display:block; overflow: hidden; margin: 0 6px; height:1px;}
b.line2{display:block; overflow: hidden; margin: 0 4px; height:1px;}
b.line3{display:block; overflow: hidden; margin: 0 3px; height:1px;}
b.line4{display:block; overflow: hidden; margin: 0 2px; height:1px;}
b.line5{display:block; overflow: hidden; margin: 0 1px; height: 2px;}

b.line12{display:block; overflow: hidden; margin: 0 2px; height:1px;}
b.line13{display:block; overflow: hidden; margin: 0 1px; height:1px;}
b.line15{display:block; overflow: hidden; margin: 0 1px; height:2px;}


.menu
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	text-align: center;
}


.frame-body {
	font-family: 宋体;
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #7F9DB9;
}

.grid-menu
{
	background-position: left top;
	border-style:solid;
	background-image: url('grid-menu.gif');
	background-repeat:no-repeat;
	background-attachment:fixed;
	cursor: hand;
	color: black;
	border: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-family: "宋体";
	font-size: 9pt;
	height: 23px;
	text-align: center;
}

.grid-headrow {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
	background-color: #DFDFDF;
}

.title-row {
	font-family: 宋体;
	font-size: 9pt;
	text-indent:6;
	height:19px;
	color: #FFFFFF;
	background-color: #6699FF;
}

.alertrow {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
	background-color: #FFCCFF;
}

.disablerow {
	font-family: 宋体;
	font-size: 9pt;
	color: #5F5F5F;
	background-color: #EFEFEF;
}



.round-body {
	font-family: 宋体;
	font-size: 9pt;
	width: 94%;
	align: center;
	color: #000000;
	border-color: #7F9DB9;
	background-color: #FFFFFF;
}

.roundheadrow {
	font-family: 宋体;
	font-size: 9pt;
	height:32px;
	color: #000000;
	border-color: #7F9DB9;
	background-color: #FFFFFF;
}

.roundtailrow {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	border-color: #7F9DB9;
	background-color: #FFFFFF;
}

.printhead {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
	background-color: #F7F7F7;
}

.printtail {
	font-family: 宋体;
	font-size: 9pt;
	color: #000000;
	background-color: #F7F7F7;
}

.oddrow {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	cursor: default;
	//background-color: #F9F9F9;
	background-color: #E5F1FF;
}

.evenrow {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	cursor: default;
	//background-color: #E5F1FF;
	background-color: #F9F9F9;
}

.activerow {
	font-family:宋体;
	font-size:9pt;
	color: #FF0000;
	cursor:hand;
	background-color: #FFFFCC;
}

.selectedrow {
	font-family:宋体;
	font-size:9pt;
	color: #FFFFFF;
	cursor:hand;
	background-color: #0000FF;
}

.tailrow {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	background-color: #F1F5FF;
}

.framerow {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	background-color: #F1F5FF;
}

.labelcell {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	background-color: #E2EEF8;
}

.inputcell {
	font-family:宋体;
	font-size:9pt;
	color: #000000;
	background-color: #F7F7F7;
}

.cellbox {
	border: 1px solid #808080; 
	padding-left: 4px; 
	padding-right: 3px; 
	padding-top: 4px; 
	padding-bottom: 2px;
}


.activemenu {
	color: #FF0000;
}

.pages {
	scrollbar-face-color : #88BBFF;
	scrollbar-highlight-color : #99CCFF;
	scrollbar-3dlight-color : #4477ff;
	scrollbar-darkshadow-color : #4477ff;
	scrollbar-track-color : #B0E0E6;
	scrollbar-arrow-color : #0000FF;
	scrollbar-shadow-color : #88BBFF;
	OVERFLOW-Y : auto;
	OVERFLOW-X : auto;
	width : 100%;
}

.scroll-div {
	scrollbar-face-color : #88BBFF;
	scrollbar-highlight-color : #99CCFF;
	scrollbar-3dlight-color : #4477ff;
	scrollbar-darkshadow-color : #4477ff;
	scrollbar-track-color : #B0E0E6;
	scrollbar-arrow-color : #0000FF;
	scrollbar-shadow-color : #88BBFF;
	OVERFLOW-Y : auto;
	OVERFLOW-X : auto;
}

.body-div {
	scrollbar-face-color : #88BBFF;
	scrollbar-highlight-color : #99CCFF;
	scrollbar-3dlight-color : #4477ff;
	scrollbar-darkshadow-color : #4477ff;
	scrollbar-track-color : #B0E0E6;
	scrollbar-arrow-color : #0000FF;
	scrollbar-shadow-color : #88BBFF;
	OVERFLOW-Y : auto;
	OVERFLOW-X : auto;
	width : 100%;
	height : 100%;
	position : absolute;
	left : 0;
	top : 0;
}

.body-main {
	OVERFLOW : hidden;
	padding : 0;
	margin-top : 0;
	margin-left : 0;
	margin-bottom : 0;
	margin-right : 0;
	width : 100%;
	background-color : #FFFFFF
}


.menu-background {
	background-image: url('../img/menu/menu-back.jpg'); 
	background-repeat: repeat; 
}

.menu-front{
	width : 100%;
	table-layout : fixed;
	color : blue;
	font-family : 宋体,sans-serif;
	FONT-SIZE : 10pt;
}


.hidden
{
	background: url(button.jpg) fixed repeat-x center center;
	border-right: #006699 1px solid;
	border-bottom: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	cursor: hand;
	color: black;
	padding-top: 2px;
	font-family: "宋体";
	font-size: 9pt;
	height: 22px;
	text-align: center;
}


.print{
   border-left-style:none;
   border-top-style:none;
   border-width:1pt;
   border-color:#999999;
   font-size: 9pt;
}

.print td{
   border-right-style:none;
   border-bottom-style:none;
   border-color:#bbbbbb;
   border-width:1pt;
   font-size: 9pt;
   padding:3;
}


@media print {
.hide {
  display:none;
}

.print{
   border-left-style:none;
   border-top-style:none;
   border-width:1pt;
   border-color:#999999;
   font-size: 9pt;
}

.print td{
   border-right-style:none;
   border-bottom-style:none;
   border-color:#bbbbbb;
   border-width:1pt;
   font-size: 9pt;
   padding:3;
}
}


